[2022-03-24 00:52] colleenXu opened #434 "add context edge-attributes to config"
From https://github.com/biothings/BioThings_Explorer_TRAPI/issues/407#issuecomment-1068744129

we want to collect the list of edge-attribute stuff that are related to "context" (what level of naming - the name of the field in x-bte-response-mapping? or whatever its called inside a record after api-response-transform?). These can then be used when they are available for hashing.
    1. Context is a

[2022-03-24 02:57] andrewsu opened #435 "Augment WikiPathways OpenAPI info with `x-bte` information"
WikiPathways is a valuable resource for information on biological pathways. We should annotate the API using the `x-bte` extensions so it can be called within BioThings Explorer.

These are example API calls:

* Disease -> Pathway: https://webservice.wikipathways.org/getPathwaysByParentOntologyTerm?term=DOID%3A10763&format=json
* Pathway -> Disease: https://webservice.wikipathways.org/getOntologyT

[2022-03-24 08:32] colleenXu commented on #435
* Disease -> Pathway looks okay, if we can assume that the value of the id field in each record is always WIKIPATHWAYS. Small note: would be nice if the NCBITaxon ID was also provided for the species.
* Pathway -> Disease: is it possible to get only the DOID records? I'm unsure on whether BTE can handle this without some custom api-response-transform post-processing.
* Gene -> Pathway looks okay.

[2022-03-24 08:35] colleenXu commented on #435
I'll also note that the current swagger link seems to be written in an older standard (2.0?) that I'm not familiar with.

I guess I'm familiar with OpenAPI 3.0, so I'd probably be more comfortable rewriting the file to OpenAPI 3.0 / SmartAPI before adding x-bte annotation...

[2022-03-24 18:57] ariutta commented on #435
Our colleagues in the Netherlands are in the process of updating the webservice API. We can connect you with them if you think it’d be useful to discuss OpenAPI 3.0.

We also have an RDF endpoint that should be able to return everything needed, e.g., here's an [example query](https://www.wikipathways.org/index.php/Help:WikiPathways_SPARQL_queries#Get_all_pathways_with_a_particular_gene) for gettin

[2022-03-24 20:27] tokebe commented on #430
I've written an experimental replacement for the `initialQNodeIDToMatch`/`initialQEdgeID` selection code, and it seems to have solved the problem. In both the base and working query it selects edge C (the edge with 4 records) and `n3`, and in both cases returns the same number of nodes/edges/results.

This code is somewhat thrown together and operates on a few assumptions; I'll be re-writing it fo

[2022-03-25 00:10] ariutta commented on #420
Moved a comment to a different repo: https://github.com/wikipathways/pathway-figure-ocr/issues/16#issuecomment-1079400220

[2022-03-25 17:33] tokebe commented on #328
I'm marking this issue as closed. Obviously care must be taken as time goes on to find new areas to improve logging readability/information, however most of the issues with existing TRAPI logs have been fixed.

A sort of post-mortem list of continuing objectives determined in this issue (could stand to be added to a coding guide document):
- TRAPI logs priorities (in order):
  - Readable
  - Infor

[2022-03-25 17:33] #328 closed, assigned to nobody

[2022-03-25 17:39] tokebe opened #436 "Simplify/shorten console logs where applicable"
With the closing of https://github.com/biothings/BioThings_Explorer_TRAPI/issues/328, it's worth creating a separate issue outlining an objective to simplify and shorten console logs, which often aren't particularly readable, and sometimes take up a lot of space.

This would be best covered by each dev taking a look at their own areas of expertise in the codebase and simplifying what they can, how

[2022-03-29 00:02] colleenXu commented on #407
Update after talking with Guangrong:
* the "biological replicates" are NOT actually what we were thinking when we called them that. They are actually from separate measurements (looking at variants vs expression). They should therefore be represented as separate edges in the Translator space, not merged into 1 edge.

We should therefore address this like we have for disease context: by making sure

[2022-03-29 00:34] colleenXu commented on #407
Also after talking to Guangrong: they want to see their KP being called. Making a PR to add this API to BTE...

[2022-03-29 00:38] colleenXu opened #438 "adding drug response kp api to BTE"
after talking to Guangrong: they want to see their KP being called. Making a PR to add this API to BTE...

PR is #437

We would want this fixed but I don't think it's a blocking issue... #407

[2022-03-30 20:03] #430 closed, assigned to nobody

[2022-03-30 20:03] #409 closed, assigned to tokebe

[2022-03-30 20:22] #438 closed, assigned to nobody

[2022-03-30 20:22] #407 closed, assigned to tokebe

[2022-03-30 20:25] colleenXu commented on #399
should be resolved, since Jackson pushed a fix for handling the empty responses that SRI ID resolver gives...

[2022-04-06 15:50] #368 closed, assigned to ericz1803

[2022-04-07 19:50] colleenXu commented on #421
update: Kara from ICEES team has reported that the APIs are now fixed and ready.

However, I'm still encountering the issue I described above, where the records from this API seem to be undefined in some way, so they are removed. This is happening for ICEES Asthma and ICEES PCD.

I'm still using the example query from this comment https://github.com/biothings/BioThings_Explorer_TRAPI/issues/421#is

[2022-04-07 19:51] colleenXu commented on #422
note update here https://github.com/biothings/BioThings_Explorer_TRAPI/issues/421#issuecomment-1092140340. All ICEES APIs are having the same issues

[2022-04-07 19:51] colleenXu commented on #421
~I'm going to add the ICEES DILI API back to BTE for now since that seems to be working.~

I'm finding a query where ICEES DILI has the same problem as the others...note that I had another query to this API that worked without issues...

<details>
<summary>Query that worked without issues</summary>

[code]
</details>

<details>
<summary>Workflow B.2e: has issues</summary>

[code]
</details>

Relev

[2022-04-08 02:29] colleenXu commented on #421
note: this is the stuff I'm adding to the config file to look at these apis

[code]

[2022-04-08 17:32] tokebe commented on #402
Below is the general interface for a `FrozenRecord` -- what you would expect from `.toJSON()`.

[code]

Most of these values are actually pulled from the `apiEdge` or the `qXEdge`. The idea here is that when making a test record, you no longer have to interact with these more "under the hood" parts and can instead use this interface to deal with the data you care about. When initializing a `Record

[2022-04-13 00:39] colleenXu commented on #372
https://www.expasy.org/
https://glygen.org/home/

there may be tools/APIs here?

[2022-04-13 06:52] colleenXu commented on #357
updated x-bte annotation for dgidb. https://github.com/NCATS-Tangerine/translator-api-registry/commit/03074911b5f2321514f27704b904bf8d1352e7ee still have the issues noted in the issue https://github.com/biothings/pending.api/issues/40

[2022-04-18 17:30] colleenXu commented on #433
draft written here https://github.com/biothings/BioThings_Explorer_TRAPI/blob/readme-api-types/README-types-of-apis.md

[2022-04-19 15:32] tokebe opened #440 "Node category inference infers biolink:null when SRI Node Normalizer returns empty response"
*Caught by @colleenXu.*

If SRI Node Normalization returns an empty response, `biolink:null` is added to the node category. This results in TRAPI 1.2 validation failure (Example failure in ARAX [here](https://arax.ncats.io/?r=3fe71361-3874-465a-878c-8cb9d7f69fb2)).

The [relevant code](https://github.com/biothings/bte_trapi_query_graph_handler/blob/edac6e892e537be47d43308c8e19107f9bcd7dc5/src/quer

[2022-04-19 20:17] tokebe opened #441 "Active requests tracking"
Sometimes the server goes unresponsive -- it would be nice to be able to see what requests cause this.

One possible implementation involves caching request descriptions/bodies to redis on a short expiry time (~6 hours) with a key such as `activeRequestLog:${currentTime}`, and updating keys to mark as completed upon request completion (preferably with a completion time).

When the server goes unre

[2022-04-20 18:21] colleenXu opened #442 "logic to pick API server urls"
Right now, when an API (TRAPI or not) is ingested by BTE, BTE picks the first entry in the server list of the SmartAPI yaml.

However, smarter logic would be nice (what if the first entry isn't the production or encrypted url). Also the Translator consortium may want ARAs to be able to query different sets of KP API servers ("production" vs "development" vs "staging").

Here's some ideas for how t

[2022-04-20 18:22] colleenXu commented on #442
May be related to https://github.com/biothings/smartapi-kg.js module

[2022-04-21 07:28] colleenXu commented on #378
Example of a recent query to ARAX that was a cycle (Point 3 in this [comment](https://github.com/NCATSTranslator/testing/issues/185#issuecomment-1095578045)). We didn't handle it gracefully; we seem to have hit a 500 error but I'm not sure what happened. https://arax.ncats.io/?r=6c9c1e01-fd7b-4b0c-8398-249f773a428b

We'd want to run this query locally to see what happens...

![Screen Shot 2022-04-

[2022-04-21 21:12] ariutta commented on #378
It would be technically possible for the results assembler to handle query graphs with cycles, but before taking the effort to make that happen, I'd like to see some examples of good use cases that require a cycle.

[2022-04-23 04:21] andrewsu commented on #378
agreed, I think the bar here continues to be very high to actually allow execution of query graphs with cycles.  I think the example above might support the implementation of a _check and graceful exit_, but even so I think cases like this are still rare enough "in the wild" that this is not a high priority at the moment...

[2022-04-26 04:39] colleenXu commented on #432
## Removed from SmartAPI registry

### We don't want to add them back
* Old pending-biothings SEMMED apis (yamls stored https://github.com/NCATS-Tangerine/translator-api-registry/tree/master/semmed, they are [pending biothings apis](https://pending.biothings.io/)): replaced with new [pending-biothings semmeddb API](http://smart-api.info/registry?q=1d288b3a3caf75d541ffaae3aab386c8)
* BIG GIM API fr

[2022-04-26 21:54] andrewsu opened #443 "genetic disease use cases"
From our colleagues at RCIGM, we have several example use cases related to genetic diseases.  The goal is to take info about the variants and the phenotypes, and to propose candidate therapies.  For these five cases, there are known therapies that we should be able to get.  The goal is to assess the ability of skilled analyst to identify those therapies.  Good set of starter cases for @khanspers t

[2022-04-27 04:23] colleenXu commented on #421
Updating: I'm still seeing this issue. I'll describe what I'm going again:
* put only ICEES DILI in the config file
[code]
* Compare ICEES DILI (use the same queries and POST to https://icees-dili.renci.org/query) to BTE (console logs and response)
<details>
<summary>DILI Disease-> Disease: ICEES DILI returns only 29 results when queried directly, BTE seems to handle this fine</summary>

[code]
</

[2022-04-27 04:35] colleenXu commented on #421
And I'll describe what I'm seeing with ICEES Asthma again:

* put only ICEES Asthma in the config file
[code]
* Compare ICEES Asthma (use the same queries and POST to https://icees-asthma.renci.org/query) to BTE (console logs and response)

<details>
<summary>Prednisone chem -> DiseaseOrPheno: ICEES Asthma returns 57 results when queried directly, PROBLEM: BTE removes all records and terminates wi

[2022-04-27 04:48] colleenXu commented on #422
And I'll describe what I'm seeing with ICEES PCD again:

* put only ICEES PCD in the config file
[code]
* Compare ICEES PCD response (use the same queries and POST to https://icees-pcd.renci.org/query) to BTE (console logs and response)

<details>
<summary>Fever -> Disease: ICEES PCD returns 46 results when queried directly, BTE seems to handle this fine</summary>

[code]
</details>

<details>
<su

[2022-05-02 17:26] tokebe opened #444 "Inconsistent results when changing node category with identifier"
Described here: biothings/biothings.api/issues/223

[2022-05-04 17:52] tokebe commented on #316
If this issue can be addressed through api_response_transform or elsewhere in records handling, we might now be in a better position to address this?

[2022-05-06 23:23] colleenXu commented on #214
rebased the branch to match latest main, moved and updated the file: https://github.com/biothings/BioThings_Explorer_TRAPI/commits/query-directions

next time try merging to main rather than rebasing...

[2022-05-06 23:37] colleenXu commented on #316
@tokebe The last time I talked about it with Andrew, it seemed kinda hard...

I think this is a limitation imposed by the document-structure / biothings querying ability itself.
* MyDisease is organized by disease. So querying with a disease will pull up an entire document as a hit (like its relationships to genes), and we want everything in that document
* However, if we query using a gene (examp

[2022-05-06 23:39] colleenXu commented on #316
This isn't an issue for "association-based" APIs, AKA where the structure is "one document per association" and all the info on the association is kept in a separate part of the document from the entity IDs.

As soon as a document has parts (like multiple associations in 1 document, each document represents 1 of the entity IDs)....this problem happens.

[2022-05-09 15:50] tokebe commented on #316
Hmm...this seems like it *should* be possible with post-processing in the transformer, but I agree that this would have to be basically on a per-API basis. We'd have to write new transformers for this, so it makes sense this should remain non-critical until we have more bandwidth.

[2022-05-09 15:52] tokebe commented on #402
Closing as this has been addressed by biothings/api-respone-transform.js/pull/29 and related.

[2022-05-09 19:10] tokebe commented on #444
This would appear to be occurring because the SRI normalizer lookup doesn't return the category `Disease` for `HP:0000217` (as seen [here](https://arax.ncats.io/?term=HP:0000217)), causing category inference to determine `PhenotypicFeature` to be the most-specific category available.

When instead `Disease` is specified as a category, category inference adds `PhenotypicFeature`, but as `Disease` i

[2022-05-09 20:28] tokebe commented on #440
Correction: this occurs when SRI Node Normalizer returns `null` for a given curie.

[2022-05-09 20:52] colleenXu opened #445 "error in call-apis logs"
I think there's an error with the call-api logs, where it'll say that only 1 ID is sent to SEMMEDDB when actually a batch of IDs is sent (so 100)? It may be happening with other apis too, I'm not sure.

I noticed this change a bit ago, but I can't pinpoint when it started. When the call-apis logs were first adjusted, I think the number of IDs written in the logs was accurate. It's difficult becaus

[2022-05-09 21:03] andrewsu commented on #444
I want to confirm my understanding here.

**Case 1: If the query specifies `"categories": ["biolink:DiseaseOrPhenotypicFeature"]` for `n2` / `HP:0000217`**, then BTE will consult the biolink model and find its children `biolink:Disease` and `biolink:PhenotypicFeature`.  Then BTE will query the SmartAPI metakg to find APIs that link any of those _three_ categories with `biolink:Gene` (the category

[2022-05-10 07:28] colleenXu commented on #444
@tokebe Thanks for the detailed analysis. **My hunch was confirmed, and I think that the current behavior is fine.** I'll explain...

We rely on x-bte annotation of APIs that exist somewhat-outside of Translator. These data provided by 1 endpoint will often not cleanly fit into 1 biolink semantic type.
*  For example, resources often use a particular ontology to label their entities (e.g. CHEBI fo

[2022-05-10 07:37] colleenXu commented on #444
Err to address Andrew...

@andrewsu All the cases, but particularly 1 and 4, relate to #418 . We decided to keep the categories provided by the user (and expand with biolink-model's hierarchy), while also adding the most-specific category provided by SRI Node Normalizer (first category in the array) **when it differs**.

Otherwise, I think your post is correct.

I'll note that the decisions made i

[2022-05-10 07:45] colleenXu commented on #444
And TDLR for the big comment above @tokebe @andrewsu:
* I think the current behavior is fine. Perhaps MyDisease's parsing of DisGeNET could be improved, and then we could edit the x-bte annotations
* I think any fixes for this would have unintended consequences. For example, maybe one decides to write a Disease->Gene and a Phenotype->Gene operation for the MyDisease-DisGeNET query. But this is sti

[2022-05-10 14:50] cbizon commented on #444
Interesting issue - I can speak a little bit about what nodenorm is doing, though I don't know that it will shed any light on this.  It's a difficult problem because you have many vocabularies and we are finding equivalent identifiers across them, and then those different vocabularies assign classes to this new thing that may or may not agree with one another.    Disease/Phenotype is probably the

[2022-05-10 19:28] ariutta commented on #420
@tokebe, any feedback on where this code should go? The basic idea: once the `TrapiResultsAssembler` finishes, we add a `pfocr` property to each TRAPI result. This requires calling an API to get PFOCR data, but the number of results will remain unchanged.

The code organization for getting [scores](https://github.com/biothings/bte_trapi_query_graph_handler/blob/ca6484689323a4ee341ca0edd091a8845d94

[2022-05-10 19:47] tokebe commented on #420
I agree that the current organization regarding scores seems like a good pattern to follow. I think a new file for this purpose makes the most sense. It might also be good to make a 'results-assembly' folder for all such supporting files, just for ease-of-navigation?

[2022-05-11 16:51] colleenXu commented on #214
FYI to @tokebe. This is the issue that involves testing QEdge directionality.

Although it also involves testing more than that maybe....

[2022-05-11 17:01] colleenXu commented on #401
Noting: don't need to write tests for this right now, since the dev server will analyze its own responses to queries, to see if there are any edges or nodes in KG that aren't in the result section (bindings for nodes/edges in each result).

Also, we can send TRAPI responses to the dev server's inspect endpoint to get this analysis done. See https://github.com/biothings/BioThings_Explorer_TRAPI/iss

[2022-05-11 17:05] colleenXu commented on #402
Related to this issue?

[2022-05-11 19:07] andrewsu commented on #444
@cbizon we discussed this issue at our internal meeting earlier, and we ended up with these two points:

* Conflation of `Disease` with `PhenotypicFeature` seems like a reasonable way to ensure consistency in the various versions of this query.  It is perhaps timely in that it ties into some upcoming discussions in the Data Modeling group around other conflations (genes and genomes, drugs and smal

[2022-05-12 17:18] #445 closed, assigned to nobody

[2022-05-12 17:59] tokebe opened #446 "Investigate a query that causes BTE to hang"
The following query causes BTE to hang:

[code]

This is a very general query that causes many many results. Worthy of note is that we'd expect the [cap on entities going into an open-ended hop](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/324) to cause this query to stop early, but for some reason it doesn't appear to.

[2022-05-12 20:08] tokebe commented on #153
I assume this would not be adequately covered by `reasoner_ids` in the TRAPI query specification, in which case the only way could adequately support this is by taking an optional parameter in the request body, which wouldn't be technically TRAPI-compliant?

[2022-05-12 20:16] tokebe commented on #212
Is this issue still relevant/should it be added to the project tracker?

[2022-05-12 20:21] tokebe commented on #367
Moving to on hold / non-critical as the situations where this arise would appear to be exceedingly rare (no noted instances in several months).

[2022-05-12 20:27] tokebe commented on #399
Closing as this issue has been resolved.

[2022-05-12 20:27] #399 closed, assigned to nobody

[2022-05-12 20:43] tokebe commented on #441
Closing as the majority of cases are already covered by `bull` for async queries.

[2022-05-12 20:43] #441 closed, assigned to nobody

[2022-05-12 21:14] andrewsu commented on #212
I think with the child issues that were created and resolved, this issue can be closed.

[2022-05-12 21:14] #212 closed, assigned to nobody

[2022-05-12 23:16] colleenXu commented on #153
@tokebe I think some things have changed since this issue was opened.

Looks like TRAPI working group is looking at this a bit, but I don't know how far along they are. It looks like some ARAs implement this already. https://github.com/NCATSTranslator/ReasonerAPI/issues/318

A related proposal also seems kinda complicated to me https://github.com/NCATSTranslator/ReasonerAPI/issues/324

[2022-05-12 23:17] colleenXu commented on #446
Noting that it looks like [QNode doesn't have required properties](https://github.com/NCATSTranslator/ReasonerAPI/blob/e39886c54fff24b41d9e9f43353a31c3fc591b19/TranslatorReasonerAPI.yaml#L537)....so theoretically a completely empty object can be given to us....or QNodes that only have the is_set property like what is given here...

[2022-05-12 23:21] colleenXu commented on #399
Yup it works now. This is what I get for the response to the original query in the issue:

[response.txt](https://github.com/biothings/BioThings_Explorer_TRAPI/files/8683031/response.txt)

[2022-05-12 23:27] colleenXu commented on #212
I agree, looks like it was related to the big push to update semmeddb https://github.com/biothings/pending.api/issues/30#issuecomment-910768268 . Which is done. Currently, I think work is being done for the new version of semmeddb + fixes...https://github.com/biothings/pending.api/issues/63

[2022-05-13 02:53] colleenXu commented on #446
Related troubleshooting:

This example query (similar structure / not the same entities) runs in 7 sec when POSTEed to MyDisease only: http://localhost:3000/v1/smartapi/671b45c0301c8624abbd26ae78449ca2/query

It retrieves > 1000 IDs in the first hop, so it cancels execution / returns 501 before it starts the second hop.

<details>
<summary>example 2-hop Predict</summary>

[code]
</details>

[2022-05-13 03:33] colleenXu commented on #446
## My Analysis

It looks like BTE is correctly handling the nodes that don't have categories/ids....which surprises me (treats them as NamedThing). I didn't know we handled that...

I think the problem is that BTE is getting stuck / running long on the 2nd hop (e2, NamedThing -> NamedThing). The first hop (e0, Disease -> NamedThing) returns < 1000 IDs, which is why the 2nd hop is executed.

This i

[2022-05-13 06:29] colleenXu commented on #432
Now the list of "recommended" APIs query-able through BTE is a subset of the APIs in BTE's config file. Ideally we will keep it this way....but if things change, we can try to make the differences clearer.

To find out what non-TRAPI APIs are accessible through BTE, a person can go there and read the sections delineated by comments: https://github.com/biothings/BioThings_Explorer_TRAPI/blob/ba4a4a

[2022-05-13 06:29] #432 closed, assigned to nobody

[2022-05-13 18:04] ariutta commented on #420
@tokebe, most of the files appear to use snake_case for names, so how about a folder name of `results_assembly`? Or maybe `TrapiResultsAssembler`?

[2022-05-13 18:07] tokebe commented on #420
Agreed, following the snake_case convention for filenames is probably best.

[2022-05-13 18:07] ariutta commented on #420
@andrewsu, @yihangx is teaming on this with me, so I tried adding him to the assignees list, but it didn't let me. Maybe we need to change a permission somewhere or add him to BTE?

[2022-05-13 18:13] ariutta commented on #420
As far as I can tell, the records are normalized for gene IDs to use NCBIGene, so that makes this easy for the first step -- adding pfocr data for genes -- because that's the datasource PFOCR uses as well.

When and if we add pfocr data for other types like diseases, we'll have to double check the datasource normalization. I think MESH is available in the normalized data, but the normalized `prima

[2022-05-17 18:26] andrewsu opened #447 "investigate addition of SPOKE to BTE config file"
Currently, BTE does not issue subqueries to SPOKE.  Given [SPOKE's SmartAPI entry](https://smart-api.info/registry?q=7f70cdfaeb801501da08dacc294e8b9f) it should be as simple as adding an entry to our [config.js file](https://github.com/biothings/BioThings_Explorer_TRAPI/blob/main/src/routes/v1/config.js).  Creating this ticket to track discussion around feasibility/desirability.

Similar to https:

[2022-05-17 18:38] colleenXu commented on #320
tests are now all passing, closing this issue

[2022-05-17 18:38] #320 closed, assigned to nobody

[2022-05-18 04:34] colleenXu commented on #372
https://rampdb.nih.gov/about has an API with an OpenAPI v3 spec

[2022-05-18 13:13] cbizon commented on #444
Ok, I think disease/phenotype conflation is something that should be handled at the node normalization level.  In general, I think we need to discuss on the Architecture call whether we have a single source of truth for the classes of things.  So if I have an identifier, can we all agree that it's a Disease?

For editing smartAPI annotations, I guess I'm not sure what the issue is.   It seems to m

[2022-05-19 22:00] ariutta commented on #435
@colleenXu, I sent an update by email, but I'll copy it over here too:

https://github.com/wikipathways/openapi/blob/main/openapi.json

[2022-05-19 23:14] ariutta commented on #420
@andrewsu, in the example you gave, each `result` has a sub-sub-property `pfocr.score` like `"score": 0.95`, but with how we're querying the PFOCR API, I suspect this score is incorrect. That score would be correct if we made one PFOCR API query per result, but since we're trying to make just one query (see [second bullet point](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/420#issu

[2022-05-19 23:21] ariutta commented on #420
Another item to note: for some queries, we can get a large enough number of genes that the PFOCR API returns an error: "414 Request-URI Too Large". In other projects, I've gotten around an issue like this by using `POST` with a request body instead of `GET` with URI params.

[2022-05-20 00:13] ariutta commented on #420
Related issue:
https://github.com/wikipathways/pathway-figure-ocr/issues/24

[2022-05-20 04:39] andrewsu commented on #420
Regarding the `pfocr.score`, I wasn't thinking of directly using the ES score that is returned by the PFOCR API.  Rather, I was thinking that would be some simple score that we computed in the new code that you are writing.  For example, that score might be the percentage of entities in the result that are also found in the figure.  Or if we want to be a little more complex, it could be a chi-squa

[2022-05-20 05:42] colleenXu commented on #435
@ariutta Thank you, I've seen the email. I have a plan to review that link and make a fork to write a openapi v3 version with x-bte annotation.

Just need to get around to getting it done >.<

[2022-05-23 17:20] tokebe commented on #421
Regarding the ICEES DILI example, it would appear that each edgeBinding returned by the query gives the subject `CHEBI:4187`, which doesn't match the query, causing the transformer to not transform that edge binding. (Incidentally, in some cases, these edge bindings would appear to bind from subject `CHEBI:4187` to just... `D`, like so:

[code]

This implies to me this issue may be with DILI's res

[2022-05-23 19:27] tokebe commented on #421
Similarly, for ICEES Asthma, the first query results in all `MESH:C001892` which doesn't match, with some objects being just `D`, like so:

[code]

The second query results in all `MESH:C018460` for the subject, which also results in mismatches causing the records to be undefined.

[2022-05-23 19:38] tokebe commented on #422
Similarly to my [other findings](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/421#issuecomment-1134941251), the issue here seems to be that the subject coming back is a mismatch - in this case `MESH:C026422`, which resolves to `cystic fibrosis serum factor` instead of `cystic fibrosis`. If this is expected/intended behavior, then we may need to add additional special handling for t

[2022-05-23 22:09] colleenXu commented on #248
Note that change log is now here: https://github.com/NCATSTranslator/ReasonerAPI/blob/v1.2.0/ChangeLog.md

[2022-05-24 17:42] AlexanderPico commented on #420
Re: `pfocr.score` this online tool makes it easy to plug in numbers to see how it would work:
https://www.graphpad.com/quickcalcs/contingency1.cfm (see screenshot)

Either a chi-sq or Fisher's would generate a p-value that could serve a `pfocr.score` for a given figure and a given set of result genes.

![Screen Shot 2022-05-24 at 10 06 17 AM](https://user-images.githubusercontent.com/1418193/17009

[2022-05-24 22:59] andrewsu opened #449 "implement "creative/inferred mode" for "what drugs may treat disease X" query"
Up to this point, Translator has focused on explicitly-declared query topologies, expressed as a subgraph of nodes and edges.  Translator now wants ARAs to accept "inferred edges" in the query, which essentially give the ARA the freedom to return answers that are supported by any query topology.  This design has been colloquially referred to as "creative mode".

By the end of June, Translator woul

[2022-05-24 23:42] colleenXu commented on #421
I've confirmed that:
* the working queries have a response where the QNode ID is used in the expected way: it's used in edges' subject fields and a node's primary ID / key.
* the "not working" queries have a response with an unexpected structure: the QNode ID is instead in the equivalent_identifiers / `biolink:synonym` (always the first?) attribute of a (always the first?) node in `knowledge_graph

[2022-05-25 00:03] colleenXu commented on #421
Some thoughts I have:
* I'm not clear on how we process TRAPI responses. Do we only look at knowledge_graph.edges - and do we expect Edge subject/object fields to use the exact ID provided by the QNode?
* when we encountered [something](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/213#issuecomment-904316142) [like](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/213#is

[2022-05-25 00:05] colleenXu commented on #422
oops I only now realized that I didn't provide the right query for Fever -> Disease >.<. Now fixed.

[2022-05-25 00:08] colleenXu commented on #422
Just providing more info to what Jackson said above: the QNode ID MONDO:0009061 (cystic fibrosis) is in the ICEES PCD response as a Node with the primary ID [MESH:C026422, which Node Normalizer says is a chemical entity called cystic fibrosis serum factor](https://nodenormalization-sri.renci.org/1.2/get_normalized_nodes?curie=MESH%3AC026422&conflate=true).

Vs for the fever query, the QNode ID is

[2022-05-25 00:08] colleenXu commented on #422
I have the same response as I had on the related issue: https://github.com/biothings/BioThings_Explorer_TRAPI/issues/421#issuecomment-1136546681

[2022-05-25 01:17] ariutta commented on #420
@erikyao, do you know how to get all hits for this API query:
https://biothings.ncats.io/pfocr/query?q=associatedWith.mentions.genes.ncbigene:59272

There should be 317 hits. The API response correctly gives a `total` of 317, but in the `hits` field, there are just 10 items. Do I need to add a parameter to tell it to return all hits?

[2022-05-25 01:42] colleenXu commented on #420
@ariutta I've been doing &size=1000, with the understanding that 1000 might be the max that can be returned. Yao would know more than me though.

https://biothings.ncats.io/pfocr/query?q=associatedWith.mentions.genes.ncbigene:59272&size=1000

EDIT: yeah I get an error from trying to set size > 1000: https://biothings.ncats.io/pfocr/query?q=associatedWith.mentions.genes.ncbigene:59272&size=2000

[2022-05-25 15:51] andrewsu opened #450 "TRAPI 1.2 -> 1.3 migration"
The changelog for 1.2 -> 1.3 is at https://github.com/NCATSTranslator/ReasonerAPI/blob/1.3/ChangeLog.md, and the proposed timing is in https://github.com/NCATSTranslator/ReasonerAPI/issues/329:

**EDIT**: Updated timeline below as of 2022-06-24
[code]

After the relay, we'll need to do an analysis of these changes.

[2022-05-25 16:49] erikyao commented on #420
By default only the top 10 hits are returned. The max is currently set to 1,000 (up to 10,000), and can be implemented with a parameter `&size=1000`.

[2022-05-25 17:05] tokebe commented on #449
Just adding my general plan here for quick reference:
- At query graph assembly time, check if we're supposed to infer edges
- If so, assemble new query graphs using templates from library
- Halt execution for this query_graph_handler, and then split off all inferred query graphs into new query_graph_handlers, to execute sequentially.
- Keep results of each handler
- On finish, assemble each into

[2022-05-25 17:29] andrewsu commented on #449
At least initially, we can use this query template library created by @Carolina1396 https://github.com/Carolina1396/drug_mechanisms_rare_diseases_BioThingsExplorer/tree/main/src/query_templates, which was based at least in part on an analysis of the most common metapaths in DrugMechDB shown in https://github.com/SuLab/DMDB_Analysis/blob/main/1_code/1_basic_dmdb_analysis.ipynb.

[2022-05-25 19:47] tokebe commented on #421
- Currently, the TRAPI transformer (to Records) expects the returned subject curie to match the query subject curie (accounting for reversing).
- I agree -- I'm a little reluctant to do special handling for this case, as currently the cases I've seen involve the returned subject resolving to a separate entity according to the node normalizer. This in combination with other examples of odd seeming

[2022-05-25 20:39] khanspers commented on #443
Update: I used CASE 5 to test a bunch of queries, and came up with some results. I ran the queries in ARAX using "Post to Other" and specifying https://api.bte.ncats.io/v1 as the external API. The same queries in https://biothings.io/explorer/advanced did not always work give the same results and I have some questions in general about that interface (will ask seperately).

CASE 5 results:
- The va

[2022-05-25 23:58] ariutta opened #451 "PFOCR for prioritization / clustering"
We've discussed various ideas for using PFOCR to do prioritization and/or clustering of trapi results. Based on our 9am meeting today, we decided to create a new issue for this and to use the following strategy:
1. initially explore the idea using Jupyter notebooks to post-process trapi results for sample queries
2. if the results from 1. are good, move the processing from the Jupyter notebooks in

[2022-05-26 00:39] ariutta commented on #420
We have a potential problem with the PFOCR API. As mentioned, the maximum `size` param is 1000, but some genes are in more than 1000 figures, e.g.:

| name | NCBIGene | figure count |
------|------------|-------------|
| AKT1 | 207 | 11,343 |
| ATF2 | 1386 | 2,086 |
| PDK1 | 5163 | 1,983 |
| WNT11 | 7481 | 3,304 |

That means it's not possible to get all the figures for genes like AKT1. The first

[2022-05-26 17:33] erikyao commented on #420
@ariutta @colleenXu sorry I forgot that there is a `&fetch_all=true` parameter that indicates fetching all documents. Give it a try!

[2022-05-26 17:48] ariutta commented on #420
Thanks, @erikyao! This worked:
https://biothings.ncats.io/pfocr/query?q=associatedWith.mentions.genes.ncbigene:207&fetch_all=true

[2022-05-26 18:16] erikyao commented on #420
@ariutta @colleenXu its behavior should be identical as documented in https://docs.mygene.info/en/latest/doc/query_service.html#fetch-all

Note that when `fetch_all=true`, the response will contain a `_scroll_id` field, whose value is leveraged to fetch all the documents in batches of 1000. For more information on scroll ids, please refer to https://docs.mygene.info/en/latest/doc/query_service.htm

[2022-05-27 00:04] khanspers commented on #443
For CASE 3:
The individual likely has Argininosuccinic aciduria (MONDO:0008815), caused by the c.706C>T mutation. The disease causes lethargy, hyperammonemia and developmental delays. Known treatments are arginine and citric acid.

Results summary:

- The variant is a known cause of argininosuccinic aciduria, a urea cycle disorder.
- Argininosuccinic aciduria has phenotypes Hyperammonemia and Leth

[2022-05-27 00:17] andrewsu commented on #443
@khanspers the Google doc for case 3 is great. Seeing the sequence of queries is very useful. You might also think about putting in snippets of the results just to show the provenance for the assertions. Or you can execute the queries through the ARS and then save the arax link. (Let me know if that doesn't make sense and I can write more details.) Nice work!

[2022-05-27 01:18] khanspers commented on #443
Thanks @andrewsu! I added a similar doc for CASE 5, although its not as clean. I will add some results/provenance to both docs.

[2022-05-27 19:47] khanspers commented on #443
CASE 2:
Likely Niemann-Pick disease, type C1, which the variant is known to cause. Known treatment is Acetylcysteine.

Results:

- The variant is a known cause of Niemann-Pick disease, type C1, which is caused by mutations in the NPC1 gene.
- Niemann-Pick C1 causes enlarged spleen and liver (hepatosplenomegaly).
- Acetylcysteine is a known treatment for Niemann-Pick C1
- For this patient, the clin

[2022-05-27 22:20] khanspers opened #452 "update BTE UI to use node types and predicates from BioLink Model"
The BTE UI (https://biothings.io/explorer/advanced) doesn't have SmallMolecule as a node type. The closest is ChemicalSubstance but it doesn't seem to work the same way.

[2022-05-28 01:36] ariutta commented on #451
Here's a simple co-occurrence analysis in a notebook:
https://github.com/wikipathways/pathway-figure-ocr/blob/master/notebooks/bte_with_pfocr_cooccurrence.ipynb

I've got another analysis going for using clustering, but it's not ready to publish yet. I'm trying locality-sensitive hashing (like minhash or simhash) as well as an all-pair-binary algorithm.

Another avenue of exploration: using PFOCR

[2022-05-31 04:33] andrewsu commented on #452
Yes, this seems to indicate that the BTE UI linked above is drawing from a hard-coded list of node categories instead of reading from the biolink model (https://github.com/biothings/biolink-model.js or https://github.com/biolink/biolink-model).  I will update the title of this issue accordingly...

[2022-05-31 20:35] andrewsu opened #453 "generate example results for "creative/inferred" mode for relay"
There is [an issue](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/449) to track the implementation of a "creative/inferred" mode.  At the [upcoming relay](https://docs.google.com/document/d/14fGYjwl8SuNbX81R6mq-R_ex77lqxCcm/edit), there is a session on "creative mode" on Monday and Tuesday in which we would like to explore some preliminary results.  Organizers would like us to come

[2022-05-31 22:57] colleenXu commented on #443
looks cool! I'm happy to see another person using BTE and finding useful info for questions.

@khanspers I've found this useful for putting queries and lots of info in github: https://gist.github.com/pierrejoubert73/902cc94d79424356a8d20be2b382e1ab

Not sure what to do with Google Docs. Generally I've been saving the JSON responses or the ARS/ARAX links. I can show you how to do this, if you need

[2022-05-31 23:04] khanspers commented on #443
Thanks @colleenXu. Originally the Google docs were started for my own organizational purposes, to be able to track and summarize better than in Postman, then I decided to share them. I realize they are not ideal.
I figured out how to get the ARS links now, but they are only in one of the docs so far.

For the GitHub markdown example you linked to, the idea would be to replace each google doc with

[2022-06-01 00:03] colleenXu commented on #443
@khanspers The google docs are fine! I notice that Github comments can do some things that I don't know how to do in Google docs, like attaching txt files (the JSON responses) and collapsible sections.

I noticed a query [here](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/443#issuecomment-1137825948) and thought it would be easier to read if it was in a code block, in a collapsible

[2022-06-01 04:35] andrewsu commented on #427
Closing this issue for now -- thank you @colleenXu for the detailed analysis... Going to tag @cbizon as potentially another example to consider when looking at conflation.  Perhaps `biolink:Protein` should be automatically mapped up to `biolink:Polypeptide` to handle cases like this?

[2022-06-01 04:35] #427 closed, assigned to nobody

[2022-06-01 05:26] colleenXu opened #454 "update how we generate /meta_knowledge_graph endpoints"
### Issues:
* The `nodes` section doesn't seem to match the actual smartapi edges / x-bte annotations (ID prefixes and biolink semantic types) for each kind of endpoint (general, api-specific, team-specific).
    * Maybe we want this to instead be specific to the smartapi edges (IDs / semantic types) available to each endpoint
    * Maybe the ID prefixes don't have to match what's in the smartapi

[2022-06-01 06:12] colleenXu commented on #421
@tokebe to clarify....the returned subject curie that you're referring to

is in the message.knowledge_graph.edges of the response ICEES gives?

AKA the answer to my question below is "Yes, we only look at edges" and "yes we expect the edge subject/object to use the exact CURIE given by the QNode ID"?

[2022-06-01 15:58] ariutta commented on #420
Two metrics to test for performance:
1. How long does it take to get PFOCR results from the API?
2. How long does it take to match up the TRAPI results with PFOCR results?

Different query graphs will return different numbers of genes, so we’ll want to test multiple.

[2022-06-01 17:27] tokebe commented on #421
The TRAPI transformer looks specifically at the edge_bindings and node_bindings of the results (`message.results[n].edge_bindings` and `message.results[n].node_bindings`).

(QNode ID being a confusing term here...that would typically refer to something like `n01`)

So, we're looking at the edge_bindings, the node_bindings, and the edges, and we're expecting the curie provided by the node_binding s

[2022-06-01 17:32] colleenXu commented on #454
more notes after group meeting (also edited the opening post above):

* `/meta_knowledge_graph` `nodes` section seems to be the same between endpoints (and between different teams / apis in those specific endpoints). This is a sign that something "hard-coded" is going on.
* larger issue: are we still using "old biomedical id resolver stuff" like this ids.js file in this repo? Are we still using "o

[2022-06-01 17:41] tokebe commented on #454
The `/meta_knowledge_graph` endpoints can probably do without threading as they're typically a lighter workload and shouldn't hang up the server, though it might be prudent to make them threaded. I'll have to investigate more on any other possible things we'd have to do, such as tying in behavior fixes from #448 when it's finished.

[2022-06-01 21:40] karafecho commented on #421
FYI: Max W. and I posted comments in Translator's # bte slack channel.

Thanks for everyone's efforts on this ticket.

[2022-06-01 23:09] colleenXu commented on #453
Posting from Slack, David K. from Translator's ask:

At this point, some teams’ answers require manual intervention, but if able, please attempt as many as you can in [this list of diseases](https://docs.google.com/document/d/1cuYrWHv6MzT3w7lZqpHQVc7WbMY5WuLiLOh9qI3TVRo/edit?usp=sharing) provided by the UI team.
Optimally, the answers will be in TRAPI form, but links to ARAX-displayed results (eg.

[2022-06-01 23:22] colleenXu commented on #454
@tokebe the following /meta_knowledge_graph endpoints can kinda hang...
* `v1/meta_knowledge_graph`: currently it might have all of the metaEdges that BTE has access to with its v1/query endpoint (so the API_LIST - which includes TRAPI and x-bte annotation stuff).
    * note the TRAPI policy here https://github.com/NCATSTranslator/ReasonerAPI/pull/320/files
* `v1/team/Service Provider/meta_knowled

[2022-06-02 15:40] tokebe opened #455 "Stall handling for async jobs"
It would be of benefit to save some information about async queries which result in failure due to stalling.

The most important things we can get from any failed job:

- Who sent it?
- What was the query?

While it might make sense to make a cron job which dumps stalled jobs to the disk once per day, or to leverage [bull's stalled event](https://github.com/OptimalBits/bull/blob/develop/REFERENCE.

[2022-06-02 15:50] tokebe opened #456 "A high-level complete sequence diagram of BTE"
It would be very useful both for debugging and for new developers to have a high-level sequence diagram for BTE's query handling, either of the general sync endpoint or just starting from the `query_graph_handler`.

Optimally, this diagram would establish an explanation of the flow of data between each of the primary handler classes, grouped by file/module. Exact methods needn't be documented howe

[2022-06-02 17:15] tokebe commented on #449
@andrewsu I'm realizing there are some questions I've failed to ask regarding scope:

Should BTE support inferred-mode edges in multi-hop queries? More than one inferred edge?

I believe this should still be relatively simple in this implementation: we use our template query to replace the inferred edge, keeping the 'outside' topology the same, for as many templated queries as we have (in the case

[2022-06-02 20:16] andrewsu commented on #449
No, we can make the assumption (and enforce the limit) that inferred-mode queries are single-hop queries.  If that's not true, then feel free to have BTE fail out with some appropriate error message.

Yes, I think that makes sense.  Feel free to implement that in code, or by adding the appropriate template to the query library.  Whichever route makes the most sense to you...

[2022-06-03 02:47] colleenXu commented on #421
@tokebe I see! I was mistaken....so we're reading the elements of the message.results array. Using TRAPI vocab, when we process a `Result` object for the one-hops in the [above](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/421#issuecomment-1110524035) [comments](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/421#issuecomment-1110530471), we expect the curie in the nod

[2022-06-03 03:00] colleenXu commented on #421
@tokebe However...your [explanation](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/421#issuecomment-1143918566) doesn't seem to match up with my check. Here's the ICEES response for the "not working" query  for [DILI](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/421#issuecomment-1110524035) (Prednisone chem -> DiseaseOrPheno):

It's a JSON but github requires me to s

[2022-06-03 03:56] andrewsu commented on #196
Note that the desired behavior is spelled out in point 9i of https://github.com/NCATSTranslator/TranslatorArchitecture/blob/master/README.md:

Another clear example of where BTE is not performing this operation as intended is https://github.com/NCATSTranslator/testing/issues/203.

[2022-06-03 20:22] khanspers commented on #443
CASE 1:

- Since it wasn’t possible to get identifiers for the genetic variants of the TH gene, all queries are gene-centric.
- Many of the diseases associated with the TH gene are associated with additional obvious phenotypic features that were not present in this patient (schizophrenia, TH-deficient dopa-responsive dystonia etc). The only results that make sense with the limited information is “

[2022-06-06 04:20] andrewsu commented on #443
@khanspers I think for all these cases (and particularly case 1), you should treat the phenotype list as a partial list.  Use the _presence_ of a phenotype to help prioritize any leads, but I wouldn't use the _absence_ of a phenotype as any sort of signal.  With that additional information, can you have an additional look at Case 1?

[2022-06-06 05:46] colleenXu commented on #456
feel free to move this around in the biothings project (I may not have put it in the right spot)

[2022-06-06 05:47] colleenXu commented on #455
feel free to move this around in the biothings project (I may not have put it in the right spot)

[2022-06-06 05:58] colleenXu commented on #449
@tokebe @andrewsu

note on the query that is sent:

they may use "biolink:[Drug](https://github.com/biolink/biolink-model/blob/4c99c041a1fe6b2a40df48e3671116d866e5f0d0/biolink-model.yaml#L8292)" as the category....and we will likely want to add "ChemicalEntity" to this because we don't keep much under "Drug".

[2022-06-06 06:09] colleenXu commented on #453
### Alzheimers (MONDO:0004975)

#### Initial query

Assuming the query given will be...

<details>
<summary>Query starting point</summary>

[code]
</details>

Future Responses:
* straightforward method [TRAPI response JSON](https://drive.google.com/file/d/1UYRG9MwxKBjFlxi-XcQhLtxVmdFLNT-J/view?usp=sharing). Took ~22 sec, ~4.8 MB, 1244 results (a lot (1000<x<10000))
* Method 1 [TRAPI response JSON]

[2022-06-06 06:16] andrewsu commented on #449
if it's clear how to fix it, go for it.  If not, skip it...

[2022-06-06 06:17] colleenXu commented on #449
@tokebe @andrewsu

I suggest some changes to the templates for this particular issue...
* Use `ChemicalEntity`, not `SmallMolecule`
* Reorder / resort the QNodes so the TRAPI query is more human-readable.
* Maybe add predicates on some QEdges? To make it specific to the "may treats" part of this issue
* There might be an issue with this template (e02 and e03 are basically the same?) https://github

[2022-06-06 07:25] colleenXu commented on #453
### neurofibromatosis, familial spinal (MONDO:0008078)

#### Initial query

Assuming the query given will be...

<details>
<summary>Query starting point</summary>

[code]
</details>

Future Responses:
* Method 1: [TRAPI Response JSON](https://drive.google.com/file/d/1f0an0qWJ4sc4lu-tYlKrVvVNW48NANIy/view?usp=sharing). Took ~ 2 min 40 sec to run, ~13 MB, 8286 results (a lot)
* Method 2: [TRAPI Resp

[2022-06-06 08:07] colleenXu commented on #449
I've taken all the templates and turned them into 7 TRAPI queries, with some mods....https://github.com/biothings/BioThings_Explorer_TRAPI/issues/453#issuecomment-1147082666

However, these may need further tweaking (predicates, [node constraint for the drug regulatory status aka whether it is a drug](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/174#issuecomment-954972343), EDIT: i

[2022-06-06 08:42] colleenXu commented on #449
And...it's unclear to me how we'll assemble the separate TRAPI queries / QGraphs and their responses into 1 response / thing....is that the goal?

[2022-06-06 15:27] tokebe commented on #449
@colleenXu As for the response assembly: This was discussed in a meeting, the graphs and results get de-duplicated (remove/combine duplicate node/edge references) and then concatenated into one response. Inferred query graphs are dropped, at least until behavior to the contrary is specified.

Regarding the templates, I'll attempt to include the suggestions you made to the best of my ability (where

[2022-06-06 15:33] colleenXu commented on #449
Note that we may be discussing more implementation details during this relay. I have a note from current attendance of the "creative mode" session: "grouping answers by drug". I'm not sure exactly what that would look like right now.

---

EDIT: I'm going to adjust my templates to keep the qNodeID naming given in the "initial query" thingy.

[2022-06-06 19:39] colleenXu commented on #453
### noonan syndrome (MONDO:0018997)

#### Initial query

Assuming the query given will be...

<details>
<summary>Query starting point</summary>

[code]
</details>

Future Responses:
* straightforward method: [TRAPI Response JSON](https://drive.google.com/file/d/1YHjWTlsD5iOgaML5orZkjsjFoaOn4QG0/view?usp=sharing). Took ~ 5 sec to run, <100kB, 25 results
* Method 1: [TRAPI Response JSON](https://dri

[2022-06-06 20:09] tokebe commented on #449
I also noted some question as to predicate/direction -- something along the lines of "does this creative query result specify something that actually *helps*, or is it the opposite?"

I'm not sure I was entirely clear if that reached an answer. Do we want to be incredibly careful with our predicate selection (both matching a creative qEdge to appropriate templates, and possibly controlling additio

[2022-06-06 21:28] colleenXu commented on #174
noting that only == was implemented (so I can't do <= or >=)... #380

[2022-06-06 21:35] colleenXu commented on #174
I'm not sure if this is still working...the following query is hitting a TypeError:

Query:
[code]

Console logs:
[code]

[2022-06-06 21:48] colleenXu commented on #453
### acanthosis nigricans (MONDO:0007035)

#### Initial query

Assuming the query given will be...

<details>
<summary>Query starting point</summary>

[code]
</details>

Future Responses:
* straightforward method: [TRAPI Response JSON](https://drive.google.com/file/d/1JhNV0tMaHdvBskUjD8RRrCDNfGxxjvpa/view?usp=sharing). Took ~ 5 sec to run, <80kB, 32 results
* Method 2: [TRAPI Response JSON](https:/

[2022-06-06 22:31] colleenXu commented on #453
### Abnormal blood glucose concentration (HP:0011015 / Phenotype)

#### Initial query

Assuming the query given will be...(assigning this ID as a Disease even though it's not...BTE will add PhenotypicFeature to its categories)

<details>
<summary>Query starting point</summary>

[code]
</details>

Future Responses:
* Method 4: [TRAPI Response JSON](https://drive.google.com/file/d/19ONwfikxbCSnWaqSR

[2022-06-06 23:31] colleenXu commented on #453
### chronic obstructive pulmonary disease (COPD, MONDO:0005002)

#### Initial query

Assuming the query given will be...

<details>
<summary>Query starting point</summary>

[code]
</details>

Future Responses:
* straightforward method: [TRAPI Response JSON](https://drive.google.com/file/d/10x42QJkVdFF-b-h47TiyTjIR8nSgbDdB/view?usp=sharing). Took ~ 14 sec to run, ~3.7 MB, 888 results
* Method 1: [T

[2022-06-07 00:59] colleenXu commented on #453
### cirrhosis of liver (MONDO:0005155)

#### Initial query

Assuming the query given will be...

<details>
<summary>Query starting point</summary>

[code]
</details>

Future Responses:
* straightforward method: [TRAPI Response JSON](https://drive.google.com/file/d/1W94NdCL5idpA3lkhpiguKDaK3Crmhoeq/view?usp=sharing). Took ~ 18 sec to run, ~6.2 MB, 1252 results (a lot (1000<x<10000))
* Method 3: [TR

[2022-06-07 01:53] colleenXu commented on #453
### Colon cancer (HP term that likely maps to disease in Node Normalizer) (HP:0003003)

#### Initial query

Assuming the query given will be...

<details>
<summary>Query starting point</summary>

[code]
</details>

Future Responses:
* straightforward method: [TRAPI Response JSON](https://drive.google.com/file/d/1JHUnWd1QN_O3CYd7jdRMO5qxcu7MuADR/view?usp=sharing). Took ~ 15 sec to run, ~6.5 MB, 126

[2022-06-07 03:24] colleenXu commented on #453
### Diarrhea (HP:0002014 / Phenotype)

#### Initial query

Assuming the query given will be...(assigning this ID as a Disease even though it's not...BTE will add PhenotypicFeature to its categories)

<details>
<summary>Query starting point</summary>

[code]
</details>

Future Responses:
* straightforward: [TRAPI Response JSON](https://drive.google.com/file/d/1V6a3UKUdUvK_ca-MbQGxDcsknqlzow_f/view?

[2022-06-07 09:03] yihangx commented on #420
@erikyao I tried to query too many genes (like hundreds of gene) to PFOCR API with GET, and I got 414 HTTP code because the request URI is too long. The problem is that we do want to get all results from these genes. Anders and I believed that we can use POST with a request body instead of GET with URI params to solve this problem. We never used the PFOCR API with POST, and I tried to write some s

[2022-06-07 19:16] tokebe commented on #449
My previous comment may be safely ignored for now - it has been reasonably answered by discussion in the relay, and my implementation will be trivial to fix if I misunderstood.

I'm cataloguing items which need to be fixed/combined when combining/de-duplicating results, which has led me to certain node attributes, namely:

- `num_source_node`
- `num_target_node`
- `source_qg_node`
- `target_qg_nod

[2022-06-08 05:45] andrewsu commented on #449
Regarding the node attributes listed above, check to see if they have any internal usage.  If not, I think they can be removed from the output for now.  I _believe_ these were added as some sort of attempt to look at node degree (so that paths using very common nodes, or "hub nodes", can eventually be down-weighted in scoring).  But, I don't think we actually got around to implementing anything us

[2022-06-09 17:59] tokebe commented on #449
My current implementation searches for folders matching the `subjectCategory-predicate-objectCategory` of the original query (making multiple combinations if there are multiple categories/predicates), and assumes that any query templates in matching folders will be appropriate for the original query. I'm of course planning on adding functionality to ensure it's possible to search for reverse cases

[2022-06-09 18:06] andrewsu commented on #449
I suppose expanding the query classes to more specific subclasses would be useful, i.e., `ChemicalEntity-treats-DiseaseOrPhenotypicFeature` -> `ChemicalEntity-treats-Disease` and `ChemicalEntity-treats-PhenotypicFeature`. I think we shouldn't do the reverse.

But since we only have one creative mode template right now, I think it's also fine to punt on this class-traversal functionality until late

[2022-06-13 05:49] andrewsu commented on #397
@ericz1803 can you handle the second and third items above in the next week or two please?  I'm going to reference this URL in a grant proposal...

[2022-06-15 03:19] ariutta commented on #451
### Updated notebooks (still rough draft / exploratory)

[Visual Explainer](https://github.com/wikipathways/pathway-figure-ocr/blob/master/notebooks/bte_visual_explainer.ipynb): show how BTE + PFOCR can serve as a Visual Explainer by showing how one disease, gene or small molecule is related to another in context of PFOCR figures. Low priority -- just a demo.

[Dampen combinatorial explosions](htt

[2022-06-15 19:06] ariutta commented on #420
@andrewsu or @colleenXu, what do you think about handling sub and super classes for this issue? For example:

- Neoplasms MESH:D009369
  - Neoplasms by Site MESH:D009371
    - Bone Neoplasms MESH:D001859
      - Skull Neoplasms MESH:D012888
        - Jaw Neoplasms MESH:D007573

If a TRAPI result contains "jaw neoplasm" MESH:D007573 and a figure contains "neoplasm" MESH:D009369, is that a match? Wo

[2022-06-15 21:23] andrewsu commented on #420
To me, we have three options:

* **Option 1**: A baseline implementation here would just look for exact matches (so subclass and superclasses would not be matches).  I think we'd already learn a lot with this very basic implementation.

* **Option 2**: A good next-level implementation would allow subclass matching, but only in one direction.  i.e., if a TRAPI result contains "neoplasm" MESH:D00936

[2022-06-15 21:52] ariutta commented on #420
@yihangx and I discussed, and it sounds like Option 1 will be the first goal. We can add the capabilities on Option 2 in a future round.

[2022-06-17 00:23] khanspers commented on #443
CASE 4:

**Results from BTE:**
- The variant is linked to epilepsy, pyridoxine-dependent epilepsy, Ventriculomegaly, pyridoxine-dependent epilepsy caused by ALDH7A1 mutant.
- Looks like epilepsy is the parent term, and the two others are more specific.
- No known treatment was found for the most specific: pyridoxine-dependent epilepsy caused by ALDH7A1 mutant.
- For pyridoxine-dependent epilepsy,

[2022-06-17 00:26] khanspers commented on #443
CASE 1 update:

**Results from BTE:**

- Since it wasn’t possible to get identifiers for the genetic variants of the TH gene, all queries are gene-centric.
- One of the many diseases associated with the TH gene is TH-deficient dopa-responsive dystonia.
- Treatment for TH-deficient dopa-responsive dystonia is levodopa.

**Existing knowledge on diseases/treatments (from Wikipedia):**

- The TH gene

[2022-06-17 00:49] khanspers commented on #443
CASE 3 update:

**Results:**

- The variant is a known cause of argininosuccinic aciduria, a urea cycle disorder.
- Argininosuccinic aciduria has phenotypes Hyperammonemia and Lethargy.
- Treatments for Argininosuccinic aciduria include include Arginine, liver transplantation, sodium phenylbutyrate.

**Known treatments (from Wikipedia and rarediseases.org):**

- Arginine supplementation
- Dietary

[2022-06-17 01:08] khanspers commented on #443
CASE 2 update:

**Results from BTE:**

- The variant is a known cause of Niemann-Pick disease, type C1.
- Niemann-Pick C1 causes enlarged spleen and liver (hepatosplenomegaly).
- Acetylcysteine treats Niemann-Pick C1
- For this patient, the clinical presentation included additional features that were not returned by BTE from a simple search of phenotypic features associated with Niemann-Pick. Howe

[2022-06-17 07:08] colleenXu commented on #443
Some of my notes (not saying any of this is something to do):

Querying:
* `SmallMolecule` can be a bit specific -> `ChemicalEntity` is the parent term that includes more semantic types like `Drug`/`MolecularMixture` (like "sodium benzoate" is classified as a mixture of sodium and benzoate).
    * It's tricky though because sometimes peptides, amino acids, and antibodies (proteins) are treatments

[2022-06-17 16:55] khanspers commented on #443
Thanks @colleenXu, those are great tips! Some of the things you mention I've realized while working on these cases (how to use `treats`, how to find non-drug treatments etc). The strategy used for these cases is definitely not optimal and could definitely be optimized.

For the non-drug treatments, I was able to find those by not specifying the node type, and using the `treats` predicate. The resu

[2022-06-20 18:23] tokebe commented on #449
@andrewsu @colleenXu As a note for the creation of query templates, I'm setting up the handling such that a template is expected to have one node named `subject` and one named `object` -- for instance, `subject` would be a ChemicalEntity, while `object` would be a DiseaseOrPhenotypicFeature, with the rest of the template adding the inferred nodes/edges (which don't need to conform to any naming co

[2022-06-20 19:33] colleenXu commented on #449
@tokebe I was using "disease" and "drug" as the node names in my query [templates](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/449#issuecomment-1147168302). I imagine that the final node names/qNodeIDs depend on what the UI needs, but I don't know what they need (....asking them as a next step).

[2022-06-20 19:39] colleenXu commented on #449
@tokebe I've read up on this issue, and:
* My assumption is that the queries are always asked as "biolink:Drug" -(biolink:treats)-> "biolink:Disease X". "X" might actually be a PhenotypicFeature or DiseaseOrPheno, but that would be handled by existing code (Node Normalizer adding semantic type if it finds a different one)
* AKA no need to handle superclass/subclass stuff: ike what if "biolink:Chem

[2022-06-20 20:52] tokebe commented on #449
- I should clarify -- the `subject`/`object` naming convention is specifically limited to the query templates. Whatever node names the user uses are what are returned; subject/object is just used so my code can know specifically to which template nodes it should merge the user query nodes. I could have used "Drug" and "Disease", however subject/object felt like it would be much clearer in-code, an

[2022-06-20 22:11] colleenXu commented on #449
From discussion (first Andrew-I, then Jackson-I)

### Big picture

* two definitions of "query-template":
    * our current group of templates for "Drug-treats-DiseaseX" (inside a "library"), that'll be stored in folders in BTE
    * what the UI will send to the ARS, which will be sent to us. We assume they're working off a template
* For now, we will assume the UI will follow "templates" to make

[2022-06-21 06:58] andrewsu opened #459 "Utilize UMLS concept tree in NGD handler on SemMedDB API"
In https://github.com/biothings/BioThings_Explorer_TRAPI/issues/326, @erikyao created a custom handler to compute a Normalized Google Distance (NGD) based on the SemMedDB API.  The NGD endpoint takes two UMLS IDs as input, and outputs a simple JSON structure that includes the computed NGD:

https://biothings.ncats.io/semmeddb/query/ngd?umls=C0684074,C0003063

[code]

There are many cases where the

[2022-06-21 15:15] tokebe commented on #449
Some of my notes related to this discussion:

For clarity in discussion of templates:
- I'm using "user query" or "creative query" to refer to the query coming into BTE. While we're not expecting random users to use inferred mode, the UI is operating on behalf of the user. While the UI will likely be using some form of template, that's more internal to their operation -- as far as BTE knows/cares,

[2022-06-21 18:04] ariutta commented on #451
@andrewsu, does the TODO NEXT list at the bottom of this notebook appear reasonable?
https://github.com/wikipathways/pathway-figure-ocr/blob/master/notebooks/bte_clustering.ipynb

Copying the list over here too for convenience.

**TODO NEXT**:
1. Excluding the CURIEs from the best figure, repeat the process to get the second-best figure. Continue until we've excluded all the TRAPI results CURIEs.

[2022-06-21 22:36] ariutta commented on #451
At the end of the same notebook, I also listed two questions, which I'm copying over here for convenience.

**QUESTIONS**:
1. What should we do in cases of ties for p-values for identifying cluster figures? We could treat them like one large figure and display them all.
2. Should we do anything special for cluster figures and TRAPI results that have any of the ids the user specified?

To expand on

[2022-06-21 23:20] andrewsu commented on #451
That **TODO NEXT** list sounds pretty great.  I don't think you need to iterate until you've excluded _all_ of the TRAPI result CURIEs (in your step 1) -- maybe iterate until 50% of CURIEs are excluded with a maximum of 10 iterations?  (or something like that?)

Q1: you're asking if two figures have the exact same p-value but a different set of overlapping entities?  That should be pretty rare I t

[2022-06-21 23:33] ariutta commented on #451
I thought this would be rare too, but in my test query, multiple ties showed up. I don't have anything rigorous and quantitative to indicate how common ties will be, but I didn't expect to have multiple exact ties in my first query.

[2022-06-22 04:07] colleenXu commented on #453
Modified Method 1: add is_set to Pheno node
* Alzheimers: less results (527) vs w/o is_set (1244)
    * comparable performance 1.2 MB, 18 sec
* neurofibromatosis, familial spinal: less results (3911) vs w/o is_set (8286)
    * comparable performance 11.2MB, 2 min 45 sec
* noonan syndrome: less results (1058) vs w/o is_set (1474)
    * comparable performance 2.4 MB, 32 sec
* acanthosis nigricans: s

[2022-06-22 04:32] colleenXu commented on #453
Modified Method 2 (set predicates between disease-gene, use more-specific predicate between gene-chem, add is_set on intermediate nodes):

Of note:
* neurofibromatosis: 134 results, 14 sec, 885kB (previously 135 results)
* noonan syndrome: 3525 results, 3 min 47 sec, ~60MB (previously > 10k results, took > 10 min, > 150 MB).
* acanthosis nigricans: 6298 results, 7 min 39 sec, ~ 118MB (previously >

[2022-06-22 05:40] colleenXu commented on #453
Modified Method 3 (use more-specific predicate between gene-chem, add is_set on intermediate nodes):

**May not want to use this because we can't score any results** (SequenceVariants don't have UMLS IDs)...

Of note:
* neurofibromatosis: 134 results, 3 min 45 sec, 5.4 MB (previously took less time but had way too many results >25k)
* noonan syndrome: 1047 results, 9 min 19 sec, 23.4 MB (previousl

[2022-06-22 06:32] colleenXu commented on #453
Modified Method 4 (add predicates between disease-gene, use more-specific predicate between gene-chem, add is_set on intermediate nodes):

Of note:
* Abnormal blood glucose concentration: 0 results because no records found for first qEdge (previously took ~ 20 sec to run, ~380kB, 59 results)
* noonan syndrome: 1802 results, 1 min 10 sec, 19.8 MB (previously had way too many results >19k)

Still pr

[2022-06-22 16:30] erikyao commented on #459
## How to calculate

Let's define:

- $S(x, \dots)$, the set of documents containing all the concepts/terms $x, \dots$.
- $f(x, \dots)$, the number of documents containing all the concepts/terms $x, \dots$.
    - which means $f(x, \dots) = \vert S(x, \dots) \vert$

Given $f(x, y) = 0$, if concept/term $x$ has two children $x_1$ and $x_2$, then we calculate $f(x, y) = \vert S(x_1, y) \cup S(x_2, y)

[2022-06-22 16:31] erikyao commented on #459
**DDL:** would be nice if we finish it mid August.

[2022-06-22 17:00] colleenXu commented on #459
I can get from leiomyosarcoma to sarcoma with this [endpoint](https://documentation.uts.nlm.nih.gov/rest/relations/): https://uts-ws.nlm.nih.gov/rest/content/current/CUI/C0023269/relations?includeRelationLabels=RN&pageSize=1000&sabs=MTH (add your apiKey as a parameter).

I can get in the opposite direction from sarcoma to leiomyosarcoma too: https://uts-ws.nlm.nih.gov/rest/content/current/CUI/C126

[2022-06-22 17:38] erikyao commented on #459
Also from Colleen:

[2022-06-22 20:04] tokebe commented on #449
*(Moving from Slack discussion to here for ease-of-record)*

It's been proposed that a result cap should be imposed to prevent oversized responses. What should this cap be, and are there any special considerations regarding its behavior/implementation?

I imagine the simplest form is something like "If the cumulative results reaches/surpasses <number>, do not proceed with additional template sub-q

[2022-06-22 21:49] andrewsu commented on #449
I agree that this is the simplest form of adding a result cap, and I think it's where we should start...

[2022-06-23 17:05] tokebe commented on #449
Further testing: with @colleenXu's template revision and now template ordering, it's possible now to stop at a reasonable number of results a fair amount of the time. However, it's still possible at times to get very large responses for one template, which causes BTE to stop after that one, but still maintain possibly very large numbers of results. It might be worth figuring out how to pass a resu

[2022-06-24 01:30] ericz1803 commented on #452
Fixed.

[2022-06-24 01:30] #452 closed, assigned to ericz1803

[2022-06-24 04:15] andrewsu commented on #176
given the implementation of our own SemMedDB / NGD scoring system, closing this issue

[2022-06-24 04:15] #176 closed, assigned to andrewsu

[2022-06-24 04:18] andrewsu commented on #178
old use case -- closing...

[2022-06-24 04:18] #178 closed, assigned to nobody

[2022-06-24 04:18] andrewsu commented on #244
completed use case -- closing

[2022-06-24 04:19] #244 closed, assigned to nobody

[2022-06-24 04:22] andrewsu commented on #175
this hasn't resurfaced as a consortium use case -- closing for now

[2022-06-24 04:22] #175 closed, assigned to nobody

[2022-06-24 16:04] andrewsu commented on #450
Pasting the current changelog as a checklist below.  Let's check off the simple things here, and create and link new issues for anything needing more coordination.

- [ ] Add test_data_location in x-trapi https://github.com/NCATSTranslator/ReasonerAPI/pull/339/files
- [ ] Add flag for knowledge_type flag for Creative Mode https://github.com/NCATSTranslator/ReasonerAPI/pull/331/files
- [ ] Add supp

[2022-06-24 16:29] tokebe commented on #449
Additional behavioral question: currently, the user-query subject and object categories and IDs are merged with those of any matching templates, meaning if the user-query specifies `ChemicalEntity`, then sub-queries specifying `SmallMolecule` will *actually* query for both.

Given current template revision efforts, it seems like category merging may not be the best idea, so I've removed it in the

[2022-06-24 17:49] ericz1803 commented on #452
Relevant commits:
https://github.com/biothings/bte_schema_web_react/commit/77994e6ac6c2d23f694d7969f84fc4be681c863e
https://github.com/biothings/biomedical-id-autocomplete.js/commit/90b6d52c687189fc19ce3b70860fdd2b112c5ee0

[2022-06-24 22:01] colleenXu commented on #450
FYI the comment with the timeline as of 6-24: https://github.com/NCATSTranslator/ReasonerAPI/issues/329#issuecomment-1165191070

[2022-06-24 22:11] colleenXu commented on #449
Replying to @tokebe's first post https://github.com/biothings/BioThings_Explorer_TRAPI/issues/449#issuecomment-1164660364, first paragraph on "too many results / takes too long":

* I'm not sure what "sub-query time-outs" means. Perhaps stopping the entire sub-querying process after a certain amount of time? That sounds somewhat interesting (an arbitrary limit, but also sounds relatively simple to

[2022-06-24 22:31] ariutta commented on #451
I have a work-in-progress version I pushed today. We'll need to double check the specifics of how the clustering is being done, but this is the first version where you can see some clustering by PFOCR figure. To see it right away, scroll down to the "View TRAPI Results Clustered by PFOCR Figure" section.
https://github.com/wikipathways/pathway-figure-ocr/blob/master/notebooks/bte_clustering.ipynb

[2022-06-24 22:39] colleenXu commented on #449
Replying to @tokebe's first post https://github.com/biothings/BioThings_Explorer_TRAPI/issues/449#issuecomment-1164660364, second paragraph on "is it okay to do only the 1-hop and finish":
* My view has been that it's fine.
    * One-hops seem to give good answers
    * I've been under the impression that the UI team thinks these "creative mode" queries will run quickly and return relatively easy

[2022-06-24 22:44] colleenXu commented on #449
I'm a little confused by @tokebe 's second comment https://github.com/biothings/BioThings_Explorer_TRAPI/issues/449#issuecomment-1165737767:
* I saw issues with merging the UI's incoming query (which may have biolink:Drug, ChemicalEntity, whatever) with what's in the templates, because I'm not accounting for this when I'm designing / testing the templates for their categories / predicates. For exa

[2022-06-27 16:06] tokebe commented on #449
### In response to @colleenXu's first response:

I've introduced undue confusion here by used the term "sub-query" instead of something like "template-query" (I should change sub-query to template-query in the new code's logging as well...). Each template is handled as its own independent query, just bypassing our endpoints and with some special handling. What I was proposing was either passing a

[2022-06-27 16:15] tokebe commented on #449
Regarding how many results to limit creative mode to, I propose a two-number method.

The first number, X, dictates when to stop. If the queries added together have X or more results, don't execute any more templates.

The second number, Y, can be a sort of hard-coded buffer. If the currently-executed results are less than X, we only add the newest query's results if that number plus X is less tha

[2022-06-27 17:04] andrewsu commented on #451
A few thoughts on potential next steps:

* Just so we can clearly communicate the procedure to others (and to ourselves), I think sketching out a schematic and/or a block of psuedocode would be very useful.
* It would be useful to run the procedure through some additional use cases where the "right answer" might be more apparent
    * https://github.com/NCATSTranslator/testing/issues/157 -- this i

[2022-06-27 17:51] colleenXu commented on #449
@tokebe

vocab:
* Yeah, I've been calling "template-queries" (individual queries within creative mode) vs "sub-queries" (queries to the APIs for each hop within an individual query).

Regarding limits, I've been assuming:
* templates are run one-at-a-time in order
* Hmmm, maybe limit of 1000 total results (unique drugs) == X the first number. This means stopping execution / merging results sets on

[2022-06-27 18:00] colleenXu commented on #449
@tokebe also adding a note on what another team is doing to "recognize creative-mode and its qNodes" (Translator Slack) https://ncatstranslator.slack.com/archives/C013Q5TVC87/p1656113934859089?thread_ts=1656022814.576499&cid=C013Q5TVC87

[2022-06-27 18:04] tokebe commented on #449
This brings up an interesting point -- currently, I have no special behavior for multiple IDs. If the user/ui supplies multiple IDs, they're all merged in an used in template-queries. Should we require that the user/ui query has only 1 ID?

[2022-06-27 18:37] tokebe commented on #449
Slight caveat to the X + Y method -- I can only have that take affect after the first template-query, or else it could return just a little over the proposed 1000 + 200 limit and then nothing gets returned. So there's still no guarantee we're returning 1200 or fewer results in the event the first template gets more, just a decent likelihood...

[2022-06-27 22:07] colleenXu opened #461 "Refining creative-mode templates for Sept 2023 release"
Making a new issue to track the work related to writing creative-model query templates (involves testing them against diseases in individual queries, and deciding the order to run them in....).

Related to previous comments in #449 and #453.

[2022-06-27 22:07] colleenXu commented on #453
Relay is over; closing in favor of https://github.com/biothings/BioThings_Explorer_TRAPI/issues/461

[2022-06-27 22:07] #453 closed, assigned to colleenXu

[2022-06-28 00:00] ericz1803 commented on #232
The problems connecting the BTE TRAPI output to the ARAX NGD service were fixed in https://github.com/RTXteam/RTX/issues/1634 so it might be worth considering using it for scoring.

**How the ARAX NGD scores were retrieved**
The output from querying `https://api.bte.ncats.io/v1/query` was sent to `https://arax.ncats.io/api/arax/v1.2/query` with the `workflow` field changed to
[code]
Instead of bei

[2022-06-29 16:59] colleenXu commented on #450
Note that TRAPI 1.3 isn't frozen yet, so changes are still incoming
* https://github.com/NCATSTranslator/ReasonerAPI/pull/340/files
* https://github.com/NCATSTranslator/ReasonerAPI/pulls

[2022-06-29 18:36] colleenXu opened #462 "Disease / PhenotypicFeature conflation"
Translator hasn't made a decision on conflating `Disease` and `PhenotypicFeature` yet (basically the same as replacing them both with their parent `DiseaseOrPhenotypicFeature`).

However, there have been multiple times where it would have been useful to bundle them together:
* Treat a query-graph QNode with the `"categories": ["biolink:Disease"]` or `"categories": ["biolink:PhenotypicFeature"]` as

[2022-06-29 18:50] colleenXu commented on #461
TDLR: There's still work:
* Does the corrected notebook need to run on the latest DrugMechDB data?
* Review short metapaths from that notebook for use as templates (cells 48, 51?) Max of 3 [qEdges](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/449#issue-1247208784)
* Write / refine templates. Remember design so that individual results within them == unique drugs (using is_set parame

[2022-06-29 19:30] colleenXu commented on #449
Noting some old UI discussion of creative-mode in internal Translator Slack: https://ncatstranslator.slack.com/archives/C02PG1W7HD0/p1651610305586929

[2022-06-29 19:57] colleenXu commented on #449
recording the "Chris Bizon" provided incoming/creative-mode query:

[code]

[2022-06-29 20:02] colleenXu commented on #449
Also looks like we decided not to run the literal edge. We previously chose to run the literal [edge](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/449#issuecomment-1145300668), but I couldn't find a documented reason why we decided not to.

I think this is fine. We basically run the "literal edge" with the first template.

---

And we decided not to do a time-limit on each template

[2022-06-29 20:08] colleenXu commented on #462
Note (would open another issue if we decide it): we may also want to conflate SmallMolecule / Drug (and Polypeptide) -> and make them go up to ChemicalEntity...

[2022-07-01 17:41] ericz1803 commented on #366
The relation between `central nervous system myelination (GO:0022010)` and `central nervous system myelin formation (GO:0032289)` is `part_of`. If we take the conservative approach and only use `is_a` relations, then this original example may not be fixed.

[2022-07-01 23:37] khanspers commented on #443
As a separate use case, Alex asked me to check if known treatments for AML were found in BTE, based on a [publication](https://aacrjournals.org/cancerdiscovery/article/10/4/506/2495/Advances-in-the-Treatment-of-Acute-Myeloid). Results are in this [spreadsheet](https://docs.google.com/spreadsheets/d/1ynsXYU5zqy6e02Ef6nYGKIF41wnqKQBktQ6kQygRrcc/edit?usp=sharing): Several treatments were found, but s

[2022-07-02 08:03] colleenXu commented on #450
Frozen June 30th

Pasting from internal Translator [Slack](https://ncatstranslator.slack.com/archives/CSS752SB0/p1656702232706879):

[2022-07-05 21:29] ariutta commented on #451
I updated the documentation to help explain what's going on (edit: for the latest, read the documentation in any of the updated notebooks in the two comments after this one). Here's the updated notebook with the previous query, plus the queries you mentioned:

- [RAB13 query](https://github.com/wikipathways/pathway-figure-ocr/blob/066e759b70f5f5b0a932737ed5e21498b2c1440d/notebooks/bte_clustering.i

[2022-07-06 06:41] colleenXu commented on #450
My analysis of the changelog AND 1.2 -> 1.3 comparison, Part 1

We are now using this comment as the "primary" source of "what we are doing":

This has some tasks that aren't in the changelog

EDIT: DONE

## Highest Priority

aka things are going to break big if we don't do this

### Mostly Jackson / a dev

A. [Add knowledge_types support to /meta_knowledge_graph](https://github.com/NCATSTranslato

[2022-07-06 17:01] colleenXu commented on #450
These are things that still need clarification!!! Related to getting the Highest Priority stuff done (above post)

<br>

EDIT: based on Translator Slack discussions and this [update](https://github.com/NCATSTranslator/ReasonerAPI/issues/329#issuecomment-1176914073), it seems like the July 14 (KPs) / July 28 (ARAs) is for non-ITRB dev.

We have this done.

---

EDIT: at the moment, it seems like we

[2022-07-06 17:33] colleenXu commented on #450
My analysis of the changelog AND 1.2 -> 1.3 comparison, Part 2

## Middle Priority

aka little things may break if we don't do this, but overall BTE will work

### Mostly Jackson / a dev

[Add flag for knowledge_type flag for Creative Mode](https://github.com/NCATSTranslator/ReasonerAPI/pull/331/files)
* [x] DONE. check that BTE does "normal / non-creative-mode" behavior when a QEdge has "knowledg

[2022-07-06 17:55] colleenXu commented on #372
note that CIVIC is using a GraphQL API (can we handle this with OpenAPI v3 / x-bte annotation?)

[2022-07-06 23:31] rjawesome commented on #442
I can start working on this, just wondering when I'm done would I make a pull request on the relevant module?

[2022-07-07 00:25] ariutta commented on #451
The analysis and documentation is updated in the following notebooks.

I specified two disease IDs (leukemia and asthma) in the same query just for demo purposes. A user would be unlikely to run this actual query, but I figured this would be a way to see whether the clustering allows a user to see results for  leukemia and asthma.

- [leukemia and asthma (user-specified IDs NOT required)](https://

[2022-07-07 00:32] ariutta commented on #451
I did another set of examples, similar to the previous set:

- [CELECOXIB - Gene - cancer/arthritis (user-specified IDs NOT required)](https://github.com/wikipathways/pathway-figure-ocr/blob/86ca766c4d95fe07fe66d5d89bb38d6ae6868567/notebooks/bte_clustering.ipynb)
- [CELECOXIB - Gene - cancer/arthritis (user-specified IDs required)](https://github.com/wikipathways/pathway-figure-ocr/blob/df3ae82e46

[2022-07-07 03:27] andrewsu commented on #442
correct! If you haven't figured it out already, check with @tokebe on which module this pertains to...

[2022-07-07 17:50] tokebe commented on #442
@colleenXu Could you clarify a few things here, because I'm a little confused with your original post:

- Is the priority order here (earlier being "more preferred"): development -> production -> staging?
- Where does `x-maturity: testing` fit into this priority order?
- And just to confirm, an API should not be used at all if it doesn't have a production x-maturity level?

[2022-07-07 18:23] tokebe opened #463 "Improper merging of PFOCR edge attributes from multiple Records"
When a single edge is derived from multiple Records, the edge attributes appear to be merged improperly, at least in the case of the attribute `figure_url`, `figure_title`, `pmc_reference` from PFOCR. What appears to be happening is that only one `figure_url` is kept, instead of each being merged into an array.

# To replicate

In the workspace:

- Ensure all packages are on `main` branch and upda

[2022-07-07 22:18] colleenXu commented on #442
@tokebe @rjawesome

When I reread this issue, I see it as "can a deployed BTE instance use TRAPI api server urls that match that deployment's x-maturity level"? This is for the TRAPI APIs that are listed in the config file of BTE (aka we ingest them).

 It seems to me to be a bigger issue than the smartapi-kg package....like maybe there needs to be an environmental variable or something that tells

[2022-07-07 22:22] colleenXu commented on #442
More examples:

For BTE's ITRB-CI instance (x-maturity:staging):
* It would not use any TRAPI api server urls that are "lower" aka "development".
* It would use TRAPI api server urls that are also "staging", or "testing", or "production", in that order of preference

For BTE's ITRB-test instance (x-maturity:testing):
* It would not use any TRAPI api server urls that are "lower" aka "development" a

[2022-07-07 22:23] colleenXu commented on #442
I think it's worth asking if there's still confusion regarding this issue, stuff to consider regarding ITRB and how to make BTE different on different instances, and whether we want to modify the logic I just described in the past 2 posts....

[2022-07-07 22:27] colleenXu commented on #463
and maybe only one `figure_title, pmc_reference` is being kept as well...

Basically, I think the "last" Record processed is what is kept (all prior ones are overwritten?)...and instead we want to make the values arrays and add elements to them...

Something like this is already done for other apis ingested through x-bte annotation, like semmeddb (think pubmed IDs) and MyVariant

[2022-07-07 22:35] ariutta commented on #463
Maybe semmeddb would have an equivalent test case to see whether the problem happens there too?

[2022-07-07 22:37] ariutta commented on #463
Without going step-by-step through the code, I'm not aware off the top of my head what would be causing this.

[2022-07-07 22:39] rjawesome commented on #463
I think I figured out where the issue is being caused in the code, I can probably make a PR soon if I am correct?

[2022-07-07 22:46] rjawesome commented on #463
This is the expected behavior, correct? (figure_url and pmc_reference are also arrays). The file I am currently editing for my fix is query_graph_hander/graph/kg_edge.js. Also, would we like to make these fields an array if there is a single value or just keep it as that single value?
![image](https://user-images.githubusercontent.com/16053597/177883823-19ccfa7c-dfba-4b74-9d24-2c97cb4347e2.png)

[2022-07-08 04:05] colleenXu commented on #463
the screenshot looks good, ask @tokebe whether you're working with the correct file.

For single values, I think it's fine to leave them as single values (not 1-element arrays). But if you see something different in the code (like elsewhere single values are converted into 1-element arrays), let us know...

[2022-07-08 15:45] tokebe commented on #463
Screenshot looks good, make a PR as soon as you're ready.

[2022-07-08 20:13] colleenXu commented on #463
on a related note @rjawesome @tokebe I think "sets" (aka unique values only) is more useful than "lists". I've noticed that problem with stuff from MyVariant; look at the civic stuff on edges in the following query.

However, maybe this is something separate enough to be a different issue?

POST to MyVariant specifically: http://localhost:3000/v1/smartapi/09c8782d9f4027712e65b95424adba79/query

[c

[2022-07-08 21:00] rjawesome commented on #463
I can make each attribute into a Set, that should be no problem.

[2022-07-08 21:16] rjawesome commented on #463
@colleenXu Hmm, your query seems to create another issue, apparently, sometimes an array is being put as the attribute in the record, for example for your query, these two arrays are in the two records that combine to form this edge
[code]
So, right now my code is making a set or array of these two. Would we like to flatten these arrays? (we can only do this if we are sure no values themselves are

[2022-07-08 22:30] rjawesome commented on #442
@colleenXu If an environment variable is added for the BTE maturity level, I could modify my code to change the priorities of maturity levels based on the BTE maturity level (my code already gives priority to HTTPS if same maturity level). Just had a question, How do I tell if an API is a TRAPI / x-bte API (ie. if the API should be put through the priority system or not)?

[2022-07-11 15:07] tokebe commented on #442
@rjawesome You can use the environment variable `INSTANCE_ENV`, which will be set to `ci` `test` or `prod` depending on the ITRB instance. If it's relevant we can also set it to `dev` on our dev instance.

[2022-07-11 18:25] rjawesome commented on #442
Alright, I don't think a dev environment variable is necessary as if it isn't ci, test, or prod we can assume it is dev. I was still wondering about how I tell if an API is a TRAPI / x-bte API (ie. if the API should be put through the priority system or not)?

[2022-07-11 19:10] tokebe commented on #450
Based on recent discussion, it appears that ancestor expansion for the MetaKG is not required. With that off the list, the high priority tasks should be completed, pending some additional verification testing.

Additional notes for now:

- `knowledge_type: lookup`: No additional implementation necessary. Lookup behavior is the default behavior, if lookup is provided, the the special cases for crea

[2022-07-11 19:53] rjawesome commented on #462
I believe I have a solution for this issue (worked on the example query you have provided), however I am not sure if I can open a PR on the repository since I already have an open PR on https://github.com/biothings/bte_trapi_query_graph_handler/ (https://github.com/biothings/bte_trapi_query_graph_handler/pull/105)

[2022-07-11 21:17] colleenXu commented on #463
@rjawesome

I think what's happening is that this DBSNP ID actually corresponds to [two hits in MyVariant](https://myvariant.info/v1/query?q=dbsnp.rsid:rs121913521&fields=civic), and the nested nature of the data is what's leading to this...

I think it'd be nice to flatten these arrays and then run a set operation / unique-values-only. I was hoping for something in the end like `["Sensitivity/Res

[2022-07-11 21:45] rjawesome commented on #463
@colleenXu Should be ready for testing, flattening of arrays/usage of set has been implemented.

[2022-07-13 01:55] ariutta commented on #420
Status update: the latest push to the `add_pfocr` branch appears to be getting the desired results. I'm evaluating different test cases to ensure everything works as intended. Also, I may change [this section](https://github.com/biothings/bte_trapi_query_graph_handler/blob/452b2320fbb03bb39a4d0adea5c2774a4efa09d4/src/results_assembly/query_results.js#L453-L497) because it could be hard to understa

[2022-07-13 04:23] colleenXu commented on #449
Recording decisions on what the creative-mode incoming query looks like (from UI / ARS):

1 Disease ID, 1 "treats" predicate

What another team was checking:

- count of qnodes = 2
- count of qedges = 1
- qedge knowledge type = inferred
- qedge subject qnode category in (drug, small molecule, chemical entity)
- qedge object qnode category = biolink:Disease
- count of qedge object ids = 1

[2022-07-13 15:40] andrewsu commented on #462
@rjawesome fyi you can create multiple PRs by creating multiple local branches.  See for examples some of the answers at https://stackoverflow.com/questions/8450036/how-to-open-multiple-pull-requests-on-github...

[2022-07-13 17:07] colleenXu commented on #429
[Done](https://github.com/NCATS-Tangerine/translator-api-registry/commit/5aac70855ebbb6634cb72e746ecf11a9164562e9), with BioThings PFOCR [registered again](http://smart-api.info/registry?q=edeb26858bd27d0322af93e7a9e08761) and [ingested by BTE](https://github.com/biothings/BioThings_Explorer_TRAPI/commit/d33fd406c4a0f6214a04643c8d24f4f5cbd6cedb).

Ongoing [issue](https://github.com/biothings/BioTh

[2022-07-13 17:07] #429 closed, assigned to nobody

[2022-07-13 20:26] colleenXu opened #466 "creative-mode: add TRAPI-log on final number of scored results"
Right now, the execution of each template will have a log in the TRAPI response `logs` section that looks like this:

[code]

It's pretty useful, but creative-mode can involve merging result-sets from different templates.

It's then hard to tell how many of the final results (after this merge) have non-zero scores ("successfully scored"). It would be nice to have that as one of the final logs in t

[2022-07-13 20:37] tokebe commented on #466
This should be pretty straightforward to implement thanks to an extra feature of the `LogEntry` class. You can attach a nearly-arbitrary data object to LogEntries, requiring only a `type` property. For the LogEntry that generates this log, `type: "scoring"` and some attribute to count the number scored/not scored can be added. See [this example](https://github.com/biothings/call-apis.js/blob/30ab1

[2022-07-14 02:57] ariutta commented on #420
The code in the [add_pfocr](https://github.com/biothings/bte_trapi_query_graph_handler/tree/add_pfocr) branch should be correct at the "big picture" level. (It's not necessarily ready for intensive manual testing yet -- I'm still going through different test queries myself.) In general, it appears fast enough, adding from <1 second to about 3 seconds. But some queries do add more time, like 17 sec

[2022-07-14 19:47] #462 closed, assigned to nobody

[2022-07-14 22:10] tokebe commented on #420
Code structure looks good. I'm not sure if the PFOCR question is also directed toward me -- it looks acceptable from BTE's side; as long as the data being saved isn't huge it should be fine. Is there any concern about sending many concurrent queries to PFOCR?

[2022-07-14 22:18] ariutta commented on #420
Thanks, Jackson.

The PFOCR API is actually on a system Kevin set up. @erikyao, since you recently updated it, maybe you'd have a sense of how much load it should be able to handle? I've noticed some queries require retrieving over 40k hits, although most retrieve far fewer than that. Is there something we should do to determine whether the increased load will be OK?

[2022-07-18 18:14] rjawesome commented on #378
To confirm, is the problem with the existing PR (https://github.com/biothings/bte_trapi_query_graph_handler/pull/75) that it doesn't detect all cycles? Also if I were to work on this could I just add to that branch or should I create separate one?

[2022-07-18 18:23] ariutta commented on #378
pinging @colleenXu and @marcodarko for the status on that PR...

[2022-07-19 16:03] tokebe commented on #450
Presently it appears that BTE ignores attributes on node_bindings and edge_bindings. Is discussion required about BTE's handling of this?

[2022-07-19 16:34] tokebe commented on #450
Currently we don't use submitter, but providing it doesn't break anything -- do we want to use it for anything? The TRAPI spec doesn't appear to require that we return it, so we can theoretically ignore it for now.

[2022-07-19 17:30] gtsueng commented on #372
### RGD evaluation
**Does this resource have structured info on relationships between biomedical stuff?**
-RGD has genes, diseases, phenotypes associations that include:
* Gene Ontology levels of evidence annotations manually applied to Gene/disease, QTL/disease, gene/phenotype, QTL/phenotype relationships and others
* Measurement Methods, Experimental Conditions, Clinical Measurement all normaliz

[2022-07-19 18:05] gtsueng commented on #372
### IUPHAR/BPS Guide to Pharmacology evaluation

Does this resource have structured info on relationships between biomedical stuff?
* Disease, Target, Ligand associations: Disease is associated with these targets, and these ligands
* Ligand, drug synonyms, clinical trial associations: Ligand has these synonyms, and is linked to these clinical trials
* Ligand-Target relationships: inhibitor/agonist

[2022-07-19 18:12] rjawesome commented on #411
@tokebe What exactly is a simplified internal object and how would I go about creating/testing it?

[2022-07-19 18:39] tokebe commented on #411
@rjawesome You can save `Record` objects, which are created from the responses of queried APIs and used throughout results-assembly, etc., by running BTE with the environment variable `DUMP_RECORDS=path/to/fileToCreate.json` (or by pausing execution after `Records` have been created+annotated and using built-in `Record` methods, though this is a little more complicated).

You'll want to write this

[2022-07-19 19:38] #402 closed, assigned to nobody

[2022-07-19 19:52] colleenXu commented on #378
Hmm...the work here is a bit old (hard to remember what happened).

I think I tested the PR (mid-December posts) and it didn't seem to work as-expected. I provide some example QGraphs in this issue...

There were also some questions on "what counts as a cycle" regarding edge-directionality (internal [Slack](https://suwulab.slack.com/archives/CC218TEKC/p1639003324355400)). I think the conclusion is

[2022-07-19 19:53] colleenXu commented on #378
Also @tokebe may be good to ping here, in case he remembers anything from that period of time

[2022-07-19 20:00] tokebe commented on #378
I seem to recall the issue was that it failed to detect certain cycle types, and then development was dropped for higher priorities, however I wasn't heavily involved in this issue IIRC.

[2022-07-19 20:09] colleenXu commented on #450
My thoughts on what's left:

* Taking some time to go through these lists in detail and discuss what's left / what to do about it would be good.

* Richard B (SRI) reached out to me over the test_data_location / SRI-testing-harness format. I think the format for ARAs isn't set yet, and I discussed the nuances of asking for test triples for non-TRAPI stuff. It seems like we'd only provide test-trip

[2022-07-19 20:15] rjawesome commented on #411
@tokebe To confirm, these are the two things to test:
1. Test the behavior of the ``is_set`` parameter
2. Test that same records with different predicates aren't merged?

Is there anything else that I am missing?

[2022-07-19 20:31] rjawesome commented on #378
Alright I believe that I have made a better cycle-detection algorithm so I'll make a separate PR for that soon. I chose to ignore edge directionality as that is what seemed to be mentioned in the earlier PR.

[2022-07-19 20:37] tokebe commented on #411
You only need to test that records that are otherwise the same but have different predicates are not merged into one response edge/result. No worries for `is_set` as far as this issue is concerned.

[2022-07-20 06:17] colleenXu commented on #443
Perhaps it may be useful to discuss / review...

## A. What are the goals of this exercise?
* learn where the gaps are in BTE (what is not working well, missing)
* can BTE find correct / reasonable answers to these "easy" cases?
* is there a set of instructions and queries we can recommend to handle cases like this (much easier to do and to teach others, compared to giving them a blank slate)?

##

[2022-07-20 06:19] colleenXu commented on #443
Also, my stab at Case 1 (the first steps are probably the same as Kristina's, I just wrote them out in great detail here :P)

[code]

## First step: find curies

How to find variant IDs from this?
* It looks like the genome coordinates are from an older build (GRCh37). Using the gene + p-dot notation (peptide location and effect) is therefore easier than using the NM number or c-dot notation (nucl

[2022-07-20 15:03] #411 closed, assigned to nobody

[2022-07-20 15:54] ariutta commented on #420
For this first iteration, I just worked with NCBIGene identifiers as the first step in getting PFOCR results into BTE. Next, we'll want to handle other identifiers. PFOCR uses `NCBIGene` for genes and `MESH` for chemicals and diseases, but we want to match TRAPI results that use other identifiers. I know there's been work related to this, and I'd like to have a meeting sometime to discuss the best

[2022-07-20 17:37] #428 closed, assigned to nobody

[2022-07-21 16:04] rjawesome commented on #367
@tokebe Do you know how this can be reproduced, the webpage from your original comment gives a 404 and ``process.abort`` is apparently not allowed in a child process?

[2022-07-21 16:53] tokebe commented on #367
No, I currently don't have a means of reproducing this. Possibly worth just leaving (or even closing) this issue, as it is evidently very rare and hard to debug.

[2022-07-22 21:02] colleenXu commented on #450
Note:
* CHP is an example of a TRAPI KP that plans to use query_id in results (aka node-expansion stuff where the "id" field of the results won't match what was asked). Internal Translator Slack [link](https://ncatstranslator.slack.com/archives/CSS752SB0/p1658500521570019?thread_ts=1658496601.100859&cid=CSS752SB0)

[2022-07-25 20:03] tokebe opened #470 "Improper count of retrieved records leads to improper count of APIs that returned results"
[This section of code](https://github.com/biothings/call-apis.js/blob/937b6b4c65a54ba1155ac3584a1b32b1410e2034/src/query.js#L108-L129) counts transformed records retrieved from queries. It fails to take into account that some "transformed records" can be `undefined` in some circumstances, which shouldn't count toward retrieved records.

This count is also used in counting which APIs returned resul

[2022-07-26 04:18] colleenXu commented on #454
@tokebe perhaps this can be an issue for the interns (Listing the node semantic types / ID prefixes correctly based off the MetaEdge info  - from x-bte annotation in most cases, but also from TRAPI stuff for the v1/query endpoint)...

I think using MetaEdge info only (not adding the prefix lists that are in SRI Node Normalizer) may be better - since cross-mapping between prefixes / namespaces isn'

[2022-07-26 04:48] colleenXu commented on #463
@rjawesome @tokebe If I try to run the example query from the first post, I get a status 500 response.

<details>
<summary>console logs</summary>

[code]

</details>

[2022-07-26 05:39] rjawesome commented on #463
Ah I must have made a typo when copying the code over to the other PR... Fix pushed.

[2022-07-26 05:46] colleenXu commented on #450
Note on the migration:

* May need to watch whether TRAPI KPs move to different registrations for their 1.3 / latest tools. See notes https://github.com/biothings/BioThings_Explorer_TRAPI/pull/467#issuecomment-1195031331 and https://github.com/biothings/BioThings_Explorer_TRAPI/issues/472

[2022-07-26 17:09] rjawesome commented on #454
I have checked the code: Right now it is using ids.js for the nodes section. I suppose the intended behavior is that the nodes correspond to all nodes that are contained in the MetaKG operations?

[2022-07-26 18:28] colleenXu commented on #454
yeah....the idea is for it to do something else (not the ids.js...)

[2022-07-27 06:50] colleenXu commented on #433
Done with https://github.com/biothings/BioThings_Explorer_TRAPI/blob/main/docs/README-types-of-apis.md

[2022-07-27 06:50] #433 closed, assigned to nobody

[2022-07-27 17:06] colleenXu opened #472 "part of migration to TRAPI 1.3: API_LIST and Smartapi yamls"
The TRAPI KPs that we use may put their TRAPI 1.3 tools in separate registrations.

Then in our code for TRAPI 1.3 (currently on the `trapi1.3` branches), we then want to change our API_LIST entries to point to the TRAPI 1.3 registrations.

This involves ~ weekly checking the SmartAPI registry for the APIs we ingest, currently Automat stuff, COHD, and CHP...

[2022-07-27 17:40] colleenXu opened #473 "update BTE to biolink-model 2.4.8"
Multiomics EHR risk kp api needs to have 2.4.8 since it has new predicates it needs to use

Process to update biolink (mostly @tokebe, some me)
* [x] Dev makes PR in biolink-model repo
* [x] CX Reviews 2.4.8 (differences from current 2.2.13)
* [x] basic testing of PR
* [x] merging it to main branch + deploying it

Parallel process (mostly me)
* [x] Updating Multiomics EHR risk kp api x-bte annotat

[2022-07-27 17:40] colleenXu commented on #473
https://github.com/biolink/biolink-model/releases/tag/v2.4.8

[2022-07-27 17:43] colleenXu commented on #472
and a related thing...having copies of our own SmartAPI yamls updated for TRAPI 1.3:

[2022-07-27 18:38] tokebe commented on #473
PR [here](https://github.com/biothings/biolink-model.js/pull/29)

[2022-07-27 21:09] colleenXu commented on #472
And an easy way to track what KP tools there are and their x-maturity levels and urls and what trapi version they are https://arax.ncats.io/?smartapi=1

[2022-07-28 00:24] rjawesome commented on #454
From what I understand, for TRAPI APIs, the metakg edges are derived from predicates.json (in the Sync/AsyncOperationsBuilder), which currently contains no information on the ID prefixes. I was thinking of changing predicates.json to include this info, but that would also require changing the operation builders in smartapi-kg and potentially changing the structure of predicates.json. Is there some

[2022-07-28 15:14] tokebe commented on #378
Resolved by biothings/bte_trapi_query_graph_handler#111

[2022-07-28 15:14] #378 closed, assigned to nobody

[2022-07-28 15:20] tokebe commented on #444
Should be resolved by https://github.com/biothings/bte_trapi_query_graph_handler/pull/106?

[2022-07-28 15:34] tokebe commented on #466
Resolved by https://github.com/biothings/bte_trapi_query_graph_handler/pull/114

[2022-07-28 15:34] #466 closed, assigned to mnarayan1

[2022-07-28 17:29] tokebe opened #474 "Migrate GitHub Workflow tests to workspace testing"
Due to the increase in package interdependency, GitHub Workflow testing should use the workspace to ensure that each package has access to possible cross-dependencies.

[2022-07-28 17:59] colleenXu commented on #444
I think so? I didn't test this [one](https://github.com/biothings/bte_trapi_query_graph_handler/pull/106#issuecomment-1183657460) though...

[2022-07-28 21:44] rjawesome commented on #454
Should be fixed with the new commits/PRs. Also, just a note I found out there were a few ID prefixes from TRAPI which were the same except for some numbers, is this expected?
[code]

[2022-07-29 04:36] colleenXu commented on #454
@rjawesome @tokebe I haven't tested yet, since I made some posts in the bte-trapi PR asking for discussion.

For the post [above](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/454#issuecomment-1198662807), it looks like some APIs putting incorrect information in those sections (those look like some kind of food database's IDs...). We don't want to remove all id-prefixes that don't q

[2022-08-01 06:55] colleenXu commented on #473
Differences between 2.2.13 (current) and 2.4.8 (upgrading-to) that we might care about (mostly for CX to deal with)

<br>

Predicates:
* deprecated
    * `biolink:has_real_world_evidence_of_association_with` (line 1733)
    * `biolink:approved_to_treat` (line 4822; so its inverse is deprecated too)?
* added
    * `biolink:associated_with_likelihood_of` (starts line 1745) / `biolink:likelihood_asso

[2022-08-01 06:56] colleenXu commented on #473
Questions for @tokebe:
* how do we handle deprecated stuff (property under the predicate or node category/semantic-type, not removed from yaml yet). I notice that often the hierarchy (is_a) is removed, so that might lead to some "undefined" predicates??
* does BTE strip any unintentional extra white-space from the x-bte annotations (think predicates and input/output IDs and types...)? sometimes I

[2022-08-01 15:57] tokebe commented on #473
- It would appear that BTE doesn't take into account the deprecated property in the `biolink-model` package, nor seemingly anywhere relating to the biolink model. I'm not sure I follow on how this might lead to undefined predicates, could you be more specific?
- If you mean trailing whitespace specifically in the yamls...I'm reasonably sure that this kind of whitespace is trimmed when yaml is conv

[2022-08-01 20:14] colleenXu commented on #473
"Deprecated": Actually....oops this shouldn't be a problem. I think it's fine that we don't take into account `deprecated`. It's more for curators/x-bte annotation writers and editors....to know that we shouldn't use those predicates and node-category/semantic-types anymore...
* My worry was that if a predicate or node-category/semantic-type is deprecated AND its `is_a` property is removed, BTE wi

[2022-08-01 20:20] colleenXu commented on #473
2nd point on trailing white-space on yamls:
* yep that was my worry. I don't see any trailing whitespaces (` "` or `" `) in BTE's data/predicates.json. I do see some in the smartapi_specs.json but not for x-bte annotation (for descriptions. although only a few are true issues for formatting. Others are legit).
* I'm not aware of how to use an auto-formatter for yaml....I only just found one for Ma

[2022-08-01 20:21] colleenXu commented on #473
And 3rd point, you misspelled `biolink:original_knowledge_source`....I presume you did search correctly :P

[2022-08-01 20:35] tokebe commented on #473
I actually searched for `knowledge_source` more generally because I recalled some instances of that, but none of them had `original_`. But yes, I just typed my answer quickly :)

[2022-08-02 16:31] andrewsu opened #475 "creative/inferred mode not using `canonical_predicate` from BioLink Model"
BioLink Model specifies a `canonical_predicate` property, which is meant to indicate the direction of the edge that should be returned in TRAPI results.  For example, [treats](https://github.com/biolink/biolink-model/blob/master/biolink-model.yaml#L4631) is listed with `canonical_predicate: true`, and [treated_by](https://github.com/biolink/biolink-model/blob/master/biolink-model.yaml#L4678) lists

[2022-08-02 17:08] tokebe commented on #475
Huh, I thought this was going to be a surprisingly complicated bug within the handling code, but it turn out it's just that our query templates aren't in the canonical direction.

I'm not 100% sure if there's an issue with BTE in general not respecting `canonical_predicate`, or if the query graph directionality (in this case in our templates) is taking precedence in the response formatting. I don'

[2022-08-02 17:09] tokebe commented on #475
@colleenXu could you make a PR fixing the templates? I'd do it but I'm afraid of breaking them >.<

[2022-08-02 17:10] tokebe commented on #475
@andrewsu do we want the canonical direction to take precedence over whatever direction is presented in a query, generally speaking?

[2022-08-02 17:29] andrewsu commented on #475
@tokebe thanks for the quick analysis.  From https://github.com/NCATSTranslator/TranslatorArchitecture/blob/master/README.md,

So for the moment, I think we are safe assuming that all input queries will come in the canonical direction, and we would be fine matching that (assuming that's the current behavior).

[2022-08-02 17:33] tokebe commented on #475
Yes, AFAIK we return in query-direction, so if we're only queried in canonical direction, we should be fine (possibly worth making a low-priority issue).

[2022-08-02 17:46] tokebe opened #476 "Respect canonical predicate direction"
Most details in #475. Currently, BTE responds using query direction. If it's not overly complicated, we should assemble our response to use the Biolink canonical direction for predicates.

[2022-08-02 19:14] colleenXu commented on #475
The templates were specified in "non-canonical-predicates" because the QGraph was then easier to read (start with a Disease and find Chemicals). I am editing the creative-mode templates now to make them fit "canonical directions".

[2022-08-02 22:47] colleenXu commented on #476
Copied from internal Slack:

---

Colleen

Andrew:

[2022-08-03 17:11] #470 closed, assigned to mnarayan1

[2022-08-03 17:11] tokebe commented on #470
Resolved by https://github.com/biothings/call-apis.js/pull/57

[2022-08-04 15:43] tokebe opened #478 "Manual smartapi_sync error handling"
Currently, if an error is caught during automated syncing of SmartAPI, the failure is logged and BTE moves on. During manual syncing such as `npm run smartapi_sync`, however, an error in the initial request causes the process to crash with a less-than-informative error. This error should be caught and logged similarly to the automated run.

Additionally, if both`API_OVERRIDE` and `only_overrides`

[2022-08-05 16:54] #419 closed, assigned to nobody

[2022-08-05 17:09] tokebe opened #479 "Stats tracking?"
We could make use of Redis to store information about requests received by BTE, which in aggregate might be useful in future development/bug fixing. These stats could be accessible via a new GET endpoint returning a simple JSON summary. Obviously, we'd only want to keep anonymous and computationally useful stats, such as request counts, rather than request sources or anything like that. Some poten

[2022-08-05 18:44] ariutta commented on #420
For much of the latest discussion on this issue, please refer to the PR:
https://github.com/biothings/bte_trapi_query_graph_handler/pull/109

[2022-08-08 19:35] rjawesome commented on #479
I've started work on the stats-tracking branch of this repo. Right now it logs # of successful, failed (server), and failed (user) requests. Please let me know if you have any feedback for the code.

[2022-08-08 19:41] tokebe commented on #444
Marking as resolved (forgot to add that I had tested the above-mentioned PR prior to merging).

[2022-08-08 19:41] #444 closed, assigned to tokebe

[2022-08-08 20:03] tokebe commented on #479
Looks good so far, very clean use of middlewares, though I believe you might want to hook the middleware through the response `finish` event rather than overriding the `end` method.

This issue can take lower priority than anything else you might have on your plate. Priorities within this issue I would say are definitely the Concurrent sync request high water mark and rolling average of requests p

[2022-08-08 22:17] colleenXu commented on #450
Currently still pending from this [master-post](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/450#issuecomment-1176496343) of not-high-priority stuff:

* Error codes related to limits 413 / 429 and submitter property. Discussed in internal lab Slack. Probably related to #479
    * BTE sending error codes to others is done ([Jackson](https://suwulab.slack.com/archives/CC218TEKC/p1658

[2022-08-08 23:11] rjawesome commented on #479
Alright, right now I've coded up a concurrent request counter. For now I am just hooking it to when a request starts/ends in the middleware (see latest commit). Is that fine or do I need to modify it so it only considers the sync requests or specific types of requests?

[2022-08-09 13:54] tokebe commented on #479
The hope was to be able to compare sync to async usage, so you might want a separate middleware for that one.

[2022-08-09 14:21] tokebe commented on #450
- 429 from KPs is handled in https://github.com/biothings/call-apis.js/compare/trapi1.3
  - BTE skips 429 queries until `retry-after` has passed
- 413 was agreed on to wait until we see KPs advertising limits I believe? As it's easier to avoid than to handle (currently, it's handled by marking the query as failed)
- Will push a commit to add submitter property changes

[2022-08-09 14:27] rjawesome commented on #479
Does the other statistics, such as request failure rate, also need to be localized for sync/async

[2022-08-09 15:28] tokebe commented on #479
No, only the two in the original post that mention sync/async need to be broken up that way.

[2022-08-09 16:12] andrewsu opened #480 "prematurely hitting edge threshold?"
In the [latest update](https://github.com/NCATSTranslator/testing/issues/223#issuecomment-1209536138) to https://github.com/NCATSTranslator/testing/issues/223, BTE reports 3 results, whereas past runs have returned ~500 results.  It looks like BTE is prematurely hitting our edge count threshold.  This is an inferred / creative mode query, but I'm not sure this is specific to inferred / creative mo

[2022-08-09 16:19] tokebe commented on #480
This would appear to be inferred mode-only behavior. Template-0 returns 3 results, and then Template-1 returns 3560 results, which exceeds the "absolute maximum" (Creative-query limit of 1000 + 500 buffer), which triggers behavior to toss out that template's results and cease operations.

Two things here:
1. The logs for Template-1 are also tossed out, which may be unhelpful in tracking what exact

[2022-08-09 16:28] tokebe commented on #480
### Current Behavior of inferred-mode cutoffs:

*For the below explanation, I'm using "accepted results" to refer to results which have been added to the final response, whether by concatenation or result-merging.*

1. If at any point a Template's results, plus the currently accepted results, exceeds 1500, BTE discards the template's results and stops execution, returning only the currently accept

[2022-08-09 19:38] tokebe commented on #450
Added submitter handling. New Behavior:

- Always start with `infores:bte`
- If `INSTANCE_ENV` defined, attach x-maturity (for example, `infores:bte; bte-dev`)
- If original query had `submitter`, include this information (for example, `infores:bte; subquery for client "clientSubmitterProperty"`

Each of these can combine, so you could get `infores:bte; bte-dev; subquery for client "clientSubmitte

[2022-08-09 21:40] colleenXu commented on #450
Noting `trapi1.3` branches in:
* [bte-trapi](https://github.com/biothings/BioThings_Explorer_TRAPI/tree/trapi1.3)
* [call-apis](https://github.com/biothings/call-apis.js/tree/trapi1.3)
* [query-handler](https://github.com/biothings/bte_trapi_query_graph_handler/tree/trapi1.3)
* [smartapi-kg](https://github.com/biothings/smartapi-kg.js/tree/trapi1.3)?

and this [branch](https://github.com/NCATS-Tan

[2022-08-10 03:12] colleenXu commented on #472
done for now, 8/9, but this is still an ongoing task. see notes [here](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/450#issuecomment-1208674665), commits in bte-trapi repo trapi1.3 branch from this day https://github.com/biothings/BioThings_Explorer_TRAPI/commits/trapi1.3 and commits in translator-api-registry from this day https://github.com/NCATS-Tangerine/translator-api-registry

[2022-08-10 06:10] colleenXu commented on #450
@tokebe on the [limits](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/450#issuecomment-1209447559)/413 thing: COHD TRAPI 1.3 (which the trapi1.3 branch uses) does set a rate_limit and a batch_limit. Pretty stringent ones too...the [yaml](https://raw.githubusercontent.com/WengLab-InformaticsResearch/cohd_api/TRAPI_1.3_Updates/cohd/TranslatorReasonerAPI.yaml) linked in the [registrati

[2022-08-10 06:14] colleenXu opened #481 "SRI testing harness data"
Cut from https://github.com/biothings/BioThings_Explorer_TRAPI/issues/450#issuecomment-1176496343.

[Add test_data_location in x-trapi](https://github.com/NCATSTranslator/ReasonerAPI/pull/339/files). Would be mostly a Colleen thing. This is [optional in the schema](https://github.com/NCATSTranslator/translator_extensions/pull/17#issuecomment-1175589830). However, it's related to the [SRI testing h

[2022-08-10 06:16] colleenXu commented on #475
Closing for now since the linked PR addresses this for now. And the related issue is low priority.

[2022-08-10 06:16] #475 closed, assigned to tokebe, colleenXu

[2022-08-10 06:56] colleenXu opened #482 "discuss TRAPI 1.3 constraints: 3 types"
This is for brainstorming these "constraint"/post-query filtering behaviors (we can make other issues once we have a concrete idea of the requirements and logic/behavior we want).

The stuff below was previously in #450 posts but has been moved here and edited.

---

Issues:
* This is a BIG set of tasks, lots of parts (not quite clear how it's all going to work or work together yet...)
* The logic

[2022-08-10 06:58] colleenXu commented on #482
These are quick example queries I wrote to [test](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/450#issuecomment-1176496343) some TRAPI 1.3 code. I want to do some more thinking / writing before using these as examples / showing these to others in Translator.

(for example I think the QEdge.qualifier_constraints example needs valid biolink-model 3.0 predicates...)

<details>
<summar

[2022-08-10 07:03] colleenXu commented on #380
Closing in favor of #482

[2022-08-10 07:03] #380 closed, assigned to nobody

[2022-08-10 07:04] colleenXu commented on #344
closing in favor of #482

[2022-08-10 15:09] tokebe commented on #450
For the units, [that would appear to be the case](https://github.com/NCATSTranslator/ReasonerAPI/pull/294#issuecomment-919257380). I'll get to work seeing how best to handle these limits. I imagine rate limiting will be the more complicated issue...

[`retry-after`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After) is an HTTP header typically sent along with a 429 response. It

[2022-08-10 17:14] colleenXu commented on #449
From the 8/10 lab meeting on Translator stuff (added feature):

(Jackson's plate of work) "should be technically feasible to "top off" results and trim resulting KG"
* Once cap is reached (>1500 if we added the incoming-template results to the current set of result)...add the incoming template-results and allow result merging
* Then cut off the bottom of the results to reach the cap (1500) and tri

[2022-08-10 17:17] colleenXu opened #483 "scrolling POST-queries to retrieve all hits (pending biothings apis only for now)"
From 8/3 and 8/10 lab meetings on Translator

with_total Implemented in [this PR](https://github.com/newgene/biothings.api/pull/52)
Yao: deployed for biothings API ("pending APIs") at biothings.ncats.io. Not on core apis (My…dot info), waiting to see how the pending goes…

idea is to use this so we can retrieve all hits for all query-terms when doing a batch-query/POST request.

---

(Jackson's pl

[2022-08-10 17:19] colleenXu commented on #420
Some discussion from 8/10 lab meeting on Translator stuff:

Plan: have Chunlei do some more investigation
* look into how to do batch queries where each entry has set-logic for multiple fields (and these entries can have varying lengths of stuff to match)
* if we can't do this on the PFOCR API, then we _could_ do this as post-processing within the custom PFOCR handler in BTE
![Untitled](https://us

[2022-08-10 19:17] colleenXu commented on #480
(copied from https://github.com/biothings/BioThings_Explorer_TRAPI/issues/449#issuecomment-1211012324 but maybe the discussion is in this separate issue?)

From the 8/10 lab meeting on Translator stuff (added feature):

(Jackson's plate of work) "should be technically feasible to "top off" results and trim resulting KG"
* Once cap is reached (>1500 if we added the incoming-template results to the

[2022-08-10 20:46] colleenXu commented on #480
Also I plan to look into this some more

[2022-08-10 21:33] colleenXu opened #485 "change operation listed in workflow section of response"
BTE's response has a workflow section, that currently looks like this.

[code]

We want to change this "lookup" to "lookup_and_score" since that's what we're currently doing. (Internal lab [Slack](https://suwulab.slack.com/archives/CC218TEKC/p1660158191053599), internal Translator [Slack](https://ncatstranslator.slack.com/archives/C01D1V8G4PN/p1658864279438009?thread_ts=1657566687.648659&cid=C01D1

[2022-08-11 19:07] tokebe commented on #450
I've implemented support for `batch_size_limit`. Please note that there is now a [smartapi-kg `trapi1.3` branch](https://github.com/biothings/smartapi-kg.js/tree/trapi1.3) in order to support this.

Rate limit support is surprisingly complex to implement, due to both the nature of query batches and the fact that BTE has multiple processes and threads operating at any given time, each of which woul

[2022-08-11 19:23] khanspers commented on #443
[code]
## First step: find curies

- Search Clinvar for gene name (NPC1) and p-dot notation. Note that pGLN905* should be written as p.Gln905Ter.
- The [variant](https://www.ncbi.nlm.nih.gov/clinvar/variation/417625/?new_evidence=false) is in Clinvar submitted by Rady's. Clinvar variation ID 417625 Clinvar allele ID 404603, and a dbSNP ID [rs917070773](https://www.ncbi.nlm.nih.gov/snp/rs917070773)

[2022-08-11 22:40] khanspers commented on #443
[code]
## First step: find curies

- Search Clinvar for p-dot notation.
- The [variant](https://www.ncbi.nlm.nih.gov/clinvar/variation/941054/?new_evidence=false) is in Clinvar with variation ID 941054 Clinvar allele ID 933978, and a dbSNP ID [rs761268464](https://www.ncbi.nlm.nih.gov/snp/rs761268464).
- Search HPO for lethargy -> [HP:0001254](https://hpo.jax.org/app/browse/term/HP:0001254).
- Sea

[2022-08-12 04:25] colleenXu commented on #480
This is actually due to the Automat registration change, which was addressed by https://github.com/biothings/BioThings_Explorer_TRAPI/commit/280226981c25f1a072b6c8c3002a8fc0372478f5 and I think @tokebe deployed earlier today (internal lab Slack [link](https://suwulab.slack.com/archives/CC218TEKC/p1660235208538239))?

---

What I did:

This is the ARAX link for the Huntington's creative-mode query

[2022-08-12 04:26] colleenXu commented on #480
I still think that the feature described [above](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/480#issuecomment-1211153987) from the lab meeting is still useful, and we'd want it soonish (since code freeze-ish is August 29?)

[2022-08-12 05:08] rjawesome commented on #485
The two PRs combined should fix the issue

[2022-08-12 18:06] khanspers commented on #443
[code]
## First step: find curies

- Search Clinvar for gene (ALDH7A1) and p.Arg110Ter.
- The [variant](https://www.ncbi.nlm.nih.gov/clinvar/variation/17995/?oq=ALDH7A1[gene]+AND+p.Arg110Ter[varname]+&m=NM_001182.5(ALDH7A1):c.328C%3ET%20(p.Arg110Ter)) is in Clinvar with variation ID 17995 Clinvar allele ID 33034, and a dbSNP ID [rs121912708](https://www.ncbi.nlm.nih.gov/snp/rs121912708).
- Search

[2022-08-12 18:08] tokebe commented on #480
"top off" behavior implemented [here](https://github.com/biothings/bte_trapi_query_graph_handler/pull/119)

[2022-08-12 20:08] khanspers commented on #443
[code]
## First step: find curies

- Search Clinvar for gene (SLC2A1) and p-dot notation
- The [variant](https://www.ncbi.nlm.nih.gov/clinvar/variation/986351/?oq=SLC2A1[gene]+AND+p.Pro401Leu[varname]+&m=NM_006516.4(SLC2A1):c.1202C%3ET%20(p.Pro401Leu)) is in Clinvar with variation ID 986351 Clinvar allele ID 974478, and a dbSNP ID [rs1643441930](https://www.ncbi.nlm.nih.gov/snp/rs1643441930). (Sub

[2022-08-12 21:25] tokebe commented on #450
Rate limiting has been implemented using the above proposal. A clarification: the redis-based limiter uses a rolling window, which uses slightly more memory to manage, but shouldn't ever become unwieldy in realistic scenarios.

[2022-08-15 05:57] colleenXu commented on #450
Did a quick test. It looked to me like the batch_size_limit was working for COHD (10 IDs per query), and console logs said that the [secondary](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/450#issuecomment-1212381186)/naive approach was being used for the rate_limit (`API COHD TRAPI 1.3 - DEVELOPMENT is rate-limited. Using naive strategy (waiting 6000ms)... +0ms`).

So yay!

[2022-08-16 01:51] colleenXu commented on #454
Coping text from [here](https://github.com/biothings/BioThings_Explorer_TRAPI/pull/471#issuecomment-1216053607):

[2022-08-16 18:20] newgene opened #489 "support JQ for API response transformation"
[JMESPath ](https://jmespath.org/)is a query language for JSON, with [libraries available in many languages](https://jmespath.org/libraries.html) (e.g. javascript and Python).

We can evaluate and consider to use it in [api-respone-transform.js](https://github.com/biothings/api-respone-transform.js) sub-module. Potentially remove or simplify [the existing hard-coded transformers](https://github.co

[2022-08-16 18:25] newgene commented on #489
`jq` can be another option, but `jq` module is more commandline-focused, while `JMESPath` is more suitable to be used in our modules.

[2022-08-16 22:01] capasfield opened #490 "Deploy TRAPI 1.3"
https://arax.ncats.io/?smartapi=1 shows that Service Provider TRAPI and BioThings Explorer API have 1.2 in development (infores:service-provider-trapi and infores:biothings-explorer)

Please deploy 1.3 of these tools into development ASAP.

[2022-08-16 23:30] colleenXu commented on #489
how does this relate to the templating work (https://github.com/biothings/call-apis.js/pull/30, https://github.com/biothings/call-apis.js/issues/26, https://github.com/biothings/call-apis.js/pull/31)?

Also is there any concern about SmartAPI x-bte annotation being complex / very code-like @andrewsu ?

[2022-08-16 23:35] colleenXu commented on #490
Both tools already have TRAPI 1.3 code deployed for their development instances (non-ITRB server).

@andrewsu and @newgene have previously decided NOT to make new registrations for TRAPI 1.3 instances. Instead, we were planning to wait for TRAPI 1.3 deployment for all instances (all x-maturity levels), and then update our registration to advertise that all instances are on TRAPI 1.3

[2022-08-16 23:37] colleenXu commented on #490
I notice that the 1.3 vs 1.2 test run that Mark Williams posted (internal Translator Slack [link](https://ncatstranslator.slack.com/archives/C013Q5TVC87/p1660681259430349)) is correctly using BTE's development endpoint and that endpoint is returning TRAPI 1.3 responses.

[2022-08-17 05:32] colleenXu commented on #473
Done. Updated predicates for MyChem, MyGene, BioThings SEMMEDDB: see commits https://github.com/NCATS-Tangerine/translator-api-registry/commit/d02f89a5de47b2385d1a3420ff71ec728725b310 and https://github.com/NCATS-Tangerine/translator-api-registry/commit/40000c37396efc3543e2fd90f4e7f47f5f205d00

and refreshed their registrations afterwards.

[2022-08-17 05:32] #473 closed, assigned to nobody

[2022-08-17 05:56] colleenXu commented on #450
We may need to change the SmartAPI yamls and some behavior for TRAPI 1.3, depending on:
* https://github.com/NCATSTranslator/ReasonerAPI/pull/365
* and any differences / merged-PRs in the trapi 1.3.0-beta tagged stuff https://github.com/NCATSTranslator/ReasonerAPI/commits/v1.3.0-beta

[2022-08-17 23:07] colleenXu commented on #472
Made more edits due to changes to the COHD registrations and deciding to add BTE/Service Provider TRAPI1.3 registrations...

see commits from this day in bte-trapi for the [main](https://github.com/biothings/BioThings_Explorer_TRAPI/commits/main) branch and [trapi1.3](https://github.com/biothings/BioThings_Explorer_TRAPI/commits/trapi1.3) branch...

[2022-08-17 23:21] colleenXu commented on #490
This should now be completed:
* TRAPI 1.2 instances have ITRB prod / test/ ci aka staging server urls.
* TRAPI 1.3 instances have dev (non-ITRB) server url.

 I'll attach screenshots from the arax dashboard below:
![Screen Shot 2022-08-17 at 4 17 59 PM](https://user-images.githubusercontent.com/43731687/185260272-d187877e-e669-44c3-8be5-04633d1ac932.png)

![Screen Shot 2022-08-17 at 4 18 08 PM](ht

[2022-08-17 23:21] #490 closed, assigned to nobody

[2022-08-18 16:54] andrewsu opened #492 "error on query -- TRAPI validation error"
Query from the Query of the Month call 2022-08-18

https://arax.ncats.io/?r=9f86f55e-b356-4be8-ab53-b6817ccc43c5

[code]

(Will try to add more context/details later, but hopping to another meeting...)

[2022-08-18 16:58] andrewsu commented on #492
also failing on https://arax.ncats.io/?r=457d390d-df3a-4d45-81e3-d3aa0bd8fbb6 for the same reason?

[2022-08-18 17:18] andrewsu opened #493 "how to refine a two-hop query that explodes on the first edge?"
I executed the following two-hop query.  The number of entities exceeds our cap after executing the first edge, and BTE returns essentially an empty result (no results, no KG).  We should consider providing _some_ results back so that the user can adjust the query so it can successfully finish (by adding predicates, for example).  Desired behavior needs some discussion...

(I would submit an ARS l

[2022-08-18 18:22] colleenXu commented on #492
looks like the tool is down and is sending a 500 status code (when this happens, BTE's response isn't "TRAPI" and that's why the messages from the ARS? / ARAX? regarding TRAPI validation look odd.

[2022-08-18 18:24] colleenXu commented on #493
This was the intended behavior regarding #324. The TRAPI logs usually note that there were too many entities after the first hop to continue.

Perhaps we could return a different error code (not 200) - to make it clearer that there was an issue?

[2022-08-18 18:25] colleenXu commented on #493
I'm not sure about returning results back because we wouldn't have completed the query graph (so the records / stuff available after the first hop wouldn't fully map onto the query graph or provide the answers asked for in the query graph)...

[2022-08-18 23:53] colleenXu commented on #492
should be fixed. was an issue with Node Normalizer (older [commit](https://github.com/biothings/biomedical_id_resolver.js/commit/7b624cf0e9d1ba0ff0b6577764cd78c45adffc45), newer [commit](https://github.com/biothings/biomedical_id_resolver.js/commit/0f71e871519f9b91e44234677797e565bebdef59) that was deployed.

This has been deployed in the development instance and CI [instance](https://github.com/b

[2022-08-19 02:13] colleenXu commented on #492
It's deployed on ITRB test and prod now. Closing the issue now...

[2022-08-19 02:13] #492 closed, assigned to nobody

[2022-08-19 02:20] colleenXu commented on #492
This is the response I get from running locally. It took 52 seconds to run and has 127 results.

[response.txt](https://github.com/biothings/BioThings_Explorer_TRAPI/files/9378744/response.txt)

[2022-08-19 02:25] colleenXu commented on #493
More info:
* Locally, this query runs for 42 sec. It stops after the first hop because 2421 entities (>1000) were going to go into the second hop (Gene/Protein -> Disease). I think it's reasonable that we don't do the second hop, since I anticipate that it will take a very long time to run and give a gigantic response...
* What would be informative to the user? Maybe telling them to:
    * more sp

[2022-08-22 17:23] #454 closed, assigned to rjawesome

[2022-08-23 05:21] rjawesome commented on #479
I did most of these although the last one "Average number of resources queried per request" requires a changes query_graph_handler as well (I will make that shortly and push commits for both repos in stats-tracking branch)

[2022-08-23 18:52] ericz1803 commented on #423
@colleenXu I was looking into this issue and it looks like the `api-response-transform` module can handle both prefixed and non-prefixed IDs already (https://github.com/biothings/api-respone-transform.js/blob/main/src/utils.ts#L1-L9). Is there something I am misunderstanding or missing?

[2022-08-23 19:05] ericz1803 commented on #316
@tokebe Can you explain how it could be done with post-processing in the transformer? I was looking into this issue a bit and it seems like when querying from Gene->Disease, the disgenet score/information is missing so there would need to be other queries done to retrieve this information again.

Also, would it be possible/practical to have something that says that mydisease should always be queri

[2022-08-23 20:37] tokebe commented on #316
I was under the impression that the issue is that querying Gene->Disease returns the the whole document, which we currently don't have the logic to pull out the disgenet score/information? this would be in the `untransformedHits` prior to going through the transformer.

If this isn't the case, then yes, we'd have to come up with some other method of retrieving the additional information. I'm not s

[2022-08-23 23:09] ericz1803 commented on #316
I did some more investigation and it doesn't grab the disgenet score/information at all when querying from Gene->Disease (the params pulled from the x-bte are completely different). I think what @colleenXu is saying above is this is a limitation of how the data is structured. So if we were to take the post-processing route, we would have to make a whole nother query to retrieve the disgenet score/

[2022-08-24 15:23] tokebe commented on #480
Marking as done (top-off code implemented in biothings/bte_trapi_query_graph_handler#119 and deployed)

[2022-08-24 15:23] #480 closed, assigned to tokebe

[2022-08-24 17:00] andrewsu commented on #459
assigning to @tokebe to create the BTE PR to use the new `expand` parameter

[2022-08-24 17:08] tokebe commented on #316
I suppose this makes the query-direction route more viable -- we'd need a separate query builder for mydisease that checks the subject/object semantic type and queries in reverse appropriately. It would have to somehow tag this such that the record is constructed in reverse of the query where appropriate as well.

Perhaps a `reverseAfterQuery` value that can be attached to the `query_info` object,

[2022-08-24 17:47] andrewsu commented on #493
@colleenXu What do you think about returning the `message.knowledge_graph` portion of the response with the results of the first hop?  The `message.results` section would still be empty.

[2022-08-24 19:32] tokebe commented on #456
Resolved by #491

[2022-08-24 19:32] #456 closed, assigned to ericz1803

[2022-08-24 19:34] tokebe commented on #446
Closing as the cause is relatively well-understood and implementation/integration of code that would address this issue is now the main topic of discussion (which can be had in relevant PRs)

[2022-08-24 19:34] #446 closed, assigned to nobody

[2022-08-24 19:37] tokebe commented on #436
Closing as this issue is more of a broad coding goal than a specific issue to be addressed. Additional concerns can be addressed case-by-case.

Tagging @colleenXu in case their opinion is that this should be re-opened (or a new issue with specific changes be made)

[2022-08-24 19:37] #436 closed, assigned to nobody

[2022-08-24 19:39] tokebe commented on #379
Closing as this issue has been well-addressed and should be considered as a coding style directive moving forward.

[2022-08-24 19:39] #379 closed, assigned to nobody

[2022-08-24 19:42] tokebe commented on #455
This issue can be rolled into #479 as a secondary objective.

[2022-08-24 19:42] #455 closed, assigned to nobody

[2022-08-24 19:46] tokebe commented on #479
Rolling the now-closed #455 as a secondary objective after the initial issue has been addressed. The endpoint used to retrieve stats could also check the Bull queues for failed queries, providing an array of links to their respective queries so the query graphs could be analyzed. Only non-expired queries would be required, limiting the length of the array to failed queries in the last week.

This

[2022-08-24 20:01] tokebe commented on #367
Closing as this issue is extremely rare and hard to reproduce/debug, while other issues are much higher priority.

[2022-08-24 20:01] #367 closed, assigned to nobody

[2022-08-25 22:45] colleenXu commented on #485
and this commit is related https://github.com/biothings/BioThings_Explorer_TRAPI/commit/743cce092e680376de2973a5daa3535c32ac4f4e

[2022-08-25 23:29] colleenXu commented on #454
also addressed by https://github.com/biothings/smartapi-kg.js/pull/56

[2022-08-25 23:38] colleenXu commented on #423
Hmmm...I think there may be issues when the ID-prefix is not something that BTE recognizes / knows how to process? For example, if the prefix isn't the format that Translator expects (chembl_compound vs CHEMBL.COMPOUND) or a prefix that has been in Translator for a while with consensus on how to use it (HMS_LINCS_ID comes to mind...)

However, I'd be open to closing this issue for now if things ar

[2022-08-25 23:40] colleenXu commented on #459
linking to https://github.com/biothings/bte_trapi_query_graph_handler/pull/121

[2022-08-26 00:03] colleenXu commented on #436
I'm fine with closing this for now

[2022-08-26 06:38] colleenXu commented on #443
BTE has undergone some changes (I think these have been deployed or will be deployed soon), and that affects the creative-mode queries. Would we want to consider re-running? @andrewsu ?

[2022-08-26 07:02] colleenXu commented on #316
Err....I was out when this convo started but perhaps some more explanation / my perspective can help.

I am in agreement with Jackson's points [here](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/316#issuecomment-1224848479), and that working with the unTransformedHits is better.

But to develop that code, one will have to mutate the smartapi specs or work with a custom version of t

[2022-08-29 16:55] andrewsu commented on #443
I think rerunning with the latest version of creative mode would be nice-but-not-necessary...

[2022-08-29 21:04] colleenXu commented on #472
On our own smartapi yamls (BTE and Service Provider), we may want to continue watching for TRAPI 1.3 updates. However, this can be a separate on-hold issue...EDIT: #494 added here

I have updated the original yamls, so they are on the latest versions of TRAPI 1.3 and list all server instances. I deleted the temporary yaml files / registrations that were for advertising TRAPI 1.3 on the development

[2022-08-29 21:10] colleenXu opened #494 "watching for TRAPI 1.3 changes (until it's frozen)"
TRAPI 1.3 is still in beta and having changes, mostly in the [1.3 branch](https://github.com/NCATSTranslator/ReasonerAPI/tree/1.3) but sometimes in the [master branch](https://github.com/NCATSTranslator/ReasonerAPI/tree/master) too.

We'll watch for if there's any:
*  feature changes (sometimes in the implementation documentation or descriptions) -> open another issue for addressing and implementi

[2022-08-29 21:23] colleenXu commented on #472
Currently, we are using TRAPI 1.3 APIs on all TRAPI KPs that we ingest.
* COHD's TRAPI 1.3 registration has all the expected server urls (ITRB prod/test/ci and non-ITRB dev)
* CHP's registration has become TRAPI 1.3 now. And it has 3 ITRB server urls...but their x-maturity levels for ITRB test/ci seem incorrect. Slack messaging them [here](https://ncatstranslator.slack.com/archives/CSS752SB0/p1661

[2022-08-29 21:34] colleenXu commented on #450
The issue I raised [above](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/450#issuecomment-1217494301) has been addressed (see https://github.com/biothings/BioThings_Explorer_TRAPI/issues/472#issuecomment-1230859289).

I think we can close this issue since all features have been addressed or are in separate issues like
https://github.com/biothings/BioThings_Explorer_TRAPI/issues/472

[2022-08-29 21:34] #450 closed, assigned to nobody

[2022-08-29 21:52] colleenXu commented on #482
Note that PRs-merging / discussion is still happening over qualifier constraints. https://github.com/NCATSTranslator/ReasonerAPI/pull/364

EDIT: Found this issue that may be useful for tracking changes https://github.com/NCATSTranslator/ReasonerAPI/issues/357

[2022-08-29 21:54] colleenXu commented on #494
Found this issue that may be useful for tracking changes https://github.com/NCATSTranslator/ReasonerAPI/issues/357

[2022-08-29 21:59] colleenXu commented on #485
Note these commits / PRs were reverted because the TRAPI validator used by ARAX's UI was marking this as "not TRAPI 1.2 compliant".

It turns out that the TRAPI spec (1.2 and 1.3) hadn't included an updated link to the workflow operations specification. This fix was added to TRAPI 1.3 (after the release of 1.2.0-beta). (see https://github.com/NCATSTranslator/ReasonerAPI/issues/357).

It's not clea

[2022-08-30 01:50] colleenXu commented on #456
Comments from 8/17 group meeting:

initial Feedback:
* make clear where the files are / when a module is being used
* Color? (issues with dark mode / browser extensions like darkreader?)
* It's awesome

Related sub-diagrams for specific behaviors:
* How we do the cron job, make MetaEdges (this is outside the scope of how-a-query-works workflow)
* How different modules work (call-apis, api-response

[2022-08-30 14:50] rjawesome commented on #489
@ericz1803 if you have other stuff to work on right now, I can take this issue.

[2022-08-30 15:56] ericz1803 commented on #489
Yeah you can go ahead and take it

[2022-08-31 02:12] rjawesome commented on #489
I started work by trying it on one transformer on the use-jmes-path branch of api-response-transform. For now I'm trying JQ because it seems jmes path is missing some functions like string splitting.

[2022-08-31 16:45] tokebe opened #496 "Node Normalizer errors show up as TRAPI validation errors"
Currently, when queries to the Node Normalizer fail, the error is logged as a TRAPI validation error, likely due to a specific catch statement in query handling. This makes error tracing take longer for devs.

See https://github.com/biothings/BioThings_Explorer_TRAPI/issues/492 as an example.

This should be fixed, either by changing whatever catch statement may be improperly catching these types

[2022-08-31 16:59] colleenXu commented on #493
first step: run the first hop and see if there are different predicates...that'll help us tell if a log listing the predicates in the executed hop(s) would be useful or not.

Remember that this is just a two-hop, but this can happen in longer linear queries as well...

[2022-08-31 19:58] tokebe commented on #474
Not all packages have been migrated to the workspace, as they should probably be able to operate independently in case they are needed in other projects:

- https://github.com/biothings/smartapi-kg.js
- https://github.com/biothings/biomedical_id_resolver.js
- https://github.com/biothings/biolink-model.js

In the event any of these need to become interdependent, they can relatively easily be migrat

[2022-08-31 19:59] #478 closed, assigned to mnarayan1

[2022-09-01 01:42] rjawesome commented on #496
Two PRs made on both query_graph_handler and biomedical_id_resolver with fix_sri_error branch. Note that the query_graph_handler PR depends on the changes to biomedical_id_resolver.

[2022-09-01 01:43] rjawesome commented on #496
Output from the example when SRI resolver is broken (I can also add special handling for SRIResolverFailiure similar to MetaKG and predicate loading errors if necessary in the bte main repo)
[code]

[2022-09-01 14:56] #496 closed, assigned to rjawesome

[2022-09-01 18:50] khanspers commented on #443
Update for CASE 5

Curie for ketogenic diet is UMLS:C0259972, biolink:Procedure.

**Query 3 using biolink:Procedure instead of biolink:Chemical**
<details>
<summary>Creative mode for childhood onset GLUT1 deficiency syndrome 2, using biolink:Procedure instead of chemical</summary>
<code>

    {
    "message": {
        "query_graph": {
            "nodes": {
                "disease": {

[2022-09-02 04:36] colleenXu opened #497 "TRAPI-1.3-compliant node expansion"
Related to #366 and #196 and these PRs: https://github.com/biothings/bte-trapi-workspace/pull/17 and https://github.com/biothings/bte_trapi_query_graph_handler/pull/113

I looked at the current behavior of the linked PRs and made a quick [ask](https://github.com/biothings/bte_trapi_query_graph_handler/pull/113#issuecomment-1235002384) for clarification.

However, I think that the requirements arou

[2022-09-02 04:44] colleenXu commented on #497
And another note (D?): removing subclass / superclass relationships from x-bte annotation for the [ontologies](https://github.com/biothings/bte_trapi_query_graph_handler/pull/113#issuecomment-1235045027) that node-expansion would cover...

EDIT: 9/7 group meeting notes: yes, we probably want to do that. But wait until after the ID stuff is implemented. Then one would do this

EDIT 9/22: on-hold be

[2022-09-02 06:29] colleenXu commented on #443
EDIT in progress

Note about the above [queries](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/443#issuecomment-1234656850):
* For the first query, look for Procedure and Treatment (we have a new resource that uses this category/semantic type) without using creative-mode. Creative-mode isn't set up for non-chemical things...
* For the second query, replace `NamedEntity` with `NamedT

[2022-09-02 06:36] colleenXu commented on #443
Note about the above [queries](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/443#issuecomment-1234656850):
* For the first query, look for Procedure and Treatment (we have a new resource that uses this category/semantic type) without using creative-mode. Creative-mode isn't set up for non-chemical things...
* For the second query, replace `NamedEntity` with `NamedThing` (error). And

[2022-09-02 16:35] colleenXu commented on #443
The doc that was [presented](https://docs.google.com/document/d/1szYJxR-gj_xRVp87hOzUOEuGXAgtYZbnfVfsnSjV_jg/edit#) had some ARAX links from Case 1 from more recent runs:
* TH-deficient dopa-responsive dystonia, MONDO:0011551: https://arax.ncats.io/?r=5bef08ce-820b-4f04-8001-aaca64707a54
* BH4-deficient hyperphenylalaninemia A (MONDO:0009863; missing the previous results): https://arax.ncats.io/?r

[2022-09-06 17:59] colleenXu commented on #497
Su / Colleen Discussion 9/6 for Part A:

We then decided to go with Option 1:  @ericz1803. maybe disable ID expansion on creative-mode for now. He'll modify https://github.com/biothings/bte_trapi_query_graph_handler/pull/113
* Option 2: outer loop is ID expansion, inner loop is template library (but this gets into questions of template library design)
* Option 3: outer loop is template library, in

[2022-09-07 18:18] colleenXu commented on #497
From 9/7 group meeting:

Part B: pause for discussion with the rest of Translator. I'll make some drafts of what we think the intended behavior is (with notes), to share with Translator.

Part C: @ericz1803 has confirmed that the code should work in the examples given.

[2022-09-07 18:42] rjawesome commented on #489
I created some jq transformers for EBI, CTD, and OpenTarget. Is there any test queries I can use for any of these?

[2022-09-07 19:38] tokebe commented on #420
I've done some additional testing and can confirm that I've achieved parity of results between Anders' code and my updates using the new POST method.

There were some differing figures between the two that I've now confirmed to be exclusively due to minute differences in the order figures are received/processed, causing different results to be truncated when trimming down to 20 figures.

I believe

[2022-09-09 18:31] colleenXu opened #498 "TRAPI implementation rules on QGraph "nulls""
We'd like BTE to meet the requirements of the TRAPI [implementation rules](https://github.com/NCATSTranslator/ReasonerAPI/blob/master/ImplementationRules.md) when possible (and when they don't clash with other requirements/priorities we have for BTE).

The implementation rules say that the following properties of a QGraph could have the value `null`. When the value is `null`, the property should b

[2022-09-09 18:33] colleenXu commented on #498
And a note, in case you're like me....`"null"` =/= `null`(I found this helpful https://stackoverflow.com/a/34360900)

EDIT: in the TRAPI spec, it uses `nullable: true` for [QNode.ids](https://github.com/NCATSTranslator/ReasonerAPI/blob/master/TranslatorReasonerAPI.yaml#L601), [QNode.categories](https://github.com/NCATSTranslator/ReasonerAPI/blob/master/TranslatorReasonerAPI.yaml#L607), and [QEdge.

[2022-09-09 21:10] colleenXu commented on #497
## Bringing up issues around Part B

We're confused when we compare what's in the Architecture document to what seems to be the intent of TRAPI 1.3's NodeBinding.query_id. It's not clear what should be done to the query_graph, knowledge_graph, and results sections when ID/QNode-expansion is done.

<details>
<summary>I'll use a one-hop Predict-style as an example here.</summary>

[code]

</details>

[2022-09-13 18:40] tokebe commented on #420
@andrewsu RE: chi-square p-value for scoring, do we want a higher or lower p-value to be "better"?

I've implemented a working prototype of the behavior using [a package I found](https://www.npmjs.com/package/chi-square-p-value), however documentation is a little...sparse, so I'm not 100% sure this will be acceptable. Unfortunately, not many relevant packages seem readily-available/working.

[2022-09-13 19:03] colleenXu commented on #482
Recording an exercise I did during the Sept 2022 Relay: trying to convert the following question to TRAPI

Question: "What are compounds that significantly reduce CHRNA1 expression while increasing CHRNA1 expression in myocytes?"

<details>
<summary>basic TRAPI 1.3 with Biolink 2.4.8, using QEdge.attribute-constraints</summary>

[code]

</details>

<details>
<summary>TRAPI 1.3 with Biolink 3.0.2 q

[2022-09-13 19:05] andrewsu commented on #420
in general the lower p-value will be considered "better"...

[2022-09-13 19:22] tokebe commented on #420
Ok, I asked because I'm not entirely sure I understand *what* the chi-square test would be testing in this case...the null hypothesis here is a little unclear to me.

That said, I'll push my changes to the PR...a PFOCR figure score in results is currently defined as `1-p` where p is the p-value. Let me know if you'd prefer me to just leave it as the raw p-value.

[2022-09-13 19:51] andrewsu commented on #420
Yeah, to be clear, this is a _really_ sketchy use of the chi square test because the counts in our 2x2 contingency table are so small.  (If the path has four nodes, then the _largest_ the minimum cell count could be is 2, and that's much smaller than what you'd want.)  So this sort of ranking of PFOCR figures for a given result is a very crude ranking metric, and it may end up being so crude that

[2022-09-14 18:59] andrewsu opened #500 "transform TRAPI output to input for d3 sankey diagram"
I'd like to create a [d3 sankey diagram](https://d3-graph-gallery.com/graph/sankey_basic.html) from TRAPI output.  The **[example input file for d3 sankey](https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_sankey.json)** (also pasted below) seems like it can be easily generated (in principle) from TRAPI.

<details>
<summary>Example input file for d3 sankey</summary>

[code

[2022-09-15 02:01] rjawesome commented on #500
I've made a repository with my code: https://github.com/rjawesome/trapi-d3sankey

Currently I have tested with the small example and I will test with the large example soon.

[2022-09-15 04:19] andrewsu commented on #500
Hmm, well, I thought that the output format here would be plug and play into a d3 sankey template, but as usual, I was wrong.  Apparently more tweaking is necessary.  @rjawesome if you want to give it a try, here are a few more details...

I'm _hoping_ that we can create an image like shown below.  I took a random sankey example from the web (on budgeting, apparently) and overlaid in red how we mi

[2022-09-15 18:11] andrewsu commented on #500
It would also be nice if the input json could be specified as the first (and only) command line parameter, and the output json was written to STDOUT.  So we'd invoke it using a command like `python3 main.py my_input_file.json > my_output_file.json`

[2022-09-16 00:35] rjawesome commented on #500
I changed the syntax of the command. I was able to get a decent visual if the size was changed to 10000 pixels by 5000 pixels and upping the font size

![image](https://user-images.githubusercontent.com/16053597/190532281-3cbc39b5-4798-46e8-9539-cf1db42c4388.png)

[2022-09-16 04:22] andrewsu commented on #500
cool!  Can you post the HTML file you used to render the screenshot above?  Either in your repo or in a gist?  Very interested to see what the large example file above looks like...

[2022-09-16 04:35] rjawesome commented on #500
I'll probably post it in my repo soon, when I tried the large example file the browser was crashing if I scrolled too fast. Also I had to make the size like 1000000 pixels.

[2022-09-16 20:58] andrewsu opened #501 "analysis of semmeddb using pubtator results"
### Background
One of the most commonly-used Translator resources is SemMedDB, a database of text-mined relationships from the literature.  It is a great resource because it recognizes a wide range of entity and relationship types, and it is periodically run over all abstracts in PubMed.  However, it is an older algorithm, so the accuracy (and specifically, the precision) can be quite poor.  In pa

[2022-09-16 23:32] rjawesome commented on #500
Now added to repo!

[2022-09-17 00:03] rjawesome commented on #501
I could work on the proof of concept, to confirm is this where I sign up for a UMLS account: https://uts.nlm.nih.gov/uts/signup-login?

[2022-09-17 00:10] andrewsu commented on #501
@rjawesome That's the correct link, but I'd like @mnarayan1 to work on this one for the moment.  (Sorry, coordinated on slack -- forgot to make the assignment here.)  Would love to have you work more on the trapi/d3/sankey issue please -- lots of work that we could to there to try to make a good visualization.  (or if that one's done or a dead end, we can find another one for you...)

[2022-09-19 21:51] colleenXu opened #503 "Generate TRAPI warning log when QNode and QEdge are given properties not specified in TRAPI"
We currently don't do anything when the incoming Query has a property on a QNode or QEdge that isn't explicitly-listed in the TRAPI 1.3 spec (see links for [QNode](https://github.com/NCATSTranslator/ReasonerAPI/blob/1.3/docs/reference.md#fixed-fields-10) and [QEdge](https://github.com/NCATSTranslator/ReasonerAPI/blob/1.3/docs/reference.md#fixed-fields-11)).

However, the [implementation rules](htt

[2022-09-21 00:20] colleenXu commented on #482
Putting here as food for thought: Is there a case for multiple kinds of constraints in 1 query? Or multiple constraints of the same type in 1 query?

[2022-09-21 04:17] colleenXu commented on #501
@andrewsu I'm wondering if the following has already been explored:

I noticed that SEMMEDDB provides a PREDICATION_AUX table that has confidence scores for mapping strings + concepts for the subject and object of predications (`SUBJECT_SCORE` and `OBJECT_SCORE` columns). This is mentioned in the [DB schema / table info](https://lhncbc.nlm.nih.gov/ii/tools/SemRep_SemMedDB_SKR/dbinfo.html).

I don'

[2022-09-21 06:10] colleenXu commented on #482
Putting here as notes:
* QNode.constraints: changing the error message, to match [PR…](https://github.com/NCATSTranslator/ReasonerAPI/pull/370/files)
* QEdge.qualifier_constraints: changing behavior to match new [implementation](https://github.com/NCATSTranslator/ReasonerAPI/blob/master/ImplementationRules.md) rules?

[2022-09-22 19:44] andrewsu commented on #449
MVP is complete

[2022-09-22 19:44] #449 closed, assigned to tokebe

[2022-09-22 20:19] colleenXu commented on #366
New example: myelination (GO:0042552) is a [parent](http://amigo.geneontology.org/amigo/term/GO:0042552#display-lineage-tab) of central nervous system myelination (GO:0022010).

Using the current PRs https://github.com/biothings/bte-trapi-workspace/pull/17 and https://github.com/biothings/bte_trapi_query_graph_handler/pull/113

<details>
<summary>Query is multiple sclerosis (MONDO:0005301)  ->  [G

[2022-09-22 20:30] andrewsu commented on #461
I'm going to close https://github.com/biothings/BioThings_Explorer_TRAPI/issues/237, but just noting here that orthology-based templates could also be good for drug-disease templates for creative mode...

[2022-09-22 20:30] andrewsu commented on #237
closing as no longer relevant

[2022-09-22 20:30] #237 closed, assigned to nobody

[2022-09-22 20:44] colleenXu commented on #196
The linked standup queries (https://github.com/NCATSTranslator/testing/issues/203 and https://github.com/NCATSTranslator/testing/issues/207) use this query, which I modified to make it easier for me to read

<details>

<summary>SmallMolecule -(does stuff to)-> abnormal blood glucose concentration</summary>

[code]

</details>

Using the current PRs https://github.com/biothings/bte-trapi-workspace/

[2022-09-22 20:49] colleenXu commented on #366
I explore this same query but using `is_set: true` on expanded QNodes https://github.com/biothings/bte_trapi_query_graph_handler/pull/113#issuecomment-1255512783

[2022-09-22 20:51] colleenXu commented on #196
This is a 1-hop Predict, vs https://github.com/biothings/BioThings_Explorer_TRAPI/issues/366 which is an Explain style query with 1 intermediate.

[2022-09-23 00:30] colleenXu commented on #497
Decision from 9/19 Su and me meeting:
* Part A: @ericz1803 should make the changes needed to get creative-mode working. We [decided](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/497#issuecomment-1238482553) to try disabling ID/QNode expansion for creative-mode rather than [other](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/497#issue-1359693815) [options](https://gi

[2022-09-23 00:39] colleenXu commented on #497
Also noting: I interpret the Architecture principle on ID/QNode-expansion [above](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/497#issuecomment-1242482638) as saying original QNode IDs should be expanded...and it's maybe okay if IDs used as input for intermediate hops aren't expanded.

The opening post of this PR says that it works on the original QNode IDs given https://github.com

[2022-09-23 16:19] #498 closed, assigned to rjawesome

[2022-09-27 20:11] tokebe opened #504 "Refactor internal query graph representation"
Previously, API response records [were refactored](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/402) to streamline related code interactions and to simplify testing.

It appears that our internal representation of the query graph could use a similar treatment. Currently, the query graph (as supplied by the query) is validated and transformed into first `qNodes` and `qEdges`, and th

[2022-09-28 16:22] andrewsu commented on #489
Next steps in this issue:
* @newgene to reach out to @rjawesome to discuss jq vs JMESPath
* finish migrating the rest of the transformers

Future issues:
* move jq code to SmartAPI metadata
* update documentation describing necessary formats
* update BTE to consume jq annotation

[2022-09-28 22:35] AlexanderPico opened #510 "PFOCR API: Add `pfocrUrl`field to the JSON dump"
Update the JSON dump to include links as `pfocrUrl` to new, dedicated web pages per pathway figure, e.g., https://pfocr.wikipathways.org/figures/PMC4821805__elife-12318-fig1.html

[code]

[2022-09-29 00:47] rjawesome commented on #504
I could work on this. Some work started on combine-qedge branch (mega_query_edge.js is combined qedge/qxedge, is being used in query_graph.js).

[2022-09-30 21:07] andrewsu commented on #459
confirmed with @tokebe that this issue is complete.

[2022-09-30 21:07] #459 closed, assigned to tokebe

[2022-10-03 20:55] colleenXu commented on #489
Replying to Rohan's [comment](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/489#issuecomment-1239747435):
* I think I removed CTD from BTE's list of APIs a while back due to an outdated SmartAPI yaml.
* I [removed](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/432#issuecomment-1109324120) OpenTargets from BTE's list of APIs more recently because that API had been remo

[2022-10-03 23:51] colleenXu opened #511 "Update SmartAPI annotations: useTemplating and consistent ordering"
BTE should be able to handle scrolling-POST queries for BioThings APIs when the PRs related to https://github.com/biothings/BioThings_Explorer_TRAPI/issues/483 are deployed

However, the [fix](https://github.com/biothings/call-apis.js/pull/59#issuecomment-1254190222) requires that the SmartAPI x-bte annotation uses ["templating"](https://github.com/biothings/BioThings_Explorer_TRAPI/blob/f954a8310

[2022-10-04 20:24] andrewsu commented on #481
In the [implementation tracker](https://docs.google.com/spreadsheets/d/1LEV3FyXBt3xm4bC5TQkVbrZalrr6OV2LnPtuLj1RVB4/edit#gid=1034097652), this now has an implementation date of today. Very few teams have completed this so I don't think we're "late", but internally let's shoot for initial "completion" by 2022-10-11.  For an initial implementation, let's create test data for the following three reco

[2022-10-04 21:15] andrewsu opened #512 "update modeling to reflect qualifier changes for chemical -> gene associations"
This is a new issue to track our team's implementation of this issue on qualifiers for chemical-gene associations: https://github.com/NCATSTranslator/ReasonerAPI/issues/348

From that issue:

According to the [progress tracker](https://docs.google.com/spreadsheets/d/1LEV3FyXBt3xm4bC5TQkVbrZalrr6OV2LnPtuLj1RVB4/edit#gid=1034097652), the target completion date for this issue is 2022-10-25

related/b

[2022-10-05 16:12] andrewsu commented on #481
link to be added to Service Provider KP smartAPI registration here https://github.com/NCATS-Tangerine/translator-api-registry/blob/master/biothings_explorer/service-provider-trapi.yaml#L29; pointing to new file in that same repo/folder
* also need to ask Multiomics and Text mining providers to add example records to the same document

[2022-10-05 17:04] andrewsu commented on #512
Steps
1) update SmartAPI annotations (Target completion as of 10/11 is 11/1)
   * Minimal solution: find/replace examples of "targets", "upregulates", etc.
   * TODO: @colleenXu to find/create a single example of an API edge that needs to be changed; check a modified version into a branch so we can test using API overrides
2) make sure BTE passes qualifiers (including qualified predicates, subject

[2022-10-05 20:36] tokebe commented on #493
In discussion with @colleenXu, two things to change:
- Make the existing TRAPI log more specific
  - Show the number of entities retrieved, state that it exceeds 1000
  - Explain that this number is too high to go into another open-ended edge
  - Suggest the user specify more specific predicates/categories/ids
- Add another log summarizing the top 10 predicates and their frequency from the retriev

[2022-10-07 15:21] andrewsu commented on #512
Additional notes from my conversation with Sierra and Matt B.:

* New predicate hierarchy *with deprecated predicates removed* can be viewed at http://tree-viz-biolink.herokuapp.com/predicates/deprecated-predicates
* Current scope limited to associations related to chemicals (`chemical gene interaction association` and `chemical affects gene association`) to assess technical feasibility
* The inte

[2022-10-10 17:18] tokebe commented on #474
Marking as complete -- issues mentioned in last comment resolved.

[2022-10-10 17:18] #474 closed, assigned to tokebe

[2022-10-10 19:18] colleenXu commented on #512
Helpful links:
* Migration guide for Biolink 3.0 https://github.com/biolink/biolink-model/blob/master/Migration_3.0_Guide.md
* Predicate transformation table: https://github.com/biolink/biolink-model/blob/master/images/predicate_transformation.pdf
* A TRAPI example https://github.com/biolink/biolink-model/blob/master/guidelines/TRAPI-examples.md. More examples in the ReasonerAPI repo https://githu

[2022-10-10 19:18] colleenXu opened #514 "Biolink 3.1.1 migration (related but separate from qualifiers)"
https://github.com/biolink/biolink-model/compare/v2.4.8...v3.0.3
https://github.com/biolink/biolink-model/blob/master/Migration_3.0_Guide.md

Major:
* New predicates:
    * children of `physically_interacts_with` starting line 2112: `physically_directly_interacts_with`, `binds`, `indirectly_physically_interacts_with`
    * `mode_of_inheritance_of` and its inverse starting line 5779 (odd. seems bet

[2022-10-10 20:59] colleenXu commented on #512
Biolink model lays out "chemical-gene associations" starting line 10301-10399, 11467-11485 (physically_interacts_with, affects, regulates)

For the possible values, it's not clear to me what the case is (snake_case?) UPDATE: they are supposed to be snake_case.

Subject (and object qualifiers):

* subject_**aspect**_qualifier: see possible values in the list below
* subject_**form_or_variant**_qual

[2022-10-11 04:21] colleenXu commented on #512
Pasting from Slack:

Also I realized that what we still have a "reversing" issue for Part B: we query in whatever direction we need to retrieve records using IDs. And then we "invert" the predicate so the record/Edge matches the QEdge direction...

But now we would also need to "invert" some qualifiers (change all the "subject" to "object" and vice versa) o_0.

[2022-10-11 20:22] colleenXu commented on #481
Info here on the JSON structure https://github.com/TranslatorSRI/SRI_testing/tree/main/tests/onehop#configuring-the-tests

I don't really understand the "exclude_tests" optional field https://github.com/TranslatorSRI/SRI_testing/tree/main/tests/onehop#excluding-tests

[2022-10-11 21:00] colleenXu commented on #481
The initial task outlined by Andrew's post is [done](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/481#issuecomment-1267535764). The test data is [here](https://github.com/NCATS-Tangerine/translator-api-registry/blob/master/biothings_explorer/sri-test-service-provider.json) and the test_data_location field has been [added](https://github.com/NCATS-Tangerine/translator-api-registry/c

[2022-10-12 04:45] andrewsu opened #515 "investigate PubTator as resource for NGD calculation"
In https://github.com/biothings/BioThings_Explorer_TRAPI/issues/326, we implemented an NGD scoring system based on semmeddb. As a low priority item, we could also investigate creating an NGD service based on Pubtator, which presumably has significantly better performance on NER.  Pubtator files are automatically updated for download at https://ftp.ncbi.nlm.nih.gov/pub/lu/PubTatorCentral/. We'd wan

[2022-10-12 17:58] colleenXu commented on #476
This might need some refactoring due to the qualifier issue https://github.com/biothings/BioThings_Explorer_TRAPI/issues/512#issuecomment-1268698108.

Talked with Andrew about it and we agreed to put it aside for now

[2022-10-14 19:23] tokebe commented on #512
I've pushed the branch `add-qualifiers` with experimental support:

- [api-response-transform](https://github.com/biothings/api-respone-transform.js/tree/add-qualifiers)
- [query_graph_handler](https://github.com/biothings/bte_trapi_query_graph_handler/tree/add-qualifiers)
- [smartapi-kg](https://github.com/biothings/smartapi-kg.js/tree/add-qualifiers)

Todo list:

- [x] Qualifiers from x-bte pass

[2022-10-15 04:46] colleenXu commented on #159
Text-Mining Provider has confirmed that they have a TRAPI instance for this, and they don't need the BioThings / Service Provider to host this going forward (internal Translator Slack [link](https://ncatstranslator.slack.com/archives/C022EL8D3AB/p1661969294889219?thread_ts=1661959801.035949&cid=C022EL8D3AB)). So the issue can be closed.

[2022-10-15 04:46] #159 closed, assigned to nobody

[2022-10-17 18:22] colleenXu commented on #472
Note: we're currently using the ITRB-prod registrations for all Automat APIs. However, it's not clear if the Automat team currently has access to those instances (ITRB prod / test). ITRB-CI / dev might be more reliable at the moment.

Received update from Chris Bizon (internal Translator Slack [link](https://ncatstranslator.slack.com/archives/CSS752SB0/p1666024311149929)): they plan on changing th

[2022-10-17 19:14] andrewsu commented on #512
Also to clarify, the that the predicate hierarchy (with deprecated predicates viewable at http://tree-viz-biolink.herokuapp.com/predicates/deprecated-predicates) will define the allowed values for both the `predicate` and `qualified_predicate` slots.

[2022-10-17 20:05] colleenXu commented on #497
Currently (2022-10-16), the linked [query-handler PR](https://github.com/biothings/bte_trapi_query_graph_handler/pull/113) will run Creative-mode because initially no ID-expansion happens. However, as the templates run, **ID-expansion is done**. Andrew and I discussed this 2022-10-17 and decided that this behavior was fine.

Also noted in the second point in the "Notes" section of this [post](http

[2022-10-19 00:33] colleenXu opened #517 "BTE encounters RangeError when doing ngd scoring"
(tagging @tokebe @erikyao as an FYI)

EDITING: not sure if it's a scoring issue or not

It looks like BTE is sometimes encountering an error when scoring results from a template in creative-mode. In that situation, BTE will "throw away" all of the results from that template run (it looks like it keeps results from earlier and later template runs). This is a bit unexpected.

I'm not sure what's goi

[2022-10-19 00:44] colleenXu commented on #517
Another ID that has this issue for creative-mode: `MONDO:0005015` (diabetes mellitus) when scoring results from the first template (about 3-4 min into execution). Don't need to run the whole query to see this issue (it'll run for almost 14 min).

<details>
<summary>At first the scoring of results looks like it worked (but not all combos returned a response?)</summary>

[code]

</details>

Then the

[2022-10-19 00:49] erikyao commented on #517
@colleenXu typically when you have a `RangeError: Maximum call stack size exceeded`, it means you have a recursive function that never quits (from calling itself)

[2022-10-19 05:23] colleenXu commented on #420
## Organizing previous discussions:

### Requirements

* [first post](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/420#issue-1163055950) of this issue shows what Andrew originally envisioned. The scope was narrowed to genes only. The pfocr section would include figureURL, pmc, QNodeIDs, and a score
    * pfocr section included for results that have NCBIGene IDs mapped to >= 2 QNode

[2022-10-19 16:12] colleenXu commented on #489
JQ draft PR https://github.com/biothings/api-respone-transform.js/pull/38

[2022-10-19 17:04] colleenXu commented on #517
Note the [RangeError](https://github.com/biothings/bte_trapi_query_graph_handler/pull/113#issuecomment-1280213218) [happening](https://github.com/biothings/bte_trapi_query_graph_handler/pull/113#issuecomment-1255705465) with this [issue](https://github.com/biothings/bte_trapi_query_graph_handler/pull/113#issuecomment-1260418036)

Possibly addressed [here](https://github.com/biothings/node-expansio

[2022-10-19 17:09] colleenXu opened #518 "ID/Node-expansion for UMLS IDs: analyzing and fixing"
In the ID/Node-expansion first attempt https://github.com/biothings/bte_trapi_query_graph_handler/pull/113, we note that UMLS descendant retrieval seems odd (overview in a bullet-point of this [post](https://github.com/biothings/bte_trapi_query_graph_handler/pull/113#issuecomment-1280213218), details in top section of this [post](https://github.com/biothings/bte_trapi_query_graph_handler/pull/113#

[2022-10-19 17:20] tokebe opened #519 "Improving API_LIST"
Our API_LIST behavior can be made more robust:

- Add support for infores IDs alongside smartAPI IDs.
  - In the event of a conflict between ID/infores, (e.g. infores in include and smartapi in exclude, or the reverse), smartapi ID takes priority
  - In any given include/exclude object, only one of either infores or smartapi ID must be specified, but one **must** be specified.
  - Match by either

[2022-10-19 17:34] colleenXu commented on #512
Will likely want to update BTE to biolink-model 3.0.3 for Part 3 of [qualifiers](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/512#issuecomment-1268698108), so will want to be aware of this issue https://github.com/biothings/BioThings_Explorer_TRAPI/issues/514

[2022-10-19 18:11] #472 closed, assigned to nobody

[2022-10-19 20:52] colleenXu commented on #476
From Jackson / me convo 2022-10-19:
* Jackson is keeping this in mind with development and qualifier feature stuff
* having edge-attributes for the original subject/object names and relationship could be useful when we move to canonical directions. This can be through x-bte annotation, but coding could provide original subject/object IDs and biolink-model predicates...

[2022-10-19 20:56] colleenXu commented on #512
Noting: qualifiers currently aren't included in the TRAPI /meta_knowledge_graph (which could affect Parts 2 and 3) and discussion is still active on the format for querying with qualifiers (Part 3).

Related discussions (TRAPI 1.4 upcoming work and release):
* TRAPI 1.4 prioritizing [topics](https://github.com/NCATSTranslator/ReasonerAPI/discussions/378)
* [topic](https://github.com/NCATSTranslato

[2022-10-20 16:39] tokebe commented on #512
Support for TRAPI KP responses complete, tested via debug value injection.

On to part 3...

[2022-10-20 18:48] tokebe commented on #512
With regard to qualifier constraints from queries, I'm a little concerned that current implementation will be both complicated and somewhat fuzzy:

- I'm not currently aware of a concrete metakg structure to communicate what qualifiers might be entailed in an operation. As we have an x-bte example, I can at least filter BTE's metakg by that to limit unnecessary querying, however I don't see docume

[2022-10-20 18:58] colleenXu opened #520 "disable scoring for "KP endpoints" (by-api and by-team)"
We propose removing NGD scoring for by-api and by-team endpoints because they are primarily used as "KPs" (knowledge providers) by other ARAs. So it's not clear that the scoring is needed (more of an ARA function) - plus removing it would help lighten the load that the NGD scoring is dealing with.

Then scoring (NGD stuff, future PFOCR stuff) would only need to be implemented on the v1/query (and

[2022-10-20 19:06] colleenXu commented on #512
For your first point, yeah that's....not ideal. I'm okay with you going forward with a mix, since the other two types of constraints (at least edge-attribute source stuff) may have a similar mix of pre- and post-query filters.

I imagine that they will want qualifiers added to the /meta_knowledge_graph in future TRAPI releases...so then we'd have to change that a bit in the future.

---

For the s

[2022-10-20 20:27] tokebe commented on #514
@colleenXu If I understand this list of changes, as far as implementation within BTE logic I see a few steps:

- Update biolink file
- Ensure all tests are up to date with new predicates/etc
- Check over any hardcoded attributes for compatibility, update as necessary
- Check/implement support for qualifier hierarchy traversal in biolink-model package
- Write appropriate qualifier hierarchy tests

[2022-10-25 16:15] newgene opened #521 "support jq based response transformation in SmartAPI annotations"
In issue #489, @rjawesome evaluated both JMESPath and `jq`, then decided to use `jq` as the JSON transformation engine for it richer functionality.

This issue continues the implementation in [PR38](https://github.com/biothings/api-respone-transform.js/pull/38) for issue #489 to provide an option for users to include `jq` based response transformation directly in an API's SmartAPI annotations. The

[2022-10-26 20:46] colleenXu commented on #517
This seems to happen only when threading is off (so it should only affect developers running with threading off, and not our instances that always run with threading on)...

It also happens when running the specific templates (outside creative-mode):

<details>
<summary>last template for ketoacidosis</summary>

[code]

</details>

<details>
<summary>first template for diabetes</summary>

[code]

<

[2022-10-27 19:30] colleenXu commented on #512
@tokebe @andrewsu

Step 1 (update x-bte annotations for qualifier-refactor) is done as of this [commit](https://github.com/NCATS-Tangerine/translator-api-registry/commit/923f5f88d406ef6f98b77a6a5daeb484c5aad09c). I did modify a few of Text-Mining's operations.

I ended up doing find-replace for semmeddb operations, and I haven't refactored the semmeddb-operation-generating code yet.

Next I'll wor

[2022-10-28 01:46] colleenXu commented on #514
Noting: for semmeddb, changing mapping of SEMMEDDB:ASSOCIATED_WITH from `associated_with` (now a statistical correlation) to `related_to` https://github.com/NCATS-Tangerine/translator-api-registry/commit/5e51b26a77ce9b427701304da71086773ee8c0c2

EDIT: leaving the mapping to `interacts_with`: SEMMEDDB:INTERACTS_WITH and idisk drug-supplement interactions

[2022-11-01 06:31] colleenXu commented on #514
EDIT: revising list based on changes to master branch

Basically DONE on the x-bte annotation side of things.

Involved commits from [here](https://github.com/NCATS-Tangerine/translator-api-registry/commit/f2c04435d280f8707ef4af22f4be33bbf41a3108) to [here](https://github.com/NCATS-Tangerine/translator-api-registry/commit/7334b4e2ee92ce99cff84c43d7b6f29f3fe73171)

The APIs (biothings unless noted

[2022-11-02 01:54] colleenXu commented on #512
### Update on Step 1

Note that the format (aka case) of qualifier values is still unclear. Internal Slack [link](https://ncatstranslator.slack.com/archives/C014B3JAX36/p1667347428728649).

---

Noting that qualifier-refactor discussions haven't happened with Multiomics Provider for their APIs:

* Multiomics BigGIM-DrugResponse KP API
* Multiomics ClinicalTrials KP
* Multiomics EHR Risk KP API
* M

[2022-11-02 05:35] colleenXu commented on #514
EDIT 2022-12-13: actually not changing the title anymore.

~Noting that I changed the title of the GO MF API....so we'd want to change the title in the BTE config list too. Is there a branch of bte-trapi that the qualifier work is going into? @tokebe~

[2022-11-02 13:24] tokebe commented on #514
All qualifier work is currently under branches named `add-qualifiers`.

[2022-11-02 19:24] colleenXu commented on #514
new branch made in bte-trapi with the little changes (BTE's own smartapi yaml) and go-mf api name https://github.com/biothings/BioThings_Explorer_TRAPI/tree/add-qualifiers

[2022-11-04 05:21] colleenXu commented on #512
News:
* Translator data modeling group confirmed that "regulates" should only be used in specific cases
    * many gene-gene relationships will count. Many chemical-gene relationships will be "affects" instead.
    * Quoting Mike Bada: "regulators as biologically evolved things, particularly (endogenous) genes/gene products, as we've defined regulation as biologically evolved things affecting othe

[2022-11-04 16:00] tokebe commented on #483
Completed: merged and deployed to all live instances

[2022-11-04 16:00] #483 closed, assigned to tokebe

[2022-11-04 16:12] tokebe commented on #442
Closed by automation, reopening until deployed to Prod

[2022-11-05 01:25] colleenXu commented on #497
Andrew and I agreed that this is a necessary addition for this first iteration of ID/node-expansion:

When ID-expansion is done on a QNode, check that this QNode has the property `is_set: true` set. If the QNode doesn't have this property, add it.

For example:

<details>

<summary>original query</summary>

[code]

</details>

...would have ID-expansion done on QNodes n0 and n2. We want the `is_se

[2022-11-05 02:22] colleenXu opened #524 "ID/node-expansion: order of expansion vs equivalent-ID-retrieval"
Based on the console-logs for the first attempt ([these](https://github.com/biothings/bte_trapi_query_graph_handler/pull/113#issuecomment-1280213218) [two](https://github.com/biothings/bte-trapi-workspace/pull/17) PRs), it looks like the ID-expansion happens first on the IDs provided initially in the query, then equivalent IDs are retrieved (Node Normalizer query).

Some questions we have:
* is th

[2022-11-05 04:42] colleenXu commented on #497
Noting multiple PRs / branches related to this issue:

These two go together:
* https://github.com/biothings/bte-trapi-workspace/pull/17
* https://github.com/biothings/bte_trapi_query_graph_handler/pull/113
    * I recently added a commit to adjust templates - removing the subclass operations and rearranging the order https://github.com/biothings/bte_trapi_query_graph_handler/pull/113#issuecomment

[2022-11-05 05:36] colleenXu commented on #512
@tokebe Added a commit to query-handler (add-qualifiers branch) to adjust templates for the predicate changes https://github.com/biothings/bte_trapi_query_graph_handler/commit/3a0ca1aa3543f99077579994d328939437318f8a. I haven't tested this change yet.

I'm also not sure about adding qualifier-constraints

[2022-11-07 14:16] tokebe commented on #512
Once I have the implementation, I see no reason that you couldn't use qualifier-constraints. You can add them now if you want, since they won't break anything.

[2022-11-07 18:40] tokebe commented on #512
@colleenXu I've pushed an experimental implementation of qualifier constrain pre-filtering. Below is the rundown of the behavior:

- The following pre-filtering is only applied if an operation doesn't have the `bte-trapi` tag, which is added by BTE when TRAPI ingesting operations. If the operation has the `bte-trapi` tag, it is kept (because the qualifier constraints will be passed in as part of t

[2022-11-07 19:28] colleenXu commented on #494
Update: TRAPI v1.3.0 (not -beta) was released Sept 1st. https://github.com/NCATSTranslator/ReasonerAPI/releases/tag/v1.3.0

Using https://github.com/NCATSTranslator/ReasonerAPI/compare/v1.3.0-beta...v1.3.0, we can update our SmartAPI yamls for BTE/Service Provider and any issues...

[2022-11-07 19:36] colleenXu commented on #512
@tokebe I found this set of implementation rules on qualifier_constraints https://github.com/NCATSTranslator/ReasonerAPI/blob/v1.3.0/ImplementationRules.md#qedgequalifier_constraints

[2022-11-07 19:37] colleenXu commented on #482
Note that the latest implementation rules were released in TRAPI v1.3.0 Sept 1st: https://github.com/NCATSTranslator/ReasonerAPI/blob/v1.3.0/ImplementationRules.md. It has info on QNode constraints, QEdge attribute_constraints (on resource allow/denylist), and QEdge qualifier_constraints.

[2022-11-07 19:43] tokebe commented on #512
I'm aware of this set of rules. My implementation follows these; however these rules are very broad and do not cover the specifics of qualifier-constraint matching for a KP, which we must follow for our non-TRAPI KPs.

These implementation rules only specify "is compatible with", which I've interpreted both to the best of my ability and with my understanding from previous conversations. I'm asking

[2022-11-07 19:56] colleenXu commented on #494
Update: reviewed the current BTE/Service-Provider SmartAPI yamls and they already have all the changes done for v1.3.0 (compared to v1.3.0-beta). Closing this issue.

[2022-11-07 19:56] #494 closed, assigned to nobody

[2022-11-07 19:59] andrewsu commented on #512
Yes, I think that makes sense.  This issue is already getting a little bit unwieldy, so breaking things down to a series of more focused issues seems like a good plan...

[2022-11-07 22:06] tokebe commented on #512
@colleenXu I'm rolling the biolink 3.0.3 rollout into the qualifiers issue given that they're both very related and the biolink 3 rollout won't require a lot of work.

What's left (some may be put in separate issues):

- [ ] additional testing for qualifier constraints
- [ ] write tests for qualifier support
- [ ] implement biolink 3 qualifier hierarchy traversal for qualifier constraints -> new i

[2022-11-07 22:58] colleenXu commented on #512
@tokebe I think it makes sense to roll the https://github.com/biothings/BioThings_Explorer_TRAPI/issues/514 and this qualifier issue into the same set of branches/PRs.

I plan to write up how I manually test qualifier-constraints - which may help for writing tests

I think the qualifier-value hierarchy traversal would definitely be a separate issue.

I don't think we need to add qualifiers to our

[2022-11-09 01:56] rjawesome commented on #519
Started on ``infores`` branch (smartapi-kg, query_graph_handlre)

[2022-11-09 05:56] colleenXu commented on #512
## Feedback Part 1

Update 2022-11-15: with this code [fix](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/512#issuecomment-1315701863), the behavior with 1 set of 1 constraint looks mostly fixed. There is still an issue with qualified_predicate (described in the [later comment](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/512#issuecomment-1316393509)).

[2022-11-11 05:36] colleenXu commented on #512
## Feedback Part 2

Update 2022-11-15: with this code [fix](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/512#issuecomment-1315701863), the behavior looks fixed. Yay!

[2022-11-11 21:59] colleenXu commented on #512
## Feedback Part 3

Update 2022-11-15: with this code [fix](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/512#issuecomment-1315701863), (2) seems to be working. (1) isn't fully working - there are still issues with qualified_predicate (listed in a [later comment](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/512#issuecomment-1316393509))

---

UPDATE 2022-11-14 6pm PT

[2022-11-13 06:48] ericz1803 commented on #497
I pushed 2 changes that set the QNode `is_set` property to `true` for expanded nodes and logs it.

To your question, the ID expansion is happening when the QueryGraph is set, so very early in the process. I think it makes sense to do it here because the ID expansion doesn't depend on metaKG being loaded and it is the most straightforward place to do it.

[2022-11-15 18:21] tokebe commented on #512
@colleenXu I've pushed fixes to each respective package.
- Fixed constraints. For some reason one change required to pass constraints into the filter criteria didn't get committed
- Fixed reversing. Reversed records weren't building using the newly reversed qualifiers.
- Fixed `biolink:` prefix missing
- Added validation for duplicate qualifier types within a set.

[2022-11-16 05:40] colleenXu commented on #512
### Feedback round 2

EDIT: done retesting. From my testing POV, there were only 2 small things with qualified_predicate, which are probably related and easily fixed. Once these are addressed, this issue (Steps 1-3) may be complete...

#### Qualified predicates

Note: Testing setup is the same as [above](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/512#issuecomment-1308248570) (aka

[2022-11-21 22:44] colleenXu commented on #514
Related to https://github.com/biolink/biolink-model/issues/1171

[2022-11-22 21:22] colleenXu commented on #514
sierra moxon decided to make biolink "interacts_with" not abstract, so we can use it again. Changed biolink/monarch and dgidb yamls for biolink3 branch, so they use interacts_with again https://github.com/NCATS-Tangerine/translator-api-registry/commit/47f3054ffd6ee565e0b4d490e3b908e58951825e

https://github.com/biolink/biolink-model/commit/c256cee9487e4eac2186f6463ad9baf7acf7f638.

[2022-11-30 17:05] tokebe commented on #442
Deployed to prod, marking as completed.

[2022-11-30 17:05] #442 closed, assigned to rjawesome