[2021-09-24 19:16] marcodarko commented on #299
This is addressed in this PR https://github.com/biothings/BioThings_Explorer_TRAPI/pull/307

[2021-09-24 19:58] colleenXu commented on #174
update for TRAPI v1.2. I think the query constraints work the same as specified above. I updated the query below (maybe use SmallMolecule or ChemicalEntity?):

[code]

[2021-09-27 16:48] andrewsu opened #308 "Remove Gene SYMBOL-based operations, or add support for SYMBOL"
Results from running [query D.1](https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowD/D.1_parkinsons-crohns.json) on a local instance can be found here: https://www.dropbox.com/s/x78xatt48inggrz/response_d1.json?dl=0

Those results includes these two objects under `message.knowledge_graph.nodes`:

[code]

[code]

These two nodes _should_ be combined as far as I can te

[2021-09-27 17:03] colleenXu commented on #308
@andrewsu this is happening because some operations still use SYMBOL but the SRI-based ID resolver doesn't recognize and do ID resolution on SYMBOL.

We could remove those operations...

[2021-09-27 17:11] andrewsu commented on #308
Right, thanks.  Have we asked the SRI folks about whether adding symbol as another "identifier" for genes and proteins is possible?

[2021-09-27 18:49] newgene opened #309 "Make predicates.json cache file more deterministic"
Basically, we want to make sure generated `predicates.json` cache file has the exactly same file content when the upstream API content did not actually change, e.g. removing the non-content changes (e.g. sorting the order of an array or the key order of the object):

Here is an example object from `predicates.json`:

[code]
[code]

[2021-09-27 18:50] newgene commented on #309
also non-urgent.

[2021-09-27 19:30] newgene opened #310 "Time to make the new query algorithm the default one"
The new iterative query algorithm (https://github.com/biothings/bte_trapi_query_graph_handler/pull/35 and https://github.com/biothings/BioThings_Explorer_TRAPI/pull/273) has been merged and running on production for a while. Time to make it "THE" `query` function, instead of the `query_2` function.

[2021-09-27 21:33] colleenXu commented on #308
@andrewsu we haven't...It looks like the biolink model adds symbol as a node property....https://github.com/biolink/biolink-model/blob/d77172050122bf4d5b48cd1d487fb58a8b163620/biolink-model.yaml#L8119

[2021-09-28 19:59] andrewsu commented on #308
Some slack discussion here: https://ncatstranslator.slack.com/archives/C0125JTMDHA/p1632779182001700

I think within https://github.com/biothings/biomedical_id_resolver.js, we _could_ hack in a bit of logic to take `id.label` from the Node Normalizer output and add an entry under `equivalent_identifiers`. Prioritization a bit depends on which API operations use gene symbols as their primary key.

[2021-09-29 19:53] colleenXu commented on #308
@andrewsu

Only 1 API uses SYMBOL IDs: multiomics TCGA mutation freq API. This can really only be fixed on the data / parser side for that API.

I've updated all other APIs that did use SYMBOL to use another valid ID (NCBIGene, UniProtKB, ENSEMBL).....theoretically after refreshing the registry, only the API above will be giving SYMBOLs...

[2021-09-29 19:59] andrewsu opened #311 "bug: seeing "biolink:null" for node categories"
The ARS results for query D.1 are here (from asyncquery): https://arax.ncats.io/?r=99419778-90df-4d55-b6f5-e1f78ec2bfd2 (**screenshot 1** below).  The BTE result fails TRAPI 1.2 validation because it contains nodes with `biolink:null` for some node categories (**screenshot 2** below).  Full results should be able to be downloaded here: https://arax.ncats.io/api/arax/v1.2/response/99419778-90df-4d5

[2021-09-29 20:05] colleenXu commented on #311
I'm also wondering if something is off with the logic for setting the category (if this ID doesn't return a semantic type from SRI ID resolver, I thought it was supposed to use the semantic type of the operation it came from).

But also...
something is odd with the edges for these nodes as well...there should be some edge attribute with a value? like saying the underlying api this edge came from?

[2021-09-29 20:08] colleenXu commented on #311
examples of Ids involved. I think this is coming from some API that's using odd IDs...

BFO:0000001
BFO:0000002
OGMS:0000031

[2021-09-30 17:45] colleenXu opened #312 "move to prod SRI node normalizer service"
EDIT: updated to separate Gene / Protein fixes.

Moving to [prod](https://nodenormalization-sri.renci.org/docs#/default/get_normalized_node_handler_get_normalized_nodes_get) instance of SRI node normalizer service (ID resolution) would help us use UniProtKB and UMLS protein IDs as "Genes".* This should allow us to use operations like DrugCentral (MyChem) that use those IDs and are annotated to Gen

[2021-09-30 18:43] colleenXu commented on #241
From the September demo:

I think there's some interest in using predicate mixins like the [increases amount or activity of](https://github.com/biolink/biolink-model/blob/e37280594b84718e778b2db2b1b5979a5aab076e/biolink-model.yaml#L1904) described above.

also perhaps some interest in having the GeneOrGeneProduct, to deal with Gene / Protein conflation

[2021-09-30 19:40] andrewsu opened #313 "investigate differences in results between sync and async queries"
The workflow progress tracker ran Query B.2a: https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowB/B.2a_DILI-fourth-one-hop-from-CHEBI_41879_Dexamethasone.json via both a synchronous query (https://arax.ncats.io/?r=ae038a8a-e0dc-44a5-962d-efbdead8eae0 (2817 results)) and via async query (https://arax.ncats.io/?r=1ef52ad6-a081-4b98-bb39-147c65e92982 (1609 results)), wi

[2021-10-01 04:20] colleenXu opened #314 "Handling provenance situation C"
I'll add details as they emerge.

We plan to update some APIs so that their x-bte-response-mapping has something like this:
`edge-attributes: association.edge_attributes`

In this situation where the key is "edge-attributes", we want to ingest everything under it (it should be an array of objects), PRSERVE it, and put it as the edge's attributes. Then BTE should continue to add its own source prov

[2021-10-01 16:25] andrewsu commented on #241
Importance of this issue ticked up based on a discussion during the relay.  In response to this question I raised on Translator slack (https://ncatstranslator.slack.com/archives/C02ELMPJBGV/p1633020386041900; illustrated in the screenshot below), the biolink model folks will be adding a mixin to include all predicates _except_ `subclass of` (https://github.com/biolink/biolink-model/issues/883), wh

[2021-10-04 22:59] colleenXu commented on #312
note that prod service was updated ~ a week ago so that the "recommended" semantic type is given at the top of the list of semantic types for an ID

[2021-10-05 02:10] colleenXu commented on #306
should now be addressed.

[2021-10-05 02:10] #306 closed, assigned to nobody

[2021-10-05 02:13] colleenXu commented on #147
closing this issue, will track in newly opened tickets or the issue above (call-apis 26)

[2021-10-05 02:13] #147 closed, assigned to tokebe

[2021-10-05 18:14] colleenXu commented on #314
The first API that we want to do this with is text-mining targeted association api: 978fe380a147a8641caf72320862697b . I'll update this post when I get the updated Smartapi yaml for this api out (that has the edge-attributes)

[2021-10-05 21:27] colleenXu commented on #314
@marcodarko The SmartAPI yaml for text-mining targeted association api (978fe380a147a8641caf72320862697b) is updated. The response mapping is [here](https://github.com/NCATS-Tangerine/translator-api-registry/blob/9c2f14cda5271d426a6b7643d880cc5c7da678d4/text_mining/smartapi.yaml#L1055)

I suggest testing by querying this API directly and thru BTE: https://pending.biothings.io/text_mining_targeted_

[2021-10-06 06:58] colleenXu commented on #278
My understanding is that the algorithm actually works (decides the order of execution) using the number of IDs in each step (as nodes get populated after one-hops).....

It would change the algorithm to do it based off of the number of operations possible between hops (w/o considering the number of IDs?).

[2021-10-08 06:12] andrewsu opened #316 "for entity-based record structures (BioThings APIs), "reverse" operations cannot retrieve the same information as "forward" operations"
Tentatively labeling this a bug, but it may be an inherent limitation.

This query

[code]

produces this result:
![image](https://user-images.githubusercontent.com/2635409/136506894-5209102b-6433-409a-82a5-fabbe631b364.png)

But when I simply flip the `subject` and `object`, the result has more edge provenance

![image](https://user-images.githubusercontent.com/2635409/136507024-b73effbc-5e6e-497

[2021-10-08 07:24] andrewsu opened #317 "reciprocal queries not matching"
I execute this query to find any NamedThing related to xylitol (UMLS:C0043369):

[code]

one of the results is Aldehyde Reductase (UMLS:C0002003)
[code]
[code]

But when I query for NamedThings related to Aldehyde Reductase (UMLS:C0002003), I get no results:

[code]
[code]

[2021-10-09 05:44] colleenXu commented on #316
@andrewsu This is two parts:
*  how BTE "picks" the direction to query in (when there's potentially a "better" choice in direction)
* a limitation of how the data is structured in the API (from my conversations with Kevin). This is a known issue to me, and I've wondered if there are solutions from a biothings suite (querying) or BTE api-response-transform ("filtering" post-query) side...

---

An

[2021-10-09 05:45] colleenXu commented on #317
This is related to #227 and was going to be addressed with x-bte annotations of the new SEMMEDDB API

[2021-10-09 05:58] colleenXu commented on #311
I believe this is a sporadic issue or an issue with the prod instance, since I ran the query just now on a local instance and didn't have an issue...

[2021-10-09 06:16] colleenXu commented on #302
I believe this is linked to these PRs:
* https://github.com/biothings/biomedical_id_resolver.js/pull/78
* https://github.com/biothings/call-apis.js/pull/34

[2021-10-09 06:17] colleenXu commented on #174
This is dependent on #302 and its PRs. I think it's addressed by this PR: https://github.com/biothings/bte_trapi_query_graph_handler/pull/45

[2021-10-09 06:34] colleenXu commented on #302
@marcodarko some feedback: I'd like clear documentation (here on the issue, a README, a doc, something) on how to add / edit node attributes. I think that would make it easier for me and Andrew to contribute.

[2021-10-09 06:49] colleenXu commented on #174
@marcodarko some feedback on https://github.com/biothings/bte_trapi_query_graph_handler/pull/45:

I only took a quick look based on this query, which worked as-expected compared to its unconstrained version:

<details>
<summary>Click for query</summary>

[code]

</details>

* It looks like this implementation does not fully follow the specifications [here](https://github.com/NCATSTranslator/Reason

[2021-10-09 07:41] colleenXu commented on #314
Update: the linked PRs seem to provide the expected behavior.

Note that the ARAX UI does not correctly display nested attributes:
![Screen Shot 2021-10-09 at 12 39 46 AM](https://user-images.githubusercontent.com/43731687/136649162-c2c2a4f5-ebac-4321-baf3-2e82cbed7f27.png)

 It also seems that BTE is not providing full-capacity to these endpoints (aka not running ID resolution on output IDs). I'l

[2021-10-09 07:43] colleenXu opened #318 "add ID resolution on output IDs of text-mining / multiomics provider APIs"
It looks like BTE is not providing ID resolution support when querying by API for the text-mining and multiomics provider APIs.

Do we want to add this feature or not?

Example: POST to text-mining targeted association API through BTE: http://localhost:3000/v1/smartapi/978fe380a147a8641caf72320862697b/query and notice that none of the Disease output IDs have names or additional equivalent IDs (und

[2021-10-09 07:52] colleenXu commented on #299
Looks like it's addressed. This is what I see from a cron job (notice it doesn't include BTE itself):

[code]

[2021-10-09 07:52] #299 closed, assigned to marcodarko

[2021-10-11 03:50] #279 closed, assigned to tokebe

[2021-10-11 03:54] newgene commented on #300
PR https://github.com/biothings/call-apis.js/pull/33 merged and deployed to prod.

[2021-10-11 03:54] #300 closed, assigned to tokebe

[2021-10-11 05:50] colleenXu commented on #241
wait until these changes get closed to prod before closing

[2021-10-11 05:51] colleenXu commented on #314
close once it's confirmed that this is on prod...

[2021-10-11 19:16] colleenXu commented on #241
I can see that this works on prod now.

Note:
Looks like my earlier concern was unwarranted: predicate mixins aren't children of related_to (and its descendants), and entity mixins aren't children of NamedThing (and its descendants). They therefore won't be used in queries where more general predicates and entity types are used.

Mixins instead will only be used / expanded when explicitly included

[2021-10-11 19:16] #241 closed, assigned to nobody

[2021-10-11 19:17] colleenXu commented on #241
Note that for Andrew's post above (https://github.com/biothings/BioThings_Explorer_TRAPI/issues/241#issuecomment-932373594), we will probably open another issue when the biolink model updates to include new mixins that we need to include...

[2021-10-11 19:18] colleenXu commented on #314
Closing. Can use the queries from here https://github.com/biothings/BioThings_Explorer_TRAPI/issues/241#issuecomment-940375780 and look at the edges to see that we are ingesting their attributes as-intended

[2021-10-11 19:18] #314 closed, assigned to ericz1803

[2021-10-11 19:23] colleenXu commented on #312
Closing since this change is now on prod.

One new feature on prod is that Genes now map to UniProtKB IDs. As a result, a query like this to Targeted Association API through BTE will provide results now (it uses UniProtKB IDs, which we currently write operations as Gene...)

POST to
https://api.bte.ncats.io/v1/smartapi/978fe380a147a8641caf72320862697b/query

[code]

[2021-10-11 19:23] #312 closed, assigned to ericz1803

[2021-10-11 22:14] colleenXu opened #319 "modify query graph when Protein is asked for"
to handle Gene / Protein conflation, Andrew and I have agreed that BTE should do Gene operations when Protein is asked for. In other words, when the query graph has `biolink:Protein` in a query node's `categories` field, we want that node's categories edited to add `biolink:Gene`.

BTE ideally then looks up Gene and Protein based operations for the hop.

Note: a set operation be done so there aren

[2021-10-11 22:23] colleenXu commented on #319
### Example

This is the query for Workflow D.6 of the demo:

<details>
<summary>original demo query</summary>

[code]

</details>

We'd like it to be modified so that what actually runs is this:

<details>
<summary>modified query</summary>

[code]
</details>

[2021-10-12 17:17] andrewsu commented on #174
Example query: https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowA/future/A.2_RHOBTB2_twohop_constrained.json

[2021-10-12 17:27] andrewsu commented on #174
For now, let's only deal with single-value constraints.  We also need to deal with mismatch between `chembl.max_phase` in mychem.info and `FDA_approval_status_enum` at https://github.com/biolink/biolink-model/blob/master/biolink-model.yaml#L239.  So instead of the example query posted immediately above, for now, test on this (replacing "regular approval" with "4"):

[code]

[2021-10-12 17:32] andrewsu commented on #197
given @colleenXu's testing, this is ready to merge.  @newgene

[2021-10-12 17:37] andrewsu commented on #302
node attributes are handled in https://github.com/biothings/biomedical_id_resolver.js/blob/main/src/config.ts with the mappings under `additional_attributes_mapping`

[2021-10-12 18:14] colleenXu commented on #305
TDLR: the server url issues seem to be fixed. However, there are still other issues with the APIs...

For example, I've noticed the following issues with the ICEES COVID API (https://covid.icees.renci.org/query):

* The provenance edge attribute says "icees-asthma", which seems incorrect
* There seems to be outdated terms like ChemicalSubstance (semantic type), PUBCHEM (should be PUBCHEM.COMPOUND)

[2021-10-12 20:56] marcodarko commented on #302
Also related to this issue: https://github.com/biothings/call-apis.js/pull/34 linking for ref.

[2021-10-13 03:23] colleenXu commented on #318
After speaking with @andrewsu , we agreed that we didn't know the reasoning for doing this and that we'd like to fix this. We're not clear on the priority of this...

[2021-10-13 03:25] colleenXu opened #320 "Fix failing tests"
I notice these tests failing, likely due to changes in handling text mining APIs (provenance situation c w/ edge attributes, pagination). I'll add more comments as I review...

see latest comments for details on the fails. Currently bte-trapi and call-apis are the modules where tests are consistently failing

---

EDIT: this is outdated; ignore rest of this comment

This repo (bte-trapi):
* v1quer

[2021-10-13 03:27] colleenXu commented on #320
call-apis:
* integration.test.js:
    * Integration test using mygene.info gene to biological process association › check response
    * Integration test using text mining co-occurrence KP for disease to chemical association › check response

[2021-10-13 03:29] colleenXu commented on #320
EDIT: fixed by the merged PR mentioned below.

~query-graph-handler:~
* ~KnowledgeGraph.test.js~
    * ~Testing _createAttributes function › test edge attributes~
    * ~Testing _createEdge function › test creating edge~

[2021-10-13 03:43] colleenXu commented on #319
Closing since it's confirmed that this has been pushed to prod

[2021-10-13 03:43] #319 closed, assigned to nobody

[2021-10-13 04:06] newgene opened #321 "Async query endpoint seems to be calling APIs not in config.js list (RTXKG2 API, Automat Robokop, etc.)"
RTXKG2 KP API (https://smart-api.info/registry?q=acca268be3645a24556b81cc15ce0e9a) is not listed in

https://github.com/biothings/BioThings_Explorer_TRAPI/blob/main/src/routes/v1/config.js

But this query appears calling this API during the execution:

[code]

[2021-10-13 04:13] colleenXu commented on #197
will check that this is deployed to prod as-expected, when BTE prod is online...

[2021-10-13 05:41] colleenXu commented on #197
checked and it's live

[2021-10-13 05:41] #197 closed, assigned to marcodarko

[2021-10-13 18:27] colleenXu commented on #321
There seems to be a difference in the apis being called through the query endpoint vs the asyncquery endpoint.

Query endpoint seems to be correctly using the config list. Asyncquery endpoint seems to not use this config list and instead hits everything in the metakg…..including APIs like rtxkg2, multiomics drug response, automat robokop, etc.

[2021-10-19 06:29] colleenXu commented on #320
EDIT: not failing now. Maybe was a transient thing...

~currently finding some tests failing in biomedical id resolver....~

<details>
<summary>expand here</summary>

➜  biomedical_id_resolver git:(main) ✗ npm test

 PASS  __tests__/unittest/utils.test.ts
 PASS  __tests__/unittest/bioentity.test.ts
 PASS  __tests__/validate.test.ts
 PASS  __tests__/scheduler.test.ts
 PASS  __tests__/integration/ge

[2021-10-19 22:44] colleenXu commented on #321
closing since this is on prod now, and should be handled correctly.

will reopen if this issue reappears

[2021-10-19 22:44] #321 closed, assigned to marcodarko

[2021-10-20 15:24] andrewsu commented on #125
Since `/asyncquery` handles most of the requirements here, closing this issue...

[2021-10-20 15:24] #125 closed, assigned to kevinxin90

[2021-10-20 15:25] andrewsu commented on #84
given our current ongoing work with a redis cache, going to close this issue.

[2021-10-20 15:25] #84 closed, assigned to kevinxin90

[2021-10-20 15:26] andrewsu commented on #105
agreed, closing this issue

[2021-10-20 15:26] #105 closed, assigned to kevinxin90

[2021-10-20 15:32] andrewsu opened #324 "implement configurable cap on number of entities being tracked"
For longer and/or open-ended queries, the number of entities being tracked by BTE can grow absurdly high.  These cases may contribute to out-of-memory errors and server instability.  As one possible solution, we could implement a configurable cap on the number of entities being tracked by BTE.  If that cap is exceeded at any point in the execution, BTE could respond with an error and gracefully ex

[2021-10-20 17:24] colleenXu commented on #324
The options explored were:
1. Based on input to an edge: When the edge manager is deciding the next edge to do, if the "next best" edge to do has > "some limit" IDs in the input node.....stop execution / return error? saying that a step in the query had > limit IDs as **input** so it was too large
2. Based on output of an edge: When the sub-queries are being done, if one returns > "some limit" IDs

[2021-10-20 17:26] colleenXu commented on #324
Exactly what the "some limit" is depended on which option was chosen and what was happening in the query specified in #323

[2021-10-20 19:39] andrewsu opened #326 "create normalized google distance handler for semmed API"
We would like to use semmeddb to compute the normalized google distance (NGD) for two concepts, but this is currently not feasible based on the API at https://pending.biothings.io/semmeddb.  After talking with @newgene, he suggest that this could be implemented as a custom ES handler and a new, dedicated API endpoint.

[2021-10-20 19:53] andrewsu opened #328 "create user-friendly log for the TRAPI output"
Currently, the TRAPI response contains a very verbose "log" object. That log is not very useful for most BTE users, but very useful for developers and experts to debug. In https://github.com/biothings/BioThings_Explorer_TRAPI/issues/304, we will change behavior so that verbose log can be retrieve on demand, leaving the `log` field in the TRAPI output to be empty (except for a link to the verbose l

[2021-10-20 22:31] newgene commented on #304
Let's implement this as part of the current `/check_query_status/<jobid>` endpoint for async query.

Reference on how to add job logs and retrieve job logs:

https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#joblog

Options can be `/check_query_status/<jobid>?logs` to retrieve logs together with the normal query response,

or

`/check_query_status/<jobid>/logs` for logs only

[2021-10-21 00:40] marcodarko commented on #324
Will be addressed in https://github.com/biothings/bte_trapi_query_graph_handler/pull/53

[2021-10-21 17:56] andrewsu opened #330 "add ability to filter out promiscuous intermediate nodes"
In https://github.com/biothings/BioThings_Explorer_TRAPI/issues/324 , we implemented a performance / stability tweak that caps the overall number of entities being held in memory during query execution. This issue tracks a further potential enhancement to our performance / stability efforts.

Imagine a three-node, two-hop predict query that looks something like `fanconi anemia [disease]` - `[gene]

[2021-10-21 19:47] andrewsu opened #331 "consolidate results for multi-ID query nodes"
This ticket is a refinement of the results-building behavior defined in https://github.com/biothings/BioThings_Explorer_TRAPI/issues/164. Previously we did not address the case where the TRAPI specifies multiple allowed IDs for a single node.  For example, consider [this query](https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowD/D.2_ssri-heart-disease.json) (also pas

[2021-10-21 19:53] colleenXu commented on #331
note that this would be change compared to previous reasoning...which was to bind only 1 entity per qnode...

perhaps this is a "special" case where more than 1 ID / entity is supplied in 1 qnode...

[2021-10-21 20:29] colleenXu opened #332 "removing duplicate IDs from sub-queries"
When BTE receives a query with multiple IDs on the same query-node AND those IDs actually resolve to the same entity....BTE seems to act as if it has "multiple identical starting nodes" when it generates its sub-queries...This leads to repetitive / less-efficient behavior...

Desired behavior: If entities for a query-node have identical ID-resolution objects, they should be merged / duplicates rem

[2021-10-21 20:32] colleenXu commented on #332
Note that this **doesn't happen** for BTE when the exact same ID is repeated on a query-node:

Example query:
[code]

Example of the logs w/o the repeating IDs issue:
[code]

[2021-10-21 22:53] ariutta commented on #331
What should the JSON for the consolidated results assembly look like?

[2021-10-22 05:23] andrewsu commented on #331
starting with the BTE result here: https://arax.ncats.io/api/arax/v1.2/response/db1e8d54-3d3b-469e-9c8b-caee7e355064 (part of which is shown the screenshots above), a consolidated record from that might look something like the JSON in https://gist.github.com/andrewsu/bb35aaccbecca4a0f697e33e5570c09c, which would be visualized like this:

![image](https://user-images.githubusercontent.com/2635409/1

[2021-10-22 19:10] tokebe commented on #263
@newgene I think this issue has been adequately addressed/split into more specific performance issues, recommending we close it.

[2021-10-25 22:27] colleenXu opened #335 "Canceling execution early: check if all edges can be traversed w/ metakg"
Currently queries like https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowB/B.1_DILI-three-hop.json take a long time to run, before failing at the last step because the metakg storing possible BTE operations doesn't have edges to execute for the last step (will be reversed, so the edge is Gene ID - (affected_by)-> Drug).

Are we able to check whether we can traverse t

[2021-10-25 22:45] colleenXu opened #336 "failing sub-queries due to biothings rate limit, timeouts?"
For sub-queries with many IDs (the later hops of a Predict-style).....it seems like some of the sub-queries BTE sends to biothings and TRAPI APIs fail.

@tokebe has said that:
* for biothings APIs, it seems to be a rate limit issue (perhaps sending too many queries per minute)?
*for TRAPI APIs it seems to be a timeout issue.

We'd like to explore this in more detail to see when / why it occurs and

[2021-10-25 23:44] colleenXu commented on #227
need to check that this query works before closing...

[2021-10-26 04:31] colleenXu commented on #324
PR has been merged and deployed. Closing...

[2021-10-26 04:35] colleenXu commented on #280
Can this issue now be closed? @tokebe @newgene

(Also is this related / a dupe of #325 )

[2021-10-26 06:04] colleenXu commented on #336
Example of logs for semmeddb with timeouts? rate limits? happening with the following query:

  bte:call-apis:query Failed to make to following query: {"url":"https://biothings.ncats.io/semmeddb/query","params":{"fields":"subject,predicate,predication_id,pmid,object","size":1000},"data":{"q":[["C0919509","INTERACTS_WITH","horm",1,1],["C1527757","INTERACTS_WITH","horm",1,1],["C1334291","INTERACTS_W

[2021-10-26 06:05] colleenXu commented on #336
Note to @andrewsu @newgene that this issue affects demo queries and may be an issue...

[2021-10-26 17:12] #280 closed, assigned to tokebe

[2021-10-26 17:25] tokebe commented on #336
It's worth noting that I've since been unable to replicate my results of getting `503 service unavailable` from BioThings, using a test query that had previously caused such a return when being sent repeatedly in quick succession.

This isn't the case anymore as best as I can tell, so I think my initial claim of rate limiting is now dubious at best. This leaves the timeout issue, which may be on t

[2021-10-26 18:44] tokebe commented on #313
Further testing, on my local I consistently receive 2083 results from both endpoints, whereas currently on prod I receive 1113 on /query and 790 on /asyncquery, with tests for either endpoint being run within minutes of each other.

[2021-10-27 06:10] colleenXu commented on #219
#337 linked to this

[2021-10-27 15:57] ariutta commented on #331
My understanding for this example is that each of the different-but-related drugs must have a record (returned from at least one of the external APIs) that connects it with the gene. In other words, if acetaminophen were one of the different-but-related drugs, it wouldn't be enough that fluoxetine had a record connecting it with INS. If acetaminophen didn't have its own record connecting it with I

[2021-10-27 15:58] andrewsu commented on #313
@tokebe Can you see in the logs any obvious differences in which APIs are being called, or the number of results being returned?

[2021-10-27 16:17] andrewsu commented on #324
@marcodarko to add a sample query where this threshold will be triggered, and a sample output showing the error message

[2021-10-27 16:24] andrewsu commented on #331
yes, correct.  unless there was an edge connecting acetaminophen to INS, acetaminophen should not appear in the `node_bindings` section of the result.

[2021-10-27 16:58] ariutta commented on #331
In our group meeting, we decided this consolidation will at least for now only happen for lists of ids for nodes. (If needed, we may consider consolidation by node categories and edge predicates in the future, but those may also never be needed.)

[2021-10-27 18:39] tokebe commented on #313
What immediately jumps out is that two queries to `https://mychem.info/v1/query` are failing on the async endpoint with an error 'getaddrinfo ENOTFOUND mychem.info`, which is a very odd error to say the least. These account for all missing results from async, going by the number of hits on the sync endpoint.

[2021-10-27 21:30] colleenXu opened #338 "is something happening that makes BTE queries take a long time?"
I've noticed that since switching from GET to POST, queries seem to take longer on the ID resolution step. Discussion on this topic includes:
* comparing the previous GET method to the current POST method to confirm whether this observation is true
* playing with the batch size of IDs sent in each POST query to the resolver, to find a batch query size that runs as fast or quicker than the GET meth

[2021-10-27 21:31] colleenXu commented on #338
@newgene discussed assigning this to @ericz1803

[2021-10-28 20:53] colleenXu opened #339 "change infores-curie to infores"
Translator consortium recently asked for a "id for each tool", and it was decided to use the infores identifier under x-translator.infores. The infores-curie property was therefore changed here: https://github.com/NCATSTranslator/translator_extensions/commit/3c90b732149e66a518eaeaa0f0b2813b861ba60b

However, we had defined and used infores-curie in our code to handle provenance (situations A and p

[2021-10-28 20:54] colleenXu commented on #339
note that I plan to ask others like Chunlei to fix the cached files like smartapi_specs once the PRs are merged / registry refreshed...

[2021-10-28 21:31] colleenXu commented on #339
Order to make these changes:

Merge these first to update the registry, then refresh registry:
* https://github.com/NCATS-Tangerine/translator-api-registry/pull/82
* https://github.com/Hadlock-Lab/clinical_risk_kp/pull/10
* https://github.com/Hadlock-Lab/multiomics_wellness_kp/pull/12

Then merge these / push to prod so BTE can handle the change from infores-curie to infores:
* https://github.com/

[2021-10-28 21:49] colleenXu commented on #324
I believe Marco is still working on this issue (quote from Slack)

[2021-10-29 02:02] colleenXu commented on #305
I've received news that we are not expected to connect to the ICEES COVID APIs, and that they are not actively funded right now and may break.

Since ICEES Asthma and ICEES DILI now seem to be incorporated into BTE, we can close this issue...

[2021-10-29 02:02] #305 closed, assigned to nobody

[2021-10-29 02:25] colleenXu commented on #227
I've confirmed that we are now able to do this query with semmeddb (after modifying it to use ChemicalEntity)....and get the expected result. This is because semmeddb is annotated with the reverse operations.

The SRI-ID resolver does equate HP:0002013 to UMLS:C0042963. However, it currently does not recognize [UMLS:C0022237](https://nodenormalization-sri.renci.org/1.2/get_normalized_nodes?curie=U

[2021-10-29 02:25] #227 closed, assigned to colleenXu

[2021-10-29 03:47] colleenXu commented on #174
Note that the following queries are working as-expected. However, I am currently using a local environ that excludes all pending biothings APIs except clinical risk kp api / multiomics wellness api...

<details>
<summary>Modified version of A.2_RHOBTB2_twohop_constrained </summary>

Modified from [this](https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowA/future/A.2_R

[2021-10-29 04:02] colleenXu commented on #174
@marcodarko note that we may want to change the node attribute name from biolink:"highest_FDA_approval_status" to ["biolink:"drug_regulatory_status_world_wide"](https://github.com/biolink/biolink-model/blob/0a48c1346938d614131bc8d18dd12bbaefb5dbe1/biolink-model.yaml#L1262).

@andrewsu please confirm whether we want to make this change or not...

[2021-10-29 04:04] colleenXu commented on #174
@marcodarko also FYI the discussion here https://github.com/NCATSTranslator/ReasonerAPI/issues/298. It's difficult to know how to implement constraints when the node attribute's value is actually a list (not an int or string)....which is the case for most of the node attributes described above.

[2021-10-29 04:25] colleenXu commented on #332
Another example query with IDs that actually resolve to the same entity:
[code]

[2021-10-29 04:49] andrewsu commented on #174
Yes, the mapping of `chembl.max_phase` should now go to `biolink:drug_regulatory_status_world_wide`

[2021-10-29 05:52] colleenXu commented on #324
## Other examples

Note that I'm using a local api list (removes pending biothings apis except for clinical risk kp api / multiomics wellness) for all of these examples...

### Example 1

<details>
<summary>This 1-hop query returns just over 1000 IDs (1060)...</summary>

[code]

</details>

Therefore, we expect an error to be triggered if we add another hop that uses those 1060 IDs as input. This

[2021-10-29 06:15] colleenXu commented on #174
Just tried again with a full api list and the following queries ran and looked like they worked compared to the queries without the constraint:
* A.2_RHOBTB2_twohop_constrained
* A.2a_expanded_RHOBTB2_twohop_constrained
* A.9_EGFR_advanced

[2021-10-29 06:30] colleenXu commented on #338
Note that this may be happening with very large numbers of IDs to resolve...

I'm noticing that the query below is having a lot of IDs to resolve in the DiseaseOrPhenotypicFeature -> Gene edge...and this is taking ~10 min to do...

[code]

<details>

<summary>An example of a query that fails is Demo B.1</summary>

[Link](https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/work

[2021-10-29 14:22] marcodarko commented on #174
@colleenXu @andrewsu great thank you both, I'll update the PRs

[2021-10-29 15:55] colleenXu commented on #324
Perhaps we could fail earlier in the process - sometimes before the failure point, BTE takes a while with ID resolution because there are >60000 IDs to send to the ID resolver....see https://github.com/biothings/BioThings_Explorer_TRAPI/issues/338#issuecomment-954466062 .

What do you think, @andrewsu @newgene ?

[2021-10-29 16:33] andrewsu opened #341 "consolidate results based on is_set query parameter"
The Reasoner API defines an `is_set` parameter ([link](https://github.com/NCATSTranslator/ReasonerAPI/blob/master/TranslatorReasonerAPI.yaml#L542)) that should be used to help define our results merging behavior.  One example that uses this `is_set` parameter is in https://github.com/NCATSTranslator/testing/issues/134 -- this query is visually depicted below:

![image](https://user-images.githubus

[2021-10-29 18:19] colleenXu commented on #288
A more recent example...

 PASS  __test__/utils.test.js
 PASS  __test__/ctd_transformer.test.js
 PASS  __test__/ebi_protein_transformer.test.js
 PASS  __test__/biolink_transformers.test.js
 PASS  __test__/base_transformer.test.js
 PASS  __test__/biothings_transformer.test.js
 FAIL  __test__/cord_transformer.test.js (6.203 s)
  ● test cord transformer › test cord pairInputWithAPIResponse

    Timeo

[2021-10-29 18:50] colleenXu commented on #174
Updating the queries to use `biolink:drug_regulatory_status_world_wide`:

<details>
<summary>Modified version of A.2_RHOBTB2_twohop_constrained </summary>

Modified from [this](https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowA/future/A.2_RHOBTB2_twohop_constrained.json)
[code]
</details>

<details>
<summary>Modified version of A.9_EGFR_advanced</summary>

Modified

[2021-10-29 23:55] colleenXu commented on #320
currently for bte-trapi I'm getting more failed tests:

Test Suites: 3 failed, 1 skipped, 10 passed, 13 of 14 total
Tests:       13 failed, 11 skipped, 44 passed, 68 total
Snapshots:   0 total
Time:        313.848 s

with some queries saying stuff like this:
    : Timeout - Async callback was not invoked within the 300000 ms timeout specified by jest.setTimeout.Timeout - Async callback was not inv

[2021-10-30 00:01] colleenXu commented on #320
for call-apis:
Test Suites: 2 failed, 7 passed, 9 total
Tests:       3 failed, 71 passed, 74 total
Snapshots:   0 total
Time:        2.687 s, estimated 14 s

[2021-11-01 15:07] tokebe commented on #332
@colleenXu The above query has its duplicate IDs removed as expected after https://github.com/biothings/bte_trapi_query_graph_handler/pull/56 was merged. I think this issue is ready to close?

[2021-11-01 18:48] colleenXu commented on #339
waiting for hadlock lab's PRs to merge / refresh registry. Then this will be done...

[2021-11-01 18:52] colleenXu commented on #332
should be deployed to prod, so closing

[2021-11-01 18:52] #332 closed, assigned to nobody

[2021-11-01 20:21] colleenXu commented on #324
Closing this.

After discussion with Andrew, I'll clarify #338 and we'll see how things progress. If needed, we could do a cap (BTE would return failure) related to ID resolution, using a multiplier of this entity cap (like 10,000 - aka 10 * 1000 (entity cap))...

[2021-11-01 20:21] #324 closed, assigned to marcodarko

[2021-11-01 21:29] erikyao commented on #326
# (Deprecated. See the latest comments for API specification)

<details><summary>Click to expand</summary>

## Overview

The API is published to the endpoint https://biothings.ncats.io/semmeddb/query/ngd. The related code commit is [ced3717](https://github.com/biothings/pending.api/commit/ced3717275bf30d407a7d122283eda5b0c6bfe40) (N.B. not merged to `master` yet.)

E.g. to query the Normalized Goo

[2021-11-01 21:35] colleenXu commented on #320
Note that in bte-trapi, the v1query.test.js  takes a particularly long time to run (> 5min)

<details>
<summary>current report from npm test for bte-trapi</summary>

[code]

</details>

[2021-11-01 21:38] colleenXu commented on #320
Also providing the call-apis report

<details>
<summary>report</summary>

[code]

</details>

[2021-11-01 22:21] colleenXu commented on #338
From Eric's comments, this is not an issue with how fast it takes the SRI service to return. Instead, there seems to be something else going on...

[2021-11-02 03:46] colleenXu commented on #339
closing since all prs have been merged, registry refreshed

[2021-11-02 03:46] #339 closed, assigned to colleenXu

[2021-11-03 05:10] colleenXu opened #343 "consider updating biolink model?"
we are on 2.2.5. the latest with new predicates/info is 2.2.6, and the current latest is 2.2.8....

I was thinking we could update to 2.2.8...

I'm not sure if the new predicates will be wanted in the demo (new high level parents like related_to_at_concept_level

EDIT: adding for reference:

previous issue with its linked PRs #306 and this comparison (look at the biolink-model.yaml's changes) http

[2021-11-03 05:21] colleenXu commented on #320
EDIT: And now I'm not seeing failing tests...weird...keeping the rest of the comment below just in case

---

Now seeing failing tests in query-graph-handler.

<details>
<summary>the report</summary>

[code]

</details>

[2021-11-03 15:51] ariutta commented on #331
I wanted to verify -- we could have `ids` lists for different nodes, and those nodes could be of the same type. So if we had two disease nodes, they could each have `ids` lists, and those lists could be identical, partially intersecting or non-intersecting, right?

[2021-11-03 15:53] ariutta commented on #341
Does this change #331, such that we should only combine results if the `is_set` parameter is specified?

[2021-11-03 16:35] andrewsu commented on #331
yes, I think that's right.  But in practice, those lists will be non-intersecting 99% of the time.  So if throwing an error where multiple nodes of the same type have any overlapping IDs significantly simplifies the implementation, I think that's totally fine...

[2021-11-03 16:41] andrewsu commented on #341
hmmm, are you suggesting that the specific case of #331 could be solved by a generic solution to this issue _if_ we require that `is_set` is true for multi-ID nodes?  Would that greatly simplify the implementation?  If so, we could discuss this with the rest of the consortium...

[2021-11-03 16:41] ariutta commented on #341
Yes

[2021-11-03 17:09] ariutta commented on #341
In that case, should I make a pull request to just solve #331, or should I wait for you to confirm with the rest of the consortium? The way you phrased it in your comment is very well stated. If the consortium says yes, we could solve both  this issue and #331 with a simpler solution than the one I came up with for #331 alone.

[2021-11-03 17:22] andrewsu commented on #341
I'm crafting the question to the consortium now.  So let's give them a day or two to see if there is clear consensus there...

[2021-11-03 19:54] colleenXu commented on #302
I'm closing this ticket since it's been deployed.

However, I plan to open a new ticket for reviewing the node attributes / perhaps adding some more...

[2021-11-03 19:54] #302 closed, assigned to marcodarko

[2021-11-03 19:59] colleenXu opened #344 "Review / add node attributes"
I'll record what mappings I think would be useful to add to BTE in this ticket. This builds off of #302

This involves editing this file: https://github.com/biothings/biomedical_id_resolver.js/blob/main/src/config.ts

Of the top of my head:
* MyChem has route info for chemicals (chembl.oral, chembl.parenteral (IV, injection), chembl.topical) and whether or not this is a natural product (chembl.nat

[2021-11-03 20:02] colleenXu commented on #174
Closing because it's been deployed on prod.

Next steps are @andrewsu discussing whether the demo queries can use our node constraint modifications: https://github.com/biothings/BioThings_Explorer_TRAPI/issues/174#issuecomment-954972343

[2021-11-03 20:02] #174 closed, assigned to marcodarko

[2021-11-03 23:57] colleenXu commented on #344
### From MyDisease

[UPDATED 2023-06-08]

Fields are listed in alphabetical order
ask people responsible for core Biothings APIs like Chunlei if you have questions about these fields or how to query the BioThings APIs

#### Description

* disease_ontology.def: Disease ontology definition (nice overview for someone who doesn't know what it is)
* mondo.comment: perhaps. haven't reviewed this field
*

[2021-11-04 00:40] colleenXu commented on #344
### From MyGene

[UPDATED 2023-06-08]

Fields are listed in alphabetical order
ask people responsible for core Biothings APIs like Chunlei if you have questions about these fields or how to query the BioThings APIs

#### Descriptions

* ensembl.type_of_gene
* generif.text
* interpro.desc
* summary (nice overview for someone who doesn't know what it is)
* symbol
* taxid (NCBITaxon)
* type_of_gene

[2021-11-04 01:12] erikyao commented on #326
# (Deprecated. See the latest comments for API specification)

<details>
<summary>Click to expand</summary>

## Examples of Corner Cases and Error Handling

### Undefined NGD

- Cause: a term never occurs in the corpus
- Query string: `q=subject.umls:C0684074 AND object.umls:C0003063xx`
- URL: https://biothings.ncats.io/semmeddb/query/ngd?q=subject.umls:C0684074%20AND%20object.umls:C0003063xx

[co

[2021-11-04 04:59] andrewsu commented on #326
Hmm, the `Infinity` validates with the python json library. But it confuses all sorts of online json validators, and probably most importantly, javascript's json parser:

![image](https://user-images.githubusercontent.com/2635409/140260318-7d8be16a-407f-493a-aac3-2e7045fb55dc.png)

any thoughts on how to deal with that?

[2021-11-04 05:12] andrewsu commented on #341
Just got confirmation that we should indeed handle #331 as a special case of the `is_set` usage described in this issue.  So, I will close #331, and please implement the generic solution based on the assumption that `is_set` will be `True` if multiple IDs in the query are to be collapsed into a single result.  Good catch, @ariutta!

[2021-11-04 05:17] andrewsu commented on #331
Closing this ticket as a special case of #341.  If the intent is to consolidate results when multiple IDs are specified, then the query should explicitly state that using the `is_set` parameter.  So the behavior described above should be performed _if and only if_ the query looks like this:

[code]

[2021-11-04 05:17] #331 closed, assigned to nobody

[2021-11-04 18:59] tokebe opened #346 "Threading refactor: disable threading with ENV variable"
It's possible that threading may cause/obfuscate certain problems in the future, which would be difficult to test without reverting the threading code (as it currently stands). In addition, the current threading code is somewhat convoluted.

We should refactor threading to use [threads.js](https://threads.js.org/) and make it toggle-able with an ENV variable.

[2021-11-04 22:57] colleenXu commented on #343
merging this and advertising BTE as 2.2.8 biolink version also helps because we have the node attribute from 2.2.6 drug regulatory status world wide, from #302

[2021-11-05 02:01] colleenXu opened #347 "[quick fix] handling publications edge attribute"
* change to "biolink:publications"
* remove it from edge attributes list when it's empty

[2021-11-05 02:02] colleenXu commented on #347
note that right now x-bte annotations uses the response-mapping "pubmed" key to specify the field that should be used for publications.

We may want to change that in the future...

[2021-11-05 05:18] andrewsu commented on #313
Just a note that this query https://github.com/NCATSTranslator/testing/blob/main/ars-requests/not-none/1.2/D.1-hgd-alkaptonuria.json resulted in the same error from https://api.bte.ncats.io/v1/asyncquery/ (https://api.bte.ncats.io/v1/check_query_status/kVmlkzvxkc):

[code]

Results returned fine from the sync endpoint https://api.bte.ncats.io/v1/query/

[2021-11-05 05:35] andrewsu opened #348 "caching error - returning zero results on repeated query (unknown source)"
I'm seeing an issue with caching.  For example, when I execute this query

[code]

I get non-zero results.  When I immediately execute it again, I see zero results.  (Adding/removing IDs from the ID list apparently causes BTE to bypass the cache, which is how I'm testing.)  I do not think I see the `undefined` issue seen in #325 and #280, so creating a new issue.  And FWIW it looks like I can repr

[2021-11-05 05:37] andrewsu commented on #224
When I post a query to https://api.bte.ncats.io/v1/query?caching=false, I get the following error:
[code]
I've tested a handful of queries with the same behavior, so it does not appear to be query-dependent.  I can also reproduce this on my local instance when sending a query to http://localhost:3000/v1/query/?caching=false.

[2021-11-05 06:01] colleenXu commented on #344
### From MyChem

[UPDATED 2023-06-08]

I have bolded some fields I think are particularly interesting for a UI/user.
Fields are listed in alphabetical order
ask people responsible for core Biothings APIs like Chunlei if you have questions about these fields or how to query the BioThings APIs

#### description

* chebi.definition (overview)
* chembl.biotherapeutic.description
* chembl.atc_classific

[2021-11-05 16:15] newgene commented on #313
Probably a DNS issue for the instance we route asyncquery over.

[2021-11-05 16:22] andrewsu opened #349 "async endpoint doesn't appear to post result to callback URL on error"
In this query result https://arax.ncats.io/?r=ef6d4f87-f53c-4f8c-9aba-a804d74c5761  BTE shows an eternally "running status"

![image](https://user-images.githubusercontent.com/2635409/140543307-a223dd6d-1ecc-42c8-ae6a-3e95f9faabfc.png)

but loading the BTE-specific primary key shows that a query status URL is provided https://arax.ncats.io/?r=88a768fa-474c-40fd-af7d-5789e3587035

![image](https://

[2021-11-05 20:15] zcqian commented on #313
DNS issue should have been fixed (one way or another), the following domains are resolvable and works within the VPC:
- mygene.info
- myvariant.info
- mychem.info
- mydisease.info
- t.biothings.io

Let me know if more are needed and I will fix that.

[2021-11-05 20:20] colleenXu commented on #224
@andrewsu should I also modify BTE's smartapi registration to include the caching parameter (for query endpoints)? https://github.com/NCATS-Tangerine/translator-api-registry/blob/32737525ff94ad8f5223d8a4f77031d6cca4d91e/biothings_explorer/smartapi.yaml#L100

I have a bit of an idea of how to do that, but not fully sure about the openapi/smartapi spec...

[EDIT] looks like what eric edited was a lo

[2021-11-05 20:46] andrewsu commented on #224
huh, interesting question.  Clearly the local version is necessary and used in this validation step: https://github.com/biothings/BioThings_Explorer_TRAPI/blob/main/src/middlewares/validate.js#L18.  But the local version has also diverged from the smartAPI version here https://github.com/NCATS-Tangerine/translator-api-registry/blob/master/biothings_explorer/smartapi.yaml.  I don't particularly lik

[2021-11-05 21:05] colleenXu commented on #219
Closing since #337 was merged...

[2021-11-05 21:05] #219 closed, assigned to nobody

[2021-11-05 21:06] colleenXu commented on #343
Closing since https://github.com/biothings/biolink-model.js/pull/25 was merged

[2021-11-05 21:06] #343 closed, assigned to nobody

[2021-11-05 21:07] colleenXu commented on #310
closing since it's linked PRs were merged

[2021-11-05 21:07] #310 closed, assigned to marcodarko

[2021-11-05 21:07] colleenXu commented on #320
will wait a bit to see if tests keep popping up with errors, now that linked PRs were merged.

[2021-11-05 21:10] colleenXu commented on #338
moving off of @ericz1803 @andrewsu since there is more going on here.... related to #346  / edge managing / results assembly

[2021-11-05 21:15] colleenXu commented on #224
@andrewsu my understanding is that the local version is meant to match the smartapi version...

[2021-11-05 21:40] colleenXu commented on #320
well....still having failed tests...

<details>
<summary>bte-trapi report </summary>

[code]

</details>

[2021-11-05 21:41] newgene commented on #224
@colleenXu you may try the latest BTE metadata from SmartAPI locally to see if any further changes are needed.

And I agree that this file should be sync'ed with the smartapi version.

[2021-11-06 05:13] colleenXu commented on #224
@newgene @andrewsu to clarify: what endpoints have the caching parameter?

Currently I've added updates to the PR for the local file #350 and the smartapi registration yaml https://github.com/NCATS-Tangerine/translator-api-registry/blob/master/biothings_explorer/smartapi.yaml, so they are identical.

**Both files have the caching parameter specified on the /query endpoints only** (v1/query, v1/sma

[2021-11-08 19:21] newgene commented on #313
Verified the instance running bte async queries can resolve these biothings API hostnames now.

@andrewsu if you can verify the asyncquery results are the same as those from the sync query with your test queies, we can close this issue now.

[2021-11-08 23:25] andrewsu commented on #348
hmm, the original query above gives zero results for me now (both on prod and local).  The query below gives non-zero results on local, and caching appears to be working as expected (same results, returns within seconds).  However, the same query on prod currently gives me zero results.  Guessing the difference is the meta_kg, or some server time out?  Jotting down these notes now -- will try agai

[2021-11-09 00:00] colleenXu opened #352 "updating BTE's docs/smartapi.yaml file to match registry"
Recently, I tried to update https://github.com/biothings/BioThings_Explorer_TRAPI/blob/main/docs/smartapi.yaml to match the [yaml we have registered in the smartapi registry](https://github.com/NCATS-Tangerine/translator-api-registry/blob/master/biothings_explorer/smartapi.yaml). The one in the smartapi registry is more recent, edited to match TRAPI 1.2 / current Translator standards.

However, wh

[2021-11-09 02:32] erikyao commented on #326
Hi @andrewsu & @ericz1803 , could you please let me know how you'd like to pass the parameters to batch queries? I came up with 2 options below. New ideas are also welcome. Thanks!

### Option 1. Pass in a list of ID pairs, and then compute NGD for each pair.

E.g:

[code]

- Returns:
    - `NGD('C01', 'C02')`
    - `NGD('C01', 'C03')`
    - `NGD('C02', 'C03')`
- I.e. `n` pairs => `n` scores

###

[2021-11-09 04:49] andrewsu commented on #326
I think Option 1 will be much more appropriate for our use case...

[2021-11-09 07:59] colleenXu commented on #344
MyVariant:

only exists for a few variants...civic.description https://myvariant.info/v1/query?q=_exists_:%22civic.description%22

* chrom,
* clinvar.type, cadd.type, dbsnp.vartype, exac.type, exac_nontcga.type
* cadd.consequence

Interesting:
* dbnsfp.mutpred.pred

[2021-11-09 16:18] tokebe commented on #348
I get results for the first query on local, with caching working as expected, however I also get 0 results on prod. The second query returns non-zero results on local for me but I also get 0 results on prod.

[2021-11-09 19:21] erikyao commented on #326
@andrewsu sounds good! working on it now...

[2021-11-09 20:25] #224 closed, assigned to ericz1803

[2021-11-09 22:23] colleenXu commented on #352
should be resolved with https://github.com/biothings/BioThings_Explorer_TRAPI/commit/e0eafc51e387c0086094695b103cb501941c03de and https://github.com/NCATS-Tangerine/translator-api-registry/commit/7746b6ebd24b948281009ef16fc07f034d07938b

[2021-11-09 23:06] marcodarko commented on #347
@colleenXu can you clarify what the current attribute name is that needs to change to "biolink:publications"? and as always if there's any queries to test that's appreciated. I might need more background on this issue.

[2021-11-09 23:30] colleenXu commented on #347
@marcodarko sorry I definitely didn't describe this in enough detail.

Below is an example of an edge from BTE.

The edge attribute with the attribute_type_id "publications" is always present, even when it is empty (either nothing is mapped to it for that meta-edge or nothing was returned from the mapped field).

I'd like the attribute_type_id to change to "biolink:publications" and remove it from

[2021-11-09 23:38] marcodarko commented on #347
Got it, I think I know what to do now, thanks!

[2021-11-10 00:28] ariutta commented on #341
@marcodarko, the query graph @andrewsu provided in issue #331 appears to surface a possible issue with [`QEdge.isReversed`](https://github.com/biothings/bte_trapi_query_graph_handler/blob/42bf004aadf180c3f479151ff5ee94802d90af57/src/query_edge.js#L68). In my tests, `e01` has `isReversed() == true` when the query graph node `n02` has the property `ids`. Without the property `ids`, `isReversed() ==

[2021-11-10 00:46] colleenXu commented on #341
@ariutta that sounds right to me? The edge manager queries edges based on which node has less IDs. So the first edge to execute will be reversed e01: 3 IDs -> Gene and it'll likely return > 6 Gene IDs. That means the second edge will be e00 not reversed: 6 IDs -> Gene

But if n02 doesn't have any IDs on it, then BTE only has 1 way to execute it....e00 not reversed for 6 IDs -> Gene and then e01 no

[2021-11-10 15:23] tokebe commented on #313
@andrewsu @newgene Confirmed, both sync and async are both returning 2414 results, with no subqueries failing due to either ENOTFOUND nor timeouts.

[2021-11-10 17:30] marcodarko commented on #347
Will be addressed in this PR https://github.com/biothings/bte_trapi_query_graph_handler/pull/70

[2021-11-10 19:17] colleenXu commented on #349
Looks like the query was something like this:

[code]

[2021-11-10 20:15] tokebe opened #353 "Incorrect cached results returned between /query and by-team or by-API endpoints"
Sending the same query with a different endpoint (i.e. first to /v1/query, next to /v1/team/:team_name/query) multiple times will result in incorrect results for the second query. This is caused by cached edge results being returned from the first query to the second, which are not subsequently filtered to match the restriction of team name/API ID.

The easiest way to fix this is probably to chang

[2021-11-10 20:20] tokebe opened #354 "Fix potential caching race conditions"
It's currently possible for two queries to involve the same edge, where one begins caching its edge results and the next attempts to pull the results from the cache, causing the later query to potentially pull incomplete results. Other possible problems may occur, such as two queries attempting to cache the same edge simultaneously, etc. This issue is primarily caused by the fact that records for

[2021-11-10 21:33] andrewsu commented on #313
I tested https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowB/B.2a_DILI-fourth-one-hop-from-CHEBI_41879_Dexamethasone.json on both the sync and async endpoint (on the prod instance), and I also get the same number of results (1441).  (I'll note that in my testing I did get one response on the sync endpoint with a smaller number of results, but that appears to be due t

[2021-11-10 21:33] #313 closed, assigned to nobody

[2021-11-10 22:13] colleenXu commented on #352
It's working fine now. Another commit has been made recently to fix a few things...https://github.com/biothings/BioThings_Explorer_TRAPI/commit/03486d8a7ab311233cc33d920285a20a899e39ca and https://github.com/NCATS-Tangerine/translator-api-registry/commit/0d32129658a196e352182369c9ccbd9ce5d5d13e

[2021-11-10 22:13] #352 closed, assigned to marcodarko

[2021-11-10 23:59] erikyao commented on #326
## 1. Overview

The API is published to the endpoint https://biothings.ncats.io/semmeddb/query/ngd. The related code commit is [2ccd0e2](https://github.com/biothings/pending.api/commit/2ccd0e2a7f68b2e8d4beff3df1610d6ca09bdce2)

## 2. Normalized Google Distance (NGD)

### 2.1 How to Calculate

The calculation of NGD follows the formula in [wikipedia](https://en.wikipedia.org/wiki/Normalized_Google_

[2021-11-11 23:33] ariutta commented on #341
@colleenXu, there still appears to be a discrepancy of some sort. I created a test to demonstrate:
https://github.com/biothings/bte_trapi_query_graph_handler/blob/ba086e4d7dc1553cba5007f629f34473112157de/__test__/integration/helper.test.js#L196

In both of these tests, I would expect `n1` to be associated with NCBIGene:3778, `n2` with MONDO:0011122 & `n3` with a second instance of NCBIGene:3778. T

[2021-11-15 18:53] colleenXu commented on #346
I'm not sure if this can be closed or not...

[2021-11-15 18:55] colleenXu commented on #347
shoud be addressed now that PR is merged

[2021-11-15 18:55] #347 closed, assigned to marcodarko

[2021-11-15 20:29] #346 closed, assigned to tokebe

[2021-11-15 21:53] colleenXu opened #356 "fixing multiomics wellness kp api x-bte annotation"
* changing query method to POST, templating so that BTE can batch-query
* fixing reverse operations (not specified quite correctly)

Should make BTE faster at answering queries...

Also message Arpita in Multiomics team over her list of operations =/= this review's...

[2021-11-15 22:06] colleenXu opened #357 "Updating x-bte annotations"
Update for all:
- fields (be specific to what's used in response-mapping)
- Use GrossAnatomicalStructure rather than AnatomicalEntity

Less important:
- Remove: APIs that are slow, need updating / work
- Check: smartapi editor, testing (test/query or api override)
- Add examples, response-mapping fields, reverses, operations
[code]
- Note that "new x-bte" saved some notes and examples...

Add:
* A

[2021-11-16 18:48] ariutta commented on #341
This issue may be addressed in my branch `results_assembly_tree_traversal_is_set`. Note that the code changes in this branch are primarily intended for improved performance (10x in some cases!) in results assembly, taking advantage of the tree constraint ([issue 359](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/359)). The handling of this `is_set` issue is a smaller part tacked on.

[2021-11-16 19:34] tokebe commented on #348
Confirmed that wiping the prod cache now has non-zero results returning from each query, matching cached results from subsequent queries, and cached results expire after 10 minutes. What was likely happening was some results were cached and somehow not set to expire, causing weird results in testing. This issue should be resolved.

[2021-11-16 19:34] #348 closed, assigned to tokebe

[2021-11-16 20:17] tokebe commented on #341
@ariutta Looking at the `is_set` params questions:

- Given your assumptions, I'm pretty sure you have the node parameters set/checked correctly. `input.obj[0]` is definitely the right place, and I don't think there's a case where there will ever be an `obj[1]` to worry about?
- Based on the description for `is_set`, it does look like it's possible for both nodes to have `is_set`, which does chang

[2021-11-16 20:47] andrewsu commented on #341
Agreed, I don't think we can assume that only one node has `is_set=true`, and I think we also cannot assume that it will only be on a root or leaf node.

[2021-11-16 21:07] marcodarko commented on #349
A request wasn't posted when an error occurred due to return statement terminating the method, addressed in this pull request: https://github.com/biothings/BioThings_Explorer_TRAPI/pull/358

[2021-11-17 03:32] ariutta commented on #341
Latest update handles 0, 1 or 2 QNodes having an `is_set` param per QEdge, with no assumption that the QNode is a root or a leaf:

* https://github.com/biothings/bte_trapi_query_graph_handler/blob/results_assembly_tree_traversal_is_set/src/query_results.js
* https://github.com/biothings/bte_trapi_query_graph_handler/blob/results_assembly_tree_traversal_is_set/__test__/integration/QueryResult.test.

[2021-11-17 17:45] colleenXu commented on #341
Note from today's lab meeting:

* adding the cycles-prevalidation may be less essential since we won't be getting that from demo queries / won't be expecting these queries for now...

[2021-11-17 18:09] ariutta opened #359 "Speed up results assembly with tree constraint"
Andrew said we can assume our query graphs will be trees -- no cycles. That means, ignoring directionality, no node will have a path back itself without traversing the same edge more than once. Using this constraint, assemble results using tree traversal instead of using the cartesian product in [query_results.js](https://github.com/biothings/bte_trapi_query_graph_handler/blob/main/src/query_resul

[2021-11-17 18:28] colleenXu commented on #356
would also want to use this (no PR yet): https://github.com/biothings/bte_trapi_query_graph_handler/tree/wellness_batch_query

[2021-11-17 18:41] ariutta commented on #341
One caution regarding cycles -- the tree traversal code gives this error if it encounters a cycle:

[2021-11-17 22:16] ariutta commented on #341
I discussed results assembly and consolidation with some of our group and created a graphic to explain it. In case it's helpful for anyone else, I'll share it here too:

![image](https://user-images.githubusercontent.com/1296771/142470830-835e7b2c-f593-43ce-a67a-c8b5d641ee9b.png)

[2021-11-18 19:35] andrewsu commented on #338
quick note that I see this behavior on [Query D.6](https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowD/D.6_metformin-ferritin.json) (described in https://github.com/NCATSTranslator/minihackathons/issues/115) as well on both prod and local.  This is the last update on the console (at least 30 mins ago):

[code]

UPDATE: hmm, BTE eventually progressed off of the seemin

[2021-11-19 06:32] colleenXu commented on #330
This would be an example: https://monarchinitiative.org/disease/MONDO:0000001

[2021-11-22 15:46] #263 closed, assigned to tokebe

[2021-11-23 01:48] colleenXu commented on #359
re-opening the PR under a new branch: https://github.com/biothings/bte_trapi_query_graph_handler/pull/77

[2021-11-23 05:55] andrewsu opened #360 "Query on async endpoint failing where sync endpoint succeeds"
When I run the query pasted below on my local instance using the sync endpoint, I get a file with 7293 results, 691 nodes, 9927 edges.  The query completes in ~18 minutes.  The timing and the result/node/edge counts are consistent -- exact same results 3 times over 2 days.  However, when I run the query via my local asyncquery endpoint, the query fails.  This is the tail end of the console output:

[2021-11-23 17:54] tokebe commented on #360
Some information I've gathered so far:
- The missing lock error occurs at the very end of async response handling -- when a callback is provided, the error does not occur until after the callback server sends its response (the response statuscode/body has no bearing on the error occuring)
- The error occurs after the query response is successfully assembled
- The error occurs regardless of the res

[2021-11-29 16:55] andrewsu commented on #360
The `async_process` branch solves this issue for me on my local instance.  I get the same results (7293 results, 691 nodes, 9927 edges) in ~15 minutes of execution.  So this looks great to me.

Minor note that the first time I ran it I got the error below.  Two successive queries completed successfully and identically, so I'm going to assume it was a sporadic issue with the SRI node normalizer.  B

[2021-11-29 18:59] colleenXu commented on #320
tests haven't been failing for a week or so now. so closing

[2021-11-29 19:01] colleenXu commented on #320
reopening since I see one failed test for call-apis:

 FAIL  __test__/integration/integration.test.js
  ● Integration test › Integration test using mygene.info gene to biological process association › check response

    expect(received).toHaveLength(expected)

    Expected length: 23
    Received length: 28

[2021-12-01 16:10] #335 closed, assigned to nobody

[2021-12-01 16:10] #353 closed, assigned to tokebe

[2021-12-01 16:10] #354 closed, assigned to tokebe

[2021-12-03 17:18] andrewsu opened #362 "Bug: DGIdb not being queried correctly"
In https://github.com/NCATSTranslator/testing/issues/151, the query (pasted below) asks for compounds related to `NCBIGene:7979` via several predicates, including `biolink:decreases_activity_of`, with bortezimib as a positive control.  the BioThings API for DGIdb contains this link (see https://biothings.ncats.io/dgidb/query?q=subject.NCBIGene:7979, snippet below) but it is not being returned when

[2021-12-03 20:08] colleenXu opened #363 "Graceful exit before full execution for queries that would have very large responses"
@andrewsu proposes finding a way to detect when a query is going to return a ridiculously high number of results and return an error (will return too many results, please narrow the scope of the query) and gracefully exit.

Examples include demo queries B.3a (around 100k results), C3 (45k results), and D6 (61k results). Look [here](https://github.com/NCATSTranslator/minihackathons/tree/main/2021-1

[2021-12-03 20:16] colleenXu commented on #317
The records involved in the new semmeddb api are [here](https://pending.biothings.io/semmeddb/query?q=object.umls:C0043369%20AND%20subject.umls:C0002003)

However, BTE did not ingest these two records based on the notebook because:
* Currently there isn't a good way to express negation in Translator, although a [PR](https://github.com/NCATSTranslator/ReasonerAPI/pull/307) was recently proposed to

[2021-12-03 20:27] colleenXu commented on #308
Note that BTE currently doesn't ingest the TCGA mutation freq API + the multiomics team have been [informed](https://ncatstranslator.slack.com/archives/C022EL8D3AB/p1631655573078500?thread_ts=1631644745.072400&cid=C022EL8D3AB) of the issue and said they would remove SYMBOL / use a diff ID namespace for a future release

Therefore I'm closing this issue

[2021-12-03 20:28] #308 closed, assigned to nobody

[2021-12-03 20:32] colleenXu commented on #316
Returning to this: this is an inherent limitation from how these records are structured (and indexed and retrieved - the querying process). ~Going to propose closing this unless we plan to address it...~

After discussion with Andrew 12/6, we decided to keep this open as a non-critical thing....to discuss + maybe work on when there is time...

[2021-12-03 20:33] colleenXu commented on #288
Unclear if this is still happening and it hasn't happened for a while. closing

[2021-12-03 20:33] #288 closed, assigned to nobody

[2021-12-03 20:37] colleenXu commented on #298
@tokebe has addressed these concerns over time, with commits like: https://github.com/biothings/bte_trapi_query_graph_handler/commit/21a9c156f8046ea40973acf99592611fef1c5804 and https://github.com/biothings/bte_trapi_query_graph_handler/commit/2313aa5731da9e56186b76b760b647de8b0af73c

[2021-12-03 20:37] #298 closed, assigned to nobody

[2021-12-03 20:38] colleenXu commented on #338
This has been tracked down and resolved by using a new query algorithm. Discussed in issues #359 . Closing

[2021-12-03 20:38] #338 closed, assigned to nobody

[2021-12-03 20:39] colleenXu commented on #336
Closing since this issue hasn't been easily reproducible (isn't a big deal right now) and is somewhat addressed by commits related to batch-querying like this: biothings/bte_trapi_query_graph_handler@21a9c15 and biothings/bte_trapi_query_graph_handler@2313aa5

[2021-12-03 20:39] #336 closed, assigned to nobody

[2021-12-03 20:43] AlexanderPico commented on #359
@ariutta PR failed merge checks?  Is this on your plate? Is this need for Dec demo?

[2021-12-03 20:50] colleenXu commented on #320
With the new code push coming, these are the automated test errors I currently find

call-apis: the same error from my last post.

<details>
<summary>more info</summary>

[code]

</details>

[2021-12-03 21:09] ariutta commented on #359
@AlexanderPico, this issue is completed and can be closed:
https://github.com/biothings/bte_trapi_query_graph_handler/pull/77

[2021-12-03 21:09] #359 closed, assigned to nobody

[2021-12-03 21:22] colleenXu commented on #311
currently not seeing. Closing this issue

[2021-12-03 21:22] #311 closed, assigned to nobody

[2021-12-06 16:12] tokebe commented on #349
Fixed by #358

[2021-12-06 16:12] #349 closed, assigned to nobody

[2021-12-06 16:13] #356 closed, assigned to nobody

[2021-12-07 08:06] andrewsu opened #364 "/asyncquery endpoint added (recommended but not required) https://github.com/NCATSTranslator/ReasonerAPI/pull/255/files https://github.com/NCATSTranslator/ReasonerAPI/pull/263/files- implemented and deployed in dev instance for testing now."

[2021-12-07 16:07] andrewsu commented on #364
accidental issue creation -- closing...

[2021-12-07 16:07] #364 closed, assigned to nobody

[2021-12-07 16:33] tokebe opened #365 "Check async query status fails for by_team and by_api"
Checking query status via `/v1/check_query_status/:id?by=team` or `/v1/check_query_status/:id?by=api` fails validation due to the query parameter `by` not being expected in [/docs/smartapi.yaml](https://github.com/biothings/BioThings_Explorer_TRAPI/blob/main/docs/smartapi.yaml).

[2021-12-07 17:21] andrewsu opened #366 "BTE not expanding GO terms to children"
In https://github.com/NCATSTranslator/testing/issues/153, we execute an "explain" query that goes `multiple sclerosis (MONDO:0005301)` - `[Gene]` - `central nervous system myelination (GO:0022010)`.  One of the results goes through the gene `MAG` (see screenshot below) and the edge between `MAG` and `central nervous system myelination` is reported by `infores:automat-human-goa`.

It was surprising

[2021-12-07 17:33] tokebe opened #367 "Async Jobs fail to callback (or restart?) with error on unexpected child process exit"
Async jobs are handled in a child process by [bull](https://github.com/OptimalBits/bull). If the child process exits unexpectedly, [such as with `SIGABRT`](https://api.bte.ncats.io/v1/check_query_status/gvklhUnFcE) (presumably due to out-of-memory exception), the job is marked as failed with the appropriate error, however no callback is made, meaning that the client server is never notified of the

[2021-12-07 17:53] tokebe commented on #360
I'm considering this issue still open. #361 partially addressed the issue, however it appears that this issue can occur due to multiple causes.

As #361 moved job processing to a child process, we know it's not due to synchronous execution blocking the event loop and causing the lock to be lost, at least not from the main execution of the job.

This issue still centers around [bull](https://github

[2021-12-07 18:03] andrewsu opened #368 "Use semmeddb NGD handler as scoring/ranking engine in BTE"
With the completion of https://github.com/biothings/BioThings_Explorer_TRAPI/issues/326, we now need to incorporate the new NGD handler in the semmeddb API into a scoring/ranking scheme for BTE.  Creating this ticket to track ongoing work by @ericz1803.

[2021-12-07 18:17] #326 closed, assigned to erikyao, ericz1803

[2021-12-07 19:50] colleenXu commented on #365
is this supposed to work? I wasn't aware that this was possible or what this would do...

[2021-12-07 20:00] tokebe commented on #365
This is used for checking the status of async queries made to `/v1/smartapi/:smartapi_id/asyncquery` (async equivalent of `/v1/smartapi/:smartapi_id/query`), and `/v1/team/:team_name/asyncquery` (equiv. `/v1/team/team_name/query`).

Each endpoint has a separate queue -- the `by` query parameter supports selecting the appropriate queue to get the job status from.

[2021-12-07 20:39] ariutta commented on #341
This work is in the [`is-set` branch](https://github.com/biothings/bte_trapi_query_graph_handler/tree/is-set). Current status: appears to work, but @marcodarko is verifying and making any fixes required.

[2021-12-07 21:28] colleenXu commented on #365
Is there an example of exactly what the GET url is and what the response will look like?

It sounds like I could add the needed info into the smartapi spec if I know this...

[2021-12-07 21:36] ariutta commented on #363
If we went back to the older way that `queryResult.update(records)` worked -- where we called it every time we received a partial, incremental batch of records -- we could potentially fail fast if the results exploded, not needing to wait to get all records from every endpoint before failing.

This would require changes to query_results.js and would require that whatever calls `queryResult.update`

[2021-12-07 21:42] tokebe commented on #365
An example GET URL would be `https://api.bte.ncats.io/v1/check_query_status/0VjwhsxPib?by=team` (example ID, wouldn't actually pull anything up), which I would expect to return the job status of an asynchronous query (exactly the same as a normal check_query_status), like this: https://api.bte.ncats.io/v1/check_query_status/f5jhKt9dtH

[2021-12-07 21:53] colleenXu commented on #365
so it would definitely say `by=team` rather than say a specific team like `by=Service Provider`?

[2021-12-07 22:09] tokebe commented on #365
`by` is only ever be equal to the string `team` or the string `api`, and never anything else.

[2021-12-07 23:35] colleenXu commented on #365
I have confirmed locally:
* starting BTE w/ redis (`REDIS_HOST=localhost REDIS_PORT=6379 RESULT_CACHING=false npm run debug --workspace='@biothings-explorer/bte-trapi'`)
* sending a query to `http://localhost:3000/v1/smartapi/671b45c0301c8624abbd26ae78449ca2/asyncquery`
* the query completes (I can see the log), but trying to check the job leads to this response:
[code]

I'm going to look into cha

[2021-12-08 03:38] colleenXu commented on #365
so this branch's commit should address this issue: https://github.com/biothings/BioThings_Explorer_TRAPI/commit/0a9a5cc93e992de232d6ee6fe5867470658ce06a

However, I have questions on smartapi annotation of the response to this endpoint, which I detail here: https://suwulab.slack.com/archives/CC218TEKC/p1638934317332400

[2021-12-08 17:11] tokebe commented on #365
Confirmed on my local that this branch does fix this issue. Depending on the Slack discussion, we can wait for any other changes to be made and then start testing a PR on the dev instance.

[2021-12-08 17:34] colleenXu commented on #363
note from 12/8 lab meeting: Andrew suggests...

either have strict thresholds (say no we can't handle it) or give an option for user to override (say "no I want the super large response, give it to me")

[2021-12-08 20:15] ariutta commented on #363
Just as an FYI, here's a rough draft paragraph I put together to describe this issue:

[2021-12-09 05:59] colleenXu commented on #365
I've pushed a new commit to this repo. If it continues to work well....do we want this as an after-demo change or before?

[2021-12-09 06:31] colleenXu commented on #362
@andrewsu looks like the x-bte annotations group all of the associations in this api into 1 relationship with the predicate "physically_interacts_with".

It looks like whoever made the parser for this api mapped the relationships in dgidb to biolink predicates (likely an old version of biolink-model).

It looks like there are a LOT of possible meta-triples in this api...I'm not sure if we want to

[2021-12-09 20:53] tokebe commented on #365
@colleenXu I imagine this is going to be a post-demo fix as it shouldn't affect anything in the demo (@andrewsu can confirm?).

I'll run this on dev tomorrow so we can have it ready to go.

[2021-12-10 16:24] andrewsu commented on #365
definitely should not be deployed before the demo...

Also, it's not entirely clear to me what `?by=team` and `?by=api` are meant to accomplish?  Can someone point to the relevant discussion/rationale, or add that here to this issue if it isn't already organized elsewhere?

[2021-12-10 17:12] tokebe commented on #365
@andrewsu As far as I understand this was as originally implemented for async. I don't know if there was any discussion, however the rationale seems to be the following:

- There are separate queues for each async endpoint (I'm not sure why..this could be a separate discussion)
- In order to check the status of a given job, the correct queue must be checked, and there's no way to tell this from th

[2021-12-13 17:21] tokebe commented on #365
@colleenXu @andrewsu requirement for this query parameter is removed by updates made in the [above PR](https://github.com/biothings/BioThings_Explorer_TRAPI/pull/369)

[2021-12-13 23:39] ariutta commented on #363
Leaving this here as a reminder for a future discussion. We may be able to efficiently detect whether a result set will explode by using bloom filters or cuckoo filters. For each endpoint, normalize the IDs it contains, load each set of IDs into a bloom filter and then serialize each bloom filter to save it for future use. Whenever a BTE instance is launched, it will load the serialized bloom filt

[2021-12-14 18:35] andrewsu opened #370 "create script to assemble simple version of the BTE metaKG"
I would like a file with four columns -- `api_name`, `subject_type`, `predicate`, and `object_type`, with one row/record for every relation that is queried by BTE.  I _think_ that should be based on the `packages/@biothings-explorer/bte-trapi/data/predicates.json` file, but reality checking on that would be useful too.  My guess is that a script to generate this file would be generically useful, s

[2021-12-14 19:52] ericz1803 commented on #363
@andrewsu and I had a discussion about this yesterday, a relatively simple solution that we will try and see how it works is to limit the results per edge in call-apis. This takes advantage of the behavior I noted in slack, where the call-apis package buckets the queries into groups to limit it to 3 concurrent calls per api. It then builds up an array of results as these 'query buckets' return res

[2021-12-14 21:45] ariutta commented on #363
For the bloom filter idea, you'd need to do a one-time query somehow to get a list of all IDs from an endpoint. If the endpoint has NCBIGene IDs connected to MONDO IDs, you'd get all the NCBIGene IDs from that endpoint and load them into a bloom filter, serialize that bloom filter and cache it. You'd do the same for all the MONDO IDs. All that would only need to happen once.

The reason for the bl

[2021-12-14 21:49] ariutta commented on #363
I'm not sure whether it'd be worth it, but we could use the bloom filters before running any queries. For example, we could get the maximum number of IDs that are common to each node for each endpoint. Maybe that could be useful for query planning?

[2021-12-14 21:54] ariutta commented on #363
If we're using multiple endpoints to get records for a single QEdge, the actual cached bloom filters might not be per endpoint. Rather, we might generate two bloom filters for each predicate we support and/or two bloom filters for every pairwise combination of QNode categories that we support.

[2021-12-14 23:49] andrewsu commented on #370
I created a script to parse both the `predicates.json` file (which I think has the TRAPI APIs), and to parse the `smartapi_specs.json` file cross referenced with `/src/routes/v1/config.js` (which is mostly non-TRAPI APIs). The paths are written from the perspective of `/bte-trapi-workspace/packages/@biothings-explorer/bte-trapi/scripts`, but in thinking about this now, I don't think it's appropria

[2021-12-15 00:53] colleenXu commented on #370
Above, it sounds like the config.js list was used to parse the file....but the screenshot includes APIs that aren't on the config list...

for example, I think we aren't ingesting the top 5 items in the screenshot list...

[2021-12-15 01:49] andrewsu commented on #370
Ahh, I was under the assumption that the APIs in `predicates.json` were called regardless of whether they were specified in `config.js`, but now that I think about it, that doesn't make sense.  *Both* sets of APIs (TRAPI and non-TRAPI) need to be cross referenced with the `config.js`.  With that change (updated the corresponding [gist](https://gist.github.com/andrewsu/aa40d8c6ae133eb5dade8cc343f24

[2021-12-15 07:11] colleenXu commented on #370
yes, this looks correct

[2021-12-15 16:46] andrewsu commented on #370
great, I updated [the gist](https://gist.github.com/andrewsu/aa40d8c6ae133eb5dade8cc343f24eb5) with the latest code and output files.

For future reference, my current understanding is this. `config.js` drives everything in terms of what is consulted by BTE.  All entries in `config.js` can be found in `smartapi_specs.json`, but only the non-TRAPI APIs will actually have information on the relation

[2021-12-15 16:46] #370 closed, assigned to nobody

[2021-12-15 16:58] andrewsu commented on #366
Looks like this issue depends on resolution of #196 (not just "related")

[2021-12-15 17:47] colleenXu commented on #304
note that there's a diff between console logs + TRAPI response logs:
* whatever we want to save / have for every query, we should have it in the TRAPI response log

[2021-12-15 20:44] andrewsu opened #372 "find/add non-Translator APIs to BTE"
In https://github.com/biothings/BioThings_Explorer_TRAPI/issues/370, we analyzed the list of 46 APIs currently listed in the `config.js` file, summarized below.  One of the things that jumped out at me is that all but five (bolded) are translator-associated APIs.  One of the advantages of the BTE/SmartAPI approach is that, in theory, we can easily annotate APIs "in the wild" that we don't maintain

[2021-12-15 20:56] andrewsu opened #373 "convert smartAPI annotations to explicitly use biolink classes"
In https://github.com/biothings/BioThings_Explorer_TRAPI/issues/370, we analyzed the list of 46 APIs currently listed in the config.js file. Among those APIs, there are at least 924 operations in which the subject and object classes do not use the `biolink:` prefix:

[code]

Those  924 operations come from 24 unique APIs (actually 23 when removing the header line):
[code]
... and the ranked list o

[2021-12-15 21:40] tokebe commented on #360
This issue seems to be caused by the size of the response as it is being returned from the bull worker process and stored in redis -- with redis not being meant for large items such as ~200mb responses, it is likely redis failing to handle this and bull subsequently failing to get the job key from redis.

An attempt to use redis 6's new multithreaded I/O would not appear to fix this issue. I'm tes

[2021-12-15 21:49] andrewsu commented on #372
In parsing the smartapi registry for entries _with_ `x-bte-kgs-operations` but not in our `config.js` file, I get the following list:

[code]

OpenTarget, ChEMBL, and RGD are worth looking into more on whether they should be included by default in the `config.js` file.

Code:
[code]

[2021-12-15 22:12] andrewsu opened #374 "add query.submitter field when querying TRAPI resources"
The TRAPI standard defines an optional [submitter](https://github.com/NCATSTranslator/ReasonerAPI/blob/master/TranslatorReasonerAPI.yaml#L201) property, meant for callers to self-identify so resource owners can quickly/easily contact someone if needed.  When BTE calls downstream TRAPI resources, we should populate this field with "BTE (sync)" or "BTE (async)".

[2021-12-16 00:07] colleenXu commented on #365
@tokebe should this issue be closed then?

[2021-12-16 01:00] colleenXu commented on #372
Notes:
* I suggest reviewing the x-bte annotation for the external APIs that BTE currently uses. This likely needs some editing / adding operations
* Reviewing APIs that have smartapi annotations / x-bte annotations (Andrew has done a bit of that above) and deciding whether we want to update them and ingest them into BTE

I think we'd want to prioritize resources that have non-overlapping data w/

[2021-12-16 01:23] colleenXu commented on #317
Yao [noticed](https://github.com/biothings/pending.api/issues/30#issuecomment-903609946) that the data file used "old SEMMED semantic types" from 2013AA, and these semantic types didn't exist in the latest SRDEF file (2018AA).

In response, Andrew said to [keep](https://github.com/biothings/pending.api/issues/30#issuecomment-903879782) this data

[2021-12-16 14:41] #365 closed, assigned to nobody

[2021-12-16 21:43] tokebe commented on #360
Testing with compression using [lz4](https://www.npmjs.com/package/lz4) yields very good compression ratios, at the cost of significantly increased retrieval time from the `/v1/check_query_status` endpoint (better than simply splitting up the response and storing over multiple calls).

Further testing to follow on demotests to see if it fixes the issue, and then testing using a cutoff after which

[2021-12-17 16:47] newgene opened #376 "Add a BTE user agent to identify ourselves when making API calls"
This helps API owners to tell if it's us making the requests to them in case it's too much.

It should be in `call-api` package, likely here:

https://github.com/biothings/call-apis.js/blob/main/src/query.js#L42

or somewhere upstream when `query_config` is created.

Exact BTE user agent string can be modelled after some popular tools.

[2021-12-17 20:57] tokebe commented on #374
As this is already [partially implemented](https://github.com/biothings/call-apis.js/blob/e584f3883a835702e0e7913f1fc6fb5a0060cf1f/src/builder/trapi_query_builder.js#L70), should this issue be closed?

[2021-12-17 22:46] andrewsu opened #377 "investigate addition of RTX KG2 to BTE config file"
Currently, BTE does not issue subqueries to [RTX KG2](http://smart-api.info/registry?q=acca268be3645a24556b81cc15ce0e9a). Enabling that should, in theory, be as simple as adding an entry to our [config.js file](https://github.com/biothings/BioThings_Explorer_TRAPI/blob/main/src/routes/v1/config.js).  Let's test this to see if this is feasible from both the BTE side and RTX side (with the help of @

[2021-12-17 23:13] andrewsu commented on #374
yes, I think this feature already seems to be implemented, so let's close. Thanks!

[2021-12-17 23:13] #374 closed, assigned to tokebe

[2021-12-18 01:24] saramsey commented on #377
Glad to help!  Our resident experts on the RTX-KG2 API are Eric Deutsch and Amy Glen, and our resident expert on the custom graph database underlying the RTX-KG2 API and on the  algorithm that we use to "canonicalize" our knowledge graph, is Amy Glen (who wrote the graph db). I can lend my expertise on any matters pertaining to the pre-canonicalized RTX-KG2 knowledge graph, and of course, I'm will

[2021-12-20 20:06] colleenXu opened #378 "checking if query-graph is a cycle, graceful exit if it's a cycle"
Our faster results-assembly algorithm uses an assumption that the query-graph is not a cycle (so instead it's like a tree). In general, a query-graph that is a cycle is likely problematic - it might be unclear where to stop execution...

We therefore want to be able to check whether a query-graph is a cycle before building sub-queries / executing. Like a validation step.

Previous work on this is

[2021-12-20 21:15] colleenXu commented on #373
note that there currently isn't an error/bug....so this isn't an urgent issue.

We want a dev to track down what is happening with the biolink prefix on node categories/predicates - when it is added and removed - and figure out a more consistent approach. Note that this involves multiple modules of BTE.

What Andrew is highlighting above is the inconsistency in how we are ingesting metaKG/TRAPI-me

[2021-12-21 00:16] colleenXu commented on #363
@ericz1803 I have tried the linked PRs and discussed with @andrewsu...there are 3 areas that need clarifying / some more discussion.

First, to clarify:

* What is being used for the restriction / limitation? It looks like records (which are later transformed into Edges)...
* It would help to have clearer documentation on the PR (see above point). Also, it would help to say that the default is 100

[2021-12-21 01:28] ericz1803 commented on #363
To address some of your points:
- The restriction is being applied on the call-apis results (which is pre-filtering/intersecting). This is why the ones marked with the triangle behave the way they do. Call-apis returns 1000 query results, which then might get dropped/filtered in the process of querying by the query graph handler/edge manager leading to less than 1000 results being sent back to the

[2021-12-21 01:54] ariutta commented on #363
Incremental results assembly may be the long-term solution, but I'd be hesitant to try getting that done in the next few days. It could involve quite a few changes to different parts of the codebase.

[2021-12-21 06:39] colleenXu commented on #363
Is there a way to make the limit on the edge dynamic (like 6000 records per input ID)?

The number above comes from what I'm running: I'll post an update soon but the limit needed to get all 16 results for demo query D3 is ~16k (a one-hop explain w/ 6 IDs on one node, 3 IDs on the other node)

[2021-12-21 16:53] tokebe commented on #360
Testing on the dev server shows that just simple compression still results in redis crashing/large responses failing -- it seems that even with compression, redis is very quickly overwhelmed with multi-MB responses being cached.

Next up: a combination of splitting and compression, to try and keep objects sent to redis in a single request under a set limit.

[2021-12-21 18:16] andrewsu commented on #363
To me, this dropping/filtering step is the key. I was hoping/assuming that the consolidation of edges to results would be at least somewhat predictable; maybe 1000 edges _generally_ gets consolidated to ~900 results.  But clearly in practice, that varies quite a bit.  In deciding the path forward, I'd like more clarity on two issues:

* What is happening during the dropping/filtering step?  I was

[2021-12-21 19:28] ericz1803 commented on #363
I checked a couple of the queries and it looks like you're right, consolidation in the results building step looks like the main reason for the lower number of results. For B.2b, 1000 records are sent to the query results builder which turns them into 613 results sent back to the user. For predict queries (the first 5 that @colleenXu listed), this looks like the main cause. For explain queries (th

[2021-12-22 05:21] colleenXu commented on #363
Here's my findings from increasing the limit (see the full google sheet called "limit" [here](https://docs.google.com/spreadsheets/d/1hHY_yklDbTOFVNOD9kyvlv0GMuP0SBsU8TijrMbxir0/edit?usp=sharing)), with key findings with this symbol &#x1F4D7;

My impression is that a flexible limit dependent on the number of input IDs for the edge may be helpful.

* For A2 (two-hop Predict), one gets the full resu

[2021-12-22 05:29] colleenXu commented on #363
Also! Setting the current limit to "1000 results out of the call-apis module" for a 1-hop Predict query doesn't result in...
* 1000 output nodes (varied, but < 1000)
* 1000 edges (varied, but < 1000)
* 1000 results (already mentioned above, varied, but < 1000)

&#x1F4D7; I found it surprising that it didn't lead to 1000 edges...

---

I got this info by checking the knowledge-graphs for one-hop pr

[2021-12-22 17:26] colleenXu commented on #363
Notes from meeting:
* @ariutta looks at query-results.js in query-handler and adds logs....to help us figure out what is happening to the "1000 results of call-apis module". Specifically, how does this become <1000 edges?
* @ericz1803 D3 - error handing for 0 results w/ the limiting code
* This is code to explore approaches, not a fast fix or code that will necessarily be pushed to prod.

[2021-12-22 18:15] colleenXu commented on #363
From my perspective...
* setting a high limit like 20k might achieve what we want (but we'd have to do a lot of testing with queries to see...)
* The current approach seems to revolve around "cutting off" the sub-querying / api calls. However, I'm a bit uncomfortable after seeing it in action: see C2 and D1 for examples.
    * For an Explain-type query / more complicated topology where intersectio

[2021-12-22 18:31] ariutta commented on #363
@ericz1803, @colleenXu and @marcodarko, here's a list of lines that might be useful for logging in query_results.js:
- [L284](https://github.com/biothings/bte_trapi_query_graph_handler/blob/718dddcee1535010a7ba657f208e51320386cf96/src/query_results.js#L284): ```debug(`${preresults.length} preresults found`);``` This is the number of connected subject, predicate, object, ..., subject, predicate, ob

[2021-12-22 19:28] ariutta commented on #363
Regarding incremental results assembly, we discussed two ways it could be done:
1. call `queryResult.update` every time we get records from an API
2. call `queryResult.update` every time we get all records for a QEdge

I think both are technically possible, but 1) would probably be a little more complex in terms of developer time required. If done properly, I think for both cases the runtime perfo

[2021-12-22 23:19] colleenXu opened #379 "clear language / documentation of vocab + data structures"
I think there's a bit of confusion (maybe this is just on my part?) on vocab that makes it difficult to discuss what data structures BTE modules are actually handling.

There's:
* Hit (having an output ID in the field specified by x-bte or TRAPI) vs Record (1 piece of data from a response) vs result (a compiled collection of nodes + edges that matches the query graph)
* Restraint [(the cut-off cod

[2021-12-22 23:23] colleenXu opened #380 "full implementation of node/edge property constraint logic"
The TRAPI [spec](https://github.com/NCATSTranslator/ReasonerAPI/blob/96fc1ead0746bcfcd8007c475db8bd015a499199/TranslatorReasonerAPI.yaml#L1004) has a lot of detail on how node/edge property constraints are meant to work, which we have not implemented...

* == operator when the constraint's value is a list (so I want the property to be A or B)
* NOT
* '>'
* <
* matches (regular expression)
* [exact

[2021-12-22 23:25] colleenXu commented on #380
Related to having more [node properties](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/344) and [edge properties](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/357) annotated.....ideally to [biolink-model attribute slots](https://github.com/biolink/biolink-model/blob/3b5676be9494af076c1a5b14c4103bdd2c969fbb/biolink-model.yaml#L430) / Translator-wide standard terms...

[2021-12-22 23:45] colleenXu commented on #328
This issue is to discuss and plan our approach. Later we may make a post w/ a checklist + open issues to tackle each bite-sized task.

I'm tagging others @andrewsu @newgene @tokebe @marcodarko @ariutta @ericz1803 so we can discuss what logs are actually useful and where those go.

My categories are:
* Logs to keep in the TRAPI response for users / helping devs understand issues w/o needing to logi

[2021-12-22 23:46] colleenXu commented on #328
### My thoughts

Use [consistent language](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/379) to describe what's happening in logs, which isn't happening right now...

#### Logs to keep in the TRAPI response

* A summary of the overall execution process:
    * What was the order of execution for QEdges? What QEdges were reversed?
* A summary of the response, similar to ARAX?
![Scree

[2021-12-30 07:14] colleenXu commented on #317
Should be addressed by https://github.com/NCATS-Tangerine/translator-api-registry/commit/aa681a2674cf68ce004abc7e75f71460a4a85088

[2021-12-30 07:26] colleenXu commented on #317
The query that is the same direction compared to the data now successfully finds this triple, as well as the query in the "reverse" direction. POST to https://api.bte.ncats.io/v1/smartapi/1d288b3a3caf75d541ffaae3aab386c8/query

<details>
<summary>forward-direction query</summary>

[code]

</details>

</details>

<details>
<summary>response</summary>

[code]

</details>

---

<details>
<summary>rev

[2021-12-30 07:30] #317 closed, assigned to nobody

[2022-01-03 07:30] colleenXu commented on #362
Should be addressed by https://github.com/NCATS-Tangerine/translator-api-registry/commit/a3aabc0bc6e26c5b6b9814eae61afd977e7363e8

However, the query in the original post still won't return the desired data.

I think this is alright after looking at the [direction of the data](https://dgidb.org/interactions/a0d25cdf-c8b8-49c6-95ef-88572080f885#_summary). It looks like `Bortezomib` -(decreases_acti

[2022-01-03 20:10] tokebe commented on #328
@andrewsu @colleenXu Given that our TRAPI log responses have to conform to the [TRAPI logEntry standard](https://github.com/NCATSTranslator/ReasonerAPI/blob/master/docs/reference.md#logentry-), which is used in ARAX to separate out different log levels, I think it might make sense to flip this problem slightly on its head.

Instead of returning a sort of execution summary and providing an endpoint

[2022-01-04 05:23] andrewsu commented on #362
@colleenXu so would you agree that the data presented in https://biothings.ncats.io/dgidb/query?q=subject.NCBIGene:7979%20AND%20object.name:BORTEZOMIB (shown below) is actually backward of what is shown in https://dgidb.org/interactions/a0d25cdf-c8b8-49c6-95ef-88572080f885#_summary and https://www.ebi.ac.uk/chembl/compound_report_card/CHEMBL325041/, and therefore this seems to indicate a bug in th

[2022-01-04 06:45] colleenXu commented on #362
@andrewsu I agree that the biothings API would better match the data (chembl / dgidb links) if the subject was the chemical + the object is the gene. This [link](https://dgidb.org/interaction_types) is also useful for understanding the relations....it looks like the subject is often the drug and the relations can be organized by "their effect" (inhibitory, activating).

I can edit the current dgid

[2022-01-04 16:59] #376 closed, assigned to tokebe

[2022-01-05 06:57] colleenXu commented on #328
I'm not clear on what the LogEntry is meant to be used for, from the TRAPI team / Translator consortium perspective.... It certainly seems like other teams don't put as much info there as we do...

[2022-01-05 07:04] andrewsu commented on #362
@colleenXu can you do some spot checking to see if it seems to be universally true that the subject/object should be reversed (or the predicate reversed)?  If so, then yes, I think let's just edit the dgidb x-bte annotation to reflect that, including a prominently-placed comment to note that in an ideal world, the parser should be updated.  (I'd normally also suggest creating an issue to update th

[2022-01-05 17:41] newgene commented on #328
Things I think we can put into TRAPI logs (per discussion at our meeting):

* The actual KG edges process (summarized in [@colleenXu 's comment above](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/328#issuecomment-999944338))
* Errors during the above process (fail to call an API, to do id normalization etc)
* Execution summary at the end for a success run
* Possible other required

[2022-01-05 17:44] colleenXu commented on #328
notes from 1/5 meeting:
* Jackson said we could use the LogLevel part of TRAPI LogEntry better: organize them into info/debug/error/warning, which ARAX organizes in its display.
* we are discussing a change to what we put into the TRAPI Logs vs elsewhere. We are generally talking about reducing the amount of TRAPI logs we currently make + changing the logs we do make (console / TRAPI) to be more u

[2022-01-05 17:49] tokebe commented on #367
Mistakenly closed, reopening

[2022-01-05 20:17] tokebe opened #382 "Informative handling of ID Resolver errors"
Currently, errors with external API calls in the ID resolver are passed up the line to the error middleware as-is. It may be useful to catch and re-throw these errors with at least an identifier that it came from the ID Resolver, or to throw a custom error that states that ID resolution failed due to external services.

[Relevant code here.](https://github.com/biothings/biomedical_id_resolver.js/b

[2022-01-05 20:19] colleenXu commented on #362
@andrewsu there is an issue for updating the API / parser open https://github.com/biothings/pending.api/issues/40

[2022-01-05 23:08] colleenXu commented on #362
noting current parser issues:
- some chem may have incorrectly imported IDs (have a wikidata ID and a non-matching CHEMBL ID in the object.id field...)
- the relationships in DGIdb are drug -> gene, but the API is set up with subject as gene and object as chem

[2022-01-07 15:31] tokebe commented on #367
Fix merged+deployed, closing issue.

[2022-01-07 15:37] tokebe commented on #304
@newgene @colleenXu Given recent discussion in #328, this may be less relevant as we're now considering streamlining TRAPI logs overall and including a summary as part of them.

I could still implement the endpoint for just grabbing TRAPI logs if there's still a reason to do so?

Alternately, the point of this issue could largely return to its original idea of providing console-level logs on an en

[2022-01-07 16:02] tokebe commented on #328
Some further ideas:

- The TRAPI standard specifies `log_level` as part of a TRAPI query, implying that it's up to the user to decide the verbosity of the logs they receive
- This in mind, we could keep the majority of current logs as `DEBUG` level, and set new summaries as `INFO`
- We could then create summaries wherever appropriate, or at the end of execution, and they would be substantially eas

[2022-01-07 20:47] tokebe commented on #360
The above fix (#384) should fix this issue. A summary of problems which compounded to cause this:

- Redis running out of memory due to non-expiring job results
- BTE making calls to redis with very large data to store (>10MB seems to cause trouble) via bull job return values

We should keep an eye out for any unexpected behavior/continued problems relating to this issue for a little while before

[2022-01-08 05:38] colleenXu commented on #362
Fix made here: https://github.com/NCATS-Tangerine/translator-api-registry/commit/159866b7970b37135f1a3f7d4d28d76032c4ca4d

[2022-01-08 05:49] colleenXu commented on #362
@andrewsu the original query should work as intended now...I realized that it's stated as SEM1  <-(predicates)- SmallMolecule.

We now get this record back in knowledge_graph.edges
[code]

[2022-01-08 05:53] colleenXu commented on #362
Here's the response I'm getting now to the original query (SEM1):
[SEM1.txt](https://github.com/biothings/BioThings_Explorer_TRAPI/files/7832637/SEM1.txt)

![Screen Shot 2022-01-07 at 9 52 46 PM](https://user-images.githubusercontent.com/43731687/148633321-a0598fd3-eac3-49d8-8a05-bf52213d0c0a.png)

[2022-01-10 14:59] tokebe commented on #360
@andrewsu Performance overall seems to be better. Over the past couple of days I've noted one error specific to the new code, which seems to have happened only once (no other errors seem to have occurred recently):

[code]

~~I'll investigate this.~~ This should be a very quick fix.

[2022-01-10 20:24] #362 closed, assigned to colleenXu

[2022-01-11 16:42] #382 closed, assigned to nobody

[2022-01-11 17:28] andrewsu opened #386 "investigate why Tobacco -- (predisposes) --> lung cancer is not found from SemmedDB"
Our SemMedDB API gives several edges with subject of tobacco (C0040329) and object lung cancer (C0242379): https://biothings.ncats.io/semmeddb/query?q=subject.umls:C0040329%20AND%20object.umls:C0242379&limit=500

This list includes many associations with a predicate for "PREDISPOSES", which is mapped in Biolink model to a predicate for `predisposes` (https://github.com/biolink/biolink-model/blob/m

[2022-01-11 21:28] colleenXu commented on #386
@andrewsu there are several issues here...

1. The MONDO ID used in the [query](https://nodenormalization-sri.renci.org/1.2/get_normalized_nodes?curie=MONDO%3A0021117&conflate=true) (`MONDO:0021117`) doesn't map to `UMLS:C0242379` (Malignant neoplasm of lung), which is used by the data [linked](https://biothings.ncats.io/semmeddb/query?q=subject.umls:C0040329%20AND%20object.umls:C0242379&limit=500

[2022-01-11 21:50] tokebe opened #387 "Prevent biolink model from initializing in threads that don't require it."
Currently, the biolink model is re-initialized for every thread. Some threads, such as instances of `check_query_status` don't need this and should avoid doing so.

A fix likely involves conditional import statements.

[2022-01-11 22:03] colleenXu commented on #386
2. @andrewsu We likely need a dev to help debug/fix this...I think the sub-queries are not being processed correctly

Compare the following two queries: one works as-intended and the other seems to process the sub-queries incorrectly (merging edges with different predicates / edge-attributes).

The data we want to retrieve is this: [tobacco - predisposes - malignant neoplasm of lung](https://bioth

[2022-01-11 22:29] colleenXu commented on #386
Switching query A with the parent predicate `affects_risk_for`....results in the similar behavior to query B...

It looks like there should be 2 edges (1 for PREDISPOSES info and 1 for PREVENTS info), but they end up being merged...
* That edge has the biolink predicate "prevents" but the original relation says "PREDISPOSES"
* It's a list of 40 PMIDs. The first 5 match the PREVENTS info, and the l

[2022-01-11 22:41] colleenXu commented on #386
This might relate to @ariutta past work on https://github.com/biothings/BioThings_Explorer_TRAPI/issues/286 with https://github.com/biothings/bte_trapi_query_graph_handler/pull/38

What's odd is that the predicates are definitely diff for the edges / records in question here...

[2022-01-12 00:18] colleenXu opened #388 "update biolink model version to 2.2.13"
https://github.com/biolink/biolink-model/compare/2.2.8...2.2.13

Changes we'd make for x-bte annotation: SEMMED
* `SEMMEDDB:ASSOCIATED_WITH` isn't mapped to `related to` anymore. It looks like we should use the new predicate `associated_with`
* `SEMMEDDB:USES` is mapped to `has_input`....so that would add this predicate to the operations...
* we can use the new predicates `diagnoses` (inverse: `is

[2022-01-12 06:21] colleenXu commented on #388
also this is needed soon to update multiomics drug response kp api's x-bte annotation

[2022-01-12 17:59] colleenXu commented on #278
definitely related to this https://github.com/biothings/bte_trapi_query_graph_handler/pull/72

[2022-01-12 19:16] tokebe commented on #278
Relevant code:

- [_edgeSupported](https://github.com/biothings/bte_trapi_query_graph_handler/blob/bb82cc9cc0be2d13b9dbec23fd975518f52bd77e/src/index.js#L115) runs through query edges (making assumptions that edges get results) to ensure that smartapi edges exist for each query edge. This general pattern could be extended to implement this issue?
- [query.js in call-apis](https://github.com/biothi

[2022-01-12 19:27] tokebe commented on #320
Regarding the failing query_graph_handler test, it's not actually a specific test failing, rather the github actions step sending results to coveralls failing:

![image](https://user-images.githubusercontent.com/43009413/149208164-283c2e1d-4de4-422c-8a98-93c5a22e843f.png)

This error references a commit hash that does exist and shouldn't be invalid (in fact, the most recent commit whenever the wor

[2022-01-13 00:31] ericz1803 commented on #368
The code for scoring using the SEMMED NGD handler is in the `score` branch of the `query_graph_handler` package.

So far, the performance seems to be alright but not great. This is a combination of the SEMMED NGD service getting an infinity or undefined score for some combos as well as the node normalizer not being able to find a UMLS ID for some IDs. Our strategy for scoring is getting the NGD fr

[2022-01-13 00:44] ericz1803 commented on #289
Correct (edit: looks like @marcodarko set all the old tests to skip). I remember I looked through the old testing code and migrated some of the useful ones. A lot of it was testing the old internals which is now being handled by the SRI node normalizer.

[2022-01-13 05:45] colleenXu commented on #289
in that case, is this issue unnecessary / already done? @marcodarko @ericz1803

[2022-01-13 07:15] colleenXu commented on #387
adding a comment from Jackson that was in Slack:

[2022-01-13 07:15] colleenXu commented on #387
may be related to https://github.com/biothings/BioThings_Explorer_TRAPI/pull/389

[2022-01-13 14:55] tokebe commented on #387
Closing due to reasons stated above - the complexity of a refactor would affect readability due to multiple conditional imports in multiple modules, and simply isn't worth the ~90ms performance benefit.

[2022-01-13 14:55] #387 closed, assigned to tokebe

[2022-01-13 16:09] andrewsu opened #390 "improper merging of edges when traversing predicate hierarchy"
This issue is based on behavior observed by @colleenXu that may partially or entirely explain the problem described in https://github.com/biothings/BioThings_Explorer_TRAPI/issues/386. A schematic of the issue is here (the "error" is indicated by the red "x"; expected behavior is indicated by the green check):

![image](https://user-images.githubusercontent.com/2635409/149289237-34c80c00-336c-499a

[2022-01-13 16:49] tokebe commented on #367
Reopening as cases such as SIGABRT still do not callback correctly

[2022-01-13 21:39] tokebe commented on #328
@colleenXu I'm not sure if it's for the better to reduce the number of TRAPI logs we return...as it is they're a very good minimal set for decently detailed debugging without being too large.

With a reduction of size for some of these logs (such as query success/failure logs) I'm thinking the best way to handle this is to keep `INFO`-level logs at a minimum and use those to give the user an at-a-

[2022-01-13 21:43] marcodarko commented on #289
This package needs to be revised if we intend on only using SRI, if that's the case I think we need to remove all old code similar to query handler.

[2022-01-13 22:18] colleenXu commented on #328
I think this could be a good solution.

However, I wonder if we still want to review / edit the current logs. I've found some of the TRAPI logs unhelpful or confusing, hence #379 and some discussion on how to make some things clearer like edge execution order / reversing and switching from 1 module to another...

[2022-01-13 22:40] colleenXu commented on #390
just a note that "result" in the post above means "edge that we see in the TRAPI response" (not the results section of the TRAPI response)

[2022-01-14 01:34] colleenXu commented on #390
Also, another issue with query 3's edge: the edge predicate says "prevents"....yet the original predicate in the edge-attributes is PREDISPOSES. It's another sign (with the 40 PMID list) that something is off...

[code]

vs

[code]

[2022-01-14 15:31] tokebe commented on #328
@colleenXu Agreed, a general pass to make all logs more clear/useful is also in order and I'll be doing what I can there. Once I have a PR submitted it can be tested/reviewed for further worthwhile changes.

[2022-01-14 23:37] ariutta commented on #341
Update: @marcodarko and @colleenXu found some issues, and @marcodarko and I have been working on this code to address them. I just pushed some code that appears to correctly handle `is_set`:
https://github.com/biothings/bte_trapi_query_graph_handler/blob/is_set2/src/query_results.js#L312-L385

I haven't had a chance to test this new code fully, but I wanted to let folks know the current status.

N

[2022-01-14 23:53] ariutta opened #391 "`prediates` instead of `predicates`"
If you draw a query graph at the [BTE > Advanced page](https://biothings.io/explorer/advanced) and specify a predicate, the generated query graph has a typo: `prediates` instead of `predicates`:

[code]

[2022-01-15 06:25] andrewsu commented on #391
fixed in https://github.com/biothings/bte_schema_web_react/commit/1aded7377c7db5862a28f78185e5f7f0ed217236 -- I believe @ericz1803 will need to deploy?

[2022-01-17 01:54] ericz1803 commented on #391
👍 Deployed.

[2022-01-17 01:54] #391 closed, assigned to ericz1803

[2022-01-17 05:45] colleenXu commented on #390
Here is a similar case...using BTE with only MyChem active: http://localhost:3000/v1/smartapi/8f08d1446e0bb9c2b323713ce83e2bd3/query

**It looks like the edges getting merged have the same hash - which is odd since they have different predicates / edge-attributes** - perhaps that explains the odd merging / overwriting of "dictionaries"? I also see this "same hash for the edges" in @andrewsu 's ope

[2022-01-17 05:52] colleenXu commented on #390
Another example where 2 edges are merged, then 3 EDGES ARE MERGED. using BTE with only MyChem active: http://localhost:3000/v1/smartapi/8f08d1446e0bb9c2b323713ce83e2bd3/query

<details>
<summary>Query 1: specify predicate as `approved_to_treat`</summary>

[code]
</details>

<details>
<summary>correctly specified edge using the drugcentral indications operation in mychem</summary>

[code]
</details

[2022-01-18 16:06] tokebe commented on #360
After several days of monitoring on production I believe this update is stable and the issue is resolved.

Further related work remains regarding #367 however this appears to be a much less common problem.

[2022-01-18 16:06] #360 closed, assigned to nobody

[2022-01-18 21:49] colleenXu commented on #372
I think these are all [resources](https://docs.google.com/spreadsheets/d/1nK7v0cw_yJfnX3kLUNxsxQRTmPZ6vUf0/edit#gid=907193666) that are already in Translator. But I think only people added to it can see this...

---

I went through some of my bookmarks (my main folder for possible resources)....and I organized it into this. The questions are the stuff I haven't done systematically yet >.<

Questio

[2022-01-18 23:47] ariutta commented on #341
**Unique identifiers for results**

I think the key question for this issue (and possibly #386 and #390) is, "What combination of data items uniquely defines a result?" I think it is the following:

1. QNodeID (e.g., `n0`) for every node
2. node primaryID, (e.g., `NCBIGene:3630`) for every QNode where `"is_set" = false`

Here's what a unique result ID could look like:
- when `"is_set" = true` for

[2022-01-19 17:39] colleenXu commented on #372
other resources related to research issues (besides grantome.com):
* https://explorer.opentrials.net/data (old, from 2018)
* https://www.cochrane.org/ (looks like not-structured, locked behind institutional access...)
* https://retractionwatch.com/retraction-watch-database-user-guide/ (looks like we might not be able to use due to the data use agreement?)

[2022-01-19 21:09] colleenXu opened #392 "handling unresponsive/slow non-TRAPI APIs"
brought up convo w/ @tokebe today.

When the cron job is run, we believe the smartapi registry is pinged (for the latest data from there) and the /meta_knowledge_graph endpoints are pinged for all TRAPI apis.

However, perhaps we only need to ping the APIs we actually use (the config file).

Also, if one of the non-TRAPI APIs is down, we wouldn't know it until we saw all the failed/time-outs in su

[2022-01-19 21:16] colleenXu commented on #328
in our talk today @tokebe, we discussed next steps (after Jackson's first iteration). This would likely involve discussions with the whole teams and other devs' involvement:
* discussing #379 and getting a standard for this team to use
* reviewing the TRAPI log statements and making them useful / clear (might involve editing the underlying console logs)

We saw that there are a LOT of console log

[2022-01-19 22:08] tokebe commented on #328
Above are new PRs addressing most of what's been discussed here for the first pass.

Like @colleenXu said, next pass will be more refinement of TRAPI logs (cutting unnecessary ones, making others more informative/using proper log level, adding useful logs, conforming language usage to a clear standard). I will see where I can do this but some logs are better changed by devs who are more familiar w

[2022-01-20 01:54] colleenXu commented on #341
@ariutta sorry for the late reply.

For the first post, as we discussed on Slack, I think we can assume 1 edge between two QNodes when a user wants to specify multiple predicates (they'll just use the predicates array on the QEdge) - which is your second case. However, I'm not sure of the effect of future TRAPI changes (particularly this [one](https://github.com/NCATSTranslator/ReasonerAPI/pull/30

[2022-01-20 02:00] colleenXu commented on #390
note that some records (responses from APIs) are merged incorrectly into edges and sometimes we want to merge/collapse records into 1 edge (think of SEMMEDDB, where there is at least 1 object per subject-predicate-pmid-object).

[2022-01-20 17:49] andrewsu commented on #341
Just to chime in that I'm in agreement with @colleenXu replies above.  I've never seen a query with two separate edges between a pair of nodes, so I'm fine with calling that invalid for now.  And `is-set` is not really meaningful on query nodes that are constrained to a single identifier.  (I may not be understanding [your most recent comment](https://github.com/biothings/BioThings_Explorer_TRAPI/

[2022-01-20 17:53] ariutta commented on #341
These query graphs were just for the [multiple predicates question](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/341#issuecomment-1013543591). I agree that adding `is_set` to either node wouldn't make sense.

------

The [resultID question](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/341#issuecomment-1015935703) is intended to be applicable for any query graph. The

[2022-01-20 18:56] ariutta commented on #341
The purpose of the result ID is to do consolidation. I think the simplest way of doing consolidation is to take one pass to group by result ID and another pass to consolidate groups. So at a high level, query_results.js would do this:
1. create sets of records where each set has one record per QEdge and each record in a set has the same primaryID as its neighbor(s) at the same QNode (currently cal

[2022-01-20 21:00] tokebe commented on #390
Just to add what I can so far, I've (broadly) localized the issue to [this step in `query_results._getPreresults()`](https://github.com/biothings/bte_trapi_query_graph_handler/blob/bb82cc9cc0be2d13b9dbec23fd975518f52bd77e/src/query_results.js#L113-L181). After this point, one `kgEdgeID` has been created (instead of the expected 2) within the preresults.

I'm currently taking a close look to see if

[2022-01-20 21:29] tokebe commented on #390
There may be another place this is supposed to be handled, however a naive edit to [`helper._getKGEdgeID()`](https://github.com/biothings/bte_trapi_query_graph_handler/blob/bb82cc9cc0be2d13b9dbec23fd975518f52bd77e/src/helper.js#L58) to the following results in what appears to be the response edges we want.

The only change made here is that the edge ID hash now uses the predicate -- again, this is

[2022-01-20 21:38] colleenXu opened #394 "a way to stop BTE async queries"
when I start a BTE async query, sometimes I need to stop it partway. Control-C doesn't work - often I need to shut down the terminal window. Based on my reading here, we would want to write a script that we call with a command like "npm stop": https://stackoverflow.com/questions/23258421/how-to-stop-app-that-node-js-express-npm-start

[2022-01-20 21:39] colleenXu commented on #394
This happens to me when I construct and send an asyncquery via jupyter notebook or Postman to my local BTE instance

[2022-01-20 23:16] colleenXu commented on #390
my understanding was that this function was intended to use the predicate....so I'm surprised that it wasn't included previously...

It's great if this fixes the issue!

[2022-01-21 00:04] colleenXu commented on #341
Queries that use `is-set`:
* the opening post from Andrew from Translator [standup](https://github.com/NCATSTranslator/testing/issues/134): this [query](https://github.com/NCATSTranslator/testing/blob/main/ars-requests/not-none/1.2/C.2_Doxorubicin_liposarcoma.json)
* is-set version of D2
<details>
<summary>     query</summary>

[code]
</details>

* Old Workflow C (might not work well): [C2a](https

[2022-01-21 00:32] ariutta commented on #390
@tokebe, I don't foresee any unintended behavior with that change. The existing code is based on the old `_createUniqueEdgeID` method, which didn't use `_getPredicate` ([related slack discussion](https://suwulab.slack.com/archives/CC218TEKC/p1631652312004200?thread_ts=1631549067.453300&cid=CC218TEKC)). But it makes sense to include the predicate.

The only test case I can think of where this might

[2022-01-21 01:13] colleenXu commented on #341
note the simpler version of C1: it should have 10 results, since each chem is attached to both diseases

[code]

[2022-01-21 01:41] colleenXu commented on #390
It's not farfetched and it does happen. Sometimes we want merging to happen and sometimes we don't in those cases...

Hmmm...I'm trying to think of a consistent way to tell "when to merge and when not to" (it often depends on API-specific fields / edge-attributes).

...perhaps if 1 record comes from 1 operation (metaKG edge execution) and 1 record comes from another, it would be nice not to merge

[2022-01-24 16:29] #388 closed, assigned to nobody

[2022-01-24 20:36] colleenXu commented on #392
may involve adding examples to endpoints (openapi) so then the smartapi registry pull "uptime" property should be an indicator of whether the api is up or not

[2022-01-24 20:39] colleenXu commented on #328
related to https://github.com/biothings/BioThings_Explorer_TRAPI/issues/392 since we were wondering how to make a log that says what non-TRAPI APIs are not available

[2022-01-24 21:05] tokebe commented on #318
@colleenXu @andrewsu This was a strange journey...I traced the execution to find where these specific results weren't getting resolved, until I came all the way back to the top. ID Resolution for these two APIs is disabled...exclusively in the query_v1_by_api endpoint. Good lesson for me in checking execution top-down briefly before diving into breakpoint tracing in the future, ahaha.

Running thi

[2022-01-24 23:46] andrewsu commented on #392
In my mind, this is a low-priority item because the end result is the same.  We currently are just doing a few more calls than necessary, but this happens during the cron job so it doesn't affect query performance.

I'm not sure I like this proposed behavior. If an API went down, I think we'd want to continue to query that API on subsequent queries rather than assume it was down until the next cro

[2022-01-25 17:19] andrewsu opened #396 "Not retrieving phenylalanine -- [converts to] --> tyrosine edges from semmeddb"
Our semmeddb api currently has 23 associations with subject of phenylalanine (`C0031453`), object of tyrosine (`C0041485`), and predicate of `CONVERTS_TO`. https://biothings.ncats.io/semmeddb/query?q=subject.umls:C0031453%20AND%20object.umls:C0041485%20AND%20predicate:CONVERTS_TO snippet:

[code]

In biolink model, `SEMMEDDB:CONVERTS_TO` exactly [maps](https://github.com/biolink/biolink-model/blob

[2022-01-25 21:20] tokebe commented on #396
BTE appears to be encountering an error with this query: https://api.bte.ncats.io/v1/check_query_status/nGGj3c3lNm.

I'm investigating further but it would appear that 203 hits are collected from subqueries, and then sent to the edge manager via `updateEdgeResults()` and `updateAllOtherEdges`, but aren't being kept due to the result outputs not matching. This would appear to be because the `Update

[2022-01-25 21:52] tokebe commented on #396
The qEdge is being formed correctly, and the object has the appropriate curie after the queryEdges have been processed. During the execution of `manager.getNext()`, the execution edge's [`chooseLowerEntityValue()`](https://github.com/biothings/bte_trapi_query_graph_handler/blob/987f1aff6cfb38c5729d1372403c337662fda7fa/src/query_execution_edge.js#L36-L63) method is called, which causes the object t

[2022-01-25 22:08] marcodarko commented on #396
@tokebe I'm behind on this conversation but as far as the held curies:
Held curies are put back when curie intersection takes place, so they do get popped back in. but an edge might lose them if the connecting edge doesn't connect to them. line 89ish query_node

[2022-01-25 22:46] andrewsu commented on #366
potentially do node lookup in [ontology lookup service](https://www.ebi.ac.uk/ols/)

[2022-01-26 02:01] colleenXu commented on #396
It looks a semantic mismatch issue:
* Both of these are amino acids, which one would think of as a chemical / small molecule that's important for bio...
* in SEMMED...the subject Phenylalanine is aapp, which we map to biolink-model's Polypeptide (using biolink-model)
* in SEMMED...the object Tyrosine is gngm, which we map to biolink-model's Gene
* The SRI ID resolver maps both of these IDs to biol

[2022-01-26 05:59] andrewsu commented on #318
I don't see a reason why text-mining provider and multiomics provider should be treated differently than any other API with respect to ID resolution.  I'm going to tag @newgene just in case he remembers any historical rationale for why that should exist.  If not, let's remove it...

[2022-01-26 06:39] newgene commented on #318
I also don't know any particular reason for this line. Could be performance issue at that time (likely these two APIs tend to return large output, which triggers too many resolver API requests? At that time, we are probably still using our own resolver module).

I would comment out this line with some explanation notes and then observe how the queries behave.

[2022-01-26 16:38] tokebe commented on #318
[Here is the result](https://dev.api.bte.ncats.io/v1/check_query_status/BA_nTSVnu2DmT) of the query made to dev, with the line commented out (the same behavior was present in the async by_api endpoint). Looks like it works, I'll make a PR with the changes to both endpoints.

[2022-01-26 16:46] andrewsu commented on #396
To summarize where I think we're at, it appears there are two distinct issues here.  First, there is the 500 error on prod that @tokebe reported in [this comment](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/396#issuecomment-1021619298). I didn't notice the error message in my original post -- I only reported "zero results".

Second, there is the issue of the semantics of the query

[2022-01-26 18:58] andrewsu opened #397 "update landing page at https://biothings.io/explorer/"
The landing page at https://biothings.io/explorer/ is pretty out of date now and in need of an update, especially when we move forward with a publication.  As a starting point:

- [ ] add more documentation and explanation, including the "subway map" diagram of the metaKG
- [x] remove the "Explain" section/feature
- [x] rebrand the "advanced" section/feature as "Try it out" (or something similar)

[2022-01-26 20:19] colleenXu commented on #396
Noting other queries that work or don't work:

* The QNode categories are key here. The data is stored with Tyrosine (UMLS:C0041485) as `Gene` and Phenylalanine (UMLS:C0031453) as `Polypeptide`. The sub-query's object has to match the semantic type - since the semantic type is used in the query. The sub-query's input IDs / subject doesn't have to match (since the actual sub-query only uses the sub

[2022-01-26 21:44] tokebe commented on #396
Here's a play-by-play of what I'm seeing happening with the non-working query:

<details>
<summary> Using this query </summary>

[code]

</details>

Note: both nodes expand to only themselves, with no equivalent identifiers (should this be the case?), just the name and the already given curie.

The edge executes and attempts to store 4 results, each from queries to SEMMEDDB. We've got the followin

[2022-01-26 21:52] tokebe commented on #396
@andrewsu @colleenXu @marcodarko This error would appear to be caused by the confluence of a couple separate problems.

Somewhere between updating the qEdge and the manager returning organized results, or the query results object attempting to update, we should have a check that there are results to work with, and terminate early -- possibly as early as failing to intersect any curies within the q

[2022-01-26 23:08] ariutta commented on #341
UPDATE: SOLVED

@tokebe updated the logging on the `is_set2` branch, so we were able to try it out.

It appears some queries get discordant values for `helper._getInputQueryNodeID`, `helper._getInputID`, `helper._getOutputQueryNodeID` and `helper._getOutputID`:
https://suwulab.slack.com/archives/CC218TEKC/p1643236225129800?thread_ts=1643220256.112100&cid=CC218TEKC

[2022-01-26 23:47] marcodarko commented on #396
@tokebe after each edge is executed we check if there was no results here: https://github.com/biothings/bte_trapi_query_graph_handler/blob/987f1aff6cfb38c5729d1372403c337662fda7fa/src/index.js#L213
So if it made it past this part then when the manager collects the results is just simply going edge by edge combining and organizing the results by edge.  So it would be weird for me that the collectio

[2022-01-27 05:55] andrewsu commented on #396
So it _could_ be the issue of the mismatch of semantic types that @colleenXu posted [here](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/396#issuecomment-1021786871).  To properly diagnose that, it would be useful to see the actual semmeddb API calls that BTE is accessing.  From that, we should be able to quickly determine whether the tyrosine-phenylalanine edge is actually sent bac

[2022-01-27 06:33] colleenXu commented on #396
@tokebe to follow-up on what @andrewsu said:

I think the query used [here](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/396#issuecomment-1022630667) will end up with **0 results and an empty knowledge-graph section**. This is because the semantic issues - the sub-query will not retrieve the Phenylalanine-Tyrosine data:
* It looks like BTE decides to use n00 as the "input node".
*

[2022-01-27 06:37] colleenXu commented on #396
Also, the queries I've done so far and what I think of their behavior (since I think I understand the semantic issues here...):

This is based on querying from Tyrosine. I imagine that something similar will play out if we queried starting from Phenylalanine.

| Subject | Predicate | Object | Outcome |
| --------------- | --------------- | --------------- |--------------- |
|  `[no semantic type]

[2022-01-27 07:12] colleenXu commented on #396
Yup, If we switch to querying starting from Phenyalanine, the same thing happens. Only including here as FYI

<details>
<summary>expand here</summary>

| Subject | Predicate | Object | Outcome |
| --------------- | --------------- | --------------- |--------------- |
|  `[no semantic type] / UMLS:C0031453 / Phenylalanine `  | `derives_into` | `[ChemicalEntity]` | doesn't work, which is expected. B

[2022-01-27 17:26] tokebe commented on #396
@marcodarko See [my above](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/396#issuecomment-1022630667) comment -- we get results from the query handler, but after the edge attempts to store them, no results are kept. As there are no subsequent checks, the lack of results make it through. I'm writing a PR to check at a slightly later stage as well.

I'm also just going to echo that th

[2022-01-27 19:59] tokebe commented on #396
@andrewsu biothings/bte_trapi_query_graph_handler/pull/87 Should fix the error. @colleenXu [expressed in the Slack](https://suwulab.slack.com/archives/CC218TEKC/p1643311780143300?thread_ts=1643268088.134800&cid=CC218TEKC) that the lack of retrieval isn't a problem...so I guess this issue will be resolved once the PR is deployed?

[2022-01-27 22:14] ariutta commented on #341
UPDATE: SOLVED

Pulling the content from Slack over to here...

For the following query, `n0` should only get the primaryID `NCBIGene:23221`:
[code]

If you log this:
[code]

Here's an example of what's expected:
[code]

Here's an example of what you actually see at the moment for the `is_set2` branch:
[code]

[2022-01-28 01:52] colleenXu commented on #396
just a note: all the queries above have been POST to http://localhost:3000/v1/smartapi/1d288b3a3caf75d541ffaae3aab386c8/query (semmeddb thru BTE specifically)

[2022-01-28 02:19] ariutta opened #399 "Not retrieving WIKIPATHWAYS:WP4312 -- Gene"
Should we be able to query with a WikiPathways ID specified in `ids`? I'm not getting results for the following query:
[code]
![image](https://user-images.githubusercontent.com/1296771/151474932-df297238-2705-4890-82ff-4e36e7e9dab2.png)

There appears to be an error thrown in `nodeUpdateHandler`:
![image](https://user-images.githubusercontent.com/1296771/151474467-18f3eff7-4e21-4327-958e-44beb7f70

[2022-01-28 06:20] colleenXu commented on #388
Note: will update SEMMEDDB x-bte soon. This is what I did
* same as what I said above:
    * map SEMMEDDB:diagnoses to new predicate diagnoses (w/ inverse "is diagnosed by") rather than using related_to
    * map categories/ node types: STY:T037 (semmed, injury or poisoning) and STY:T046 (semmed, Pathologic Function) to PathologicalEntity (which is actually a mixin hmmmmm). Previously they were ma

[2022-01-28 06:21] colleenXu commented on #388
updated here: https://github.com/NCATS-Tangerine/translator-api-registry/commit/d7307e8b50da8be0bd466bb9c81368e4b0fc4d38

[2022-01-28 07:33] colleenXu commented on #399
probably has to do with ID resolution. There's this issue @tokebe raised: https://github.com/TranslatorSRI/NodeNormalization/issues/113

SRI ID resolver doesn't recognize wikipathway ids I think

[2022-01-28 23:00] ariutta commented on #341
@colleenXu, for the query in your [comment re: a simpler C1](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/341#issuecomment-1018071439), I'm getting 352 results with the `is_set2_pr86` branch vs. 903 with the production code. But I should be getting just 10 results?

[2022-01-29 00:23] ariutta commented on #390
I had thought using the predicate when generating KDEdgeID could be relevant to this, but it appears that isn't enough. There's something going on before `query_results.js`, because `bte:call-apis:query` gets 0 hits for `SmallMolecule > prevents > Disease` but 40 hits for `SmallMolecule > predisposes > Disease`:
![image](https://user-images.githubusercontent.com/1296771/151638544-cfcbd7ea-986d-4c2

[2022-01-29 01:29] ariutta commented on #386
@colleenXu, can you test this issue against the `is_set2_pr86` branch? I tested your query B above, and for the current production code, I got:
<details>
<summary>1 result with 1 edge binding with 1 id</summary>

![image](https://user-images.githubusercontent.com/1296771/151641875-036cc198-1fcc-4aca-97dd-032c7d2030c8.png)

</details>

But with the `is_set2_pr86` branch code, I got:
<details>
<summ

[2022-01-29 05:53] colleenXu commented on #341
@ariutta sorry, it looks like my edit of that comment didn't go through. I've edited it now so that it should have two IDs in the QNode. This should give only 10 results

[2022-01-31 07:21] ericz1803 commented on #278
@tokebe was right, _edgeSupported already sort of does a dry run by running through the query edges and getting the smartapi edges. Using this, I logged info about each edge as well as the individual queries made.

@newgene @colleenXu @tokebe Is this the format we are looking for/is there any other info that should be getting logged?

[code]

[2022-01-31 17:41] tokebe commented on #278
@ericz1803 Just to clarify, the logs will list all APIs queried for a query edge, and then for each of those APIs list the specific sub-query edge? This sounds pretty good to me. @newgene and @colleenXu may have other specific intentions/requirements.

I definitely think using the existing TRAPI log format is the best way to do this as it keeps our response nice and TRAPI-compliant. I'd suggest ch

[2022-01-31 17:58] ariutta commented on #341
@colleenXu, I just tried the [updated query](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/341#issuecomment-1018071439). Prod gave 20 results. `is_set2_pr86` gave 0 results. Did you get 10 results from `is_set2_pr86`?

[2022-01-31 19:10] colleenXu commented on #341
@ariutta yep I got 10 results from `is_set2_pr86`....I'm not sure why you aren't when the prod query looks like it's working correctly. Both queries are post to http://localhost:3000/v1/query....

[2022-01-31 19:22] colleenXu commented on #278
In the example above, it looks like all 181 sub-queries will have a log describing the semantics of the operation it's doing....which feels like too much.

Some thoughts:
* I thought the main goal was to know the query-execution plan WITHOUT actually waiting the seconds-minutes for the whole query to execute.
* BTE does walk thru the execution to make sure we have operations/metaKG edges for each

[2022-01-31 19:49] tokebe commented on #278
Just to respond to what I can here:

- This doesn't appear to actually execute the queries, it just assembles them and logs the planned API and edge -- I should have been more clear in my previous comment.
- I agree that it may be a bit much to list every separate API call and the association to query, however it could prove valuable in some debugging cases. Perhaps we might want to include an add

[2022-01-31 20:36] colleenXu commented on #394
This is a process that seems to work for me (EDIT):
* First open another tab on Terminal
* do either of the following to find the PIDs. Then kill them: The command I do is `kill -9 <PID>`. (I haven't figured out a specific one to close yet).
    * `ps` and look at the PIDs. I close all CMD related to nvm/node
    * Activity Monitor on Mac. Search for node and see the PIDs. kill all of them.
* then

[2022-01-31 23:40] ariutta commented on #386
@colleenXu [checked](https://suwulab.slack.com/archives/CC218TEKC/p1643434996048029?thread_ts=1643428781.037369&cid=CC218TEKC), and the `is_set2_pr86` branch produces the correct output for query B.

[2022-01-31 23:54] ariutta commented on #341
@colleenXu, when I post the query to https://api.bte.ncats.io/v1/query, I get 20 results. When I post it to http://localhost:3000/v1/query, I get 0 results, regardless of whether I use the `main` or the `is_set2_pr86` branch of https://github.com/biothings/bte_trapi_query_graph_handler.

I did `npm run pull` to get the latest code from all the branches. Any ideas why I'm getting 0 results?

To hel

[2022-02-01 00:33] colleenXu commented on #320
notes on current automated tests:

1 test fails in biomedical ID resolver, due to issue with node normalizer https://github.com/TranslatorSRI/NodeNormalization/issues/113

<details>
<summary>log of biomedical ID resolver test fail</summary>

[code]
</details>

--

api response transform: need to remove the cord transformer and its tests. These fail right now since this API was removed.

<details>

[2022-02-01 00:47] colleenXu opened #400 "fix 500 error when BTE is unable to find a connection between two QNodes with IDs"
Previously in https://github.com/biothings/BioThings_Explorer_TRAPI/issues/396#issuecomment-1022385735, we discovered that BTE gives a 500 error in the following situation:
* two QNodes with IDs are connected to each other in the QGraph (like an Explain-style, but it can be more complex)
* but BTE doesn't actually find a connection between the two QNodes after all the sub-query execution and edge-

[2022-02-01 00:56] colleenXu opened #401 "missing edges in result edge-bindings"
When there are multiple edges between two nodes, the results won't include those multiple edges in the edge-bindings EDIT: IF THE QGraph is multi-hop (more than 1 QEdge).

This was discovered here: https://github.com/biothings/bte_trapi_query_graph_handler/pull/86#issuecomment-1021637213

This was traced back to the BTE changes around 12/3. It's likely that this [PR](https://github.com/biothings/b

[2022-02-01 01:07] ericz1803 commented on #278
### **Addressing a few things:**

  @colleenXu Yup, just to clarify, it doesn't actually query it, it just gets the APIs for each edge.
<br>

I only included the log for 1 of them, but for each edge, it logs every sub-query it will make as well
<br>

This message is still logged (I just didn't include it in the snippet)
<br>

Will do for sure
<br>

@tokebe Do you know if the logging system right n

[2022-02-01 01:20] colleenXu commented on #278
@ericz1803 I'm a bit confused. Comparing my [comment](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/278#issuecomment-1026124656) to this https://github.com/biothings/BioThings_Explorer_TRAPI/issues/278#issuecomment-1025447567, my perspective is:
* Jackson and Eric have both confirmed that this work will not involve actually executing the whole query. Great, that was just a check
* T

[2022-02-01 01:30] colleenXu commented on #278
maybe this will help? The pink arrows show what I'm thinking about regarding "edge execution order".
![Screen Shot 2022-01-31 at 5 28 04 PM](https://user-images.githubusercontent.com/43731687/151899926-756e47a7-0d93-470d-b407-765b7876ae66.png)

And this is the query I was using (it takes about 1 min 17 sec to run). It's a simpler version of D2 and might be good for testing this functionality. The

[2022-02-01 01:35] colleenXu commented on #341
@ariutta It looks like all records come from Connections Hypothesis Provider API (server url http://chp.thayer.dartmouth.edu).

Have you run the cron job, and successfully retrieved the meta_knowledge_graph from that server url? And your config file  contains Connections Hypothesis Provider API (not commented out)? https://github.com/biothings/BioThings_Explorer_TRAPI/blob/b0a53722b8abb526474ea701

[2022-02-01 01:40] ariutta commented on #341
I'd assume the cron job would have run, but I'm not sure how to check it.

"Connections Hypothesis Provider API" is unchecked (just left it as default on latest `main`).

[2022-02-01 01:56] colleenXu commented on #341
@ariutta I use this command to run the cron job when I want to (it exits when done, runs from the bte-trapi-workspace directory): npm run smartapi_sync --workspace='@biothings-explorer/bte-trapi'

So it sounds like Connections...should be queried by your local machine if it's available....

[2022-02-01 02:04] ariutta commented on #341
That command fixed it, thanks!
`npm run smartapi_sync --workspace='@biothings-explorer/bte-trapi'`

Now I'm also getting 10 results on the `is_set2_pr86` branch, so as far as I can tell, this issue #341 is solved.

[2022-02-01 16:16] tokebe commented on #278
Regarding edge execution order and reversed status: As an example, `_edgesSupported()` already does the correct order by using an instance of `EdgeManager` and leveraging `manager.getNext()`, which handles order [(See these lines)](https://github.com/biothings/bte_trapi_query_graph_handler/blob/987f1aff6cfb38c5729d1372403c337662fda7fa/src/index.js#L120-L121). BTE does already log the edge executio

[2022-02-01 18:02] tokebe commented on #304
Closing due to #328's implementation making this redundant.

[2022-02-01 18:02] #304 closed, assigned to tokebe

[2022-02-02 04:52] ariutta commented on #379
Discussion regarding vocabulary in query_results.js for the query graph handler:
https://github.com/biothings/bte_trapi_query_graph_handler/pull/88#issuecomment-1026413433

[2022-02-02 17:43] colleenXu commented on #379
This will be discussed further as we discuss "how to write tests for the results-assembly process"

and we want to discuss case...https://betterprogramming.pub/string-case-styles-camel-pascal-snake-and-kebab-case-981407998841

[2022-02-02 18:10] colleenXu opened #402 "refactoring "records" to help test results-assembly"
- Involves query-handler module. we're thinking of creating a class (Record) and creating methods to do what we want and/or building a way to get records as a "readable json" format that can be exported / imported for tests...
- would make them easier to serialize / cache (w/ less memory usage)
- Would make it easier to write tests for results-assembly code

We've tried working on this with https:

[2022-02-02 18:14] colleenXu commented on #394
Just checking with @tokebe @newgene @andrewsu that [this](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/394#issuecomment-1026186166) is the way we want to kill an BTE async query, vs developing a script for `npm stop`.

[2022-02-02 18:23] colleenXu commented on #402
Right now, there isn't a separate issue for the "testing" goal. This is because we're still figuring out what this effort involves: would we need separate processes for writing tests for each module and for overall-behavior?

Also, Andrew drew this diagram when trying to understand the "test writing process" for results assembly
![Screen Shot 2022-02-02 at 9 46 03 AM](https://user-images.githubuse

[2022-02-02 18:29] colleenXu commented on #400
seems to work fine for queries where we don't expect this logic to trigger (since we do find that the nodes are connected)

[2022-02-02 18:37] colleenXu commented on #402
also regarding testing results-assembly: Jackson's code of running queries and checking: https://suwulab.slack.com/archives/CC218TEKC/p1643749685831709

* check that every returned edge is used at least once in at least one result's edge_bindings
* check that every returned node is used at least once in at least one result's node_bindings
* check that every query node and query edge appears at lea

[2022-02-02 18:39] #318 closed, assigned to nobody

[2022-02-02 18:50] #400 closed, assigned to nobody

[2022-02-02 18:52] #341 closed, assigned to nobody

[2022-02-02 18:53] #386 closed, assigned to nobody

[2022-02-02 20:13] tokebe commented on #379
Just adding a few notes here:

- We want to stick to `camelCase` as it's pretty much the standard in javascript, with `PascalCase` for class names
- While we do want descriptive names for each thing, we probably want to keep to shorter variable names for code readability. There's a balance we can probably find between clarity and length, for instance the class `QNode` is short for `QueryNode`, whi

[2022-02-02 20:38] tokebe commented on #379
I also just want to define the scope for which we're going to try and do this -- along the lines of in-code language, I assume the main areas of focus will be the `query_graph_handler` and `call-apis` packages, while overall we're trying to develop a clear vocabulary to be used in just about any discussion. Does this sound acceptable, at least for a start?

It might be best to go file by file and

[2022-02-02 22:00] tokebe opened #403 "Caching memory optimization"
Caching, especially retrieving records from the cache, would appear to significantly increase the memory usage during query execution. This could be due to a number of things -- it should be possible to reduce concurrency in cache processing, and possibly optimize duplicated representations of objects.

[2022-02-03 18:53] tokebe commented on #401
Note: after the recent merge of biothings/bte_trapi_query_graph_handler#88, this issue is still persistent, however the edges that are missing are different from prior to the merge. Example from A.2a below:

A.2a: edge 60840f5cfbe4071a4aaf04db85ca9c74
![image](https://user-images.githubusercontent.com/43009413/152405426-0741c003-3fe8-440d-9dca-f1dfc2e1d374.png)

![image](https://user-images.github

[2022-02-03 19:08] ariutta commented on #379
Regarding `unconsolidatedResultsByResultID`, shorter variable names are better, as long as they remain understandable, because variables that are too long can be unwieldy. Here's one opinion:

https://google.github.io/styleguide/jsguide.html#naming-rules-common-to-all-identifiers

Regarding variable names for maps/objects, I've seen conventions like `valueByKey`, `valueForKey`, `keyToValue` and `k

[2022-02-03 21:24] tokebe commented on #401
After [discussion in slack](https://suwulab.slack.com/archives/CC218TEKC/p1643749685831709), this may end up being a new, separate issue. For now, I'm going to document below each of the demo queries and their respective 'missing' edges (which may turn out to be kg edges that shouldn't exist as opposed to rightful kg edges not appearing in the edge bindings). There are also some nodes represented

[2022-02-04 03:23] colleenXu opened #404 "command to see all modules' status (branch / changed files) at once"
[EDIT] This would run from the top directory (bte-trapi-workspace)

perhaps something like `npm run status`, and then the following would be printed to console:
* what branch the user is currently on for all 7 BTE modules (maybe `git branch | grep '*'`)
* what changes there are for each module.
    * Would be nice if it included added changes, committed changes (not pushed yet), and changes not st

[2022-02-05 05:28] colleenXu commented on #357
EDIT: ~when this issue is addressed https://github.com/TranslatorSRI/NodeNormalization/issues/113, can uncomment operations from here https://github.com/NCATS-Tangerine/translator-api-registry/commit/b33ac49f57648bb2ccbfcdab511e100726ca316c~

[2022-02-07 07:31] ericz1803 commented on #278
Just made a pull request based on these comments.

Some things that might be worth discussing still:
- I didn't address this with my PR, but with the current LogEntry class/system, there is no way to choose which log level to log. We should consider switching to an out of the box logging solution or beefing up our existing solution
- With more query parameters, is there anywhere we are documenting

[2022-02-07 14:55] tokebe commented on #278
@ericz1803 Regarding your first point, log levels in BTE match the TRAPI standard [defined here](https://github.com/NCATSTranslator/ReasonerAPI/blob/master/docs/reference.md#logentry-). The log level is selected by the first argument when creating a `new LogEntry()`, which you did in you PR -- there's nothing else that needs to be done there. [The user can select which log levels to retrieve when

[2022-02-07 16:00] newgene commented on #278
Generally, yes, smartapi metadata is the place to document end-user facing query endpoints and parameters. It's typically a manual edit, which is fine for us, since the changes to its metadata are not too often.

When the feature is stable and deployed, we can leave a comment here or create a new issue to update the metadata. @colleenXu handles many smartapi metadata updates, so she may chime in o

[2022-02-07 21:02] tokebe opened #406 "Handle nodes with multiple IDs and no category"
As seen in the Monday relay meeting, when BTE is provided with a node with no categories, it will attempt to infer the category, but if the node has more than one ID, it will immediately give up on attempting to do so. This was relatively obtuse when looking at the logs.

There are two parts to this issue:
- Most importantly, BTE needs to infer categories from multi-ID nodes.
- Secondarily, the TR

[2022-02-08 06:14] colleenXu commented on #278
My understanding is that we currently have to manually edit the smartapi.yaml file in [BTE main repo](https://github.com/biothings/BioThings_Explorer_TRAPI/blob/main/docs/smartapi.yaml) (used to validate what we send to the endpoints) and in the [registry repo](https://github.com/NCATS-Tangerine/translator-api-registry/blob/master/biothings_explorer/smartapi.yaml) (used by the Smartapi registry, l

[2022-02-08 06:17] colleenXu commented on #278
Also, I know @ericz1803 and @tokebe discussed changing the endpoint to "Explain", given the opening post here by @newgene ....

But could we instead use something different like "edgeplan" or "dryrun"? Since I feel like "explain" is used often to mean "explain-type" querying (IDs on QNodes, attached together by QGraph). Related to #379

[2022-02-08 20:41] colleenXu commented on #379
note on CURIE (vs ID) and prefix stuffs: https://cthoyt.com/2021/09/14/curies.html. We use prefixes from biolink-model (either what biolink model has at the top or what they list under semantic types for nodes)

[2022-02-09 04:05] ericz1803 commented on #278
@tokebe I made the changes for "dryrun" -> "explain" and changing the logging level to "DEBUG".

I second @colleenXu's point that "explain" could lead to some confusion. For the `smartapi.yaml` file, I meant that it doesn't feel great to have to put the parameter in 6 different place but maybe it's unavoidable with how the query urls are set up.

[2022-02-09 14:57] tokebe commented on #278
@ericz1803 Apologies for the redundant work, given @colleenXu's comment `dryrun` does make more sense and should be used instead.

As for `smartapi.yaml`, yes, unfortunately this is just an unavoidable consequence of how it's structured/how that structure is used.

[2022-02-11 20:13] colleenXu commented on #372
Related:

incorporating new biothings api:
* https://github.com/biothings/BioThings_Explorer_TRAPI/issues/260

figuring out if x-bte can handle other query-language apis:
* https://github.com/biothings/BioThings_Explorer_TRAPI/issues/240

creating biothings instances of new resources:
* https://github.com/biothings/pending.api/issues/62
* https://github.com/biothings/pending.api/issues/60
* https:

[2022-02-11 20:18] colleenXu commented on #372
Resources discussed during Feb relay this week:
* https://drugs.ncats.io/. download links broken (discussion [here](https://suwulab.slack.com/archives/CC218TEKC/p1644251426985609))
* https://github.com/ncats/ramp-db. discussion in this [thread](https://suwulab.slack.com/archives/CC218TEKC/p1644251433631009)

[2022-02-11 20:18] colleenXu commented on #406
related discussion here: https://suwulab.slack.com/archives/CC218TEKC/p1644261637627879

[2022-02-11 23:14] ericz1803 commented on #278
All good, I made the change back to `dryrun`. If there's nothing else, the two PRs should be ready to merge

[2022-02-12 07:02] colleenXu opened #407 "not edge-merging, the drug-response kp api case"
note: BTE doesn't ingest this api directly, but it can be queried using http://localhost:3000/v1/smartapi/adf20dd6ff23dfe18e8e012bde686e31/query

EDIT: updated link. There are 3 records [here](https://pending.biothings.io/drug_response_kp/query?q=association.edge_label:"biolink:associated_with_sensitivity_to"%20AND%20subject.ensembl:ENSG00000181991%20AND%20object.pubchem_compound:71271629), that d

[2022-02-12 07:07] colleenXu commented on #407
In other words, the logic of having unique edges by subject-predicate-object-api-source needs to be expanded.

perhaps we can use specific edge-attributes: when they exist and differ between records, turn these records into separate edges....I suggest the `biolink:has_disease_context` one above for this particular API...

[2022-02-15 05:33] colleenXu opened #409 "KG keeping nodes and edges that aren't in results"
@tokebe noticed that the message.knowledge_graph section of a TRAPI response contains nodes and edges that aren't in the results section.

Jackson has shown this issue with the analyses https://github.com/biothings/BioThings_Explorer_TRAPI/issues/401#issuecomment-1029298778 and in the reports for automated runs https://dev.api.bte.ncats.io/demotests/ (an example is by going to summary -> A.2_RHOBT

[2022-02-15 05:34] colleenXu commented on #401
I've opened a separate issue since I think Jackson's analysis after the PR fix revealed a different problem.

[2022-02-16 17:38] ariutta commented on #409
My understanding is that the records provided to `QueryResults.update` are not necessarily all part of complete paths. They should all match up at specific nodes, but some of the records can still be dead ends. The `QueryResults.update` code stitches together the complete paths, but I don't know what happens to the KG for the dead ends.

[2022-02-16 17:59] colleenXu commented on #409
It might help to take the queries with this issue and...
* look at the edge-execution order and the entities used to query for each QEdge. When are these extra KGEdges being made (aka is the pruning on that level working)?

[2022-02-16 18:07] tokebe commented on #409
Just adding some documentation to use demotests for testing solutions to this issue prior to getting a module-level test written:

- After making some code change and running a query to see what the response is
- POST that response to `https://dev.api.bte.ncats.io/demotests/inspect`
- demotests will return a response summarizing number of results, etc., and importantly for this case, the results o

[2022-02-16 18:45] tokebe commented on #392
Summarizing [conversation in Slack](https://suwulab.slack.com/archives/CC218TEKC/p1645035128106589), a proposed behavior:

During the course of a query, if a sub-query fails due to timeout, that API is marked as 'down' on a 'cooldown' timer, say, for a period of 5 minutes. During this cooldown, any sub-queries to that API will be automatically skipped, **only within the execution of the BTE query

[2022-02-16 18:49] tokebe commented on #407
Just to solidify my understanding, are you saying that we simply want to add specific edge attributes to the generation of unique edge IDs/comparison of edges, similarly to [this issue](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/390#issuecomment-1017944136)?

If this is the case, we could do something along the lines of one of the following:
- Use a specific set of edge-attribute

[2022-02-16 19:04] andrewsu commented on #392
Yes, I generally agree with this proposed _per-query_ behavior.  Two parameters that could be used to tune -- the number of timeouts observed to trigger the cooldown (let's call this T), and then the length of the cooldown period (L).  @tokebe's proposal corresponds to T=1 and L=5 mins.  I'd be fine with that, or T=1 and L=999 mins (effectively removing that API from that query entirely), or T=5 a

[2022-02-16 19:04] tokebe commented on #390
@ariutta @colleenXu I'm confused, is this issue resolved, or do we have a new test case that shows that it isn't resolved?

[2022-02-16 19:13] tokebe commented on #392
If the concern is execution time of a given query, each query times out after 50s, meaning that each failed query is almost another minute on execution time. That being the case I'd propose T=<2.

I just stated an example L=5, in case it's a long query already and there's a chance it'll somehow query that API again, to give the API a chance to return to operation prior to the end of sub-queries, h

[2022-02-16 19:22] andrewsu commented on #392
Yeah, good points.  I vote T=1 and L=999 (or hard-coded to be indefinite). Agreed that we _could_ have more complex logic, but not necessary at this stage I think...

[2022-02-16 21:01] andrewsu commented on #407
I agree that there is an issue here -- only having one of the three records represented is not quite right.  _But_ I think the desired behavior is not clear enough to say it's ready for implementation.  I'm not convinced that there three records should say as three separate edges.  I think we need to raise this with the Architecture call to see if there is a best practice for how to handle this...

[2022-02-17 00:29] colleenXu commented on #390
I thought this was resolved....

[2022-02-17 01:04] colleenXu commented on #407
It sounds like this issue may need further discussion with Multiomics team (Guangrong) and maybe the rest of Translator, especially after I reviewed my understanding of what this API's data is...

At the moment, I think "edge merging and overwriting the edge-attributes" is happening for...
* records like my opening post's example, where there were 3 separate diseases contexts
* records that look i

[2022-02-17 01:51] colleenXu opened #410 "Handling SRI Node Normalizer empty response for Unresolvable curies"
There's been an ongoing bug in SRI ID resolver, https://github.com/TranslatorSRI/NodeNormalization/issues/113. And we want to be able to handle this because it causes issues whenever a set of unresolvable curies is sent. This happens most often when testing operations for APIs that don't have ID namespaces supported by SRI ID node normalizer (LINCS, Multiomics stuff, clinical stuff)...

---

Will

[2022-02-17 15:50] tokebe commented on #390
The original issue would appear to be resolved. I'm not sure about the comment on `call-apis` as there are queries for both `prevents` and `predisposes` that are returning hits, and the correct number of PMIDs are appearing in the correct configuration. Marking as closed.

[2022-02-17 15:50] #390 closed, assigned to nobody

[2022-02-17 15:53] andrewsu commented on #390
Just a note that I think this issue is a candidate for constructing simplified internal objects for the purposes of creating a module-level test.

[2022-02-17 16:21] tokebe opened #411 "Make a new test for proper edge merging"
[As noted](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/390#issuecomment-1043107895) by @andrewsu, #390 is a good issue to turn into a module-level test for proper edge merging.

<details>
  <summary>This query is a good test query to create simplified internal objects for this test</summary>

[code]

</details>

[2022-02-18 17:17] #403 closed, assigned to tokebe

[2022-02-22 22:31] colleenXu commented on #372
https://github.com/biothings/pending.api/issues/57 on evaluating an existing api, or making a new pending

[2022-02-23 01:18] colleenXu commented on #278
noting (this was originally sent in Slack):

I've [reviewed](https://github.com/biothings/BioThings_Explorer_TRAPI/pull/405) [these](https://github.com/biothings/bte_trapi_query_graph_handler/pull/89) PRs for dryrun....and I think the dryrun parameter isn't working correctly with the asyncquery endpoints - it looks to me that the query is executing completely rather than stopping early (only loggi

[2022-02-23 23:44] colleenXu commented on #278
from discussion today:

the dryrun plan will accurately says the first edge to be executed, and it assumes that results/output IDs are found for each edge. This means that the order of the edges isn't necessarily correct after the first edge listed:
* results/output IDs might not be found (sub-queries don't find any hits)
* as mentioned above, edge-manager algorithm will look at the number of "inp

[2022-02-24 18:31] tokebe commented on #404
Currently, `npm run git <git subcommand>` will run the given git subcommand in all module directories. For the case of this issue, `npm run git status` should give this information for all modules.

It does output echos of the commands in the script, which takes up plenty of extra space, however I haven't found a way to disable this...

[2022-02-24 18:53] tokebe commented on #404
I've made a [PR for the workspace](https://github.com/biothings/bte-trapi-workspace/pull/7) to make the output a bit more friendly (really this was a minor thing that was bugging me).

[2022-03-01 16:28] tokebe commented on #379
Going to begin posting items for discussion here as I move through the process of renaming.

First up: As far as I can tell, `smartAPIEdge` and `metaEdge` refer to the same concept -- should we note that the two can be used interchangeably, or pick only one to use? Or am I mistaken about them being the same?

[2022-03-01 21:20] colleenXu commented on #379
@tokebe it might help to link to code lines where the terms are used, so we can see context.

Brainstorming on what I think this first concept is...
* I think I've been calling the thing "metaKGEdges" or "operations" when communicating....
* historically, I think we called these things "smartAPIEdge" or something like this, because the TRAPI "meta knowledge graph" concept wasn't implemented/didn't

[2022-03-01 21:44] tokebe commented on #379
@colleenXu The majority of uses of `smartAPIEdge` are in [qedge2bteedge](https://github.com/biothings/bte_trapi_query_graph_handler/blob/3518bf9f51bdcc80a4d417226efa9adec01da2d6/src/qedge2bteedge.js), while metaEdge is not actually used in-code, but has been used in discussion. I think the best idea will be to use `metaEdge` instead of `smartAPIEdge` in basically all cases.

In my exploratory refa

[2022-03-01 21:52] colleenXu commented on #379
I'll leave it to your discretion then! I'm not clear on the "queryExecutionEdge / pairing with metaEdge". Like what's the diff between queryExecutionEdge and qEdge (from the QGraph / query request body)? And does the metaEdge change once it's paired, enough that we want to use a diff name?

I imagine that these are concepts/constructs in the code that I'm not fully clear on...

[2022-03-01 22:01] tokebe commented on #379
A `qEdge` exists on the query graph, while a `qXEdge` is an internal representation of a `qEdge` with additional properties and methods, which seemed sufficiently different to define separately just to keep track of the changing data types in the code.

[2022-03-02 17:11] colleenXu commented on #392
copying my feedback/testing from Slack:

This is an example query, since SequenceVariant operations use some APIs that get easily overwhelmed/timeout...
However, this query takes > 6 min to run.

[code]

It looks like the new code does run.....but a careful look at internals/console-logs would be needed to check that (1) no more sub-queries to those apis are made during this query and (2) on the n

[2022-03-02 17:39] colleenXu commented on #392
@tokebe has said that running the query twice to check that the limit resets has been done. Jackson has also done more testing with this by changing the limits
* https://github.com/biothings/call-apis.js/blob/73c26ea4200a28c8b165ef56f44e08f0e7da231b/src/builder/trapi_query_builder.js#L84
* https://github.com/biothings/call-apis.js/blob/73c26ea4200a28c8b165ef56f44e08f0e7da231b/src/builder/template_

[2022-03-02 18:41] #278 closed, assigned to marcodarko, tokebe

[2022-03-02 18:42] tokebe commented on #396
Marking as closed as fix is deployed and issue is marked as awaiting closing.

[2022-03-02 18:42] #396 closed, assigned to tokebe

[2022-03-02 18:42] #410 closed, assigned to nobody

[2022-03-02 20:03] tokebe commented on #392
I should note that groups of sub-queries are run nearly simultaneously, so in many cases a couple queries to the same API will happen and fail around the same time before the API is able to be marked as unavailable, however after the initial batch of around ~3 near-simultaneous failures, the rest will be skipped.

The warnings in the TRAPI log reflect the actual number of queries skipped, so if 3

[2022-03-03 01:56] colleenXu commented on #396
I agree to close this issue. I had opened #400 as a clearer explanation of the "500 bug when two QNodes with IDs aren't found to be connected to each other"...

This issue also describes a semantic issue in SEMMEDDB, which led to https://github.com/TranslatorSRI/Babel/issues/530.

[2022-03-03 01:57] colleenXu commented on #392
yep, the queries that fail are noted in a separate part of the logs (# of queries for the QEdge that were successfully executed vs failed). which is diff from skipping them.

@tokebe can we close this issue now?

[2022-03-03 15:31] #392 closed, assigned to nobody

[2022-03-03 15:32] #406 closed, assigned to nobody

[2022-03-03 15:55] tokebe commented on #379
Another question for vocabulary:

`bteEdges` are essentially `metaXEdges` that have been duplicated and had additional information attached so that queries may be generated using them. They have a 1:1 relationship with sub-queries (excepting paginated sub-queries, which are technically made multiple times, but are the same query related to one `bteEdge`).

However, the name sort of conflicts with

[2022-03-03 17:03] tokebe commented on #379
@ariutta regarding `uniqueNodeID` vs simply `nodeID`, Would it be acceptable to  stick with `uniqueNodeID`? I think that name better implies the purpose of the concept and makes it clearly separate from something like `qNodeID`.

[2022-03-03 17:05] tokebe commented on #379
Additionally, would it be acceptable to use `ucResult` and `cResult` as short forms for `unconsolidatedResult` and `consolidatedResult`, given that function names applicable first occurrences use the long form for clarity?

[2022-03-03 17:57] tokebe commented on #379
@colleenXu Another question: Since results and the kg in a response from BTE are supposed to be somewhat separate, what do we want to use for internal language for response kg nodes/edges? Simply `kgNode` and `kgEdge`, or is there something more specific that would make sense?

[2022-03-03 19:10] ariutta commented on #379
Regarding uniqueNodeID vs nodeID, I'm fine either way. Technically, an ID should be unique, so it sounded a bit redundant, but, as you point out, just nodeID alone could be confusing.

[2022-03-03 19:58] colleenXu commented on #379
1. maybe "edge" isn't the best noun here, and something like an "operation" / "action" / "plan" is better? I agree on using something more descriptive (what it does or what it helps with) is better than "bteEdge" which is very generic (it's an edge thing and this tool is called BTE :P)
2. I've been okay with using Node/Edge, similar to [TRAPI](https://github.com/NCATSTranslator/ReasonerAPI/blob/96

[2022-03-03 20:02] tokebe commented on #379
For 2. In that case, perhaps we should try to keep it somewhat in-line with TRAPI and say that kgNodes/kgEdges, unless otherwise stated, are TRAPI response nodes/edges?

[2022-03-03 21:22] colleenXu opened #418 "Inferring node categories for QNodes that come with IDs and categories"
During the investigation into #406 , we found that BTE is not using category info from ID resolution to find metaEdges when there's a QNode with >=1 ID and >=1 category on it already. AKA the user has picked >= 1 semantic type to classify the IDs. see https://github.com/biothings/bte_trapi_query_graph_handler/pull/91#issuecomment-1043708480 and example below

<details>
<summary> another example qu

[2022-03-03 21:24] colleenXu commented on #401
I think this issue is resolved right now, since I'm not seeing missing edges that I would expect to see in results in Jackson's demotests https://dev.api.bte.ncats.io/demotests/

[2022-03-03 21:24] #401 closed, assigned to nobody

[2022-03-04 18:59] tokebe commented on #379
The above mentioned PRs contain all the changes I've currently made. We'll likely also need a pass on `api-response-transform` and `biomedical_id_resolver`, and possibly `smartapi-kg`, however I felt that these should be a second pass after we've adequately established the majority of our standardized vocab through these more 'central' packages.

[2022-03-07 18:27] tokebe commented on #402
Just want to note that once the vocab refactor is done we'll be in a pretty good spot to take a look at this. Records basically come into existence from `api-response-transform` and are lightly changed with annotation, etc. in the `call-apis` package.

There may be some work to do in the `api-response-transform` package or it may be better to create a new `Record` class in the `query_graph_handler

[2022-03-07 18:36] tokebe opened #419 "A config for overriding timeout duration of sub-queries"
It would be useful to be able to easily override API timeouts on a global and per-API basis. An existing config file might be extended for this, or a new config file could be implemented.

[2022-03-07 20:30] tokebe commented on #418
The main question I think this brings up is how do we want BTE to act with respect to user intent. Obviously, there are potential cases where the user-given category simply does not map to any ID they've provided, however, as stated above, sometimes picking a more specific term/a term from another branch (which may limit available operations from the full potential set) can be useful and probably(

[2022-03-08 01:27] colleenXu commented on #418
I was thinking something like 1 but keeping the category that the user had given as well...is that an option?

[2022-03-08 07:15] colleenXu commented on #402
I agree that the vocab refactor will help us understand what's going on.

I believe @marcodarko and @ariutta have previously been thinking about this and trying things out. But their attempt didn't fully work...

[2022-03-08 15:36] tokebe commented on #418
That would definitely be an option (we can call that option 1a for now). I'm just a little concerned that something like that might rule out certain use-cases on the part of the user, such as if they specify one category for a set of IDs which might have multiple categories, and for some reason intended to do so?

[2022-03-08 19:52] andrewsu opened #420 "augment TRAPI results using PFOCR data"
We have an API for PFOCR that can be queried for multiple entities like this: http://pending.biothings.io/pfocr/query?q=associatedWith.mentions.genes.ncbigene:10879%20AND%20associatedWith.mentions.genes.ncbigene:7098. Let's experiment with augmenting TRAPI results with links to PFOCR pathway figures.  Since PFOCR is mostly gene-based at the moment, let's focus on TRAPI results objects with two or

[2022-03-09 06:12] colleenXu commented on #420
It sounds like we want to incorporate this into BTE first after results assembly (either as default behavior or with true/false parameter to control it)....

and maybe later make it an "endpoint" that can be used for the Translator workflow idea (operations)...

Does that sound correct?

[2022-03-09 06:21] colleenXu opened #421 "update ICEES APIs / Problem with ICEES Asthma"
The team that develops ICEES APIs for Translator recently announced that they moved their instances to a new setup. See discussion here https://ncatstranslator.slack.com/archives/CSS752SB0/p1646261107496999

It sounds like we should update the ICEES DILI and ICEES Asthma registrations that we use, to use the prod instances here:
https://smart-api.info/registry?q=bb806f5c81e86fe12660fa307d4b0a97
ht

[2022-03-09 06:22] colleenXu opened #422 "add ICEES PCD API / Problem with that API"
The team behind ICEES APIs recently released a "PCD" (primary ciliary dyskinesia?) API. perhaps we would want to incorporate it into BTE?

https://smart-api.info/registry?q=4153c947a32e2e2a55a320d0bee22077

Example query:
[code]

[2022-03-09 06:29] colleenXu commented on #418
Hmmmm....I see what you mean. At the moment though, I think "using more categories than the user originally gave" is fine...

That seems to be the direction that things are going in for Translator right now, partially because of the "messiness" of biomedical knowledge sources...
* The Gene/Protein conflation (rather than letting people say "I want Protein only or Gene only")
* "Expanding categorie

[2022-03-09 06:31] andrewsu commented on #420
yes, correct!

[2022-03-09 06:59] colleenXu commented on #421
I tried updating the registrations in this branch https://github.com/biothings/BioThings_Explorer_TRAPI/commit/f55b1cf754cdc975c8f08f18950f654e852e5054. The DILI stuff looks fine but...

it looks like ICEES Asthma's api response is not getting transformed correctly....so it's not showing up in the TRAPI response for BTE...

----

INFO BELOW

<details>
<summary>This is the query to run in BTE or di

[2022-03-09 07:19] colleenXu commented on #422
This is what I'm adding to the config file

[code]

when I try to add PCD to the config file and run this query, I get console + TRAPI logs saying that the query failed and they're odd (very long with the whole api response inside).

It looks like the PCD API (Post the query below directly to https://icees-pcd.renci.org/query) is returning something that isn't proper JSON, and maybe that's the iss

[2022-03-09 17:51] colleenXu commented on #368
note that we would want a default score for results where an NGD score isn't found. Currently the default is 1, but maybe the default value needs to be dropped to 0?

[2022-03-09 18:05] colleenXu opened #423 "For biothings apis, bte might require that some IDs have prefixes and others don't?"
Currently we need to write custom transformers to take the raw api responses from APIs (sub-queried) and get a standard format ("records").

However, there's likely an issue with this process regarding biothings APIs (core MyGene, etc and pending apis).

The request: A dev needs to look into stuff, maybe starting here: https://github.com/biothings/api-respone-transform.js/blob/main/src/transformer

[2022-03-09 18:09] colleenXu commented on #423
My suggestion for biothings APIs is that IDs don't have prefixes whenever possible (use the field/key name to say what kind of ID it is). Because the prefix spellings are different inside and outside of Translator, and Translator changes their desired spellings fairly often...

[2022-03-09 18:16] colleenXu commented on #409
Next step is likely to update "knowledge graph" after results-assembly, since results-assembly does a good job of pruning "incomplete paths" or nodes/edges that aren't bound to qNodes/qEdges.

From Slack (Marco):

[2022-03-09 18:19] colleenXu commented on #421
update from meeting: lower priority, but we do want a dev to look into this. Is the raw API response not being transformed into records correctly - hence the "undefined" items log?

[2022-03-09 18:20] colleenXu commented on #422
Update from lab meeting: no need for a dev yet, need to talk to Translator team developing ICEES and figure out what's going on with this API

messaged Kara here https://ncatstranslator.slack.com/archives/CSS752SB0/p1646850267215489?thread_ts=1646261107.496999&cid=CSS752SB0

[2022-03-09 18:40] colleenXu commented on #421
Maybe the issue is that we asked for asthma with a mondo ID (expand the query in one of the previous posts), but the edges of the response use the preferred ID of the KP which seems to be a MESH ID...

These are screenshots of ICEES Asthma's raw response
![Screen Shot 2022-03-09 at 10 39 27 AM](https://user-images.githubusercontent.com/43731687/157509061-bd7d13b9-deb0-4b3d-8ee9-55fa10282300.png)

[2022-03-09 19:45] colleenXu commented on #422
update: seems to be related to this https://github.com/NCATS-Tangerine/icees-api/issues/225

[2022-03-09 21:02] tokebe commented on #419
The timeouts are configured in the query builders, linked below:
- [query_builder](https://github.com/biothings/call-apis.js/blob/cacc6491206edd0ecfbc6039f112a01f50f066cb/src/builder/query_builder.js#L93)
- [template_query_builder](https://github.com/biothings/call-apis.js/blob/cacc6491206edd0ecfbc6039f112a01f50f066cb/src/builder/template_query_builder.js#L92)
- [trapi_query_builder](https://githu

[2022-03-09 21:19] colleenXu commented on #421
note: it looks like the old icees registrations are no longer there or valid. And the current registered ICEES APIs are having issues, see https://github.com/biothings/BioThings_Explorer_TRAPI/issues/422#issuecomment-1063295178

I'm going to remove the ICEES APIs from BTE for the moment as a result
https://github.com/biothings/BioThings_Explorer_TRAPI/commit/99ede62198faa7b369c49b064cd3001264192d0

[2022-03-09 21:25] colleenXu commented on #421
update: I suggest waiting to work on this issue, due to the problems those APIs are having. we can return to this once those APIs are fixed

[2022-03-09 21:25] colleenXu commented on #422
update: I suggest waiting to work on this issue, due to the problems those APIs are having. we can return to this once those APIs are fixed

[2022-03-10 16:53] tokebe commented on #379
@colleenXu One final question regarding this pass, some TRAPI logs reference SmartAPI edges when they are really talking about `metaEdges` -- how should we handle this? We could:

1. Not change it (`BTE is trying to find smartAPI edges...`)
2. Change to metaKG (not quite the convention, but more clear to user than `metaEdge`) (`BTE is trying to find metaKG edges...`)
3. Use metaKG but explain what

[2022-03-10 20:33] tokebe opened #424 "Catch potential redis issues"
It appears that BTE doesn't timeout any redis interaction, meaning that in some cases it's possible for a query to hang while waiting for redis without timing out.

A timeout-based promise should be wrapped around interactions with redis that aren't handled through `bull` (i.e., in the cache_handler).

[2022-03-11 17:35] tokebe commented on #424
Fixed by 8d88d6e and https://github.com/biothings/bte_trapi_query_graph_handler/commit/753543c5d04762c6d2b1a57afcb7bca3795a742c

[2022-03-11 17:35] #424 closed, assigned to tokebe

[2022-03-11 17:41] colleenXu commented on #394
@tokebe maybe this can be closed now?

[2022-03-11 17:43] colleenXu commented on #404
addressed by https://github.com/biothings/bte-trapi-workspace/pull/7, maybe it can be closed now @tokebe ?

[2022-03-11 18:02] #394 closed, assigned to nobody

[2022-03-11 18:02] #404 closed, assigned to nobody

[2022-03-11 22:49] andrewsu commented on #181
Rebooting this issue as a rotation project for Hanbing.  Let's start with cell 20 in https://github.com/SuLab/DMDB_Analysis/blob/main/1_code/1_basic_dmdb_analysis.ipynb, which lists the common metapaths used in DrugMechDB.  Starting with one of the more common metapaths, let's create a corresponding TRAPI query and see how many examples BTE (and/or other Translator tools) can retrieve.

[2022-03-14 04:57] colleenXu commented on #379
@tokebe
I'm thinking of 3, but something like `BTE is trying to find metaKG edges from smartAPI registry (x-bte annotation)`. Maybe that will make what is happening clearer to the developer?

sorry for the late reply.

[2022-03-15 14:33] tokebe commented on #379
Just for ease-of-access here is the finalized list of vocabulary replacements in the first pass:

<details>
<summary>View Table</summary>

| New standard term, short-form | Term meaning | Old term (to replace) | Where old term is used |
|---|---|---|---|
| queryEdge, qEdge | Edge in TRAPI query graph | Edge | lots of places |
| queryEdgeID, qEdgeID | ID of TRAPI query graph edge, e.g. "e01" | edge

[2022-03-15 15:35] tokebe opened #426 "Redis timeout during caching can cause an async query to fail"
In the unlikely event of a redis timeout during caching, the async query can fail. This should not happen as caching failures should not cause query failures. Example log below:

[code]

[2022-03-15 16:18] andrewsu opened #427 "unexpected loss of results when going from `NamedThing` to specific categories"
The query from https://github.com/NCATSTranslator/testing/issues/178 (**Query 1** below) asked for nodes joining subutex (`PUBCHEM.COMPOUND:644073`) and dry mouth (`HP:0000217`) with one intermediate node of type `biolink:NamedThing`. Among the results were genes (`biolink:Gene`) `IRF5` and `CD69`, and proteins (`biolink:Protein`) `"Mitogen-Activated Protein Kinases` and `Na(+)-K(+)-Exchanging ATP

[2022-03-15 19:05] #426 closed, assigned to tokebe

[2022-03-16 04:03] colleenXu opened #428 "BTE doesn't recognize when a smartapi registration in its config list is not in the registry"
This came up with the ICEES issue #421. BTE's [config list at the time](https://github.com/biothings/BioThings_Explorer_TRAPI/blob/f2393bf156a00f42d66fdacb768483cc21e8dafb/src/routes/v1/config.js#L216) used smartapi registry IDs for ICEES APIs....but those registrations had been deleted. BTE didn't give any warning message (console or TRAPI logs) and continued working without using the ICEES APIs.

[2022-03-16 04:07] colleenXu commented on #428
For example, I can add the nonsense entry below to the config list, and I don't see a log in the console or TRAPI response that says that the nonsense API wasn't actually found in the registry

[code]

[2022-03-16 04:34] colleenXu commented on #423
Hmmm....

For a biothings API (dgidb) and NCBIGene and CHEMBL.COMPOUND IDs, BTE seemed fine when given curies (prefixed-ids)...

<details>
<summary>Changes to dgidb smartapi yaml to test this</summary>

replaced activator and activator-rev operations in x-bte-kgs-operations with this, which uses subject.id and object.id for the API response. Those fields have prefixes on the IDs.
[code]

ALSO ADDE

[2022-03-16 05:02] colleenXu commented on #427
Looks like these are from SEMMEDdb...

Perhaps what is happening is that the association (underlying data used in the API) uses a SEMMED semantic type that doesn't map to biolink Gene or Protein:
* [CD69](https://uts.nlm.nih.gov/uts/umls/concept/C2744535) (C2744535) is sometimes an [Immunologic Factor](https://uts.nlm.nih.gov/uts/umls/semantic-network/T129), which we map to chemical entity. It's a

[2022-03-16 05:07] colleenXu opened #429 "add pfocr to BTE"
involves updating the smartapi [yaml](https://github.com/NCATS-Tangerine/translator-api-registry/blob/master/pfocr/smartapi.yaml) for pfocr + adding up-to-date x-bte annotation.

May involve deleting and registering pfocr again into the registry?

[2022-03-16 05:21] colleenXu commented on #407
This issue may need to be closed, to open more specific issues around edge-merging:

1. @andrewsu said we want to collect the list of edge-attribute stuff that are related to "context" (what level of naming - the name of the field in x-bte-response-mapping? or whatever its called inside a record after api-response-transform?). These can then be used when they are available for hashing.
    1. Cont

[2022-03-16 05:37] colleenXu commented on #407
Note: I'd have to review the raw data for drug response kp api, to see if the "biological replicates" discussion is still valid...I'm not seeing effect-size edge-attribute or the "duplicates" that I [previously discussed](https://ncatstranslator.slack.com/archives/C022EL8D3AB/p1644654490379939) in the recently updated biothings api...

[2022-03-16 16:32] colleenXu commented on #427
Findings:
* I get CD69 when I set the query's n01 to Polypeptide, so all the records likely have "Amino Acid, Peptide, or Protein" as CD69's SEMMED semantic type
* I get Mitogen-Activated Protein Kinases and Na(+)-K(+)-Exchanging ATPase when I set the query's n01 to [Polypeptide, Protein]. This means that some records use "Amino Acid, Peptide, or Protein" (maps to Polypeptide) and others use "Enzy

[2022-03-16 16:59] colleenXu commented on #407
Decisions from lab meeting:
* we want to add the edge-attribute "biolink:has_disease_context" to the hash, when it is available. This should allow BTE to give diff edges for multiomics drug response kp api (see the opening post) when its values are different.
* we want it to be easy to add edge-attributes when situations like this come up.

Example of record from multiomics drug response kp api (b

[2022-03-16 17:03] tokebe commented on #407
Note for possible implementation:
- function to read config file, with config file defining attributes to check for and add to hash
  - function then checks if given attributes exist on record, and gets them if so, combining into a string to add to the hash input.
- we may need a new helper function to get edge-attributes

[2022-03-16 17:26] colleenXu commented on #427
In summary:
* semmeddb doesn't consistently use the same SEMMED semantic type for a UMLS ID
* semmeddb uses SEMMED semantic types that map to more general biolink classes (node categories). For example, a lot of data on genes or proteins is under "Amino Acid, Peptide, or Protein".....and that really maps to Polypeptide.

[2022-03-16 17:33] colleenXu commented on #423
From lab meeting:
* @newgene said that this is good to know. For biothings development, can try keeping prefixes on IDs when the prefixes are Translator-compliant -> then see if BTE can handle this
    * CX feedback after the meeting: However this still means rewriting the parser/redeploying the API if Translator changes the prefix spelling/case. I therefore still prefer using plain IDs (not prefi

[2022-03-16 18:01] #418 closed, assigned to tokebe

[2022-03-17 16:03] tokebe opened #430 "Query returns KG but no results"
The following query would appear to return a complete KG with nodes and edges but no results:

[code]

[2022-03-17 19:32] tokebe commented on #430
An update:
- This query can be tested significantly more quickly by disabling all but `semmeddb`, `mydisease`, and `text mining targeted` (Courtesy of @colleenXu's testing). This outputs a smaller KG but still retains the behavior of having a KG but no results.
-  No `queryGraphSolutions` are being generated, despite there being 1242 `e00` records, 4 `e01` records, and 2478 `e02` records -- though

[2022-03-17 23:40] colleenXu commented on #430
Notes:
* I take the config file and comment out every entry except semmeddb / mydisease / text mining targeted. This allows the query to run in under 30 sec.
* When all APIs are kept, this query took me > 55 min to run o_0.

[2022-03-18 21:07] colleenXu commented on #430
@tokebe

I'm working from this query that works (gives 365 results) and looking at intermediates between it and the original query to see what will create "no results".

<details>
<summary>query that works</summary>

[code]
</details>

Queries that still work (adding these changes up):
* removing the categories from the QNodes that have IDs
* renaming the QNodes so that they're "liver", "n00", "n0

[2022-03-19 00:58] ariutta commented on #430
If it's the ordering, my guess is the issue could be with the query execution. I haven't verified 100%, but I suspect the ordering wouldn't matter to the results assembly.

[2022-03-21 19:52] colleenXu commented on #430
what I haven't tried yet: what if I don't rearrange items in the QEdge array? what if I just rename the QEdges?

EDIT: doesn't seem to change what "works" vs what "doesn't":

<details>
<summary>example of what still doesn't work even with renamed QEdges</summary>

[code]
</details>

[2022-03-22 17:54] andrewsu commented on #420
Adding some notes from my discussion with @AlexanderPico

* Good project for Yihang to work on with @ariutta
* Rather than doing an API call for each result, BTE could take the union of all entities in a result set and send them to the API in a single request (using a call like [this](https://biothings.ncats.io/pfocr/query?q=associatedWith.mentions.genes.ncbigene:10879%20OR%20associatedWith.mentio

[2022-03-22 21:02] tokebe commented on #430
Comparing the base query to the working query, as the records appear in `recordsByQEdgeID` in `query_results.js`:

- Base:
  - e00 (1242 records) connected to e01, e02
  - e01 (4 records) connected to e00
  - e02 (2478 records) connected to e00

- Working:
  - e00 (2478 records) connected to e01
  - e01 (1242 records) connected to e00, e02
  - e02 (4 records) connected to e01

Both have the same n

[2022-03-23 04:34] andrewsu commented on #232
Since we don't consider this to be a promising avenue for implementing ranking at the moment, closing this ticket...

[2022-03-23 04:34] #232 closed, assigned to ericz1803

[2022-03-23 06:58] colleenXu commented on #372
Discussion of CTD's API: https://suwulab.slack.com/archives/CC218TEKC/p1648008085792669?thread_ts=1647966388.829489&cid=CC218TEKC. Also updated the posts above for the issues in the pending repo.

[2022-03-23 16:42] ariutta commented on #402
`QueryGraphHelper` is already almost a `Record` class. Every method except `_generateHash` takes the input `record`:
https://github.com/biothings/bte_trapi_query_graph_handler/blob/main/src/helper.js

If the methods with input `record` were pulled out and refactored, we'd have a `Record` class. Then we could add a `toString` method for serialization. We could additionally create a method to "re-hy

[2022-03-23 17:05] tokebe commented on #402
This is definitely the general idea -- the main addition to this I would like to consider is possibly refactoring the internal data structure of a Record -- both to conform to new vocab standards and to avoid the current cyclic references in parts of the record object (or at least mitigate this as a problem during serialization/"rehydration").

[2022-03-23 17:08] colleenXu opened #432 "list all recommended smartapi IDs query-able through BTE"
This is probably best done in the smartapi yaml ([3](https://github.com/biothings/BioThings_Explorer_TRAPI/blob/8d6c6071f9d3bb22bc315ace8d3aa99136bcada3/docs/smartapi.yaml#L56) [spots](https://github.com/biothings/BioThings_Explorer_TRAPI/blob/8d6c6071f9d3bb22bc315ace8d3aa99136bcada3/docs/smartapi.yaml#L161) [here](https://github.com/biothings/BioThings_Explorer_TRAPI/blob/8d6c6071f9d3bb22bc315ace

[2022-03-23 17:10] colleenXu opened #433 "write documentation explaining types of apis BTE ingests"
I've been using terms like "external", "internal", "TRAPI" to describe types of apis BTE ingests and how to handle them. Having some documentation about this would be helpful for current and new devs.

[2022-03-23 17:17] colleenXu commented on #433
I'm thinking of a README for the top level of this repo maybe. Other devs like @tokebe  can decide whether to have a sub-directory with this kind of documentation and recommendations...

[2022-03-23 17:26] ariutta commented on #402
That sounds great

[2022-03-23 17:35] ariutta commented on #402
Would `toJSON` be more JS-appropriate than `toString`?

[2022-03-23 18:10] tokebe commented on #402
(edit: clarification)

I think, given the cyclic references, we'll need a modified structure to output to that can circumvent these references (which can later be rebuilt). So I agree that `toJSON` or perhaps a more specific/accurate verb might be the better choice. Anything we output to can easily be converted to a string afterwards.

[2022-03-23 19:06] ariutta commented on #430
@tokebe, I don't think it should matter, but do `initialQEdgeID` and `initialQNodeIDToMatch` change for your Base vs. Working test cases? If the data is identical other than the directionality being flipped, `TrapiResultsAssembler` shouldn't care, but it could be worth checking.

We may want to change this block of code:
https://github.com/biothings/bte_trapi_query_graph_handler/blob/a150d6551bf38

[2022-03-23 20:23] tokebe commented on #430
I've refactored the test queries to use consistent node names, for reference they are below:

<details>
<summary>base query</summary>

[code]

</details>

<details>
<summary>working query</summary>

[code]

</details>

Note that no directions are flipped between the two queries, only the order of the edges.

Between these two:

Base:

- `initialQEdgeID`: `e00`
- `initialQNodeIDToMatch`: `n1`

Work

[2022-03-23 20:36] ariutta commented on #430
This looks suspicious:
[code]

The `initialQNodeIDToMatch` should only have a single QEdge (it should be a leaf or a root with a single child).

[2022-03-23 20:52] ariutta commented on #402
Yeah, `toJSON` sounds good. One benefit: `JSON.stringify` automatically looks for a `toJSON` method.

The cyclic references are tricky. That's where @marcodarko and I ran into trouble earlier.

[2022-03-23 20:54] tokebe commented on #430
Stepping through the code to see where this decision is made, I'm just going to naively ask questions about things that might look odd to me.

Is the array in [this line](https://github.com/biothings/bte_trapi_query_graph_handler/blob/ec579da2524ef07cb8a729197d28820b27e78781/src/query_results.js#L263) supposed to be the same two items?

(note: if so, changing this does not appear to fix the issue)

[2022-03-23 20:58] ariutta commented on #430
No, that looks wrong. I think it's supposed to be `inputQNodeID_1, outputQNodeID_1`

[2022-03-23 21:07] tokebe commented on #430
I'm not sure, but I think what may be happening is that the code is selecting the first instance of a node not used in the _next_ edge, but not the first instance of a node confirmed to not be used in _all other_ edges. I'll have to spend some more time staring at the code and possibly testing an alternate implementation to be sure.

[2022-03-23 21:22] ariutta commented on #430
I think you're right.

[2022-03-23 21:29] ariutta commented on #430
We want `initialQNodeIDToMatch` to be a leaf (ignoring directionality, a root with a single child can be thought of as a leaf). If there are multiple leaves, any of them would work, but I suspect we might get the best performance if we choose the one that would give us an `initialQEdgeID` with the fewest records.

[2022-03-23 21:58] colleenXu commented on #430
I find it easier if each edge has a name, like A (n0 -> n1) / B-flip (n2 --> n1) / C (n2 -> n3)....and then reorder them to make the diff QGraphs.

<details>
<summary>The base query then is B-flip / C / A</summary>

[code]
</details>

* Edge execution: A, then C (reversed), then B-flip.
* initialQEdgeID: B-flip, initialQNodeIDToMatch: n1

<details>
<summary>The working query then is A / B-flip / C

[2022-03-23 22:23] colleenXu commented on #430
(deleting comments and summarizing here)

TDLR: the pattern I found by trying out permutations (comment above) is that the initialQEdgeID / initialQNodeIDToMatch is taking the "first" QEdge of the set of QEdges as its starting point.

And this is an issue for the base + other-not-working query, since that QEdge is "in the middle" of the QGraph - without IDs on either QNode....

In comparison, the