[2017-07-22 10:19] andrewsu opened #1 "change "ID type" input to dropdown box"
currently an auto-complete -- makes much more sense as a dropdown

[2017-07-22 10:20] andrewsu opened #2 "create a tutorial"
needs to be linked from front page

[2017-12-05 16:33] kevinxin90 opened #3 "Make asynchronous HTTP Requests for all API calls"
Currently, the speed of the package when making extensive API calls are very slow. Asynchronous HTTP requests should be implemented to boost the speed.
https://pypi.python.org/pypi/grequests

[2017-12-05 18:32] kevinxin90 commented on #3
The asynchronous API call for Translator APIs have been implemented.
Need to further implement it when using JSON-LD playground API to return N-quads docs.
This could further boost the speed of the program.

[2017-12-05 18:34] kevinxin90 opened #4 "Update README file for the new release"

[2017-12-06 04:43] kevinxin90 commented on #3
Fixed in: 27d96b2ca592a0ea20fb294c1e30e6c35a0a802f, a131c608f2807a9ca9033d71d44f8a43cd5df9ff, c8b030fde00568c476805d4f9309e92b37e84ea6

[2017-12-06 04:43] #3 closed

[2018-01-05 19:15] kevinxin90 opened #5 "Test the Python Package under Python 2.7 environment"

[2018-01-05 19:16] kevinxin90 opened #6 "Remove pandas dependencies from the package"

[2018-05-22 12:15] erikyao commented on #8
Oh, I got it. Thank you very much!

Yes, I work for Steve. See you later!

[2018-05-22 12:19] erikyao commented on #8
Hi Kevin,

In terms of OMIM, I have to use `input_prefix=omim.disease` and `input_value=605543`, not `input_value=OMIM:605543`. Could you please share me the standard you have? Thanks!

[2018-05-22 12:43] erikyao commented on #8
I see we need to follow the patterns on [Identifiers.org](Identifiers.org). Thanks!

[2018-05-22 13:19] erikyao commented on #8
The problem is that we use CURIE forms all over our application. I'll adapt our IDs when using BioThings Explorer. Thank you very much!

[2018-05-22 13:26] erikyao commented on #8
BTW, do you happen to know if there is any python library that can convert CURIE form to short form? Thank!

[2018-08-09 17:48] kevinxin90 commented on #11
@lhannest Hi Lance, thanks very much for reporting that! I just figured out it's because the BioLink API recently changed their output structure for one of their endpoints. And the JSON-LD file we provided for BioLink didn't catch up with that. That's the reason causing the error. It's currently fixed. Please try again! And we will also build better test modules to monitor the integrated APIs. Tha

[2018-08-09 18:02] lhannest commented on #11
Thanks for the quick fix, @kevinxin90 !

[2018-08-09 21:42] lhannest opened #12 "Crawler exception "TypeError: string indices must be integers""
This endpoint is throwing an exception:
http://biothings.io/explorer/api/v2/crawler?input_type=kegg.pathway&input_value=hsa04950

[code]

[2018-08-14 17:59] lhannest opened #13 "OSError: Initializing from file failed"
http://biothings.io/explorer/api/v2/crawler?input_type=mondo&input_value=0018911

[code]

[2018-08-14 18:12] lhannest commented on #13
Now it's giving a new error:

[code]

[2018-08-16 16:02] kevinxin90 commented on #13
Hi Lance,

Took some time to fix this problem! It's due to the multiprocessing module used in BioThings Explorer. I have fixed it and the error should not pop up again.

Thanks again for reporting that!

[2018-08-29 18:26] lhannest opened #15 "Keyword searches?"
It looks like there are a number of bioentities designated for names:
http://biothings.io/explorer/api/v2/metadata/bioentities

But if I try this: http://biothings.io/explorer/api/v2/crawler?input_type=disease-name&input_value=diabetes
I get an exception:
[code]
I haven't tried all the name and description bioentity types, but of all the ones I tried this error has been thrown.

[2021-01-25 18:33] kevinxin90 opened #7 "/query endpoint should fetch SmartAPI Specs dynamically"
Current /query endpoint use a static copy of SmartAPI Specs from smartapi-kg nodejs package.

It should dynamically query SmartAPI API for specs at run time.

[2021-01-25 18:45] kevinxin90 opened #8 "Add test /v1/team/{team_name}/query endpoint"
Current no test implemented for /v1/team/{team_name}/query endpoint. We need to implement tests to ensure it's working correctly.

[2021-01-25 18:48] kevinxin90 opened #9 "CI test should run on all branches"

[2021-01-25 19:01] #9 closed, assigned to kevinxin90

[2021-01-25 19:21] kevinxin90 commented on #7
Fixed in: https://github.com/biothings/BioThings_Explorer_TRAPI/commit/be00d804af9a93d1f84f4cbb968160c62fd3fbd2

Tested in:
https://github.com/biothings/BioThings_Explorer_TRAPI/commit/4742ed9d91db5131113e16cee7e10dde1793a5d0

[2021-01-25 19:21] #7 closed, assigned to kevinxin90

[2021-01-25 23:12] kevinxin90 opened #11 "Improve logging module"
Current logging only provides how a TRAPI query is parsed and how SmartAPI kg is used. Should include additional information such as:
1. what's the query made to API
2. how many response do we get from each API call.
3. How many response do we get after merging the results from different KPs.

Above need support from other bte related nodejs packages.

[2021-01-26 04:59] kevinxin90 opened #14 "Disable ID Resolution for Text Mining KPs"
Individual SmartAPI TRAPI interface should enable id resolution by default.

If the SmartAPI is from text mining teams, disable the id resolution module.

[2021-01-26 05:33] kevinxin90 commented on #14
fixed in: https://github.com/biothings/BioThings_Explorer_TRAPI/commit/f3f506759c54386fc8394d27b3240a7327b2317b

[2021-01-26 05:33] #14 closed, assigned to kevinxin90

[2021-01-26 14:59] kevinxin90 opened #16 "fix wrong url in CHANGELOG"
right now, the commit url and compare url in CHANGELOG are wrong. Need to fix that as well as the .versionrc.json file which helps automatically generate them.

[2021-01-26 15:11] kevinxin90 commented on #16
FIXED IN: https://github.com/biothings/BioThings_Explorer_TRAPI/pull/18
https://github.com/biothings/BioThings_Explorer_TRAPI/pull/17

[2021-01-26 15:11] #16 closed, assigned to kevinxin90

[2021-01-26 17:22] kevinxin90 opened #19 "hook up with new OOP designed id resolver module"

[2021-01-26 17:25] kevinxin90 opened #20 "Node related info should not appear in edge data in TRAPI response"
Current behavior in edge response:
[code]
Information such as CHEBI does not belong here. Needs to be removed.

[2021-02-01 15:26] kevinxin90 opened #21 "Set up Development branch and deploy to the dev.api.bte.ncats.io server"

[2021-02-01 17:38] kevinxin90 opened #22 "This query is not working"
[code]

[2021-02-01 18:00] kevinxin90 commented on #22
Seems the reverse edge is not working.

[code]

[2021-02-01 18:08] kevinxin90 opened #23 "Missing type for node attributes"
<img width="536" alt="Screen Shot 2021-02-01 at 10 07 13 AM" src="https://user-images.githubusercontent.com/10997542/106499345-54b48500-6475-11eb-97fe-c0e90421ad9a.png">

Type is a required field for TRAPI 1.0 standard. Currently, we have type for all edge attributes, but we don't have type for node attributes.

[2021-02-01 18:15] kevinxin90 opened #24 "Query not working"
[code]

Error:
[code]

[2021-02-01 18:32] kevinxin90 commented on #22
contraindicated_by => contraindicated_for: currently fixed in MyChem.info SmartAPI

[2021-02-01 18:33] kevinxin90 commented on #22
The real problem is that we don't reverse the predicate.

it should be Disease => treated_by => ChemicalSubstance.

Need to implement edge reversal in BTE.

[2021-02-01 18:36] kevinxin90 opened #26 "Test with clinical risk KP fails because data source changes"

[2021-02-01 18:42] kevinxin90 opened #27 "Query Fails"
[code]

Error message:
[code]

[2021-02-01 19:29] kevinxin90 commented on #26
Fixed in: https://github.com/biothings/BioThings_Explorer_TRAPI/pull/28

[2021-02-01 19:29] #26 closed, assigned to kevinxin90

[2021-02-01 19:30] kevinxin90 commented on #23
Fixed in: 5eb3fef9a1242494e67507c4b06a6243d693d970

[2021-02-01 19:30] #23 closed, assigned to kevinxin90

[2021-02-01 19:31] kevinxin90 opened #29 "Add support for reverse biolink predicate"

[2021-02-01 20:12] kevinxin90 commented on #29
Currently use a local copy of biolink.yaml file. Need to add a cron job to always pull data from biolink github in the future.

[2021-02-01 20:25] kevinxin90 opened #33 "Add support for symmetric biolink predicate"

[2021-02-01 22:16] kevinxin90 opened #34 "Use NodeNormalizer to resolve QNodes with only id specified"
Currently, BTE use BioThings APIs to resolve identifiers, which requires category (e.g. Gene, ChemicalSubstance) to be specified.

TRAPI standard does allow user to specify a query without category info.

So in order to support that, we should include NodeNormalizer as a fallback.

[2021-02-01 22:20] kevinxin90 commented on #29
Should only reverse the predicate when searching for SmartAPI edges.

When returning the results, we shouldn't reverse the predicate. (currently wrong here)

[2021-02-02 01:48] #29 closed, assigned to kevinxin90

[2021-02-02 04:54] kevinxin90 commented on #22
#33 look for symmetric predicate from biolink model

#29 look for reverse predicate from biolink model

[2021-02-02 05:33] kevinxin90 commented on #24
The issue is caused because:
1. The first part of the query: Disease -> correlated_with -> ChemicalSubstance returns empty results.
2. However, bte doesn't terminate after the first query fails.

Solution:

BTE should terminate whenever one intermediate query step fails.

[2021-02-02 05:37] kevinxin90 commented on #33
fixed in: b1c28bce016c5c4176cbc21547fa03a35db8d639

[2021-02-02 05:37] #33 closed, assigned to kevinxin90

[2021-02-02 05:42] kevinxin90 commented on #24
Fixed in: b1b56227f79464658e6f0ea9571edc25126472b5

[2021-02-02 05:42] #24 closed, assigned to kevinxin90

[2021-02-02 06:05] kevinxin90 commented on #22
Fixed in: https://github.com/biothings/BioThings_Explorer_TRAPI/pull/37/commits/a1673454c396b196c1d6970a65fe67468802e057 for #33

Fixed in: https://github.com/biothings/BioThings_Explorer_TRAPI/pull/30/commits/862560daa9da0005dd85fdd5612e72ce5364e0f4 for #29

[2021-02-02 06:05] #22 closed, assigned to nobody

[2021-02-03 04:19] andrewsu opened #44 "Error: "TypeError: Promise.allSettled is not a function""
On initial installation in WSL, I got the following error when executing a test query: "TypeError: Promise.allSettled is not a function"

[2021-02-03 04:22] andrewsu commented on #44
Per consultation with @kevinxin90, nodejs version needs to be at least v12.  I had v10.19.0 (default from `sudo apt install nodejs`).  Upgraded to v14.15.4 (latest LTS release) using `nvm` instructions at https://docs.microsoft.com/en-us/windows/nodejs/setup-on-wsl2

[2021-02-03 04:22] #44 closed, assigned to nobody

[2021-02-03 04:24] andrewsu commented on #44
@kevinxin90 should we update the version information in the README? https://github.com/biothings/BioThings_Explorer_TRAPI/blob/master/README.md#node

[2021-02-03 04:44] kevinxin90 commented on #44
Yes. It's currently documented in the development branch: https://github.com/biothings/BioThings_Explorer_TRAPI/blob/development/README.md. I will merge it to master soon.

[2021-02-03 05:22] kevinxin90 opened #45 "set up ci to deploy to test server with a commit hash id"

[2021-02-03 17:17] kevinxin90 opened #52 "BTE doesn't handle predicate as a list"
According to TRAPI: predicate is supported as list or as a string

However, current BTE implementation doesn't support list.

The following query fails:
[code]

The error message is:
[code]

[2021-02-05 03:34] kevinxin90 opened #53 "Investigate Timeout Error"
[code]

Above query results in a 504 timeout error in current BTE app. Need to investigate how that happens and how to set timeout on either express.js end or nginx end.

[2021-02-06 19:06] kevinxin90 opened #54 "Speed up the nodejs application"
profiling: https://nodejs.org/en/docs/guides/simple-profiling/

[2021-02-07 04:44] kevinxin90 commented on #54
Based on initial profiling, seems lodash deepclone function is a major factor causing the app to behave slowly.

[2021-02-07 19:22] kevinxin90 opened #55 "Use Singleton Design Pattern for BioLink reversal class"
Currently, the BioLink reversal class (include file read) has to be initiated every time when processing predicates. Need to modify to adapt Singleton Design Pattern, so it's only initiated once to speed the program up.

[2021-02-07 19:23] kevinxin90 commented on #55
#54

[2021-02-08 05:40] kevinxin90 opened #57 "Refactor load meta-kg"
<img width="790" alt="Screen Shot 2021-02-07 at 9 37 26 PM" src="https://user-images.githubusercontent.com/10997542/107179995-b05aa300-698c-11eb-8c27-984188d3444b.png">

As shown above, the meta-kg sometimes could take up to 20s to load. This is causing serious performance issue on BTE API end. Need to refactor the smartapi-kg package so that it can take a list of specs sending to it as a file ins

[2021-02-08 19:20] kevinxin90 commented on #57
<img width="870" alt="Screen Shot 2021-02-08 at 11 19 55 AM" src="https://user-images.githubusercontent.com/10997542/107270277-97d7a080-69ff-11eb-817c-c54bcf034aa6.png">
After changing the behavior to read specs locally, the total time it took to load metakg goes down to a couple milliseconds.

[2021-02-08 19:22] kevinxin90 commented on #57
The performance gain is also huge after the change:

Siege test (sending 2 one-hop queries/second in the duration of 120 seconds):

When reading spec from SmartAPI remotely:
<img width="350" alt="Screen Shot 2021-02-06 at 9 21 17 PM" src="https://user-images.githubusercontent.com/10997542/107270523-e7b66780-69ff-11eb-80b2-dbe38ed7bd50.png">

When reading spec from local storage:
<img width="315" a

[2021-02-09 04:58] kevinxin90 opened #59 "Refactor KnowledgeGraph module"
See if the spread operation to update kg object cause performance issue.

[2021-02-09 05:51] kevinxin90 opened #63 "Performance test should be run on test server on Github actions instead of dev/prod server"
use scp to transfer to test results: https://github.com/appleboy/scp-action

[2021-02-09 05:52] kevinxin90 opened #64 "use git stash to shelf any changes made on the prod/dev server so git pull wouldn't fail"

[2021-02-09 15:02] kevinxin90 opened #65 "/performance endpoint is showing path not found"

[2021-02-09 17:36] #64 closed, assigned to nobody

[2021-02-09 17:36] #65 closed, assigned to kevinxin90

[2021-02-09 23:53] kevinxin90 commented on #55
fixed in: https://github.com/biothings/BioThings_Explorer_TRAPI/commit/539e72ad30bc1dde3890c4d553910418c8e85dd4

[2021-02-09 23:53] #55 closed, assigned to kevinxin90

[2021-02-09 23:54] kevinxin90 commented on #45
implemented in: https://github.com/biothings/BioThings_Explorer_TRAPI/commit/bd2da0664e870c8d9a35ef0a0d0ccfef9d6b79f8

[2021-02-09 23:54] #45 closed, assigned to kevinxin90

[2021-02-09 23:55] kevinxin90 commented on #21
implemented in: https://github.com/biothings/BioThings_Explorer_TRAPI/commit/737f10815da7815085ab14d180bc16445cd430df

[2021-02-09 23:55] #21 closed, assigned to kevinxin90

[2021-02-09 23:56] kevinxin90 commented on #57
Refactored in: https://github.com/biothings/BioThings_Explorer_TRAPI/commit/b679a9806eee8ab38ed0217db7486fcfc01fb622

[2021-02-09 23:56] #57 closed, assigned to kevinxin90

[2021-02-10 00:32] kevinxin90 commented on #63
Prod implemented in: https://github.com/biothings/BioThings_Explorer_TRAPI/pull/77
Dev implemented in: https://github.com/biothings/BioThings_Explorer_TRAPI/pull/68

[2021-02-10 00:32] #63 closed, assigned to kevinxin90

[2021-02-11 17:54] kevinxin90 commented on #53
The issue is caused by nginx settings on the server.

Based on this [post](https://serverfault.com/questions/777749/how-to-disable-timeout-for-nginx).

We can update the nginx settings on the server located at **/etc/nginx/nginx.conf**

Add the following lines in the http section (note this set the timeout to be 5mins, can increase if needed.):

Then reload nginx config

`sudo service nginx reload

[2021-02-11 18:10] kevinxin90 commented on #53
<img width="1278" alt="Screen Shot 2021-02-11 at 10 09 21 AM" src="https://user-images.githubusercontent.com/10997542/107679299-40307380-6c51-11eb-81f3-1634aee13509.png">
Based on the log, it seems API query completes in a reasonable amount of time. However, it takes extremely long time to update node with the results (1 mins). Need to investigate why it takes such a long time.

[2021-02-14 01:11] kevinxin90 commented on #53
<img width="1163" alt="Screen Shot 2021-02-13 at 5 06 35 PM" src="https://user-images.githubusercontent.com/10997542/107865671-e4ffac00-6e1d-11eb-80b4-70d89abd163e.png">

Previously, for each association, we update the knowledge graph (inputNode, outputNode, edge) using javascript spread operation. This is very inefficient. Now, it will first check if node/edge exists in knowledge graph, and then

[2021-02-19 19:21] kevinxin90 commented on #59
Implemented in: https://github.com/biothings/BioThings_Explorer_TRAPI/commit/ea23686df22221707cdcd66489d9e3af082827d4

[2021-02-19 19:21] #59 closed, assigned to kevinxin90

[2021-02-19 19:22] kevinxin90 commented on #54
Implemented in: https://github.com/biothings/BioThings_Explorer_TRAPI/commit/ea23686df22221707cdcd66489d9e3af082827d4

[2021-02-19 19:22] #54 closed, assigned to kevinxin90

[2021-02-19 19:22] kevinxin90 commented on #53
Implemented in: https://github.com/biothings/BioThings_Explorer_TRAPI/commit/ea23686df22221707cdcd66489d9e3af082827d4

[2021-02-19 19:22] #53 closed, assigned to kevinxin90

[2021-02-19 19:23] #27 closed, assigned to nobody

[2021-02-19 19:23] kevinxin90 commented on #19
Implemented in: https://github.com/biothings/BioThings_Explorer_TRAPI/commit/04b4150d93636ee2149ad8c967cf08c02110cc1d

[2021-02-19 19:23] #19 closed, assigned to kevinxin90

[2021-02-19 19:24] kevinxin90 commented on #8
Implemented in: https://github.com/biothings/BioThings_Explorer_TRAPI/commit/6b0db558c795b944c25491e0f260fcf986586cec

[2021-02-19 19:24] #8 closed, assigned to kevinxin90

[2021-02-19 19:24] #11 closed, assigned to kevinxin90

[2021-02-19 19:36] kevinxin90 opened #80 "Need a nodejs package handling BioLink model"
The package needs to be separate from current TRAPI code repo.

It should perform:

1. Given a specific node type (e.g. biolink:GeneOrGeneProduct), return all descendants/ancestors of that node type.
2. Given a specific node type, return all available ID Prefixes defined in BioLink model
3. Given a specific ID Prefix, return all node types which can have this ID Prefix.
4. Given a specific predica

[2021-02-19 19:36] kevinxin90 commented on #80
Should be able to fix #52 and #34

[2021-02-19 20:00] kevinxin90 opened #81 "Support handling list as value for category"
One ID might belong to multiple semantic types,
e.g. **UMLS:C0008780** can be mapped as a [Disease](http://mydisease.info/v1/disease/MONDO:0016575?fields=umls) or a [PhenotypicFeature](https://biothings.ncats.io/hpo/query?q=xrefs.umls:C0008780)

So when user provide the following query:

[code]

We should look for Genes which related to UMLS:C0008780 as a Disease or as a PhenotypicFeature.

[2021-02-20 04:59] kevinxin90 opened #82 "Deprecate TRAPI v0.9.2 support"
Should have /query endpoint have the same implementation as /v1/query.

Probably should use regex when specifying routing. e.g. (v1)?/query

See expressjs routing mechanism: https://expressjs.com/en/guide/routing.html

[2021-02-20 05:01] kevinxin90 opened #83 "Investigate redis in memory database for cacheing query results"
This is helpful to speed up nodejs app when there're multiple queries asking for the same edge.

Use redis docker image for easier deployment.

Use .env to store redis url/password info.

[2021-02-20 05:05] kevinxin90 opened #84 "Investigate mongodb as a persistant data storage"
It's a good feature to store user request persistently, so users can come back and look up their results just using the answer id we assign to them.

We could also hook this up with the web interface. Given an answer id, the UI can fetch results directly from mongodb and display the results as graph/table for exploration.

[2021-02-20 05:06] kevinxin90 commented on #84
This should also be done using MongoDB docker image.

Along with .env to store all credentials/urls

[2021-02-20 18:12] kevinxin90 commented on #82
Current implementation: '(/v1)?/query'

It works, now /query and /v1/query endpoint have the same behavior.

However, the problem is SwaggerValidation no longer works.

It seems the Swagger Validation middleware we currently use don't support regex as route path.

Need to explore other options to facilitate that.

https://www.npmjs.com/package/express-openapi-validator

[2021-03-02 05:35] kevinxin90 commented on #81
Fixed as a side effect in: https://github.com/biothings/BioThings_Explorer_TRAPI/pull/91

[2021-03-02 16:54] kevinxin90 opened #92 "Create a module to transform TRAPI Query Graph"
1. Expand node by its id, e.g. if user provides a MONDO ID as input, we will traverse MONDO hierarchy to get all its descendants.
2. Expand node by its category, e.g. if user provides a NamedThing category, we will traverse BioLink class hierarchy to get all descendants of NamedThing class.
3. Expand predicate, e.g. if user provides a related_to predicate, we will traverse BioLink predicate hierar

[2021-03-02 16:58] kevinxin90 commented on #80
Initial implementation available at: https://www.npmjs.com/package/biolink-model

[2021-03-10 03:56] kevinxin90 opened #96 "Add UserID, groupID environment variable in Docker Compose file."
The TRAPI service needs to access and modify ./log folder. Need to set the UID & GID to be the same as the UID & GID for ./log folder in our server.

[2021-03-10 17:48] kevinxin90 opened #97 "Add feature to allow user to test local SmartAPI specs"

[2021-03-10 17:51] kevinxin90 commented on #97
Based on conversation with Ryan:

<img width="963" alt="Screen Shot 2021-03-10 at 9 51 03 AM" src="https://user-images.githubusercontent.com/10997542/110673883-2d448c80-8186-11eb-8073-e552ae852006.png">

[2021-03-12 14:57] kevinxin90 opened #98 "Separate out the logics of TRAPI Query Graph Handling from this repo"

[2021-03-12 16:23] andrewsu opened #99 "how to query by UniProtKB CURIE?"
The issue at https://github.com/NCATSTranslator/testing/issues/10 reports that BTE does not return any results for the following query:

[code]

If I convert `UniProtKB:P52788` to `NCBIGENE:6611` (based on http://mygene.info/v3/query?q=P52788&fields=entrezgene,uniprot), the query returns many results as expected.  I tried adjusting the `category` for `n0` to `biolink:Protein` and `biolink:GenomicE

[2021-03-12 16:47] kevinxin90 commented on #99
Oh, we use the wrong UniProtKB ID (in our ID resolution module, we used UNIPROTKB instead of UniProtKB)

[2021-03-12 16:59] kevinxin90 commented on #99
The issue is fixed now. @andrewsu Feel free to try agin.

[2021-03-12 16:59] #99 closed, assigned to nobody

[2021-03-12 17:09] andrewsu commented on #99
confirmed, thanks!  For posterity, linking to https://github.com/biothings/BioThings_Explorer_TRAPI/commit/92fac04398329d3dec5d579ed5dcf1d397d515ee and https://github.com/kevinxin90/biomedical_id_resolver.js/commit/79be269e2f4480cdce62a4d21cf7e0283cf552e2

[2021-03-12 19:12] #81 closed, assigned to kevinxin90

[2021-03-12 19:13] #52 closed, assigned to kevinxin90

[2021-03-12 19:13] #20 closed, assigned to kevinxin90

[2021-03-12 19:13] #34 closed, assigned to kevinxin90

[2021-03-16 22:23] kevinxin90 opened #102 "Expand Query Graph node (without curie) based on BioLink model hierarchy"
See details in this issue: https://github.com/NCATSTranslator/testing/issues/12

[2021-03-16 22:23] kevinxin90 commented on #98
Implemented in: https://github.com/biothings/BioThings_Explorer_TRAPI/pull/101

[2021-03-16 22:23] #98 closed, assigned to kevinxin90

[2021-03-16 23:54] kevinxin90 commented on #102
Fixed in: b123cf5bcbff40670254bf48d2bb4ca362f42ab8

[2021-03-16 23:54] #102 closed, assigned to kevinxin90

[2021-03-17 00:07] kevinxin90 commented on #80
package ready at: https://www.npmjs.com/package/biolink-model

[2021-03-17 00:07] #80 closed, assigned to kevinxin90

[2021-03-17 00:08] kevinxin90 opened #105 "Add an optional parameter to export results as a csv table"

[2021-03-17 17:11] kevinxin90 opened #106 "Include additional node attributes in TRAPI Knowledge Graph"
1. Chemical:
   - chembl_max_phase
   - chembl_molecule_type
   - chembl_drug_category
   - drugbank_class
   - drugbank_groups
   - drugbank_kingdom
   - drugbank_superclass
   - contraindications
   - mesh_pharmacology_class
   - fda_epc_pharmacology_class
2. Gene:
   - interpro
   - type_of_gene
4. Pathway:
   - number_of_participants
5. BiologicalProcess:
   - number_of_participants
6. Cellula

[2021-03-18 15:03] kevinxin90 opened #109 "Add additional node attributes including nodeDegree"
1. How many unique source KG nodes does this KG node connects from.
2. How many unique target KG nodes does this KG node connects to.
3. How many unique edges (source-predicate-target) does this KG node connects from.
4. How many unique edges (source-predicate-target) does this kG node connects to.

[2021-03-18 15:05] kevinxin90 opened #110 "Knowledge Graph Edges should be grouped based on subject-predicate-object"
Currently edges are grouped by (subject-object-api-source)

[2021-03-18 18:39] andrewsu opened #111 "Add GO qualifiers to mygene.info record in SmartAPI"
BTE is not correctly interpreting mygene.info output on GO annotations because it is ignoring the qualifiers.  I believe the fix involves a modification of the mygene.info SmartAPI record (and hopefully TRAPI has a way of expressing qualifiers).  Example below...

I issued this query to get `BiologicalProcess`es related to the gene `VAMP2`:

[code]

The following edge linking `VAMP2` to `neutrophi

[2021-03-18 23:39] kevinxin90 commented on #111
This issue is addressed in: https://github.com/NCATS-Tangerine/translator-api-registry/commit/b15bf3c3900b00ebb1efe3defb304b5a43983158. We should see the changes on BTE end when SmartAPI refreshes tomorrow morning.

[2021-03-19 04:19] kevinxin90 opened #112 "Handle explain type of query"
[code]

[2021-03-19 16:19] andrewsu commented on #111
Looks good!  New results:

[code]

[2021-03-19 16:19] #111 closed, assigned to nobody

[2021-03-23 14:49] kevinxin90 opened #113 "Disease(s) Treated By Drug"
see: https://github.com/NCATSTranslator/testing/issues/20

[2021-03-23 14:50] kevinxin90 commented on #113
We'll provide a temporary fix for the moment.

Whenever we see a Drug node, we will expand it to include both Drug and ChemicalSubstance.

This logics will temporarily be placed in query graph handler module. But eventually, we need to place it in query graph modifier module to handle this.

[2021-03-23 15:01] kevinxin90 commented on #113
Fixed in: https://github.com/biothings/BioThings_Explorer_TRAPI/pull/114

[2021-03-23 15:01] #113 closed, assigned to kevinxin90

[2021-03-23 15:07] kevinxin90 opened #115 "Query returns unexpected exceptions"
[code]

According to Ryan,

This query returns
[code]

[2021-03-23 15:12] andrewsu commented on #113
also linking this commit in the query graph handler https://github.com/kevinxin90/bte_trapi_query_graph_handler/commit/697781ac4d1f9faa8cad32969a8dce5701f7f686

[2021-03-24 04:29] colleenXu opened #116 "Accessing LINCS data portal API thru BTE"
Summary: I think BTE is making an error in setting up the API request for LINCS data portal API. We are required to provide the input ID as a curie, so I set it as a ChemicalSubstance with the id "LINCS:LSM-1023" (which is imatinib). The logs show that the LINCS API query is then (see the **bold** for the error):
[code]
Looking at the [smartapi page for LINCS data portal](http://smart-api.info/ui/

[2021-03-24 15:56] andrewsu opened #117 "Create regression testing infrastructure"
We would like to create a regression testing framework to quantitatively assess BTE's performance.  As a gold standard, we can use the orphan drug indication dataset mentioned in https://github.com/NCATSTranslator/Relay/discussions/123 or the mechanistic paths from https://sulab.github.io/DrugMechDB/.  For each of those gold standards, we should create a TRAPI query ([examples](https://github.com/

[2021-03-24 16:30] kevinxin90 commented on #116
Good catch. I think that's exactly something we wish your new x-bte extension in SmartAPI can solve.

[2021-03-24 17:32] andrewsu commented on #117
Still plenty left to be done, but just remembered that @kevinxin90 did some initial analysis of the OOPD dataset in https://github.com/biothings/bte_regression_test, and we also created some issues there.  Would be good to build on that...

[2021-03-24 23:44] #116 closed, assigned to nobody

[2021-03-25 19:00] kevinxin90 opened #120 "Query with unexpected exceptions"
[code]

slice

[2021-03-26 02:34] colleenXu opened #122 "BTE queries fail from handling the id prefixes"
Like #116, with **MyGene.info**:

When querying from **Pathway -> Gene with a REACT ID**, the query fails because the requested id in q sent to MyGene.info includes the prefix, which MyGene doesn't recognize. Compare the query message sent by BTE to the correct query for MyGene.info below:

---
1. What a successful query directly to MyGene.info looks like, **see the q doesn't have a prefix**:
[cod

[2021-03-26 02:50] colleenXu commented on #122
Followup:
**Pathway -> Gene with KEGG ids work fine -> the prefix is removed correctly** when directly querying MyGene.

Query sent by BTE: **see that the q doesn't have a prefix**. BTE doesn't get any results from doing this.
[code]
---

Note: This is what the BTE TRAPI endpoint received. The smartapi ID is 59dce17363dce279d389100834e43648.
[code]

[2021-03-26 03:29] kevinxin90 commented on #120
Fixed in: https://github.com/biothings/BioThings_Explorer_TRAPI/pull/121

[2021-03-26 03:29] #120 closed, assigned to nobody

[2021-03-26 03:29] kevinxin90 commented on #115
Fixed in: https://github.com/biothings/BioThings_Explorer_TRAPI/pull/121

[2021-03-26 03:29] #115 closed, assigned to nobody

[2021-03-26 03:31] kevinxin90 commented on #122
It's working now

[2021-03-26 03:31] #122 closed, assigned to nobody

[2021-03-26 03:37] kevinxin90 commented on #106
Fixed in: https://github.com/biothings/BioThings_Explorer_TRAPI/pull/107

[2021-03-26 03:37] #106 closed, assigned to kevinxin90

[2021-03-26 03:37] kevinxin90 commented on #110
Fixed in: https://github.com/biothings/BioThings_Explorer_TRAPI/pull/107

[2021-03-26 03:37] #110 closed, assigned to kevinxin90

[2021-03-26 03:37] kevinxin90 commented on #109
Fixed in: https://github.com/biothings/BioThings_Explorer_TRAPI/pull/107

[2021-03-26 03:37] #109 closed, assigned to kevinxin90

[2021-03-26 03:42] kevinxin90 opened #125 "Add feature to queue user queries"
1. At maximum, only 5 queries should be handled concurrently.
2. Ideally, users who sent too many requests should be postponed.
3. shouldn't affect behavior of /predicates endpoint which respond fast.

[2021-03-26 04:50] colleenXu opened #128 "MyGene Gene -> Transcript, Gene -> Protein missing answers"
This query for MyGene.info (thru BTE's TRAPI endpoint for one api) only shows one result in the knowledge graph, even though the logs mention 3 results (the direct query to the API returns 3 results as well):

---
MyGene returns for 3 results for:

[code]
---
BTE returns 1 node in the following response / logs (ENST00000413340):
[code]

[2021-03-26 05:00] colleenXu commented on #128
Perhaps related: having a similar issue with the Gene -> Protein query:

---
MyGene returns for 3 results from ensembl.protein, 1 result from uniprot.Swiss-Prot for:
curl -X POST "https://mygene.info/v3/query?fields=ensembl.protein%2C%20uniprot.Swiss-Prot&species=human" -H  "accept: application/json" -H  "Content-Type: application/x-www-form-urlencoded" -d "q=ENSG00000196911&scopes=ensembl.gene&si

[2021-03-26 05:08] colleenXu opened #129 "prefix ID issue again (Protein -> Gene)"
Like #116 and #122, with MyGene.info, querying Protein -> Gene.

When querying from **Protein -> Gene with a UNIPROTKB or ENSEMBL ID**, the query fails because the requested id in q sent to MyGene.info includes the prefix, which MyGene doesn't recognize. Compare the query message sent by BTE to the correct query for MyGene.info below:

---
1. What a successful query directly to MyGene.info looks l

[2021-03-26 05:41] colleenXu opened #130 "[bug] OpenTargets API issue"
OpenTargets API returns a bunch of redundant answers in their API response. I believe this is because their underlying data has one geneTarget-Chemical relationship for EACH specific disease, but the results from the API don't include the disease...

BTE handles this fine in the nodes and edges of the response (message.knowledge_graph). **However, there are a ton of identical/duplicated results, w

[2021-03-26 08:09] colleenXu opened #131 "MyDisease for disease's descendants is missing answers"
Perhaps similar to #128.

This query for MyDisease.info (thru BTE's TRAPI endpoint for one api) only shows one result node in the node section of the response, even though the logs mention 39 results (the direct query to the API returns 39 results as well - I believe these results are unique):

---
MyDisease returns for 39 results for:

---
BTE returns 1 node in the following response (MONDO:00032

[2021-03-26 18:16] kevinxin90 commented on #131
Fixed.

[2021-03-26 18:16] #131 closed, assigned to nobody

[2021-03-26 18:16] kevinxin90 commented on #129
You label UNIPROTKB wrong in MyGene SmartAPI. Should be UniProtKB

[2021-03-26 18:16] #129 closed, assigned to nobody

[2021-03-26 18:18] kevinxin90 commented on #128
Fixed

[2021-03-26 18:18] #128 closed, assigned to nobody

[2021-03-29 18:41] andrewsu opened #136 "Examine ARS use case: Chemical substances that "down regulate" STK11"
Source issue: https://github.com/NCATSTranslator/testing/issues/28

Original query:
[code]

Will track some basic findings below...

[2021-03-29 18:50] kevinxin90 commented on #136
@andrewsu  They use the wrong predicate. "biolink:negatively_regulates__entity_to_entity" is not a valid biolink predicate. It should be "biolink:entity_negatively_regulates_entity". See https://github.com/biolink/biolink-model/blob/master/biolink-model.yaml#L2516

[2021-03-29 18:55] andrewsu commented on #136
So far, a few findings:

* Syntactically, everything is working fine.  If we add `biolink:physically_interacts_with` to the list of predicates, BTE returns results as expected.

*  The original query used STK11 (HGNC:11389) as input. Trying other genes (e.g., ITK, EGFR, KIT) also returns no `ChemicalSubstance`s.  So it seems to have something to do with our mapping files being at a different level

[2021-03-29 21:44] kevinxin90 opened #141 "Implement cron job to periodically pull /predicates endpoint info from KP TRAPI services"

[2021-04-02 15:50] andrewsu opened #145 "ARS use case: phenotypes for Angel-shaped phalango-epiphyseal dysplasia"
Source issue: https://github.com/NCATSTranslator/testing/issues/33

Original query:

[code]

When querying mydisease.info directly (http://mydisease.info/v1/query?q=mondo.mondo:MONDO\:0007114), we do see phenotypes listed under `hpo.phenotype_related_to_disease`.

[2021-04-02 16:19] andrewsu commented on #145
Looks like this is an issue of a malformed query asking `PhenotypicFeature` - `has_phenotype` - `Disease`.  Modifying this query to `PhenotypicFeature` - `phenotype_of` - `Disease` (first query below) OR `Disease` - `has_phenotype` - `PhenotypicFeature` (second query below) results in a valid, non-zero response.

[code]

[code]

For completeness, I also confirmed that the two inverse queries retur

[2021-04-02 16:19] #145 closed, assigned to nobody

[2021-04-02 18:35] kevinxin90 commented on #141
Implemented in: https://github.com/biothings/BioThings_Explorer_TRAPI/commit/94461b1a7c96b9b7ea66b4f5eb41f55b1a87dcb9

[2021-04-02 18:35] #141 closed, assigned to kevinxin90

[2021-04-02 18:37] kevinxin90 commented on #97
Implemented in: https://github.com/biothings/BioThings_Explorer_TRAPI/commit/a35fd83fbfe627c96ce47ccc9016a5d3c21f55d5

[2021-04-02 18:37] #97 closed, assigned to kevinxin90

[2021-04-02 18:44] kevinxin90 opened #147 "Design a Query Builder which supports querying multiple fields in BioThings API in batch mode"
https://github.com/biothings/biothings.api/issues/49.

This ties into #136

We need to have POST query to query based on association.predicate field as well as subject.SYMBOL field.

[2021-04-03 01:33] colleenXu opened #148 "MyVariant civic drug response query not working"
@kevinxin90

**The problem:**
When querying MyVariant through the endpoint for single apis  (smartapi id 09c8782d9f4027712e65b95424adba79), I cannot successfully do a SequenceVariant -> ChemicalSubstance query. I was using rs121913521, which should have results.

The response message is:
[code]

I expected the results found from querying MyVariant directly:
curl -X POST "https://myvariant.info/v1/

[2021-04-09 16:42] andrewsu opened #149 "ChEMBL drug indications not being mapped to BTE results"
In the context of this issue https://github.com/NCATSTranslator/testing/issues/41, we are looking for an edge that states `Nitisinone` - `treats` - `Alkaptonuria`.  BTE currently returns that edge based on the SEMMED Disease API, but also alongside several of lower-quality answers.  mychem.info also reports this indication from ChEMBL http://mychem.info/v1/query?q=drugbank.name:nitisinone&fields=c

[2021-04-16 04:45] andrewsu opened #150 "BTE not resolving human-readable names for some UMLS identifiers"
In the response to [this query](https://github.com/NCATSTranslator/testing/blob/main/ars-requests/must-have/akuCause.json), BTE returns several results.  A snippet of the nodes is shown below.  BTE tries to populate the "name" field with human-readable names, but it fails on several of the nodes with UMLS as the primary identifier.  I'm guessing that this is because BTE is using mychem.info to det

[2021-04-16 17:21] kevinxin90 commented on #149
Added in https://github.com/NCATS-Tangerine/translator-api-registry/commit/13cd5864b5109f95e1380fff0fa5ec8ff3974693.
Tested on local, everything works.
You should be able to see the new change tomorrow morning when SmartAPI refreshes itself.

[2021-04-19 17:59] andrewsu commented on #149
Confirmed that ChEMBL drug indications are now included in BTE results.  Now when we execute [this query for drugs that treat AKU](https://github.com/NCATSTranslator/testing/blob/main/ars-requests/not-none/aku.json), we see that nitisinone (CHEBI:50378) also lists ChEMBL and mychem.info as a source, whereas the other chemical substances returned only reference SEMMED.

![image](https://user-images

[2021-04-19 17:59] #149 closed, assigned to nobody

[2021-04-20 15:52] kevinxin90 opened #151 "Set a shorter timeout limit for Translator TRAPI APIs"
A lot of them have slow response and poor quality. Would affect BTE performance.

[2021-04-20 18:56] andrewsu opened #153 "allow users to specify which APIs to include (or exclude)"
Ideally, individual end users would be able to specify individual APIs which should be included or excluded relative to a set of defaults.  People may use this:

* because some APIs may only be relevant in a small subset of use cases (e.g., ICEES for clinical data), or
* because users may want to ignore data from an individual source (e.g., text-mined results from SEMMED), or
* because an API is n

[2021-04-21 03:49] colleenXu opened #154 "Pathway -> Gene with BIOCARTA ID (MyGene) not working"
BTE isn't correctly querying MyGene for Pathway -> Gene when a BIOCARTA ID is given, because MyGene doesn't need the prefix.

BTE's current behavior is:
[code]

It should instead be q=raspathway&scopes=pathway.biocarta.id&size=1000...

[2021-04-21 21:33] ariutta commented on #117
@andrewsu I'm copying this from Slack over to here too:

https://github.com/ariutta/bte_regression_test/actions

[2021-04-22 17:07] kevinxin90 opened #155 "Set a more strict rate limit policy to protect BTE server from throttliing"

[2021-04-22 17:38] #155 closed, assigned to kevinxin90

[2021-04-22 18:55] ariutta commented on #117
I'll close this issue in favor of the new issue created in the bte_regression_test repo:
https://github.com/biothings/bte_regression_test/issues/9

[2021-04-22 18:55] #117 closed, assigned to ariutta

[2021-04-23 03:03] kevinxin90 opened #159 "Text Mining Co-occurrence KP returns too many results as a single-hop query resource, need to limit by ngd score"

[2021-04-23 04:03] kevinxin90 commented on #151
Fixed in: https://github.com/biothings/BioThings_Explorer_TRAPI/pull/152

[2021-04-23 04:03] #151 closed, assigned to kevinxin90

[2021-04-23 04:05] #154 closed, assigned to nobody

[2021-04-23 16:26] andrewsu opened #164 "combine edges in results for multi-hop queries"
https://github.com/NCATSTranslator/testing/issues/55 issues a [multi-hop query](https://github.com/NCATSTranslator/testing/blob/main/ars-requests/not-none/sharedPhenotypes.json). In the [BTE results](https://arax.ncats.io/api/arax/v1.0/response/89c25fd3-43bd-4e90-9cd8-4b43fef68791), we have separate entries in the `results` for each edge (`e01` and `e02` in the screenshot 1 below), rather than a s

[2021-04-23 16:55] kevinxin90 commented on #148
Fixed in: https://github.com/biothings/BioThings_Explorer_TRAPI/pull/166

[2021-04-23 16:55] #148 closed, assigned to nobody

[2021-04-23 18:05] andrewsu opened #167 "Expand query graph predicates based on Biolink Model hierarchy"
In https://github.com/biothings/BioThings_Explorer_TRAPI/issues/102, we extended BTE so that it would expand general Biolink node types (e.g., `biolink:NamedThing`) into all of its subclasses (e.g., `biolink:Disease`, `biolink:Gene`). Along similar lines this issue proposes to expand query graph predicates in a similar manner.  For example, [this query](https://github.com/NCATSTranslator/testing/b

[2021-04-23 20:57] andrewsu commented on #102
Adding a brief comment because I keep forgetting this point.  I normally would have expected that if I had a query that asked for a `biolink:Gene` (example below), then replacing that would `biolink:GeneOrGeneProduct` would produce a superset of those results.  In fact, `biolink:GeneOrGeneProduct` is _not_ a parent of `biolink:Gene`, but rather it is a mixin.  `biolink:GenomicEntity` is the parent

[2021-05-06 17:54] andrewsu opened #170 "local smartapi_specs.json being overwritten with zero-length file"
My `data/smartapi_specs.json` file is an empty file. The relevant cron job appears to be (over)writing a zero-length file as scheduled.   `data/predicates.json` is not being overwritten, but it also looks like it's not being updated.

[code]

### More details ###
In `updateSmartAPISpecs` [1], BTE should update a local file `data/smartapi_specs.json` with the latest metakg from smartAPI every 10 mi

[2021-05-06 20:17] andrewsu opened #171 "include support for the TRAPI v1.1 standard"
The TRAPI v1.1 standard has now been officially released https://github.com/NCATSTranslator/ReasonerAPI/tree/v1.1.0

[2021-05-07 02:27] colleenXu opened #172 "Incorrectly transforming EBI Proteins API output"
THE PROBLEM

When I query through BTE with the query below, I expect one Rhea reaction result (RHEA:19117 / primary ID GO:0004500). That would match [the only type Rhea element in dbReferences under the comment with type CATALYTIC_ACTIVITY](https://www.ebi.ac.uk/proteins/api/proteins/P09172).

However, BTE instead returns 7 results. The other 6 results look like the CHEBI ID numbers were incorrect

[2021-05-07 17:55] andrewsu commented on #170
I've isolated the issue.  When `updateSmartAPISpecs` [1] goes to write the `smartapi_specs.json` file, the `nodemon` package immediately detects this change and then restarts the application, preventing the completion of the writing process on `smartapi_specs.json` and preventing the subsequent writing of the `predicates.json` file.  I can solve this by changing this line https://github.com/biothi

[2021-05-10 18:30] newgene commented on #171
https://github.com/NCATSTranslator/ReasonerAPI/blob/master/ChangeLog.md

[2021-05-10 19:19] andrewsu opened #174 "filter on node attributes"
Node attributes on chemical compounds indicate drug approval status.  Clearly we could filter based on these attributes post-query, and a helper tool to do this may be quite useful in the short term.  But it would also be good to allow filtering on these node attributes as part of the query.  Filters would presumably be based on EITHER the value of a certain attribute OR the existence of an attrib

[2021-05-11 04:11] andrewsu commented on #170
Just realized that asking nodemon to ignore the `data` subdirectory is not a desirable behavior at all -- that is exactly the directory that we want nodemon to monitor the most.  So I've changed the pull request to instead use nodemon's `--delay` option, which (according to https://github.com/remy/nodemon#delaying-restarting) works as follows:

This change works on my local WSL / Ubuntu 20.04 inst

[2021-05-11 18:17] andrewsu opened #175 "Target landscape analysis use case"
From Christine Colvis in December Demo planning session 2021-05-11

* User input: an undruggable disease gene
* Query: find genes in pathways related to the disease gene, or genes that modulate the disease gene, or genes the produce metabolites that affect the disease gene
* Filter: restrict gene list to druggable (e.g., enzymes from GO terms)

Would be good to develop a set of query templates

[2021-05-11 19:38] andrewsu opened #176 "investigate ARAGORN-Ranker as a ranking engine"
From suggestion from Mark Williams, can we use ARAGORN ranker to take an existing result graph and annotate it with rankings?  This could be a short-term step to ranking to complement our longer-term strategy for implementing our internal ranker.  Patrick W is probably the right contact person...

https://aragorn-ranker.renci.org/docs#/ARAGORN-Ranker/

[2021-05-14 17:30] andrewsu opened #178 "Use case: find chemical modulators that may influence DILI"
DILI = drug-induced liver injury

For a certain type of DILI (Augmentin-induced), there are genetic variants in the genes ERAP2, PTPN22, and EXOC4 that increase the odds ratio of DILI. Let's try to use BTE to find chemical modulators of those three genes.  Potential metapaths might include:
* `Gene` - `Pathway` - `Gene` - `ChemicalSubstance`
* `Gene` - `ChemicalSubstance` (metabolite) - `ChemicalS

[2021-05-14 19:03] newgene commented on #164
Should be implemented here: https://github.com/biothings/bte_trapi_query_graph_handler/blob/main/src/query_results.js#L39

[2021-05-17 16:37] andrewsu opened #181 "Query BTE/Translator for all edges in DrugMechDB"
DrugMechDB (https://github.com/SuLab/DrugMechDB) is a database of drug mechanisms expressed as paths (or small graphs) through a knowledge graph.  Let's take each edge in DrugMechDB, formulate a TRAPI query, and see if BTE can find it.  Output will be some sort of report that describes what percentage of DrugMechDB edges are found, stratified by edge type.

Mike created an initial analysis in this

[2021-05-19 19:48] andrewsu opened #182 "utilize new x-bte smartAPI info to construct metakg"
tagging @colleenXu to add documentation on the advantages of new x-bte system so @newgene and I can work on prioritization

[2021-05-20 16:29] newgene opened #183 "query graph validation error"
reported here: https://github.com/NCATSTranslator/minihackathons/issues/9

[2021-05-20 23:17] newgene commented on #167
Implemented and merged here: https://github.com/biothings/bte_trapi_query_graph_handler/pull/10

[2021-05-21 17:22] andrewsu commented on #171
As part of this ticket, please also add valid v1.1 test queries to https://github.com/biothings/BioThings_Explorer_TRAPI/tree/master/examples

[2021-05-22 05:47] andrewsu commented on #92
1. no issue created for this yet; Per Kevin (I think), "Can add query graph expansion here: https://github.com/biothings/bte_trapi_query_graph_handler/blob/018bc2fd0b7a1f2a230069b4fecd57841739944e/src/query_graph.js#L86)
2. addressed in https://github.com/biothings/BioThings_Explorer_TRAPI/issues/102
3. being addressed in https://github.com/biothings/BioThings_Explorer_TRAPI/issues/167

[2021-05-22 05:52] andrewsu commented on #172
@colleenXu how are you executing this BTE query against only the the EBI Proteins API?

[2021-05-22 06:42] colleenXu commented on #172
@andrewsu

Update:

- to run on postman, POST to http://localhost:3000/v1/smartapi/43af91b3d7cae43591083bff9d75c6dd/query
- this calls BTE to run the query on only the EBI Proteins API by giving its SmartAPI ID
- I did it just now, using the current code, and it seems to work. Odd. This is what I see:

[code]

[2021-05-25 02:16] colleenXu opened #184 "[bug] Fix using name as id for Biocarta pathway entities"
Should fix https://github.com/biothings/biothings_explorer/issues/181 .

CX tried modifying code in https://github.com/biothings/biomedical_id_resolver.js/pull/55 , but AS reports that this might not fully fix the problem.

[2021-05-25 03:04] newgene commented on #183
Example query:

[code]

[2021-05-25 06:19] colleenXu opened #185 "[bug] BTE isn't restricting output based on specified query-graph predicate"
QUERY:

This [TRAPI v1.1 query](https://github.com/NCATSTranslator/testing/blob/main/ars-requests/not-none/1.1/egfr.json) has the following predicates specified in the query-graph edge:

[code]
---

PROBLEM:

However, BTE's output includes nodes/edges/results that don't match those predicates or their children in Biolink. For example, these are some edges returned:

- CHEBI:49668-**biolink:related

[2021-05-25 16:56] andrewsu commented on #171
FYI, error message from the TRAPI v1.1 validator here:

https://arax.ncats.io/?source=ARS&id=31630c02-b2d2-4ce6-bd25-2230d775cb80

[2021-05-25 17:09] andrewsu commented on #171
more info in https://github.com/NCATSTranslator/ReasonerAPI/blob/master/TranslatorReasonerAPI.yaml#L538

[2021-05-25 17:36] colleenXu commented on #171
The new error [message](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/171#issuecomment-848048206) Andrew posted above....

This seems to relate to node attributes (under message.knowledge_graph.nodes):

Currently, each node attribute has a name, type, and value like this:
[code]

The validation error is that we are missing "attribute_type_id" key/value pair here.

---

Reviewing the

[2021-05-25 17:39] colleenXu commented on #171
I took a look  at https://github.com/NCATSTranslator/minihackathons/issues/9 and the [ARAX error message](https://arax.ncats.io/?source=ARS&id=90080f07-808c-47db-a042-21a9ce6f4281),

I think it’s erroring because the Response requires a “message” property, and we provided something that only had a “logs” property:

in the error message at the bottom: 'required': ['message'],\n" " 'type': 'object'}

[2021-05-26 04:47] andrewsu commented on #171
@colleenXu to the best of your knowledge, are `equivalent_identifiers` and `num_source_nodes` the _only_ node attributes we return under `message.knowledge_graph.nodes`?  Are there any similar edge attributes under `message.knowledge_graph.edges`?  I think the next step is to describe the intent of those attributes as best we can, and then ask the biolink folks to help us identify the best `attrib

[2021-05-26 21:46] colleenXu commented on #171
@andrewsu No, we return a lot of node attributes, depending on the type of node. I believe some of the node attribute info can be found by looking at the additional_attribute_mappings [here](https://github.com/biothings/biomedical_id_resolver.js/blob/89dc0137bcd104fd28b0ccb4255a62490bb49764/src/config.ts#L30), which seem to be added during the ID resolution step.

We also return some edge attribut

[2021-05-27 04:44] andrewsu commented on #172
Confirmed, I also see the expected behavior on the v1.1 instance https://api.bte.ncats.io/v1/smartapi/43af91b3d7cae43591083bff9d75c6dd/query (with the analogous v1.1 query) and on the v1.0 instance https://bte.ncats.io/v1/smartapi/43af91b3d7cae43591083bff9d75c6dd/query.  Closing this issue as fixed/obsolete.

[2021-05-27 04:44] #172 closed, assigned to nobody

[2021-05-27 06:24] colleenXu commented on #182
### Advantages:

#### 1. reduces total number of queries and redundant queries

Based on this definition: an operation/metaKG edge is a unique combo of input (Biolink semantic) type, output type, and association data (so different knowledge sources can distinguish two operations)

#### Example:

Monarch (Biolink API) has a lot of useful info. However, BTE currently uses a very narrow set of x-bte

[2021-05-27 06:28] colleenXu commented on #182
### Issues no matter what x-bte is used:

- getting current edge attributes / node attributes compliant with TRAPI v1.1 (#171)
- more curating work to annotate more info from the API responses into x-bte
  - can include relation/source/publications/context/variables
  - making sure BTE can correctly transform these new edge attributes into TRAPI standard

[2021-05-27 06:53] colleenXu commented on #182
### Is new x-bte ready?

#### No
- don't have BTE's code updated to use new x-bte / use different logic for querying and processing responses (and maybe transforming to TRAPI standard).
- May also need some metaKG updates (input type / output type / predicate of an operation aren't going to change...but number of operations / where those fields are in the x-bte structure will)
- don't have new x-b

[2021-05-28 16:14] andrewsu commented on #185
@colleenXu to help debugging, can you check if this issue applies to the v1.0 TRAPI endpoint (bte.ncats.io/v1/query) or only the V1.1 TRAPI endpoint (api.bte.ncats.io/v1/query)?  Once we determine this, going to punt this over to @marcodarko and @newgene to look into the fix.  Also going to label this as **high priority**, since predicate filtering is a commonly-used function.

[2021-05-28 17:13] colleenXu commented on #167
It's hard to tell if the predicate expansion is working properly or not, since now the predicate in the query seems to be ignored (https://github.com/biothings/BioThings_Explorer_TRAPI/issues/185). This happens even when only 1 predicate is specified.

My tentative guess is that the "predicate expansion" work or some other work on the query-making module may have broken the predicate restriction/f

[2021-05-28 17:14] colleenXu commented on #185
This is happening in the current v1.0 TRAPI endpoint as well. I mentioned my thoughts on this behavior in the other issue, since I just remembered that BTE used to have this ability....

[2021-05-28 17:21] andrewsu commented on #167
Great, let's put this issue on hold pending resolution of #185

[2021-05-28 17:32] andrewsu commented on #171
After reviewing a bit with @newgene, I _believe_ the validation error can be solved by replacing all the `attribute.name` keys with `attribute.attribute_type_id` in https://github.com/biothings/bte_trapi_query_graph_handler/blob/main/src/graph/knowledge_graph.js#L23 and in https://github.com/biothings/bte_trapi_query_graph_handler/blob/main/src/graph/knowledge_graph.js#L65.  Later we will want to

[2021-06-01 17:51] newgene commented on #181
final result will depend on the fix of #185

[2021-06-01 20:42] colleenXu commented on #178
Could also do one-hops

set of Genes - ChemicalSubstance,
set of phenotypicFeatures -> ChemicalSubstance
set of phenotypicFeatures -> genes (show that you get the known answers)

Also find the background info that shows that modulators of these genes could be of interest. see pg. 7-8 of the google doc doc

[2021-06-02 22:43] marcodarko commented on #185
Hi @colleenXu @andrewsu I have a question, I was trying to filter the results based on the predicates provided however I encountered 0 hits for them in the current results, is that expected?

These are the unique predicates I found from this query and the current results:
`["related_to","affected_by","physically_interacts_with","interacts_with","directly_interacts_with","entity_negatively_regulate

[2021-06-02 22:54] colleenXu commented on #185
@marcodarko Yes, the above list would lead to 0 results and your list of unique predicates looks correct.

Change the last element of the list from "biolink:negatively_regulates_entity_to_entity" to **"biolink:entity_negatively_regulates_entity"**. Then I would hope for the expected behavior I mention in the original post above...

I'll edit my original comment to replace the predicate. Sorry for

[2021-06-03 20:22] colleenXu commented on #178
the four hop? Mondo:0005339 DILI -(correlated_with)-> DiseaseOrPhenotypicFeature -(condition associated with gene)-> gene -(related to)-> chemicalsubstance

[2021-06-04 18:39] ariutta opened #189 "Managing JavaScript projects with multiple packages"
The following repos represent packages in the same overall project. We commonly need to edit multiple of them when developing and would like to be able to test locally before releasing.

1. https://github.com/biothings/BioThings_Explorer_TRAPI
2. https://github.com/biothings/bte_trapi_query_graph_handler
3. https://github.com/biothings/biolink-model.js
4. https://github.com/biothings/biomedical_id

[2021-06-04 19:20] ariutta commented on #189
There are many different options available. Some of them require a monorepo (mulltiple NPM packages per repo), while others support using multiple repos (one NPM package per repo). We are currently using the latter, and moving to a monorepo would be a big change. For example, the current GH Actions workflows are based on using multiple repos. It may be worthwhile to do this eventually, but I'm goi

[2021-06-04 21:46] colleenXu opened #190 "[bug / refactor] duplication in results"
### Problem

**BTE currently returns a lot of redundant items in the Results array of the TRAPI response.**

This is related to how BTE handles edges. @andrewsu and I are currently discussing the format/handling of edges and results + the TRAPI standard, and plan to share what behavior we want from BTE with @newgene and @marcodarko .

From what I can tell, identical/duplicated result objects occur

[2021-06-05 05:25] colleenXu opened #193 "[bug] BTE not passing output IDs that it doesn't resolve"
Sometimes, BTE doesn't show the output entities that are in the raw API response of the sub-query. @andrewsu and I believe that this is related to [BTE's ID resolution step](https://github.com/biothings/biomedical_id_resolver.js/blob/master/src/config.ts): maybe...
- it's a bug
- there isn't a corresponding entry in the API we're using for ID resolution (MyChem in the case below)
- the API we're u

[2021-06-05 05:45] newgene commented on #170
PR #173 merged. Close #170.

[2021-06-05 05:45] #170 closed, assigned to nobody

[2021-06-07 16:23] andrewsu commented on #171
So I confirmed that `attribute_type_id` now appears in the node and edge attributes, but that we are still failing validation.  https://arax.ncats.io/?source=ARS&id=bb8522ab-909a-4a2c-a4cb-12abe524fa9b

![image](https://user-images.githubusercontent.com/2635409/121054807-8e720100-c771-11eb-8c25-51e6b561a0f5.png)

At this point, I think we're going to need to take a systematic look at this rather t

[2021-06-07 16:26] andrewsu commented on #183
I believe this is a duplicate issue of #171, but let's confirm after that one is resolved.

[2021-06-07 22:34] andrewsu commented on #174
In [TRAPI 1.1](https://github.com/NCATSTranslator/ReasonerAPI/blob/master/TranslatorReasonerAPI.yaml), `message.query_graph` is of type `QueryGraph` ([link](https://github.com/NCATSTranslator/ReasonerAPI/blob/master/TranslatorReasonerAPI.yaml#L378)) which has properties for nodes (of type `QNode`) and edges (of type `QEdge`).  Both `QNode`s and `QEdge`s allows the specification of a `constraint` p

[2021-06-07 23:33] ariutta commented on #189
To keep things moving, we're going with a near-term plan and a longer-term possibility.

# Near Term
## For minimal development
If you're just updating one package and your changes won't affect other packages, you don't have to worry about any of this. If your changes will affect multiple packages but primarily affect just one, you may be able to get away with just using [`npm link`](https://docs.

[2021-06-08 16:53] andrewsu opened #194 "update predicates on startup, and on demand via API endpoint"
In #141, we put the update of `/data/predicates.json` and `/data/smartapi_specs.json` on a cron job that runs every 10 minutes (see `updateSmartAPISpecs` in https://github.com/biothings/BioThings_Explorer_TRAPI/blob/master/src/controllers/cron/update_local_smartapi.js#L138).  But the cron job will restart the server and interrupt any currently-running jobs, which will increasingly become an issue

[2021-06-08 17:35] colleenXu commented on #185
This appears to be working now.

The example from the original post now works as expected (returning only edges with one of the listed predicates).

Another example also correctly returns edges that only have the specified predicate:

[code]

[2021-06-08 17:36] colleenXu commented on #185
Nodes/edges/results sections of message all look good YAY.

#195 is to update the logs to show that predicate restriction is being done.
#167 is because predicate expansion still isn't working

[2021-06-08 17:36] #185 closed, assigned to marcodarko, colleenXu

[2021-06-08 17:46] colleenXu opened #195 "[fast fix wanted] add a log entry when predicate filtering/restriction is done"
At the moment, when predicate filtering/restriction is done (post-query), there's no mention of it in the logs.

So the logs will say a lot of results are returned, when in reality filtering was done and there are less results.

I'd like:
1. Continue having a log entry returning "total results" before filtering.
2. an additional log entry for the filtering. Also return the "total number of results

[2021-06-08 18:05] andrewsu commented on #167
Now that #185 is closed but this issue was not magically fixed, reassigning this to @marcodarko to look into more.

[2021-06-08 18:11] newgene opened #196 "Support for ontology-based node expansion from the input query graph"
Expand node by its id, e.g. if user provides a MONDO ID as input, we will traverse MONDO hierarchy to get all its descendants.

This will depend on an ontology API to get the descendants of the given node, e.g. a biothings API or SRI's ontology service.

[2021-06-08 18:11] colleenXu opened #197 "[refactor] predicate filtering on what queries to do (rather than post-query)"
Currently, when a predicate is specified in a query-graph step like in the query below...
BTE will ignore the predicate first and do all of the sub-queries between the node entity types. It will then filter nodes/edges/results based on the specified predicate.

It would be more efficient for BTE to use the specified predicate to decide what sub-queries to do in the first place (what metaKG edges t

[2021-06-08 18:13] newgene commented on #196
This is a specific issue as part of #92, also related to the predicate expansion issue #167

[2021-06-08 18:14] newgene commented on #92
close this one now. the remaining issue of node expansion is moved into a separate issue: #196

[2021-06-08 18:14] #92 closed, assigned to kevinxin90

[2021-06-08 18:14] colleenXu commented on #167
This is still not working.

For example, the following query should return answers where the edge's predicates are children of the related_to - aka any predicate is fine. Instead, the only answers returned are ones where the edge's predicate is EXACTLY related_to.

[code]

[2021-06-08 18:20] marcodarko commented on #167
I think we can use the existing expand predicates functionality of the edge class to include children in the filters, I will try it and see how it goes.

[2021-06-08 18:34] newgene commented on #196
Per Kevin, "Can add query graph expansion here: https://github.com/biothings/bte_trapi_query_graph_handler/blob/018bc2fd0b7a1f2a230069b4fecd57841739944e/src/query_graph.js#L86" (after the validation step)

[2021-06-08 19:21] ariutta commented on #189
A note to clarify the near-term plan. The directory you create is just a kludge. Longer term, we'll probably want to re-organize this BioThings_Explorer_TRAPI repo so it contains all these packages.

Once [this pull request](https://github.com/biothings/BioThings_Explorer_TRAPI/pull/198) is merged, we can probably close this issue.

[2021-06-09 04:22] andrewsu opened #200 "add default "score" property to each entry in Results"
The TRAPI standard defines a `score` property on `result` objects (https://github.com/NCATSTranslator/ReasonerAPI/blob/master/TranslatorReasonerAPI.yaml#L320). The current plan is that every ARA should return _some_ score by 2021-06-15.  So, in the short term, we should simply add that `score` property with a default score of `1.0`:

[code]

[2021-06-09 04:22] andrewsu opened #201 "investigate use of mrcoc API for results scores"
The mrcoc API (https://biothings.ncats.io/mrcoc) produces normalized google distances (NGD) scores for pairs of MESH IDs.  For example, http://pending.biothings.io/mrcoc/cooccurence/D001055-D003397 produces this output:

[code]

We should investigate the use of the NGD score as the scoring metric (as implemented in #200). First and foremost, we should run through some of our "positive control" que

[2021-06-09 22:04] marcodarko commented on #167
@colleenXu given the query above, do these results look like what you would expect? Instead I used the expanded predicates of "biolink:related_to" as the post query filters. Sorry about the lengthy response... *EDIT see below for correct query, I made a mistake, the nodes are a little different.

`[{"node_bindings":{"n0":[{"id":"MONDO:0004979"}],"n1":[{"id":"CHEBI:35860"}]},"edge_bindings":{"e01":

[2021-06-10 04:59] colleenXu commented on #167
@marcodarko I can't tell where this is from, so I'm not sure how to answer. It looks like a Disease MONDO:0004979 -> ChemicalSubstance query, but I just ran that and didn't find those CHEBI IDs.

It looks right in that the predicates are descendants of related_to, so I do want those returned.

[2021-06-10 15:41] marcodarko commented on #167
@colleenXu my bad, it is Disease MONDO:0004979 > ChemicalSubstance with predicate "correlated_with", sorry! but that's the query I'm running to test this expansion.
So basically the expanded predicates for this query give me:
`["positively_correlated_with","negatively_correlated_with","coexpressed_with","has_biomarker","biomarker_for","correlated_with"]`
And I'm taking those into consideration whe

[2021-06-10 16:55] andrewsu commented on #112
Three great examples of "explain" queries from Sui

![image](https://user-images.githubusercontent.com/2635409/121565938-d5f6c800-c9d1-11eb-84f2-47831e19deff.png)

[2021-06-10 21:51] colleenXu commented on #167
@marcodarko That kind of expansion looks correct.

However, I would try using some different queries for your testing, because that one seems to depend on clinical risk kp api (which doesn't have positively_correlated_with right now and also has some other issues that I'm dealing with).

You could use the query that I gave above (https://github.com/biothings/BioThings_Explorer_TRAPI/issues/167#iss

[2021-06-11 16:42] colleenXu commented on #112
This is not working as-expected.

---

For example, we would expect KCNMA1 -(e0)-> biolink:NamedThing <-(e1)- TAAR1 to do the following:
1. one-hop KCNMA -(e0)-> biolink:NamedThing
2. one-hop TAAR1-(e1)-> biolink:NamedThing
3. either (@andrewsu, we have to pick the desired behavior):
  A. filter so we only keep the answers that came from BOTH one-hops (remove the rest from nodes/edges/results)
  B

[2021-06-11 16:50] colleenXu commented on #112
TRAPI query for KCNMA1 -(e0)-> biolink:NamedThing <-(e1)- TAAR1

[code]
---

Fast One Hop 1: KCNMA1-(e0)-> biolink:NamedThing

[code]

---

Fast One Hop 2: TAAR1-(e1)-> biolink:NamedThing

[code]

[2021-06-14 19:01] cbizon opened #202 "invalid TRAPI 1.1"
For this query:
[code]

to the text mining KP ("https://api.bte.ncats.io/v1/smartapi/5be0f321a829792e934545998b9c6afe")

I'm getting a validation error on the returned response:

[code]

`type` is not an allowed key for an attribute. (https://github.com/NCATSTranslator/ReasonerAPI/blob/master/docs/reference.md)

[2021-06-14 22:34] colleenXu commented on #202
Note @cbizon:

- While the query above does return a response, I believe TRAPI queries don't include the empty "knowledge_graph" or "results" sections. Notice that the [standup meeting queries](https://github.com/NCATSTranslator/testing/blob/main/ars-requests/not-none/1.1/kcnma1DiseaseOrFeature.json) don't include those fields. I linked an example.
- We are aware that the responses we return aren'

[2021-06-15 00:20] ariutta commented on #164
I'm currently getting the following, which doesn't match up with either of the outputs above:

[code]

[2021-06-15 00:30] ariutta commented on #164
Maybe related, I'm getting some error messages when I try running the query for "examples/v1.1/query_multihop_disease_gene_chemical.json":

  biothings-explorer-trapi:batch_edge_query BTEEdges are successfully queried.... +1m
  biothings-explorer-trapi:batch_edge_query Failed to filter 27279 results due to TypeError: Cannot read property 'map
  biothings-explorer-trapi:batch_edge_query Total numbe

[2021-06-15 01:11] colleenXu commented on #164
First, your query is not correct (not TRAPI v1.1). Second, there are known issues with BTE and one of its KP APIs right now. To avoid hitting it, I would do a query like this. This two hop takes my local instance ~32 seconds to return and the response is 20.31 MB.

[code]

[2021-06-15 06:10] colleenXu commented on #171
**These 4 fixes** seem to make the BTE Response validate against the TRAPI v1.1.1 Response schema:

---

-Within each node (the value for each key-value pair in message.knowledge_graph.nodes):
  - rename the key "category" to "categories"
  - take the "categories" key-value pair, and convert its value (currently a string) to a list with 1 element (that string)
  - within the node attributes (the k

[2021-06-15 15:07] newgene commented on #171
`type` --> `value_type_id` is handled in : https://github.com/biothings/bte_trapi_query_graph_handler/commit/4f34d5f922c1914d550a1a9a22662f73282424fd

[2021-06-15 15:19] newgene commented on #171
`category`-->`categories` and make it an array in https://github.com/biothings/bte_trapi_query_graph_handler/commit/ef2ac87612dd663045668a7a37d2239d163601f9

[2021-06-15 18:58] cbizon commented on #202
On the TRAPI query, the Query schema just says that it contains a Message and an optional log.  The knowledge graph and results (and query graph) are all marked nullable in Message.  So I interpret that as saying that either present but empty and absent are both valid for TRAPI Query.

[2021-06-15 21:42] ariutta commented on #164
@colleenXu, I added your query as a new example file:
https://github.com/biothings/BioThings_Explorer_TRAPI/blob/fix_issue_164/examples/v1.1/query_multihop_gene_gene_chemical.json

I also added a test (currently failing) for the desired result for this issue. @newgene (and anyone else), can I get a confirmation that this test correctly describes the desired result?
https://github.com/biothings/Bio

[2021-06-15 21:45] ariutta commented on #164
Feel free to suggest modifications to the test, if you think it should be more tightly defined or be located in a different file.

[2021-06-15 22:37] colleenXu commented on #202
okay. It looks like BTE handles this alright. However, it looks like there may generally be issues with having empty knowledge_graph and results in the query...see https://github.com/NCATSTranslator/ReasonerAPI/issues/258

[2021-06-16 23:17] colleenXu commented on #171
Note: if BTE is hit too hard (> 6 requests/min), the error will look like the screenshot below. The ARS PK is 99f078eb-f5a9-4e7f-a01c-506f0c5baa65.

The short fix is to wait ~ 1 min and then try the ARS query again.

---

![Screen Shot 2021-06-16 at 4 04 23 PM](https://user-images.githubusercontent.com/43731687/122306994-4d3ec700-cebe-11eb-8aa4-da133950439b.png)

---

The Response JSON will look l

[2021-06-16 23:22] colleenXu commented on #171
With the new changes, it looks like BTE Responses are passing the TRAPI v1.1.1 check in the ARAX UI. Closing this issue.

Example 1: one-hop query, ARS pk: 03c4f2bb-69f1-4c4b-9036-5314d842fde4
![Screen Shot 2021-06-16 at 3 52 39 PM](https://user-images.githubusercontent.com/43731687/122307134-95f68000-cebe-11eb-83f4-af6316082ee7.png)

Example 2: two-hop query, ARS pk: 6984684d-e0eb-4136-9dfb-7b443

[2021-06-16 23:22] #171 closed, assigned to colleenXu

[2021-06-16 23:26] colleenXu commented on #195
Marco did address this in the latest release, but now too many logs are being made (one per edge?). So I asked him about fixing that.

This PR looks like it's addressing the current problem: https://github.com/biothings/bte_trapi_query_graph_handler/pull/15

[2021-06-16 23:32] colleenXu commented on #200
I think Marco has addressed this in the latest release.

See the screenshot below where the default score of 1 is there for each result.

The PK for BTE's response is 67713c24-9209-4d14-988d-b973cb8234cf; you can look at it [here](https://arax.ncats.io/?source=ARS&id=67713c24-9209-4d14-988d-b973cb8234cf).

![Screen Shot 2021-06-16 at 4 30 42 PM](https://user-images.githubusercontent.com/43731687/1

[2021-06-16 23:37] colleenXu commented on #167
This looks resolved now.

This query (predicate restriction to "interacts_with" and its children) correctly returns edges with "interacts_with" AND child predicates like "physically_interacts_with" and "directly_interacts_with".

[code]

[2021-06-16 23:44] colleenXu commented on #183
This was a duplicate of #171, and #171 has been resolved. Look there for info.

[2021-06-16 23:44] #183 closed, assigned to marcodarko

[2021-06-16 23:50] #200 closed, assigned to marcodarko

[2021-06-16 23:50] #167 closed, assigned to andrewsu, marcodarko

[2021-06-17 04:48] andrewsu commented on #164
Yes, I think that test accurately describes the desired result. If you want to be even more explicit before writing code, you could create two example outputs, one which fails the test and a reformatted version that passes. But not necessary -- only if useful for you.

[2021-06-17 15:54] colleenXu commented on #202
@cbizon Please try the query again. We are seeing that queries to BTE now have TRAPI-compliant responses.

There are issues that can happen like "too many requests" or "cannot handle a query formatted like this". We currently don't throw TRAPI-compliant output with error codes. My understanding is that the TRAPI group is still working on the set of error codes/expected TRAPI behavior for these sce

[2021-06-17 15:54] #202 closed, assigned to nobody

[2021-06-17 16:02] andrewsu commented on #202
... and for posterity, there is also some relevant info in https://github.com/biothings/BioThings_Explorer_TRAPI/issues/171...

[2021-06-18 04:46] colleenXu commented on #195
From Slack convo:

@marcodarko proposed logs that look like this, and I agree. However, this is not a high priority fix, so it will likely go out with the next release.

[code]

Current logs look like this:
[code]

[2021-06-18 05:45] colleenXu commented on #164
@ariutta Is there a way to make the test more detailed? For example, given this query, this entire result object should exist in the results? I give an example below.

@andrewsu Please advise, since I think this is also desired behavior that we need a test for. I think the TRAPI standard says incomplete paths aren't in the results. This would be a change to BTE's current behavior.

For example, in

[2021-06-19 00:42] colleenXu opened #206 "[fix needed] Procedure semantic type handling"
[EDIT: this ticket is outdated since API's operations have been updated since then. See below for updated queries]

BTE queries Clinical Risk KP API, which has the Biolink Procedure entities (NCIT ID) as possible inputs and outputs. Note that [Biolink](https://github.com/biolink/biolink-model/blob/763c53f5e656bb5c47d99fe893a2bc60bae70b8c/biolink-model.yaml#L6881) doesn't say much about the Procedu

[2021-06-21 05:08] andrewsu commented on #164
@colleenXu I think your proposed test is good but much more brittle, i.e., it's dependent on data resources continuing to return the same data.  So, let's consider this in the future.  But for the moment, I think the simpler test that Anders proposed should move us substantially toward fixing this issue.  Let's reassess after this test passes.

[2021-06-21 05:12] andrewsu commented on #206
@colleenXu for prioritization purposes, can you post (or link to) a query for which Procedures are important?

[2021-06-21 20:11] colleenXu commented on #164
After discussion with Andrew today, the test could have a simple addition:

The node bindings would have n0, n1, and n2, for the specified query.

[2021-06-21 21:42] colleenXu commented on #164
Note for @andrewsu and me:

- it seems like results should only have complete answers (aka there must be an edge from n0 -> n1 AND an edge from n1 -> n2 in order for it to be in the results section).
- However, it's hard to figure out exactly where this was discussed in Translator. There's [the comment on my issue here](https://github.com/NCATSTranslator/ReasonerAPI/issues/220#issuecomment-8053029

[2021-06-22 00:04] ariutta commented on #164
@colleenXu, as @andrewsu said, the test you suggested would be brittle for this repo, but it might actually be perfect for QueryResult.test.js in the bte_trapi_query_graph_handler repo. The difference is that we have control over the records in QueryResult.test.js because we're specifying them manually, not getting them from an API every time.

What do you and @andrewsu think of adding your test t

[2021-06-22 00:50] ariutta commented on #164
@andrewsu, I have a rough WIP going on here:
https://github.com/biothings/bte_trapi_query_graph_handler/commit/97963b6f3379de4f1ed7ff8e5bedbcd303f34271

The basic idea is that if we want `QueryResult.update()` to only have `queryResult` as input, we'll need to do some kind of mapping from previous output result index to node ID. I think my current code fails because it assumes there's no expansion

[2021-06-22 01:15] colleenXu commented on #112
This is a special kind of Explain-query we also want to support (see TRAPI query below): ChemicalSubstance celecoxib (PUBCHEM.COMPOUND:2662) -> PTGS1 (HGNC:9604). It's from a Translator standup [meeting](https://github.com/NCATSTranslator/testing/issues/79).

The minimal expected behavior is:
1. BTE queries ChemicalSubstance PUBCHEM.COMPOUND:2662 -> Gene.
2. Then BTE then "filters": only the answe

[2021-06-22 01:23] colleenXu commented on #112
This functionality is high priority since it's come up in standup queries and the demo (Workflow D, maybe Workflow C).

[2021-06-22 03:00] colleenXu opened #207 "Update to Biolink 2.1.0"
Translator has a compliance deadline of July 1st for "Biolink 2.0.2" for KPs/ARAs.

I'm not sure of all the code that needs to be changed, but this update probably involve changes to:
- https://github.com/biothings/biolink-model.js
- biomedical_id_resolver
  - https://github.com/biothings/biomedical_id_resolver.js/blob/master/src/config.ts
  - https://github.com/biothings/biomedical_id_resolver.js

[2021-06-22 17:41] #189 closed, assigned to ariutta

[2021-06-22 19:03] andrewsu opened #208 "update edge provenance info to comply with Translator Standard -- July 1"
The parent ticket is here: https://github.com/NCATSTranslator/TranslatorArchitecture/issues/48

This is an example edge with provenance:

[code]

These are the desired edge properties (copied from the parent ticket):

[code]

[2021-06-22 20:16] marcodarko commented on #195
Issue addressed on https://github.com/biothings/bte_trapi_query_graph_handler/pull/16/commits/4b10df0a4f0af169b4cefe5435b2a0d0f9dd5f43

[2021-06-22 20:16] #195 closed, assigned to marcodarko

[2021-06-22 20:21] marcodarko commented on #184
Issue has been resolved and prefix applied correctly on this PR https://github.com/biothings/biomedical_id_resolver.js/pull/55/commits/78f985e026d43eab856e93ecbe7e95b1a47aa3c7
from related issue https://github.com/biothings/biothings_explorer/issues/181

[2021-06-22 20:21] #184 closed, assigned to marcodarko

[2021-06-22 23:26] colleenXu opened #209 "[bug] missing Automat publications (and other attributes)"
### Summary

Bug: Automat services are returning publications + other attributes in their edge properties, which we aren't picking up.

Expected behavior: For TRAPI APIs, we should ingest and keep their edge attributes (a caveat is what if those edge attributes aren't TRAPI/biolink compliant? but this shouldn't be much of a concern. They should be since they're TRAPI APIs...).

---

### Example:

[2021-06-22 23:49] colleenXu opened #210 "[bug] BTE query fail for DGIdb ChemicalSubstance -> Gene"
BTE isn't including the prefix that DGIdb needs for its queries. And that prefix is needed on every ID...

My plan is to change the registry file. Change x-bte operation to use the GET request, then add the prefix to the query string so that BTE will format it correctly. This should make BTE slightly less efficient when it comes to this API, but this fix won't involve writing logic/exceptions into

[2021-06-23 08:01] colleenXu commented on #208
[updated 7/21 to reflect the discussion in the 7/20 lab call; rearrange to put what we're doing first at the top]

---

### Situation B: BTE uses x-bte to get edge, API called counts as an "aggregator". This is the situation for most APIs BTE uses (see Situations A/C for the exceptions).

#### Update notes:
- What if this field doesn't exist in the SmartAPI registry entry? We could take the API na

[2021-06-23 15:15] andrewsu opened #211 "update smartAPI registry record for BTE"
just realizing that the smartAPI registry record for BTE (https://smart-api.info/registry?q=dc91716f44207d2e1287c727f281d339) points to this OpenAPI file (https://raw.githubusercontent.com/NCATS-Tangerine/translator-api-registry/master/biothings_explorer/smartapi.yaml) which has paths for `/v1/meta_knowledge_graph/`, `/v1/query`, etc.  We should move that `v1` prefix to `servers.url`.

Doesn't aff

[2021-06-23 19:06] r76941156 opened #212 "BTE did not find a subset of DMDB edges"
There are 16 edges of <a href='https://github.com/biothings/BioThings_Explorer_TRAPI/issues/181'> DMDB </a> could not be found from SemMedDB APIs after validations with the latest copy of SemMedDB. After doing some studies, I found below issues/actions have to be addressed:

1. Review and update data in SemMed-related APIs
2. BTE did not (trigger to) find any edges for Drug (ChemicalSubstance in B

[2021-06-23 19:11] r76941156 commented on #181
Final result  will depend on the fix of <a href='https://github.com/biothings/BioThings_Explorer_TRAPI/issues/212'>#212</a>

[2021-06-23 21:17] colleenXu commented on #210
I've checked and the PRs fixed the issue. I ran queries like this to see if it would set up the queries correctly and get answers back and it does:

[code]

I get logs like this:
[code]

and edges like this:
[code]

[2021-06-23 21:17] #210 closed, assigned to colleenXu

[2021-06-24 16:15] andrewsu opened #213 "include ICEES as a BTE resource"
ICEES has dropped the requirement for an API key, and I believe the ICEES KP has expanded beyond the limited asthma data in previous iterations.  We should look at incorporating it as a knowledge source for BTE.

@karafecho, can you give us an example query and result that we should be able to get?

Might also be related to https://github.com/biothings/BioThings_Explorer_TRAPI/issues/153, which wo

[2021-06-24 16:20] andrewsu opened #214 "create tests for non-canonical query topolgies"
We should check whether BTE is correctly normalizing alternate representations of one query.  For example I would expect that `ChemicalSubstance[id:XXXX]` - `treats` - `Disease` would return the same results as `Disease` - `treated_by` -> `ChemicalSubstance[id:XXXX]`.

We should also test longer query paths, ie `A[id:XXX]` -> `B` -> `C` should be the same as `A[id:XXXX]` -> `B` <- `C`.

Assuming t

[2021-06-24 16:58] colleenXu commented on #214
TDLR:

- **bug with predicate restriction. When BTE correctly flips an edge for querying, some fix is needed so the predicate restriction is then done correctly.**
- Potential fixes: Either (1) the predicate restriction has to use the inverse predicate for filtering/restriction OR (2) the answer edges all need to flip predicates first, then predicate restriction using the query edge's predicate ca

[2021-06-24 17:07] colleenXu commented on #214
For @andrewsu 's note above:

1 hops seem to work fine right now. My tests were here. I can add another test for ChemicalSubstance treats Disease and vice versa if you would like.

See my review [here](https://docs.google.com/document/d/1cttJ9pis20HxOMLx9CPdhc3VQYMgQ1-64LV7K8PYdBw/edit?usp=sharing)

[2021-06-24 18:07] colleenXu opened #215 "[quick fix] is CTD api really used by BTE"
check if "CTD api" is in the metaKG, and if not, remove it from the file.

This list of APIs is what BTE uses. It includes an api named ["CTD API"](https://github.com/biothings/BioThings_Explorer_TRAPI/blob/b6a16cd95451087e238ac1019e14a1f4807491e6/src/routes/v1/config.js#L4). However, the smartapi registry doesn't seem to have an [api](https://smart-api.info/registry?q=ctd) with this name (the aut

[2021-06-24 19:05] colleenXu commented on #207
### PRs to merge to move to v2.1.0:

[EDIT: 7/29 for biolink-model module fix]

#### BTE JS tool code updates (branch `biolink_v2.1` for all):
- https://github.com/biothings/biomedical_id_resolver.js/pull/73
- https://github.com/biothings/bte_trapi_query_graph_handler/pull/23
- https://github.com/biothings/biolink-model.js/pull/17
- https://github.com/biothings/BioThings_Explorer_TRAPI/pull/238

#

[2021-06-24 19:20] karafecho commented on #213
Sure thing, Andrew.

[ICEES wiki page](https://github.com/NCATSTranslator/Translator-All/wiki/Exposures-Provider-ICEES)
[ICEES DILI Swagger interface](https://icees.renci.org:16341/apidocs#/)
Example one-hop query:
curl -XPOST https://icees.renci.org:16341/query -H "Content-Type: application/json" -d '{"message": {"query_graph": {"nodes": {"n0": {"name": "drug-induced liver injury", "ids": ["MONDO

[2021-06-24 19:52] colleenXu commented on #207
@newgene @andrewsu check how BTE is loading the biolink model (which yaml).

If it's loading something older/cached, we will want it to get the latest biolink model yaml off of master when we do the update to v2.0.

[2021-06-24 21:01] andrewsu commented on #212
Let me add a bit more context.  Sander's work on #181 revealed a few things we will want to do with the semmed APIs.  I asked him to create this ticket to start discussions on prioritizations

* the Semmed APIs appear to be based on the 2020 data files -- would be good to update them to the latest 2021 files (related to https://github.com/biothings/pending.api/issues/25)
* we need to update the AP

[2021-06-24 21:10] andrewsu commented on #207
@colleenXu I think you're right.  In https://github.com/biothings/bte_trapi_query_graph_handler/blob/main/src/biolink.js#L9, looks like Biolink model is being loaded from this cached version https://github.com/biothings/bte_trapi_query_graph_handler/blob/main/src/biolink.json.

[2021-06-29 16:40] andrewsu opened #217 "annotate mychem.info fda_adverse_event mapping to "biolink:causes_adverse_event""
mychem reports adverse event data from FAERS (through drug central).  For example: https://mychem.info/v1/query?q=drugbank.name:nitisinone&fields=drugcentral.fda_adverse_event

[code]

We should add an edge in the mychem openapi file (https://github.com/NCATS-Tangerine/translator-api-registry/blob/master/mychem.info/openapi_full.yml) that links `ChemicalSubstance` to `DiseaseOrPhenotypicFeature` u

[2021-06-30 18:25] ericz1803 commented on #194
After some investigation, any time one of the `v1` endpoints are hit, a new knowledge graph is generated. For example, for the `/v1/meta_knowledge_graph` route, it calls the [`getKG`](https://github.com/biothings/BioThings_Explorer_TRAPI/blob/main/src/routes/v1/meta_knowledge_graph_v1.js#L8) function, which creates a new knowledge graph (See https://github.com/biothings/BioThings_Explorer_TRAPI/bl

[2021-07-06 18:03] AlexanderPico commented on #208
![Screen Shot 2021-07-06 at 10 59 42 AM](https://user-images.githubusercontent.com/1418193/124646701-d6a44200-de49-11eb-9395-f5787827b9c6.png)

[2021-07-07 04:13] colleenXu commented on #217
My understanding is that we try NOT to map to those higher biolink entity classes.

I would suggest using PhenotypicFeature (or maybe Disease) rather than DiseaseOrPhenotypicFeature. With the example link above, most things look like PhenotypicFeatures (one exception is Hepatocellular carcinoma).

For the operation above, the IDs are names (ChemicalSubstances) and MEDDRA (PhenotypicFeatures?). Per

[2021-07-07 04:40] colleenXu commented on #206
Procedures currently aren't used in queries. However, they could be valid "treatments" besides ChemicalSubstances.

After more looking, I think we still would need an API endpoint that can handle "Procedure" ID resolution, rather than using Clinical risk api as it currently is. This is because there isn't an easy way to batch-query and get the IDs and their labels.

[2021-07-07 04:44] colleenXu commented on #207
[UPDATE: this bug is fixed; there's another bug now...]

The Architecture call confirmed that we should move to [v2.1.0](https://github.com/biolink/biolink-model/releases/tag/2.1.0).

<br>

@newgene to review BTE code to see where else we need to update. Notes for Chunlei below:
- It looks like the biolink-model module crashes soon after BTE is started. This seems to happen when trying to parse th

[2021-07-07 04:45] colleenXu commented on #211
as-of 6/24/21, the discussion was that there's a /metakg endpoint (no v1 in the path). So it wasn't clear whether to do this change then or not

[2021-07-08 15:55] andrewsu commented on #164
reassigned this to Colleen to do some confirmation testing that the behavior is as expected

[2021-07-08 16:04] andrewsu commented on #112
Note that @ericz1803 found this repo https://github.com/kevinxin90/explain.js from Kevin that handles the special case of explain queries with one intermediate node (used at https://biothings.io/explorer/explain).  It is based on `@biothings-explorer/call-apis` and `@biothings-explorer/smartapi-kg`, so may be useful to consult when implementing explain queries in the main application. In fact, it

[2021-07-08 16:11] andrewsu opened #219 "incorporate Connections Hypothesis Provider (CHP) API as a knowledge source"
SmartAPI annotation file here: https://github.com/di2ag/chp_metadata/blob/master/smartapi.yaml

Is this sufficient for inclusion in BTE?

[2021-07-08 16:35] colleenXu commented on #164
[EDIT: Anders's work hasn't been pushed to the npm release yet, which is why my current environment and the public BTE instance haven't changed yet] Strangely, I don't see the expected "fix" and the behavior looks the same as before.

---

This is what I did for a quick test:

- run the query below on BTE using DGIdb only (https://api.bte.ncats.io/v1/smartapi/e3edd325c76f2992a111b43a907a4870/query

[2021-07-08 16:41] andrewsu commented on #112
one-hop explain query:

[code]

two-hop explain query (version 1):

[code]

two-hop explain query (version 2):
[code]

[2021-07-09 16:43] colleenXu opened #220 "BTE sometimes fails, errors (id resolving + node updating)"
### To-do:
- figure out what is going on with this error and how to fix/manage it
- get BTE to return error/warning codes + TRAPI-compliant JSON when errors happen

---

### The error users see

When processing the query below, BTE sometimes errors, returning this response:
{
    "error": "TypeError: Cannot read property '0' of undefined"
}
This is not a TRAPI-compliant JSON response, so the ARAX

[2021-07-12 04:51] andrewsu commented on #217
The commit to add `x-bte-kgs-operations/causesAdverseEvent` and `x-bte-kgs-operations/adverseEventCausedBy` in https://github.com/NCATS-Tangerine/translator-api-registry/commit/9155bf80aa28d62c9c276a5788bbb38dc648993a looks good to me. The use of Phenotypic Feature instead of DiseaseOrPhenotypicFeature sounds good to me.  Do we also _need_ to add MEDDRA as a Disease ID (https://github.com/biothing

[2021-07-12 20:06] andrewsu commented on #211
@newgene going do defer this one to you.  We could either:

* delete the `/metakg` endpoint (because no one that we know really uses it), and then move the `v1` prefix on paths to `servers.url`
* close this issue with no changes since no one really consumes (that we know of) the BTE SmartAPI record

[2021-07-12 20:47] newgene commented on #194
@ericz1803 on production bte server, we run `node src/server.js` directly, so no server restart when two smartapi data files are updated. Here in `package.json` file, it will be just up to how people use `npm start` in their development flow. I typically just use `npm run debug` on my local which will auto-restart with debug logs turned on.

[2021-07-12 20:49] newgene commented on #194
And I agree with @andrewsu, a daily refresh should be good enough.

[2021-07-12 21:21] newgene commented on #211
@andrewsu @colleenXu yes, I agree on both. `/metakg` is internal, no need to, also should not, be exposed publicly.

[2021-07-13 17:20] andrewsu commented on #164
From 2021-07-13 Translator: meeting
* @newgene to look into loss of score in results section; add test
* @colleenXu to do small test of performance comparing performance on prod and test and post results here

[2021-07-13 17:21] ariutta commented on #164
## Missing Score

Old code - automatically always sets it as `'1.0'` here:
https://github.com/biothings/bte_trapi_query_graph_handler/blob/87878936ce00b4bd3893243e65e0bdeb778660a2/src/query_results.js#L45

New code - maybe add `"score": "1.0"` here:
https://github.com/biothings/bte_trapi_query_graph_handler/blob/7ec30dcfc14a1e2a822aedd3d54128a90a376b7a/src/query_results.js#L74

[2021-07-13 17:27] ariutta commented on #164
@newgene, before we close this issue, do you want to delete `_createEdgeBindings` and `_createNodeBindings`? I left them to be conservative with my change, but they aren't used anywhere except the test, so leaving them might actually be confusing.

https://github.com/biothings/bte_trapi_query_graph_handler/blob/7ec30dcfc14a1e2a822aedd3d54128a90a376b7a/src/query_results.js#L86

[2021-07-13 18:25] andrewsu commented on #208
As a very quick recap of today's discussion, @ariutta will take the lead on modifying the structure of the JSON output in the edge attributes, and @colleenXu will take the lead on updating the SmartAPI records for where most of those values are drawn. There undoubtedly will be other details and edge cases to fix later, but let's start with that...

[2021-07-13 20:06] colleenXu commented on #164
### Performance with Anders's code

TDLR: very similar to before. I did 4 tests below, with small-scale multi-hop queries...
dev has Anders's multi-hop code, doesn't have scoring (BUG)
prod doesn't have multi-hop code, does have scoring
testing involves running 1 query for prod, then waiting several min before running that query on dev (or vice versa).

---

### test 1
Query 1 (see section below),

[2021-07-13 21:11] #194 closed, assigned to nobody

[2021-07-13 22:47] colleenXu commented on #208
I have edited my post above to reflect today's call. @andrewsu and @ariutta, please review at minimum the section under "Scenario B" and confirm whether these tasks/decisions correctly reflect today's decisions.

[2021-07-14 20:56] colleenXu commented on #217
TDLR: deciding to map MEDDRA IDs to Disease semantic type right now, since

1. we have the most mapping support for it in MyDisease right now
2. this will likely be useful for use cases (doing another hop from the Disease to treatments like chemicals, for instance)

---

Comparing the xrefs to MEDDRA that we have right now:

- MyDisease.info has 1396 records with [mondo.xrefs.meddra](https://mydis

[2021-07-15 22:29] ariutta commented on #164
I added `score`, removed unused methods  `_createEdgeBindings` and `_createNodeBindings` and updated tests to reflect these changes.

Based on @colleenXu 's results, it appears there's no significant change to performance.

As far as I can see, this issue is ready to be closed.

[2021-07-16 03:44] andrewsu opened #222 "BTE unable to retrieve homologs and orthologs"
I am unable to retrieve homologs (and specifically orthologs) for Genes using the TRAPI query below.  This information is in mygene.info (http://mygene.info/v3/gene/1017?fields=pantherdb.ortholog). I believe BTE attempts to retrieve this info under `pantherdb.ortholog.MGI` as indicated in https://github.com/NCATS-Tangerine/translator-api-registry/blob/master/mygene.info/openapi_full.yml#L876, but

[2021-07-16 04:14] newgene commented on #222
@andrewsu I was able to get the expected result, but need to remove trailing comma from `"biolink:orthologous_to",` line.

[2021-07-16 04:23] andrewsu commented on #222
argh, that was a last second edit to the TRAPI that I didn't explicitly test.  But I could have swore I tested `biolink:homologous_to` and `biolink:orthologous_to` individually with no results.  Must have done something different, thanks for catching my mistake!

[2021-07-16 04:23] #222 closed, assigned to nobody

[2021-07-16 16:28] andrewsu opened #223 "add COHD as a data source"
Issue to track integration of COHD as a data source for BTE.

smartAPI record: https://smart-api.info/registry?q=70117385218edc9bc01633829011dfcf
related standup query: https://github.com/NCATSTranslator/testing/issues/88

I'm guessing the primary issue is adding OMOP as a valid identifier in our various ID resolution services...

[2021-07-19 05:16] colleenXu commented on #217
How to find examples to test BTE with:

1. Look at MyDisease for records with [the meddra xrefs](https://mydisease.info/v1/query?q=_exists_:%22mondo.xrefs.meddra%22%20OR%20_exists_:%22disease_ontology.xrefs.meddra%22)
2. Query MyChem for records with the meddra code like [this](https://mychem.info/v1/query?q=drugcentral.fda_adverse_event.meddra_code:10001052&fields=drugcentral.fda_adverse_event,dr

[2021-07-19 05:30] colleenXu commented on #211
Should be addressed by the merged PR linked above. Closing issue.

[2021-07-19 05:30] #211 closed, assigned to colleenXu

[2021-07-19 16:24] andrewsu commented on #217
I didn't do a live test, but these changes look like they address the intent and desired behavior describe in this issue...

[2021-07-20 20:19] newgene opened #224 "add a query parameter to disable redis caching"
By default, Redis caching is enabled when `REDIS_HOST` and `REDIS_PORT` env variables are provided. Sometime, for debugging purpose, just to rule out the issue with the caching, we want to query BTE without caching. An extra query parameter like `caching=false` can be added to temporarily disable the caching.

Relevant code is here:

https://github.com/biothings/bte_trapi_query_graph_handler/blob/

[2021-07-21 23:38] ericz1803 commented on #224
Just to clarify, you want an option for the user to specify a caching param in the request?

[2021-07-22 00:36] colleenXu commented on #164
I can confirm by sending queries to the dev instance of BTE, that scores are now appearing in the correct parts of the result object for single and multi-hop Predict-style responses.

Closing this issue

[2021-07-22 00:37] newgene commented on #224
This is what I have in mind:

Dy default, the query is submitted like this:

POST /v1/query (with the body as the query graph)

With an optional query parameter, we can make the same query like this:

POST /v1/query?caching=false (body is the same query graph)

to disable the default caching behavior.

[2021-07-22 01:00] colleenXu commented on #217
[edit: Fix was to use drugcentral.xrefs.chembl_id (1994 / 2016 of the drugcentral adverse event records also have this field]

The operation for Chemical -> Disease will sometimes encounter issues with ID resolving the chemical.

There are 2016 records with [drugcentral adverse event info](https://mychem.info/v1/query?q=_exists_:drugcentral.fda_adverse_event), and [1768 of them](https://mychem.inf

[2021-07-23 01:07] marcodarko commented on #112
https://github.com/biothings/BioThings_Explorer_TRAPI/issues/112#issuecomment-865448828
[csgene.txt](https://github.com/biothings/BioThings_Explorer_TRAPI/files/6866101/csgene.txt)
These are the results I'm getting using the new query handler algorithm, just wanna make sure it's looking OK.  Going through some of the queries here as I read it.

[2021-07-23 01:09] marcodarko commented on #112
[code]

This is the new result for this two hop query above, new logs will explain the process hopefully.
[twohop.txt](https://github.com/biothings/BioThings_Explorer_TRAPI/files/6866112/twohop.txt)

[2021-07-27 02:49] colleenXu opened #226 "handle TRAPI v1.2 "operations" in query"
TRAPI v1.2 queries/requests will include a "workflow" field like this:
[code]

BTE's behavior: we plan to only support doing the "lookup" operation of a workflow (Translator documentation [here](https://github.com/NCATSTranslator/OperationsAndWorkflows/wiki/How-to-%22do%22-operations))

<br>

### Case 1

BTE either:
A. Gets a TRAPI query/request like the example above. There's 1 object in the work

[2021-07-27 16:28] andrewsu opened #227 "BTE and "reverse" semmed operations"
When issuing this query for ChemicalSubstances related to cyclic vomiting, we expect BTE to return a result for (at least) isopropyl alcohol.  Currently BTE returns no results.

[code]

`HP:0002013` should get translated to `UMLS:C0042963` via http://pending.biothings.io/hpo/phenotype/HP:0002013, and then we should be able to get that `UMLS:C0042963` is treated by isopropyl alcohol (`UMLS:C0022237

[2021-07-27 16:43] andrewsu commented on #227
There are three options for solving this:

1. adding in all reverse triples into the semmed APIs via the semmed parsers
2. adding in reverse operations in `x-bte`
3. adding logic within BTE to understand inverse edges and query appropriately

After discussion with @colleenXu, we will go forward with option 2 above -- Colleen will update `x-bte` for the semmedchemical API to test that this fixes th

[2021-07-27 20:49] bill-baumgartner opened #228 "Add TRAPI version to Text Mining Provider endpoint URLs"
Hi BTE,

As mentioned during the Architecture call today (7/27), it is recommended practice to include the TRAPI version as part of a TRAPI endpoint URL. This issue is simply a request to add the TRAPI version to the Text Mining Provider endpoint URLs if possible. Thanks!

[2021-07-27 20:53] bill-baumgartner opened #229 "Support for Service Provider handling of updated KGX file format for Text Mining Provider"
Hi BTE,

During the Data Modeling call on 7/22, Chris Mungall presented several proposals for updating the KGX file format to handle the new attribute/provenance model. One of the formats (Option 4) was the consensus pick for moving forward during the call. We have worked through an example of expressing provenance of our text-mined assertions using this new format (see the bottom of [this issue](

[2021-07-28 16:34] andrewsu commented on #226
I think to make it backward compatible with our other example queries, what do people think about this behavior: (UPDATED 2021-08-04)

* If `workflow` is specified and `"id": "lookup"` is the only value, **--OR--** no `workflow` is specified: follow case 1 described in @colleenXu's comment above
* If `workflow` is specified but `"id": "lookup"` is NOT included **--OR--** `workflow` is specified an

[2021-07-28 16:57] newgene opened #231 "BTE still get metakg from /predicates endpoint for some TRAPI 1.1 API"
This is from the logs when `updateSmartAPISpecs` cron job is running:

[code]

Many TRAPI API above should be the v1.1 API which implements `/meta_knowledge_graph` already.

[2021-07-28 18:36] colleenXu commented on #226
@andrewsu @ericz1803 I'm updating the comment with Andrew's feedback and what I know from Translator so far.

I think the Translator [guidance](https://github.com/NCATSTranslator/OperationsAndWorkflows/wiki/How-to-%22do%22-operations) says that if a tool is given a query with MULTIPLE operations (including lookup), and the tool can only do lookup, it shouldn't do anything - it should return an err

[2021-07-28 20:42] andrewsu opened #232 "investigate use of ARAX NGD service for results scores"
related to https://github.com/biothings/BioThings_Explorer_TRAPI/issues/201

[2021-07-29 00:48] newgene opened #233 "allow BTE to load a specific revision of the API metadata when specified"
By default, smartapi-kg package loads the latest API metadata from SmartAPI registry. It would be very useful if we can specify a github revision of this API metadata (only when the registered API metadata is hosted on github.com).

For example, if we can specific in a BTE config:

[code]

[2021-07-29 15:35] andrewsu commented on #213
From @karafecho (thank you Kara!) via https://github.com/NCATSTranslator/minihackathons/issues/68#issuecomment-889241831

[2021-07-29 16:22] andrewsu commented on #208
Quick note that the ARAX results viewer for Translator now has a nice visualization for the edge provenance info.  For example, from https://arax.ncats.io/?source=ARS&id=a7af1e97-eae3-430d-b570-4da271ea56c7

![image](https://user-images.githubusercontent.com/2635409/127528485-f7afbe99-e3c5-4e86-83fe-0da5682b25cf.png)

[2021-07-29 18:16] andrewsu opened #234 "biolink:undefined on node categories"
Currently seeing `biolink:undefined` as a node category on the prod instance, which causes TRAPI validation to fail.  Example:

[code]

the above behavior is found on all 320 nodes returned from this query:

[code]

[2021-07-29 18:17] andrewsu commented on #234
This behavior is seen reproducibly when querying the prod instance (https://api.bte.ncats.io/v1/query), but **not** seen when querying the dev instance (https://dev.api.bte.ncats.io/v1/query/) or my local instance.  So I'm going to close this issue now, but at least creating it for future reference.

[2021-07-29 18:49] andrewsu commented on #213
Here is an example query that takes advantage of the ICEES DILI Instance:

[code]

In theory, adding the API names above to `/src/routes/v1/config.js` (as in the diff below) should be enough to get them incorporated into BTE, since these all natively handle TRAPI queries.

[code]
But Chunlei made these changes on dev (https://dev.api.bte.ncats.io/v1/query/) and the query above still returns zero r

[2021-07-29 18:59] andrewsu commented on #213
Also relevant from @newgene:
http://localhost:3000/metakg?api=ICEES%20DILI%20Instance%20API returns empty
v.s.
http://localhost:3000/metakg?api=MyDisease.info%20API returns all MyDisease edges

[2021-07-29 23:02] tokebe commented on #231
This is caused by cases where both `/meta_knowledge_graph` and `/predicates` are present for a hit when parsing `smartapi_specs.json`. See my fix on the `fix_issue_231` branch.

[2021-07-30 13:53] karafecho commented on #213
Looping in @xu-hao...

[2021-07-30 15:25] andrewsu commented on #234
I see the same `biolink:undefined` behavior on dev for this query, so reopening this issue:

[code]

Query from https://github.com/NCATSTranslator/testing/issues/93

[2021-07-30 15:30] andrewsu opened #236 "populated knowledge_graph nodes and edges but no results"
The two queries below return a response with a populated `knowledge_graph` but a zero-length `results` section.

[code]

[code]

Original behavior and examples from https://github.com/NCATSTranslator/testing/issues/93

[2021-07-30 16:36] #231 closed, assigned to tokebe

[2021-07-30 19:10] colleenXu commented on #236
Note that both of these are Explain-type queries (n0 with ID -> n1 with category <- n2 with ID). Should be handled with Marco/Anders work.

Also, I've edited them to use SmallMolecule instead, below

---

Query 1:
[code]

Query 2:
[code]

[2021-08-01 05:35] andrewsu opened #237 "incorporate homolog/ortholog relationships into December demo queries?"
I don't recall that many of the December demo queries take advantage of homology relationships, particularly orthology in model organisms.  BTE does that reasonably well for mouse genes and associated diseases/phenotypes using https://biothings.ncats.io/mgigene2phenotype, so it could be a distinguishing feature.  For example, here is a query that starts with human PAX6 and asks for related homolog

[2021-08-02 22:16] andrewsu commented on #228
@bill-baumgartner because adding the TRAPI version number might imply that we will be supporting and maintaining older minor versions, and because we're not ready to commit to supporting multiple versions of each endpoint, we are planning on tabling this ticket until a later time (perhaps after the December demo).  Does that sound reasonable?

[2021-08-02 22:19] andrewsu commented on #229
@bill-baumgartner As we ramp up to the December demo, we don't have the bandwidth to add another import format to our BioThings SDK.  Does the current file export contain all the necessary provenance (or can it be easily extended to include that)?  Alternatively, your team would be welcome to adjust the specific parser used for the text mining API.

[2021-08-03 05:49] andrewsu commented on #220
downprioritizing this issue because it's a sporadic error so is tough to reproduce.

[2021-08-03 07:15] colleenXu commented on #208
@ariutta All APIs with yamls in registry update [here](https://github.com/NCATS-Tangerine/translator-api-registry/pull/76) are updated to address this issue. Note that [3 APIs](https://github.com/NCATS-Tangerine/translator-api-registry/pull/76#issue-702011405) don't have the "hard-coded" source field anymore; this is fine - they just won't have the corresponding attribute object in their attribute

[2021-08-03 15:39] bill-baumgartner commented on #228
Sounds good to me @andrewsu. Thanks!

[2021-08-03 16:14] andrewsu commented on #234
another example that occurs on current prod.  (adding it here because not sure the above two queries are currently returning this error.)

[code]

[2021-08-03 16:22] andrewsu commented on #164
reopening this issue because I think I'm seeing the same (or a related) issue.  Here is the query (three-node, two edges):
[code]

The `results` objects only have nodes for `n0` and `n1`, and only have an edge for `e0`.
![image](https://user-images.githubusercontent.com/2635409/128050963-ffb2ff5f-bd16-4840-8cc4-caf736f81878.png)

@ariutta can you have a look please?

[2021-08-03 17:58] colleenXu commented on #228
Sorry for the closing / reopening issue confusion. I think this issue can either be kept open but "dormant" for now, or can be closed. @andrewsu can make that choice...

[2021-08-03 18:18] colleenXu commented on #234
@tokebe

I've been wondering if this happens more often with 1 or 2 specific scenarios:

1. BTE is encountering a semantic category / ID prefix combo that it doesn't fully support. This is related to what is in [these](https://github.com/biothings/biomedical_id_resolver.js/blob/master/src/config.ts) [3](https://github.com/biothings/biomedical_id_resolver.js/blob/master/src/common/types.ts) [files]

[2021-08-03 18:28] andrewsu commented on #237
tagging @colleenXu to keep an eye out for opportunities to use these edges in use cases.

also linking https://github.com/biothings/pending.api/issues/28, which should expand the number of human diseases linked to those orthologs in model organisms.

[2021-08-03 20:40] bill-baumgartner commented on #229
The current file format does not support the new provenance standard, though I'm guessing it can be extended (note that the links above go to Kevin's personal github as he wrote the original parser). In order to update it I think I would need some guidance on how to integrate with BTEs support for the provenance model. Alternatively, what process is used to import the Multiomics KP? Does that proc

[2021-08-04 20:19] colleenXu commented on #217
Should be addressed, since both PRs are merged now.

[2021-08-04 20:19] #217 closed, assigned to colleenXu

[2021-08-04 20:51] colleenXu commented on #130
Closing because BTE is not ingesting OpenTargets for now https://github.com/biothings/BioThings_Explorer_TRAPI/commit/7a37fc40695a7f0369ccdb8ac36391258effba00

[2021-08-04 20:51] #130 closed, assigned to nobody

[2021-08-04 21:00] colleenXu opened #240 "OpenTargets: using GraphQL or data parsing"
It looks like the [OpenTargets](https://platform-docs.opentargets.org/data-access) API that BTE was ingesting is no longer available.

Instead, there's a [GraphQL API](https://platform-docs.opentargets.org/data-access/graphql-api), Google BigQuery instance, and [data downloads](https://platform-docs.opentargets.org/data-access/datasets) available. We could try:
- changing the [SmartAPI yaml](https

[2021-08-04 21:10] colleenXu opened #241 "support biolink model mixins"
Biolink model has "mixin" classes like [ChemicalOrDrugOrTreatment](https://github.com/biolink/biolink-model/blob/217a5d238286b8e39c405fbfb7e2291afb6ad783/biolink-model.yaml#L6464) which includes [ChemicalEntity](https://github.com/biolink/biolink-model/blob/217a5d238286b8e39c405fbfb7e2291afb6ad783/biolink-model.yaml#L7280), [Drug](https://github.com/biolink/biolink-model/blob/217a5d238286b8e39c405

[2021-08-05 04:26] andrewsu commented on #226
Great, I updated my previous comment to better align with the case that Colleen mentioned above for multiple operations. @ericz1803, please confirm your PRs follow the rules above (or adjust accordingly), then post a comment here.

Completion deadline of 2021-09-01, but would be great to get this done far before then.

[2021-08-05 04:29] ericz1803 commented on #226
Yup, it will return an error if the length of the `workflow` array is anything other than 1.

[2021-08-05 15:37] andrewsu commented on #190
The translator-wide decision on how to handle edge/result merging was summarized in this PR https://github.com/NCATSTranslator/TranslatorArchitecture/pull/56

The query here https://github.com/NCATSTranslator/testing/blob/main/ars-requests/not-none/1.1/enalaprilDisease.json (results: https://arax.ncats.io/?source=ARS&id=509200a2-9e4d-490e-b93a-c67178b7b358; screenshot below) seems like an example

[2021-08-05 16:22] andrewsu opened #242 "MEDDRA nodes not resolving human-readable names"
The **query** below identifies many adverse events related to the drug ENALAPRIL, I think all via the mychem.info API (related to https://github.com/biothings/BioThings_Explorer_TRAPI/issues/217). However, the MEDDRA IDs do not resolve to human-readable names.  For example, see **screenshot** from the ARAX viewer (https://arax.ncats.io/?source=ARS&id=0ec48c05-fa32-4b91-b6c8-dfc37f14d326), or the *

[2021-08-05 17:21] ariutta commented on #164
@andrewsu, I created a draft version of a test for the case you described above:
https://github.com/biothings/bte_trapi_query_graph_handler/blob/fix_issue_164a/__test__/integration/QueryResult.test.js#L333

The records have some placeholder values (see `please_fix`), but I expected this test to still correctly match the real example of what you saw.  However, it doesn't, because it currently retur

[2021-08-05 17:42] ariutta commented on #164
In the two results you got, I notice `n1` and `e0` are different for each result, but both of the `n1` values appear to be in the `biolink:BiologicalProcessOrActivity` category (Acclimatization and Cerebrovascular Circulation).

[2021-08-05 17:57] andrewsu commented on #164
Can you confirm you see the results above when POSTing the query to https://api.bte.ncats.io/v1/query?  I confirm that I get zero results when posting to dev (which I thought was due to the Biolink Model v2.1 update, but changing `ChemicalSubstance` to `SmallMolecule` doesn't fix it, so I think I'm missing something here...)

Hmm, that's a bit too deep into the code for me to have an informed answ

[2021-08-05 23:11] colleenXu commented on #242
I don't see the meddra term names in MyDisease.info (https://mydisease.info/v1/metadata/fields).

we would need the field for meddra names, and would need to add it to the [disease names](https://github.com/biothings/biomedical_id_resolver.js/blob/da6df549d54837d340501a8424e7a7166be241a0/src/config.ts#L182)

[2021-08-06 03:56] colleenXu commented on #112
For Workflow D:
- We probably won't return direct edges between all the chem IDs and the disease ID, in Workflow D.3.
- We won't return answers for Workflow D.4 / D.5 because it uses Protein/connects SmallMolecule-MolecularActivity (we don't have those edges).
- We won't return answers for Workflow D.6 because it uses Protein and takes too long (if you replace all Proteins with Genes, I can curren

[2021-08-06 05:48] colleenXu commented on #112
### some queries with 2 intermediates:

Note: This test query should have this path as a result:
ChemicalSubstance PUBCHEM.COMPOUND:2662 <-> Disease MONDO:0002974 <-> Pathway REACT:R-HSA-109704 <-> HGNC:17947.

[code]

---
This path should exist: Pathway REACT:R-HSA-1368082 <-> Gene  NCBIGene:1374 <-> ChemicalSubstance CHEBI:35553 - Disease MONDO:0009287

[code]

[2021-08-06 06:02] colleenXu commented on #112
What the results object should look like:

[code]

For this query:
[code]

[2021-08-06 15:51] ariutta commented on #164
I got a response from  https://api.bte.ncats.io/v1/query. The value for `results` is `[]`. I notice in the logs, there are several ERRORs, e.g.:
`"message": "call-apis: Failed to make to following query: {\"url\":\"https://automat.renci.org/cord19-scigraph/query\",\"data\":{\"message\":{\"query_graph\":{\"nodes\":{\"n0\":{\"ids\":[\"P    UBCHEM.COMPOUND:5358\"],\"categories\":[\"biolink:ChemicalSu

[2021-08-06 18:38] colleenXu commented on #207
All PRs are merged; this update should be basically complete.

However, there may still be some tests/examples/README/saved-example-jsons that could be updated...

[2021-08-06 20:59] karafecho opened #244 "Translator Demo Workflow B - Exploring Agent queries"
This issue is to kindly request that Exploring Agent tests [Workflow B](https://github.com/NCATSTranslator/minihackathons/tree/main/2021-12_demo/workflowB). Here is an example [TRAPI query](https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowB/B.1c_DILI_three-hop-from-disease-or-phenotypic-feature_trapi.json) that runs when sent through the ARS, but the only ARA that r

[2021-08-06 21:02] andrewsu commented on #244
@karafecho I was assuming that all of Workflow B was dependent on either ICEES or COHD being hooked up, but I realize now that I never confirmed that assumption.  Am I right?

If yes, then completion of workflow B queries is dependent on us solving https://github.com/biothings/BioThings_Explorer_TRAPI/issues/213 and/or https://github.com/biothings/BioThings_Explorer_TRAPI/issues/223.  #213 is bein

[2021-08-06 21:09] karafecho commented on #244
You are partially correct, Andrew. The first hop is intended to target clinical KPs, but because we are currently using the predicate biolink:correlated_with, it only hits COHD and ICEES. However, that will change with adoption of the new Biolink 2.2.1 predicate biolink:has_real_world_evidence_of_association_with, in which case the first hop should return results from COHD, ICEES, Multi-omics EHR

[2021-08-07 01:20] karafecho commented on #244
BTW, I've been working with the ICEES+ CAM KP team to explore the alternative workflow that you, Andrew, suggested. Specifically, we've been exploring biolink:Gene -> biolink:GeneOrGeneProduct (up/downstream genes) and biolink:Gene -> biolink:BiologicalProcessOrActivity connections, beginning with the five genes that are known/suspected to be causally related to DILI (listed in the README file). W

[2021-08-09 04:04] #234 closed, assigned to nobody

[2021-08-09 17:24] #226 closed, assigned to ericz1803

[2021-08-09 18:52] colleenXu commented on #226
confirmed the following correct behavior using a local instance + the dev url:
- a TRAPI query without the workflow field works normally, returns a Response with the workflow field ({id: lookup})
- a TRAPI query with the workflow field ({id: lookup}) works normally, returns a Response with the workflow field ({id: lookup})
- a TRAPI query with the workflow field with multiple elements (like two {i

[2021-08-09 18:57] colleenXu commented on #207
Closing issue:

I have reviewed tests/examples/README/saved-example-jsons in all the bte-trapi-workspace repos.

Note:
- I didn't update some tests (like in api-response-transform module) since tests were then breaking and seemed not easy to fix...
- the CHANGELOG of some repos is outdated

[2021-08-09 18:57] #207 closed, assigned to nobody

[2021-08-09 19:45] colleenXu commented on #234
Confirming the fix. I'm querying the dev url that has this code implemented:

If I run this query twice in short succession, the second time has logs saying the cached data was used. And there is no "biolink:undefined" in node categories or predicates.
[code]

THEN I quickly run this query (same one BUT it has predicate restriction), it also correctly uses the cached data, does the predicate restr

[2021-08-09 19:49] colleenXu commented on #197
Perhaps there is a way to have both pre-querying predicate filtering (for new queries that aren't cached) and post?

This would be a somewhat limited usefulness - since caching is short-term....

---

Since that the current "post-querying predicate filtering" is working well with cached queries.

For example, if I query without any predicate restrictions first, and then run the SAME query but add

[2021-08-09 20:04] colleenXu commented on #164
@andrewsu @ariutta I believe this issue arises because BTE actually doesn't retrieve any nodes/answers for e1.

In this situation, BTE is currently returning everything it found for the e0 step, even though it didn't find anything for the e1 step (so there are no complete paths to put in the results).

[EDIT:] We want BTE's behavior to return nothing (empty knowledge_graph / results sections) if i

[2021-08-10 16:23] andrewsu opened #246 "MeSH nodes not resolving to human-readable names"
The TRAPI query below (for diseases related to benzene) currently returns 222 nodes in the response.  Of these, there are 20 nodes for which the MeSH IDs do not resolve to human-readable names in the `name` field, 66 nodes for which the UMLS IDs do not resolve to human-readable names.  Desired behavior would be that human-readable names would be shown in the `name` field.  Examples below.  I suspe

[2021-08-10 16:25] andrewsu opened #247 "UMLS nodes not resolving to human-readable names"
The TRAPI query below (for diseases related to benzene) currently returns 222 nodes in the response.  Of these, there are 20 nodes for which the MeSH IDs do not resolve to human-readable names in the `name` field, 66 nodes for which the UMLS IDs do not resolve to human-readable names.  Desired behavior would be that human-readable names would be shown in the `name` field.  Examples below.  I suspe

[2021-08-10 18:04] colleenXu commented on #150
May be related to #242, #246, #247

[2021-08-10 18:05] colleenXu commented on #242
Related to #246, #247?

[2021-08-10 18:05] colleenXu commented on #246
Related to #242, #247

[2021-08-10 18:23] newgene opened #248 "Support TRAPI 1.2 (from the current 1.1)"
TRAPI v1.2 CHANGE LOGS is here: https://github.com/NCATSTranslator/ReasonerAPI/blob/v1.2/ChangeLog.md

- [x] /predicates endpoint is REMOVED https://github.com/NCATSTranslator/ReasonerAPI/pull/261/files
      - can be done quickly, but even leave it there is not a problem.
      - done in #294

- [x] Removed all 'relation' properties in Edge, QEdge, MetaEdge

- [ ] /meta_knowledge_graph allows opt

[2021-08-10 18:45] colleenXu commented on #236
Related to #112

[2021-08-10 18:56] colleenXu commented on #213
Note to @ericz1803:

Besides getting the "output IDs" from the ICEES response...

ideally we would also correctly parse/ingest the ICEES edge attributes so BTE keeps them in its edge attributes. This is related to the #209 (and situation A of the provenance ticket https://github.com/biothings/BioThings_Explorer_TRAPI/issues/208#issuecomment-866620512)

[2021-08-10 19:04] andrewsu commented on #196
some descriptions of the desired behavior is described in this PR https://github.com/NCATSTranslator/TranslatorArchitecture/pull/60

[2021-08-10 20:21] ariutta commented on #164
@colleenXu, I think you're correct about e1.

Going back to @andrewsu's first post on this issue, I'm wondering how we want to handle the case where one of the forks in the query graph has zero hits but the other fork has at least one hit.

Update: @andrewsu [said](https://suwulab.slack.com/archives/CC218TEKC/p1628626921245400?thread_ts=1628553786.224900&cid=CC218TEKC) that if any link in the quer

[2021-08-11 00:43] ericz1803 commented on #213
**Summary:**
`smartapi-kg` uses the `predicates.json` file to resolve TRAPI ops. Initially, the `v1/query` endpoint was using [this `predicates.json` file](https://github.com/biothings/bte_trapi_query_graph_handler/blob/main/src/predicates.json). This is why adding the names to the config file didn't work (since those entries don't exist in the old file). Using the newer updated version of the [`p

[2021-08-11 04:52] andrewsu opened #249 "Create new biomedical id resolver package based on SRI node normalizer"
For many historical reasons, BTE currently uses BioThings APIs for node normalization and ID synonymization (performed by [biomedical_id_resolver.js](https://github.com/biothings/biomedical_id_resolver.js)).  Given focused effort by the Translator SRI team to build the their node normalizer service https://nodenormalization-sri.renci.org/, let's implement a new module that is based on that service

[2021-08-11 20:35] colleenXu commented on #249
@andrewsu @ericz1803 we might want to wrap https://nodenormalization-sri-dev.renci.org/1.1/docs#/ instead, since this has biolink v2.1 (the link in Andrew's comment uses the non-dev url, which is biolink 1.8...)

The Translator slack [post](https://ncatstranslator.slack.com/archives/CSS752SB0/p1627394469056700) about these two services says that they will move this biolink v2.1 service to the non-

[2021-08-12 15:58] andrewsu commented on #236
Here is another query (a PREDICT query) with the same behavior (from https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowA/A.2_RHOBTB2_twohop.json).  So not strictly an issue with EXPLAIN.

[code]

[2021-08-12 16:44] sierra-moxon commented on #237
https://www.alliancegenome.org/downloads#orthology <-- this represents the set of orthologs (derived via both curated and computed sources) that has been agreed upon as the source of orthology for AGR (Alliance of Genome Resources: yeast, worm, fly, zebrafish, rat, mouse, and human).

[2021-08-12 21:51] colleenXu commented on #236
This query may be handled oddly by BTE because of the directions of the query edges. It looks like this: Gene ID <-(e01)- Gene <-(e02)- SmallMolecule.

It looks to me that something does go wonky in the results assembly step.

[EDIT] Marco's current query-logic code fails on this query because of the e02 edge. It tries to query in the specified direction from SmallMolecule -> Gene when there's no

[2021-08-12 23:47] newgene commented on #233
An even more flexible option is to allow any URL to overwrite the existing SmartAPI metadata, should be very useful for the testing (e.g. using a version from a forked repo):

[code]

And even better, if the underline URL request package supports localfile-based URI (e.g. `file:///...`), we can load a temp API Metadata locally.

[2021-08-12 23:57] newgene opened #252 "A better mechanism for updating locally cached smartapi-kg (e.g. multiple server processes)"
In production deployment, we will likely deploy multiple BTE server processes for better throughput: either multiple docker containers or multiple server processes on the same server.

The current caching mechanism for local smartapi-kg happens on each server process as a cron-like job. When multiple processes are running, they can cause conflicts and duplicate the caching tasks. In multi-containe

[2021-08-13 20:29] ariutta commented on #164
If any link in the query graph is broken, we want to return zero results. If we can safely assume that the query graph is always linear, then the code in branch fix_issue_164b will give us what we want.

If we allow non-linear query graphs (two examples below), the code will always return at least one result as long as there's at least one path from a start node to an end node, e.g., if there are

[2021-08-14 04:57] andrewsu commented on #164
First, do we agree that "linear" is irrespective of the directionality of the edges?  so `A` --> `B` <-- `C` is as linear as `A` --> `B` --> `C`?  If yes, then I am fine making the assumption for now that all query graphs will be linear.  If that's the route we go, then it would be best if we can somehow detect non-linear query graphs and proactively return an error that says "we don't support thi

[2021-08-16 18:19] colleenXu commented on #209
Why was this issue closed? My understanding is that this is still being worked on...

[2021-08-16 18:22] newgene commented on #209
It was closed by Github automatically after merging @ericz1803 's PR above. Reopen it...

[2021-08-16 18:31] ariutta opened #254 "Make query_results.js use generalize_query_handling"
@marcodarko has been updating the query handling code in this branch:
https://github.com/biothings/bte_trapi_query_graph_handler/tree/generalize_query_handling

This code uses a new data structure and needs new method(s) for calling the [query_results.js](https://github.com/biothings/bte_trapi_query_graph_handler/blob/main/src/query_results.js) code.

[2021-08-16 19:11] ariutta commented on #254
In a change from the current code, the new generalize_query_handling  code calls `update` just once with all records, so it's now necessary to inspect the records to deduce the query graph.

[2021-08-17 04:53] colleenXu commented on #227
After talking with Andrew Su today, this ticket is on hold for two reasons.
1. It involves more work than expected (refactoring BTE's code for [processing the SEMMED APIs' responses](https://github.com/biothings/api-respone-transform.js/blob/main/src/transformers/semmed_transformer.ts))
2. A separate [effort](https://github.com/biothings/pending.api/issues/30) is underway to update the SEMMED APIs

[2021-08-17 05:17] colleenXu opened #256 "Updating APIs used by BTE (Automat, CTD)"
[EDIT: all tasks done]

Tasks done:
- [done by direct-commit](https://github.com/NCATS-Tangerine/translator-api-registry/commit/f77f11143140442b0743211f12d6bda0553cd0b5): remove covid-phenotype-related operations from mydisease.info's x-bte operations
- Make [issue](https://github.com/biothings/mydisease.info/issues/45) about removing covid-phenotypes info from MyDisease API
- [in PR](https://gith

[2021-08-17 18:11] ericz1803 opened #258 "Update config list to use SmartAPI IDs instead of API name"
In the `config.js` file, use SmartAPI IDs instead of API name.

Options:
1. Config list will include objects in the shape of
[code]
Also include validation where a warning is raised if the api name in the config doesn't match what we get using the smartapi id.

~~2. List of SmartAPI IDs with names as comments~~

[2021-08-17 18:32] colleenXu commented on #233
Note that this is more convenient compared to using the test/query endpoint, since multiple API YAMLs can be tested at once and it can be loaded from a url or local file in YAML format.

The test/query endpoint has these limitations that made it hard to test YAMLs during the biolink v2.1 conversion:
- can only test 1 API's SmartAPI yaml/json at a time
- it has to be saved into a particular file /

[2021-08-17 18:37] colleenXu commented on #258
The question is whether other packages import names / use stuff from this file. It is known that other packages do use the api names (that they get from....somewhere) to do stuff depending on what API the data comes from (call_apis, query handler, api response transform are some that I can think of)

[2021-08-19 06:30] colleenXu commented on #213
@karafecho Could you provide example TRAPI queries for ICEES COVID19?

Also, I believe the query below works as an example TRAPI query for ICEES Asthma, but please confirm or let us know of another query that you prefer.

[code]

[2021-08-19 19:37] karafecho commented on #213
@colleenXu : Thanks for working on this.

The query above looks good to me, although depending on the question, you might want to look at biolink:DiseaseOrPhenotypicFeature or biolink:ChemicalEntity or biolink:ChemicalExposure instead of (or in addition to) biolink:Disease.

The structure of the above query should also work for the most recent ICEES COVID instance, which exposes data on patients c

[2021-08-19 23:43] ericz1803 commented on #258
As far as I can tell, nothing uses this file other than when `v1/query` is hit and it passes the `API_LIST` from bte-trapi -> query-graph-handler -> smartapi-kg.

[2021-08-20 03:39] colleenXu commented on #258
does the query_graph_handler module need a PR / update as well?

[2021-08-20 03:47] colleenXu opened #260 "integrate new AGR API for gene-disease relationships into BTE"
Involves:
- writing SmartAPI yaml with x-bte operations (for gene <-> disease associations)
- registering the yaml with SmartAPI Registry
- changing the list of APIs BTE ingests to include this new API

[2021-08-20 04:03] colleenXu commented on #213
@karafecho Thank you for your feedback. I have several questions related to ICEES COVID19 API:

1. The SmartAPI registration says the server link is https://covid.icees.renci.org/query. Is this correct?
2. If I wanted to do a query from COVID19 to related diseases or drugs, what ID for COVID19 would I use? I tried a few but the API didn't seem to recognize them.
2. For the suggestions above (Remde

[2021-08-20 16:14] ericz1803 commented on #258
Nope, I didn't need to change any of that code since it passes the options unchanged to smartapi-kg

[2021-08-20 18:45] karafecho commented on #213
@colleenXu : Thanks for your questions.

WRT (1), the endpoint for the newest instance (JAN2021 data) is https://covid.icees.renci.org/jan2021/query. I didn't realize that this wasn't registered with SmartAPI. I'll fix that.
WRT (2), we do not currently expose a variable that indicates whether a patient is confirmed COVID+ or COVID-. The reason for this is complicated and multi-faceted, but the is

[2021-08-21 02:25] colleenXu commented on #213
@karafecho I think the server urls in the file https://covid.icees.renci.org/jan2021/openapi.json are incorrect (this was used in the [new SmartAPI registration](url) of ICEES COVID19 API). Rather than seeing 1 url with https://covid.icees.renci.org/jan2021/, I see "/jan2021" and "https://covid.icees.renci.org" as two separate urls.

---

I suggest modifying the file and refreshing/updating the Sm

[2021-08-21 04:56] andrewsu opened #261 "create smartAPI record for idisk"
Now that the new pending API for idisk is complete (https://github.com/biothings/pending.api/issues/22), creating an issue to track the creation of a smartAPI record and integration into BTE as a data source.

[2021-08-23 04:30] colleenXu commented on #261
note that [infores IDs](https://docs.google.com/spreadsheets/d/1Ak1hRqlTLr1qa-7O0s5bqeTHukj9gSLQML1-lg6xIHM/edit#gid=293462374) are currently draft for this api and idisk as a knowledge source...

[2021-08-23 04:47] colleenXu commented on #261
[EDITED]

After testing, the [yaml](https://github.com/NCATS-Tangerine/translator-api-registry/blob/master/idisk/smartapi.yaml) works correctly. However, there is a bug with BTE...

It looks like when BTE cannot do ID resolution on the input ID, it'll incorrectly add the ID prefix to the sub-query for this API.

---

**Incorrect prefix is being added to:**
- query starting from Disease MEDDRA:1001

[2021-08-23 06:02] colleenXu commented on #258
@ericz1803 could you update your work based on the [updated list] from this PR #262 ?

The changes:
- removes some APIs that were recently taken offline
- adds a replacement API (Automat CORD19)
- adds some commentary on the "commented out" APIs
- adds some commentary on Automat APIs that we could add

[2021-08-23 16:30] ericz1803 commented on #258
Updated. I left out the APIs that are no longer useful but I fixed the CORD 19 and also added in the other Automat APIs as comments.

[2021-08-23 18:30] karafecho commented on #213
I'm seeing that, too. I think this might be related to this [issue](https://github.com/NCATS-Tangerine/icees-api/issues/163).

Also, I think our SmartAPI registrations should be updated automatically.

[2021-08-23 21:31] colleenXu commented on #261
Andrew and I discussed this today. We decided to register this [API](http://smart-api.info/registry?q=32f36164fabed5d3abe6c2fd899c9418), and integrate it with BTE here #262

The bug mentioned above may be addressed by #249 and https://github.com/biothings/call-apis.js/issues/26. We can see if the bug continues to show up after and address it then...

[2021-08-23 21:33] colleenXu commented on #215
We are removing this API from the list of APIs BTE ingests. This is being tracked in the other issue mentioned above...

[2021-08-23 21:33] #215 closed, assigned to nobody

[2021-08-23 21:39] newgene opened #263 "Investigate a long TRAPI query which tends to hang the production server"
This is the query captured from the log:

[code]

When tested locally, this query can return results in `1044855ms`, with many log msgs like below:

[code]

[2021-08-23 22:02] #258 closed, assigned to ericz1803

[2021-08-23 23:18] newgene commented on #263
tested on our dev instance, with redis enabled (~4G memory total), it fails at the step of setting cache:

![image](https://user-images.githubusercontent.com/130158/130531433-0eb759df-7c37-4dc6-be3b-e5aee94c1c98.png)

[2021-08-24 02:12] #261 closed, assigned to colleenXu

[2021-08-24 04:36] colleenXu commented on #213
@karafecho Thank you for your help. We have a few questions about the ICEES DILI and ICEES COVID APIs...

#### ICEES DILI:
1. We've noticed IDs with the prefix "SCITD" that we cannot resolve with an ID resolver. Are these SNOMED IDs? If so, we believe the Translator prefix for these IDs is [SNOMEDCT](https://github.com/biolink/biolink-model/blob/615629a4e3ad198b68c3ef08c4e8935816c7deb3/biolink-mod

[2021-08-24 05:29] colleenXu opened #264 "Move from equivalent_ids -> biolink:xref + biolink:synonym node attributes"
Change how the node attributes regarding equivalent IDs / names are handled:
- no need for value_type_id (actually no need for value_type_id on ANY attribute...)
- separate out equivalent IDs and names
- use different attribute_type_ids with them (biolink:xref, biolink:synonym)

Example of what the new format would look like:
[code]

---

Background:

Currently we use a node attribute with the att

[2021-08-24 05:35] colleenXu commented on #249
Note that the migration to a new SRI-based ID resolver will remove our current ability to add node attributes like drug [category](https://github.com/biothings/biomedical_id_resolver.js/blob/9ffa37525a682889fccee0bdd2333849258b35cf/src/config.ts#L138) or type of gene.

We could add this back later as another functionality ("node annotation")

[2021-08-24 18:27] andrewsu opened #265 "update to biolink 2.2.x"
Per the [weekly Translator email](https://mailchi.mp/6a3ac940bb4d/translator-weekly-recap-august-23-2021?e=31882597bb), we need to update to [Biolink 2.2.x](https://github.com/biolink/biolink-model/releases/).  There should be no breaking changes so it should be a straightforward update, but needs to be tested.

For reference, #207 tracked update to v2.1.x

[2021-08-24 19:42] colleenXu commented on #265
These are the changes I see from v2.2.0 onward (current version is v2.2.3):

@andrewsu please confirm what we want to do going forward...

- introduced in v2.2.1:
  - new predicates ["has real world evidence of association with"](https://github.com/biolink/biolink-model/blob/602373ab0991993746197fc36fbdde71d0d9b77f/biolink-model.yaml#L1567) and its inverse for clinical KPs (so multiomics KPs will

[2021-08-24 20:17] karafecho commented on #213
@colleenXu: Thanks, again, for your comments. Greatly appreciated!

WRT ICEES DILI, we recently refactored our API config files. As part of this effort, we replaced all illegal prefixes with legal ones. However, we have not yet deployed the API, so the current instance contains some illegal prefixes. Your second point regarding the weird identifiers relates to the approach that we used to map iden

[2021-08-24 21:29] andrewsu commented on #265
x-bte changes to use "has real world evidence of association with" seems reasonable to me.  My guess is that predicate will be used in workflow B queries?

On the new predicate mixins, are you saying that we need new code to query those mixins, similar to how we do predicate expansion in the predicate subclass hierarchy?

[2021-08-24 21:37] colleenXu commented on #265
I'm not sure whether we currently handle predicate mixins...that involves asking Marco?

And the predicate is being used in workflows B and C. I agree that it involves talking to multiomics provider about what operations to change the predicate on...

[2021-08-25 00:27] colleenXu commented on #213
@karafecho Thank you, I think this clarifies things a lot! I'm noting a few other data-related issues below that are **non-critical** - feel free to look when you have the time, and chime in if you have thoughts/news on them.

- OMIM IDs (with an ID starting with "MTHU"). These are resolvable with SRI services, but it seems like [perhaps other ID namespaces](https://github.com/monarch-initiative/m

[2021-08-25 22:16] karafecho commented on #213
No problem, Colleen!

WRT your first and fourth bullets, we've used Athena to pull in identifier systems that are not currently supported by SRI. The idea is to see if there's enough support to justify an expansion of SRI services.

WRT your second bullet, these fixes have been made and will be reflected in the next API deployments.

WRT your third bullets, we fixed the typo. Thanks for pointing t

[2021-08-26 01:00] newgene commented on #252
The first thing we can do is to add an ENV variable, e.g. `DISABLE_SMARTAPI_SYNC`, to disable the cron job for routine updates of the local SmartAPI metadata. This will allow us to spawn multiple server processes to handle queries, but leave only one of processes handles the local metadata caching, avoiding repeated cron jobs and potential conflicts from multiple processes.

[2021-08-26 14:48] tokebe commented on #252
@newgene I've created the env variable and related behavior (see #266).

As for a better long-term solution, we could create a launch script which specifically sets this variable on each 'non-main' instance? For the Docker scenario, I'm thinking a launch script which creates a shared volume for the cache, and then creates each container, with all but one having the environment variable set, and a

[2021-08-26 16:30] andrewsu commented on #265
@colleenXu on predicate mixins, do you agree that this only affects queries in which a mixin predicate is directly used in the predicate list?  I.e., queries with only non-mixin predicates will not be affected by the new mixin predicates? If yes, are you aware of any demo queries that use mixin predicates?  This info would be useful for prioritization...

[2021-08-26 17:58] newgene opened #267 "Prevent caching goes out of memory when handling big query results"
tested on our dev instance, with redis enabled (~4G memory total), it fails at the step of setting cache:

![image](https://user-images.githubusercontent.com/130158/130531433-0eb759df-7c37-4dc6-be3b-e5aee94c1c98.png)

_Originally posted by @newgene in https://github.com/biothings/BioThings_Explorer_TRAPI/issues/263#issuecomment-904198822_

[2021-08-26 18:20] colleenXu commented on #265
I agree that predicate mixins will only come up when they are directly used.

I am not aware of any demo queries that use mixin predicates right now. I can imagine Workflow A queries that could use them - but I don't know if they will change or not...

[2021-08-26 18:47] andrewsu commented on #265
I created a new issue for mixin predicates [here](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/268), so let's ignore that aspect from this issue.

In this issue, I think the main things to address are

- [ ] update https://github.com/biothings/biolink-model.js/blob/main/data/biolink.yaml to the [latest biolink release](https://github.com/biolink/biolink-model/releases/) (currently

[2021-08-26 20:50] colleenXu opened #269 "BTE isn't parsing meta_knowledge_graph specs correctly for Automat"
BTE seems to be switching the subject/object when parsing the Automat HGNC meta_knowledge_graph endpoint. BTE therefore sends incorrect queries to this API...

This may be an issue for other APIs as well (ingested through meta_knowledge_graph? ingested through x-bte annotation?)

---

After a cron job to update smartapi specs, I see this JSON snippet below in BTE's data/predicates.json file for Au

[2021-08-26 20:52] colleenXu commented on #269
This likely helps to explain this situation: https://github.com/biothings/BioThings_Explorer_TRAPI/pull/262#issuecomment-904255627

[2021-08-26 20:58] colleenXu commented on #269
**This task likely also involves resaving some cached files, since these were made incorrectly...**

[2021-08-27 04:49] andrewsu commented on #249
Going to reopen this issue while we do additional testing and pending final inclusion in BTE.  (I also adjusted our automation settings, which I think were a bit too aggressive in closing issues.)

[2021-08-27 08:22] colleenXu commented on #265
Actually the second thing for "clinical risk kp api" was done already (~ 2 weeks ago). But there are many other issues with clinical risk kp api's x-bte annotations that I'm addressing in a PR [here](https://github.com/Hadlock-Lab/clinical_risk_kp/pull/9)

I'm not sure if other APIs from multiomics provider also need a predicate change...

[2021-08-27 18:53] karafecho commented on #213
@colleenXu : I am testing direct three-hop ARA queries as part of Workflow B, the idea being that this will facilitate (1) debugging and (2) answer evaluation for scientific impact while we wait for ARA deployment of TRAPI 1.2, which will support asynchronous queries and (hopefully) resolve the timeout issues that are preventing us from running the queries via the ARS.

I don't think any of the is

[2021-08-27 20:24] colleenXu commented on #208
Note that Provenance situation A may be dealt with, once this [PR](https://github.com/biothings/bte_trapi_query_graph_handler/pull/32) are merged.

I notice that this PR seems to add the BTE provenance object mentioned above and included below:
[code]

[2021-08-27 20:59] newgene commented on #241
So given this mixin:
[code]
which is used in:
[code]

basically, we want to merge `slots` from "genomic entity" mixin to the `slots` of the "gene" class. We can evaluate if other mixin fields should be merged, but for now `slots` looks the most relevant one.

[2021-08-28 00:44] colleenXu commented on #213
note that after all PRs from Eric are merged, ICEES Asthma should also work. I've noticed this by running the sample query above for ICEES Asthma in Eric's workspace (fork).

We'll wait until after ICEES COVID-19 updates to know what to do there (ingest one or both APIs? Try out queries / integration into BTE).

[2021-08-28 00:56] colleenXu commented on #248
I'm noticing that meta_knowledge_graph is different for APIs with TRAPI v1.2 already implemented....and we may need to update our parser to be able to handle this.

The objects within edges have an attributes object within them now, as well as the subject/object/predicate fields that we want.

Example is these [COHD](https://covid.cohd.io/api/meta_knowledge_graph) [endpoints](https://trapi-dev.coh

[2021-08-28 01:01] colleenXu commented on #150
Note that switching to Eric's SRI-based node normalization will not fix the UMLS IDs listed above, since it also finds no mappings for it...

[2021-08-28 01:06] colleenXu commented on #153
Can be addressed in local instances using https://github.com/biothings/BioThings_Explorer_TRAPI/pull/255.

Not sure about specifying this on a query level (where it would work on the prod server).

[2021-08-28 01:07] colleenXu commented on #159
would involve edits to x-bte annotation at least...

[2021-08-28 01:09] colleenXu commented on #190
the result duplication should be handled by the querying + results handling refactoring done by Marco / Anders here: https://github.com/biothings/bte_trapi_query_graph_handler/pull/35

[2021-08-28 01:10] colleenXu commented on #193
Would need to be revisited after the refactoring with query handling https://github.com/biothings/bte_trapi_query_graph_handler/pull/35 and ID resolving (SRI resolver).

[2021-08-28 01:11] colleenXu commented on #206
This would be moved to SRI node normalization team's plate after we move to SRI-based resolver...

Since their resolver doesn't support Procedure (it's missing from this [list](https://nodenormalization-sri-dev.renci.org/1.1/get_semantic_types)).

[2021-08-28 01:13] colleenXu commented on #220
shouldn't be an issue once we move to SRI-based ID resolution...

[2021-08-28 01:14] colleenXu commented on #223
We can ingest the COHD TRAPI v1.1 now through TRAPI meta_knowledge_graph. I'm going to make a commit to do so.

We can handle the API's edge attributes once we merge Eric Zhou's ICEES-related PRs around edge attributes...

I've noted potential issues with ingesting the COHD TRAPI v1.2 APIs [here](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/248#issuecomment-907541227).

[2021-08-28 01:16] colleenXu commented on #236
should revisit with Eric/Marco/Anders work on query handling and SRI-based ID resolution.

And Jackson's work on templating API calls (may fix issues with the querying and prefixes)

[2021-08-28 01:19] colleenXu commented on #242
BTE should be able to handle this (or would push the issue to SRI node normalization team..) after migrating to use Eric's SRI-based ID resolver.

Example with the meddra ID in the opening comment: https://nodenormalization-sri-dev.renci.org/1.1/get_normalized_nodes?curie=MEDDRA%3A10009192

[2021-08-28 01:20] colleenXu commented on #246
BTE should be able to handle this (or would push the issue to SRI node normalization team..) after migrating to use Eric's SRI-based ID resolver.

Example with the IDs in the opening comment: https://nodenormalization-sri-dev.renci.org/1.1/get_normalized_nodes?curie=UMLS%3AC0016658
https://nodenormalization-sri-dev.renci.org/1.1/get_normalized_nodes?curie=MESH%3AD009336

[2021-08-28 01:20] colleenXu commented on #247
BTE should be able to handle this (or would push the issue to SRI node normalization team..) after migrating to use Eric's SRI-based ID resolver.

Example with the IDs in the opening comment: https://nodenormalization-sri-dev.renci.org/1.1/get_normalized_nodes?curie=UMLS%3AC0016658
https://nodenormalization-sri-dev.renci.org/1.1/get_normalized_nodes?curie=MESH%3AD009336

[2021-08-28 01:21] colleenXu commented on #254
Close since Marco and Anders merged their code.

[2021-08-28 01:21] #254 closed, assigned to ariutta

[2021-08-28 01:29] colleenXu commented on #256
closing issue since the changes have been pushed to main and seem good...

[2021-08-28 01:29] #256 closed, assigned to colleenXu

[2021-08-28 02:00] karafecho commented on #213
Thanks, Colleen. To clarify, the Workflow B query(ies) that I suggested are expected to run after Eric merges the PRs, correct? The queries should return results from ICEES DILI, not ICEES asthma.

[2021-08-28 04:47] colleenXu commented on #241
Also include predicate mixins like [increases amount or activity of](https://github.com/biolink/biolink-model/blob/e37280594b84718e778b2db2b1b5979a5aab076e/biolink-model.yaml#L1904)

[2021-08-30 15:46] tokebe commented on #265
Updating the file failed a test on account of a predicate being renamed (test has been updated). I diffed the files to check for anything else that might be relevant, just in case:

- A number of `is_a` definitions were updated for various predicates.
- `relation` has been deprecated
- A few new predicates were added, such as `taxon of`
- A few new association slots were added, such as `original_s

[2021-08-30 17:27] ariutta commented on #164
It ended up being most practical to just handle all possible query graphs rather than trying to separate out and return errors for special cases.

This issue should now be resolved in this commit:
https://github.com/biothings/bte_trapi_query_graph_handler/pull/34

[2021-08-30 20:48] colleenXu commented on #249
Note that SRI-based ID resolution does not have resolution for Transcript (like ENSEMBL ENST IDs) or Procedure. Doesn't affect the major queries we do

Can see the semantic types supported here: https://nodenormalization-sri-dev.renci.org/1.1/get_semantic_types

Can look at semantic types + curie prefixes supported here: https://nodenormalization-sri-dev.renci.org/1.1/get_curie_prefixes

[2021-08-30 22:14] colleenXu commented on #206
Using the SRI-based ID resolution and latest code for query handling:

Procedure as the output: A query like this "runs" but the results assembly doesn't work...

[code]

Procedure as input: I get error when running a query... error related to something with ID resolution + query handling?

Query:
[code]

Error logging:
[code]

[2021-08-31 01:40] newgene opened #271 "shall we disable SmartAPI metadata auto-sync on dev server?"
For now, just to put some notes here for feedbacks from the team.

How about this:

* Only enable automated smartapi sync (as a schedule job) when `NODE_ENV=production` (therefore only enabled for production server)
* Add a `npm run smartapi_sync` script to manually trigger sync when needed.

Pros:
* no local smartapi metadata changes during the development
* can still test with the latest local m

[2021-08-31 15:41] andrewsu opened #272 "Add Gene - has_sequence_variant - SequenceVariant operation to myvariant.info smartAPI annotation"
In the [SmartAPI metadata for myvariant.info](https://raw.githubusercontent.com/NCATS-Tangerine/translator-api-registry/master/myvariant.info/openapi_full.yml), we annotate the `SequenceVariant` - `is_sequence_variant_of` - `Gene` edge (see **Block 1** below), but not (currently) the reverse `Gene` - `has_sequence_variant` - `SequenceVariant`.  Would be good to annotate the reverse direction.  Mor

[2021-08-31 15:48] andrewsu commented on #271
This seems like a very good idea to me.  I can see the "con" of this being the root cause of some mysterious issue sometime in the future, but hopefully clear documentation (including this ticket) will help us solve the mystery quickly.

[2021-08-31 20:46] colleenXu commented on #271
My requests are:
- the prod server url has regular updates from the Registry/trapi-endpoints (like every hour or so?)
- the local instances we start up have an option for manually refreshing from the registry/trapi-endpoints

[2021-08-31 21:28] colleenXu commented on #249
@ericz1803 @andrewsu There is a new prod instance now, with some differences from the dev we've been testing with (gene-protein conflation for example)

**I suggest trying this out with a different branch.**

However, I think some code may not work well anymore. I'm not sure how the code gets the main "semantic type" from the list of semantic types SRI gives it. If it is taking the top element of

[2021-09-01 01:30] colleenXu commented on #214
@andrewsu I've made a doc here for 1 and 2 hop Predicts and Explain. I've tested all of the queries with the latest query handling code and I think it works as-expected.

https://github.com/biothings/biothings_explorer/blob/query-directions/docs/tests-query-directions.md

I think the next step is deciding how to turn these into tests that aren't brittle (dependent on specific APIs / configurations

[2021-09-01 07:36] colleenXu opened #274 "Ingest TRAPI v1.2 APIs"
Our current code doesn't seem to ingest TRAPI v1.2 API /meta_knowledge_graph endpoints correctly.

We want to be able to ingest these endpoints, since Translator plans to move everyone to TRAPI v1.2 in the near future.

---

Background:

I see logs like this when my local instance's cron jobs update the SmartAPI/registry specs...
these APIs are from 2 different teams and we currently ingest their

[2021-09-01 07:52] colleenXu commented on #196
In the generalize_query_handling branch (currently this [PR](https://github.com/biothings/bte_trapi_query_graph_handler/pull/35)), we currently remove the sub-entity expansion that is automatically done from the COHD (TRAPI v1.1) endpoint.

We may need to revert that commit and work with that code in the future to support this. It's in bte_trapi_query_graph_handler; with the ID 490dd6f (full hash

[2021-09-01 18:49] newgene opened #275 "Allow pass optional REDIS_PASSWORD env variable to the redis client"
In order to work with the hosted Redis service on production deployment, we need to pass a password to the redis client:

https://docs.redis.com/latest/rs/references/client_references/client_nodejs/#connecting-to-redis-with-the-default-password

[code]

Let's add a new `REDIS_PASSWORD` env variable and pass it to the redis client, only when it's provided:

https://github.com/biothings/BioThings_Ex

[2021-09-01 21:12] colleenXu commented on #265
Pushed to prod server.

I've confirmed that the following queries to clinical risk kp api using the new predicates work: POST to https://api.bte.ncats.io/v1/smartapi/d86a24f6027ffe778f84ba10a7a1861a/query

[code]

[code]

[2021-09-01 21:13] colleenXu commented on #265
Closing this issue. Note that biolink model also has mixins that we currently don't support. Tracking that issue here #241 . currently considered low priority since it isn't coming up in Translator queries.

[2021-09-01 21:13] #265 closed, assigned to nobody

[2021-09-01 21:16] colleenXu commented on #241
I believe mixins will only be used to support querying. For example, if someone is just looking for "something that helps treat a Disease", that could be under multiple semantic types like Treatment, ChemicalEntity, Procedure, etc. So then only one term needs to be supplied like ChemicalOrDrugOrTreatment rather than listing all of them under the query node categories.

However, I have not seen Tra

[2021-09-02 02:00] ariutta commented on #254
FYI: I added some tests for assembling large numbers of records into query results, but I disabled them, because they take a long time:
https://github.com/biothings/bte_trapi_query_graph_handler/blob/generalize_query_handling/__test__/integration/QueryResult_2.test.js#L1332-L1711

Here are the approximate times for different numbers of records per edge for a simple query graph `n0 -e0-> n1 -e1-> n

[2021-09-02 18:53] ariutta commented on #236
With the latest updates, the sample queries provided above appear to be working now.

[2021-09-03 04:46] andrewsu commented on #236
If easy, can someone also try this query out? https://github.com/NCATSTranslator/testing/blob/main/ars-requests/not-none/1.1/soxGenes.json

The current prod is giving that same behavior (documented in https://github.com/NCATSTranslator/testing/issues/111), and it would be nice to confirm that it's fixed in the latest changes...

[2021-09-03 05:21] colleenXu commented on #236
That's expected because Eric/Marco/Anders work hasn't been merged to main / implemented yet...

When I used their code, it worked correctly and as-expected...I've included the file of the response here (github won't let me post json so it's txt)....
[explain-8-30-21.txt](https://github.com/biothings/BioThings_Explorer_TRAPI/files/7103473/explain-8-30-21.txt)

that can be pasted in arax under impor

[2021-09-03 16:57] #275 closed, assigned to tokebe

[2021-09-03 17:00] #267 closed, assigned to tokebe

[2021-09-03 22:53] #209 closed, assigned to nobody

[2021-09-03 22:53] #264 closed, assigned to nobody

[2021-09-07 15:53] andrewsu opened #277 "Bug: BTE can't find genes related to imatinib"
Finding `[Gene]`-`biolink:related_to`-`imatinib` should be one of our baseline tests to make sure things are working.  That query (**block 1** below) is currently returning zero results.  From the logs (**block 2**), it appears that we are only querying one API (`Automat Covidkop KG (trapi v-1.1.2)`), while there should be many others with relevant information (including mychem.info).

**Block 1**

[2021-09-07 16:38] andrewsu commented on #277
@marcodarko rightly points out on slack that this is mostly an issue of using `biolink:ChemicalSubstance` instead of `biolink:SmallMolecule` (or similar).  So let's consider this a bug in the query and not BTE!  After making that change, BTE returns results as expected...

[2021-09-07 16:38] #277 closed, assigned to nobody

[2021-09-07 18:37] marcodarko commented on #269
So far I've found the following:
The pattern that BTE uses to save the predicates to the local file seems to be OBJECT: SUBJECT : [PREDICATES]
`{"biolink:Disease":{"biolink:ChemicalEntity":["biolink:associated_with_decreased_risk_for","biolink:associated_with_increased_risk_for","biolink:contraindicated_for","biolink:treats"]}`
Like in this example from another API.

If that's correct then this se

[2021-09-07 18:40] marcodarko commented on #269
relevant code: https://github.com/biothings/BioThings_Explorer_TRAPI/blob/9b26d8a1b898edd1b8da2bbbf75f8f3cbf34063e/src/controllers/cron/update_local_smartapi.js#L109

[2021-09-07 19:16] newgene commented on #271
@tokebe let's implement this issue as described on my first comment:

* Only enable automated smartapi sync (as a schedule job) when NODE_ENV=production (therefore only enabled for production server)
* Add a `npm run smartapi_sync` script to manually trigger sync when needed.

But also add a third-item:
* Modify this issue : https://github.com/biothings/BioThings_Explorer_TRAPI/issues/252, to allo

[2021-09-08 17:00] newgene opened #278 "Create a way to export the query execution plan"
Similar to `explain` option for many database server, can we create an optional `explain` parameter, which will only return the planned API request execution plan, without retrieving the API response.

Before we actually implement this, we need to check if the current logs output can already serve the purpose (but I personally find very hard to navigate the entire log msgs).

It may be a bit compl

[2021-09-08 17:51] newgene commented on #278
assigning this to @tokebe and @marcodarko. Can start with @tokebe to look into what's needed at `call-apis` package, then work with @marcodarko to see if anything is needed from the new query algorithm code at `query_graph_handler` package.

[2021-09-09 16:02] marcodarko commented on #269
Another example to support this from **Connections Hypothesis Provider API**:
"predicates":{
      "biolink:Disease":{
         "biolink:Gene":[
            "biolink:gene_associated_with_condition",
            "biolink:has_real_world_evidence_of_association_with"
         ],
         "biolink:Drug":[
            "biolink:treats",
            "biolink:has_real_world_evidence_of_association_with"

[2021-09-09 16:38] tokebe opened #279 "Cached results missing values"
Using the following query:
[code]

Some edges in the knowledge graph are missing values (original on the left, cached on the right):
![image](https://user-images.githubusercontent.com/43009413/132726742-0facdd48-1301-4c9e-ac09-e519ca8da713.png)

[2021-09-09 16:45] tokebe opened #280 "Caching occasionally fails due to undefined records"
Some queries fail due to an exception in caching, where `cache_handler._copyRecords()` receives an object where `$input.obj` is `undefined`

Example query:
[code]

[2021-09-09 17:37] marcodarko commented on #269
Another small issue I found is that the metaKG cron job was outdated and only taking 1.1.<v> apis skipping all 1.2.<v> apis, fixing that...

[2021-09-09 18:04] tokebe commented on #280
This seems to happen inconsistently, with the same query failing and then succeeding after a subsequent request, implying a possible issue with one of the APIs.

[2021-09-09 18:12] tokebe commented on #271
@newgene For the third term, do you mean using it to manually allow repeated syncing, or just to sync once at server start?

[2021-09-09 18:42] colleenXu commented on #274
As mentioned in Slack, there's actually more things involved in this issue of ingesting TRAPI v1.2 APIs...

* Because of diffs in TRAPI v1.2...BTE may need to change how TRAPI APIs are queried + how the responses are transformed/processed.
* BTE may need to change the list of APIs in the config file in order to ingest TRAPI v1.2 APIs rather than v1.1 APIs

[2021-09-09 20:59] newgene commented on #271
@tokebe previously you implemented `DISABLE_SMARTAPI_SYNC` for disabling syncing when syncing is always on. Now we can control syncing on or off for our server, we might want to change `DISABLE_SMARTAPI_SYNC` to just `SMARTAPI_SYNC`, which can be used to override the default behavior, like `SMARTAPI_SYNC=true` will toggle syncing on regardless, and `false` value will toggle syncing off. It might j

[2021-09-09 21:50] colleenXu commented on #272
The new [x-bte operation](https://github.com/NCATS-Tangerine/translator-api-registry/blob/4a61d04a05583d3616b874fcfd18f57b7cfb0951/myvariant.info/openapi_full.yml#L399) has been added and I can get results from a query like this

[code]

[2021-09-09 21:50] #272 closed, assigned to colleenXu

[2021-09-09 21:51] colleenXu commented on #248
Note the changes might now be here in the release log: https://github.com/NCATSTranslator/ReasonerAPI/releases/tag/v1.2.0

[2021-09-10 00:19] colleenXu commented on #269
@marcodarko This is an example of a query that's failing somewhere though...

It is going Gene ID -> GeneFamily, and you would expect it would use the "part_of" predicate from the Automat apis (HGNC, Robokop, covidkopkp)....
[code]

However, the BTE sub-queries use the wrong predicate (has_part) instead.

POST to http://localhost:3000/v1/query and look at the logs:

[code]

[2021-09-10 06:02] colleenXu commented on #213
### Note to BTE team:

Once the new code is merged (the SRI-ID-resolver + new query handling + results assembly)...
These are the queries to use to check if BTE is correctly integrated with ICEES DILI and ICEES Asthma APIs. I have gotten them to work when querying my local setup.

Query that should have "icees:dili" in the response (PhenotypicFeatures linked to DILI):
[code]

Query that should hav

[2021-09-10 06:40] colleenXu commented on #213
@karafecho, here is some feedback on the earlier comment about the Workflow/demo query:

* Using the dev SRI ID resolver that BTE will use, the [MESH ID given above](https://nodenormalization-sri-dev.renci.org/1.1/get_normalized_nodes?curie=MESH%3AD056487) does not have an equivalent NCIT ID (which is what the ICEES DILI API uses)...so ICEES DILI is then not correctly called. --> Replacing the ID

[2021-09-11 03:51] colleenXu commented on #236
Updates now that the new code is on BTE-prod (https://api.bte.ncats.io/v1/query):

I'm going to post some info from each of the queries listed in this issue.

---

Query 1:
Disease MONDO:0004975 -> BiologicalProcessOrActivity <- SmallMolecule PUBCHEM.COMPOUND:1935

We find 2 results!
![Screen Shot 2021-09-10 at 8 49 03 PM](https://user-images.githubusercontent.com/43731687/132935411-55a1472b-751a-

[2021-09-11 03:55] colleenXu commented on #236
Continued updates (queries going to BTE-prod (https://api.bte.ncats.io/v1/query):

Query 2:
Gene NCBIGene:43 -> BiologicalProcessOrActivity <- SmallMolecule PUBCHEM.COMPOUND:1935

we find 3 results!
![Screen Shot 2021-09-10 at 8 54 05 PM](https://user-images.githubusercontent.com/43731687/132935515-583612ac-9d89-4e0a-81ed-59a520b07832.png)

knowledge graph:
![Screen Shot 2021-09-10 at 8 53 43 PM](

[2021-09-11 04:02] colleenXu commented on #236
Continued updates (queries going to BTE-prod (https://api.bte.ncats.io/v1/query):

Query 3:
Gene NCBIGene:23221 <-(entity_regulates_entity OR genetically_interacts_with)- Gene <- SmallMolecule. Edited due to the current [mini-hackathon query](https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowA/A.2_RHOBTB2_twohop.json).

PK: 49a2bd2b-7a20-40f3-9168-c54d7358b9e3
Seemed

[2021-09-11 04:07] colleenXu commented on #236
Continued updates (queries going to BTE-prod (https://api.bte.ncats.io/v1/query):

Query 4's output (21 results) looks the same as what was previously posted: https://github.com/biothings/BioThings_Explorer_TRAPI/issues/236#issuecomment-912263477

Note that SRI's ID resolver service doesn't resolve some of the UMLS IDs (the previous BioThings API based ID resolver didn't do great at resolving thes

[2021-09-11 04:58] colleenXu commented on #236
Closing; I provided updates for all the queries involved in this issue. I also addressed and linked the related issues in the Translator repos.

[2021-09-11 04:58] #236 closed, assigned to ariutta

[2021-09-11 05:24] colleenXu opened #283 "ID resolver refactoring: the resolvable vs irresolvable types"
We seem to be keeping a list of semantic types that are "resolvable" by the ID resolver [here](https://github.com/biothings/biomedical_id_resolver.js/blob/main/src/common/types.ts).

If we are still using this list, perhaps it needs to be revised...there are now some semantic types that we can resolve that we did not before (like ChemicalEntity and MolecularMixture) and **some that we now cannot r

[2021-09-11 05:29] colleenXu commented on #206
With the refactored SRI-service-based ID resolver now merged...it seems like this issue is resolved. Even though the SRI-service-based ID resolver doesn't actually resolve Procedure semantic type...

The following queries do work as-expected now.

Query with Procedure as input: POST to https://api.bte.ncats.io/v1/smartapi/d86a24f6027ffe778f84ba10a7a1861a/query
[code]

Query with Procedure as outpu

[2021-09-11 05:29] #206 closed, assigned to colleenXu

[2021-09-11 05:53] colleenXu commented on #249
It is now deployed on BTE prod and I'm fairly happy with its behavior, described below and in more detail in Slack convos...

A. We had to deal with differences between the operation's semantic type that retrieved the output IDs, the semantic type of the output IDs returned by the SRI service (taking the first item of the list of semantic types for an ID as the primary semantic type), and the quer

[2021-09-11 05:53] #249 closed, assigned to ericz1803

[2021-09-11 05:55] colleenXu commented on #283
Related to the migration to the new SRI-based ID resolver #249

[2021-09-11 05:59] colleenXu commented on #193
This is likely not an issue with the refactored SRI-based ID resolver - I notice IDs that aren't resolved in the TRAPI response / output.

There is also a new version of the SEMMED API that we will migrate to using...

So closing this issue.

[2021-09-11 05:59] #193 closed, assigned to nobody

[2021-09-11 06:04] colleenXu commented on #220
I have not noticed this issue using the new SRI-service based ID resolver.

BTE prod (now updated to use this code) works on a biolink v2.2 / TRAPI v1.2 version of this query:

It returned a 7.19MB response in ~32 sec. This query is ibuprofen + acetaminophen -> DiseaseOrPhenotypicFeature

EDIT: on another query to the ARS, it returned a 15.2 MB response (again in a reasonable amount of time, maybe

[2021-09-11 06:04] #220 closed, assigned to nobody

[2021-09-13 16:33] ericz1803 commented on #283
Those semantic types are only used by the old resolver, the new one returns the semantic types as a simple string without any of the type checking.

[2021-09-13 19:09] colleenXu commented on #283
@ericz1803 Can you comment on whether "resolvable" vs "irresolvable" is a distinction that we still make and use somehow?

[2021-09-13 21:28] ericz1803 commented on #283
For semantic types, no. The SRI resolver doesn't use the semantic type list and there aren't any "resolvable" or "irresolvable" semantic types

[2021-09-13 22:11] colleenXu commented on #283
@ericz1803 I was under the impression that the concepts of "resolvable" and "irresolvable" semantic types and ID prefixes was used to:
A. decide whether to send something to the ID resolver service (now the SRI dev url) to begin with....
B. how to choose / format the equivalent IDs / names (now the node's name / biolink:xrefs, biolink:synonyms node-attributes)

Is that not what is actually happeni

[2021-09-13 22:42] colleenXu opened #286 "fix wanted: un-merging edges"
Current behavior (problematic):

Right now, BTE is "merging edge data" that comes from different operations (those operations can come from the same API or different APIs) - **when the triples are the same** (subject-predicate-object).

We now want to change this behavior so that BTE is only "merging edge data" **if the triple AND ALL of the edge-attributes are identical** (this may happen if the

[2021-09-13 22:46] ericz1803 commented on #283
I don't know how it is used outside the id resolver but I can explain what is happening inside the id resolver. "resolvable" ids are those that the id resolver, either the old one or SRI can find equivalent ids for, "irresolvable" is the opposite. We need to handle them differently because of this.

Before, there were two classes, one for resolvable ids and one for irresolvable ids (which is what

[2021-09-13 23:00] colleenXu opened #287 "quick fix: remove value_type_id from BTE attributes we generate"
BTE node and edge attributes that we generate (not ingested from TRAPI APIs) currently have a "value_type_id" field that isn't necessary [(not required)](https://github.com/NCATSTranslator/ReasonerAPI/blob/61aeeb1c78f6a038836a98ba2b7a52c853548854/TranslatorReasonerAPI.yaml#L702) and isn't providing what the TRAPI [spec](https://github.com/NCATSTranslator/ReasonerAPI/blob/61aeeb1c78f6a038836a98ba2b

[2021-09-13 23:14] colleenXu opened #288 "automated tests failing due to async issue?"
This was something @marcodarko noticed. Leaving it to him to fill in this issue more, and decide who's being assigned, etc.

Related to skipping tests in https://github.com/biothings/bte_trapi_query_graph_handler/commit/b2856d8ba4852009fd4f8188b73c3b81931a63c4 and https://github.com/biothings/smartapi-kg.js/commit/b85648bc0cd252758c98de8602931aa5b7d175cb

[2021-09-13 23:26] colleenXu opened #289 "biomedical ID resolver: migrate test suites to use new resolver?"
currently, it looks like only the __tests__/integration/sri_resolver.test.ts has tests that use the new code

perhaps the rest of the test suite should either be updated to use the new code, or considered obsolete (not run with the "npm test" command).

[2021-09-13 23:39] colleenXu opened #290 "api-response-transform: adding tests?"
are we missing tests for the TRAPI transformer - which was recently [updated](https://github.com/biothings/api-respone-transform.js/commit/bda696afa491baf5d0bd4d18c4a9ad09dd94f9cf) to help ingest edge attributes?

And if so, do we want to add tests?

[2021-09-13 23:44] colleenXu opened #291 "checking / updating: test suites"
with the recent large code update, we may want to check that the tests for modules use the new code and are updated.

This would involve modules that were updated + those that depend on them...like
- biomedical id resolver (directly updated)
- call-apis
- api-response-transform
- bte-trapi
- query-graph-handler

This is related but larger in scope than #290 #289. This may also be affected by #288

[2021-09-13 23:45] colleenXu commented on #288
Note that I am also getting automated tests to fail that seem to be related to MyChem.info....even though the API is now up after being down sometime yesterday. Perhaps this test failure is related to async, maybe not...

[2021-09-13 23:56] colleenXu opened #292 "Tests for new code based on CX's process"
First step is documenting CX's process.

then discussing what would be useful tests / how often they would need to be run -> converting those into coded tests

Note that one barrier may be tests failing due to other issues #288 or timeouts?

Related but larger in scope than #214

[2021-09-14 05:09] newgene commented on #233
Reopen this issue, as I noticed the absolute file path using the standard `file://` URI does not work.

This is an example I used:

[code]
Using the absolute file path allows us to put test metadata file anywhere.

[2021-09-14 13:11] vgardner-renci opened #293 "BTE providing edge_attribute_source without infores id information"
See the most recent version of the workflow progress tracker --> edge attribute source sheet.

https://docs.google.com/spreadsheets/d/1O1cMmYGxoIqP6xbzj6FG5owiKQVg57wx2O_XIA_hN_A/edit#gid=1151550648

Rows at the top indicate in which workflows BTE is returning edge attribute sources without infores id information.

[2021-09-14 15:40] tokebe commented on #233
@newgene There are two problems here:

1. A typo on my part preventing paths being resolved properly
2. As we discussed [here](https://github.com/biothings/BioThings_Explorer_TRAPI/pull/257#discussion_r693194404), `file:///` URIs are supposed to resolve to the `bte-trapi/data` folder as a root directory, rather than expecting an absolute path (or they would, if not for the aforementioned typo). Sh

[2021-09-14 17:04] colleenXu commented on #293
This is related to #208, we are working on it

[2021-09-14 19:02] newgene commented on #233
:+1: @tokebe I noticed that `file://` URI can be either relative or absolute. Absolute URI starts with `file:///` (starts with `/`). It's good to use `data` folder as the base for relative path, but we might just support the absolute path as well if it's not too much trouble to add.

[2021-09-14 20:01] colleenXu commented on #283
Alright, I'll close this then, to keep as reference. It sounds like this stuff is basically deprecated and shouldn't affect anything downstream...

[2021-09-14 20:01] #283 closed, assigned to nobody

[2021-09-14 20:22] ariutta commented on #286
This may be the section that needs to be updated:
https://github.com/biothings/bte_trapi_query_graph_handler/blob/main/src/helper.js#L52

[2021-09-14 20:22] colleenXu commented on #287
Place where attributes seem to set...https://github.com/biothings/bte_trapi_query_graph_handler/blob/d2365325fe01d9a06571efa13dfb0bf6927b8b05/src/graph/knowledge_graph.js#L39 from lines 39-101

[2021-09-14 21:10] marcodarko commented on #269
Solved: Looks like during the metaKG construction there's an error on the order in which the the object and subject are being read from the predicates.json file pattern is as follows: OBJ : {SUB :[ PREDs] } and they are being read as SUB : {OBJ :[ PREDs] }.  That's why it was mixing the predicates from Gene-GeneFamily and GeneFamily-Gene.  This fix correctly gets `"NCBIGene:728882-biolink:part_of-

[2021-09-14 22:12] colleenXu commented on #213
@karafecho Just to check, the two [ICEES](http://smart-api.info/registry?q=65292eac9a88e3a895be21f19b554767) [COVID](http://smart-api.info/registry?q=8602c2fafa25926128578d113fa5d19d) SmartAPI registrations look like they are now going to the same API (server url). Previously, we discussed how they included data from different times/cohorts though, and were separate APIs...

[2021-09-14 22:41] newgene opened #294 "Remove all /predicate endpoints which are retired in TRAPI v1.2 specs"
as part of #248

[2021-09-14 22:41] newgene commented on #294
including corresponding tests

[2021-09-15 04:00] colleenXu commented on #248
once this issue is complete, we can update the smartapi registration which involves what chunlei said above and edits like removing the /predicates endpoint if necessary...

[2021-09-15 20:48] tokebe commented on #233
@newgene The `url` package doesn't support `file://path/to/file`, so all file URIs must start with `file:///`, which the `url` package always converts into a path that `path.isAbsolute()` considers to be 'absolute'.

Considering that we already support local absolute paths by just entering an absolute path without `file:///` at the front, this seems like more work than it's worth, unless there's a

[2021-09-15 20:54] newgene commented on #233
Agree. Then only absolute path it is, which should cover any local file use case. Relative `file://` support was suggested only if you want to keep the existing behavior since you have it implemented, but it looks like it's not worth anymore.

[2021-09-15 21:12] karafecho commented on #213
Thanks, @colleenXu . Greatly appreciate the input!

You are correct that the data for each cohort/time period should point to a distinct URL. I suspect the issue relates to the way we've restructured the directories. Will post an issue.

[2021-09-16 05:00] #286 closed, assigned to ariutta

[2021-09-16 05:01] #208 closed, assigned to ericz1803, colleenXu

[2021-09-16 05:39] colleenXu commented on #269
@newgene please close this once the PR/main data is pushed to the prod instance...

[2021-09-16 05:41] colleenXu commented on #208
I'm okay with closing this issue for now, and opening it again to deal with Provenance situation C related issues as that comes up...

This is going to happen with text mining targeted association soon where the plan is to ingest the edge attributes field from records and preserve its structure...

[2021-09-16 14:14] tokebe commented on #233
Ok, made `file:///` use absolute paths rather than relative to the data folder.

[2021-09-17 04:21] colleenXu commented on #293
Should be fixed now.

[2021-09-17 04:21] #293 closed, assigned to nobody

[2021-09-17 04:22] colleenXu commented on #287
related to this PR: https://github.com/biothings/bte_trapi_query_graph_handler/pull/41

[2021-09-17 04:38] colleenXu commented on #274
At the moment, it looks like further action isn't needed in order to query + parse the TRAPI v1.2 apis (Automat) that we ingest. Closing this, may reopen later if needed.

PRs involved in allowing us to ingest TRAPI v1.2 meta_knowledge_graphs and ingest these endpoints correctly:
* https://github.com/biothings/smartapi-kg.js/pull/39
* https://github.com/biothings/BioThings_Explorer_TRAPI/pull/296

[2021-09-17 04:38] #274 closed, assigned to marcodarko, colleenXu

[2021-09-17 04:38] colleenXu commented on #269
should be fixed now that this PR is merged: https://github.com/biothings/smartapi-kg.js/pull/39

[2021-09-17 04:38] #269 closed, assigned to nobody

[2021-09-17 05:19] colleenXu commented on #248
@newgene Should we label BTE as 1.2.1 or 1.2.0? 1.2.0 is the latest formal release?

FYI, these issues are addressed + closed. They had to do with BTE ingesting TRAPI v1.2 correctly: #274 #269

[2021-09-17 05:20] colleenXu commented on #294
#297 will likely fix this

[2021-09-17 05:25] colleenXu commented on #271
@newgene @tokebe Can this issue be closed now?

[2021-09-17 05:25] colleenXu commented on #252
@newgene @tokebe Is this issue ready to close?

[2021-09-17 13:18] tokebe commented on #271
I believe so.

[2021-09-17 17:47] tokebe commented on #263
Some further detail: the execution time of the query would not appear to be a factor in whether the query hangs the server.

This query took the server 1,008,276ms, but in my testing concurrent queries were not significantly slowed:

<details>
  <summary>click to expand</summary>

[code]

</details>

Meanwhile, this query took 343,514ms (less overall time), but concurrent queries were significantl

[2021-09-17 18:38] colleenXu commented on #263
@newgene @andrewsu @tokebe I believe the queries here are not the type of query that we should expect from Translator, and we may not need to support them. I suggest a discussion over who is sending these queries and what they are trying to do.

They are likely using too many IDs in the query (and the predicate restriction, while reasonable, may not get answers or what you expect since we may not

[2021-09-17 18:47] colleenXu opened #298 "consider batch-query process"
Based on some concerns and some stuff going on in translator around "batching":

* is BTE correctly handling the batch-query process - meaning that URLs / request bodies aren't too long?
* are the "batch queries" for TRAPI APIs too long - having too many IDs?

Links related to translator:
* https://github.com/NCATSTranslator/translator_extensions/commit/cafaa68b446506514c89714fce3fde11468fd69c
* h

[2021-09-17 19:06] tokebe commented on #263
I think the issue highlighted by these queries is still well worth attempting to track down and to fix. It appears that any query which could result in a larger quantities of response transformation can cause server response time to increase.

Another thing worth noting is that I never saw a query cause significant memory usage issues on my local -- I suspect that hard crashes are being caused by

[2021-09-17 21:09] newgene commented on #252
Implemented in e54ced6df4c83dae1e9783af8bce804ec7f97e69. Now on our production server, PM2 starts multiple processes, but on the first process will handle the smartapi-kg data file caching.

[2021-09-17 21:09] #252 closed, assigned to tokebe

[2021-09-17 22:24] newgene opened #299 "Exclude loading BTE TRAPI API's own meta_knowledgegraph endpoint"
From the current `npm run smartapi_sync` output:
![image](https://user-images.githubusercontent.com/130158/133859100-f54e4cdf-7beb-444c-b6fd-d2cfa02687a2.png)

We probably should not load it from BTE TRAPI API anyway.

Let's create a global `smartapi_exclusions.json` file under [src/config](https://github.com/biothings/BioThings_Explorer_TRAPI/tree/main/src/config) folder, using the same format in

[2021-09-17 22:40] newgene commented on #299
Potentially we can exclude those TRAPI API we know is problematic to access.

Also, once this is done, we might want to document clearly (in the config file itself) the difference between this config list v.s. the other config list.

[2021-09-17 22:40] newgene commented on #248
If I remember correctly it should be `1.2.1` @colleenXu

[2021-09-18 02:29] colleenXu commented on #248
okay, it's been changed to [1.2.1](https://github.com/NCATS-Tangerine/translator-api-registry/blob/7ca3a79aaaf977ba75f214f4983fcedcfe038c41/biothings_explorer/smartapi.yaml#L12)

---

This is from the Translator ReasonerAPI call notes for 9/16/21 from "last week", bold emphasis is mine:

Investigating, it looks like that PR 292 refers to another PR, [286](https://github.com/NCATSTranslator/Reasone

[2021-09-18 02:31] colleenXu commented on #248
note though that this view does not update right away even after I try to refresh the api...http://smart-api.info/registry?q=dc91716f44207d2e1287c727f281d339

[2021-09-20 21:11] newgene opened #300 "pagination handling error for BioThings APIs"
From the BTE logs:
[code]

With BioThings API , `from` greater than 10000 will receive 400 error. Large query hits are not recommended to use `from`+`size` pagination, either we can stop by `10000` or switch to use `fetch_all` streaming feature of the Biothings APIs.

[2021-09-20 21:21] newgene commented on #300
Looks like the relevant logic is in this block:

https://github.com/biothings/call-apis.js/blob/2059a93f1a36e8b1d764c6bc21ac72fb334b043f/src/builder/query_builder.js#L116-L141

[2021-09-20 22:41] colleenXu opened #301 "quick fix: make score numeric"
BTE is failing TRAPI v1.2 validation because tools expect score to be a number.

I believe we should make score a float (like a number that goes to at least the thousandth place).

I think these lines need to be adjusted:
* https://github.com/biothings/bte_trapi_query_graph_handler/blob/16920a96f6fcf6486a775403fd80367cb2471798/src/query_results_2.js#L14
* https://github.com/biothings/bte_trapi_que

[2021-09-20 23:32] colleenXu opened #302 "Adding node attributes module"
After talking with Andrew, here are the current ideas:
* this module can be "executed alone / independently", aka it can take an arbitrary TRAPI response with a message.knowledge_graph.nodes section and return the TRAPI response with node attributes added to the nodes
* we would plan to use this module internally (probably as a step at the end of the query process, like results assembly)

Here are

[2021-09-20 23:34] colleenXu commented on #302
Note that the code will likely be very similar to the old ID resolver, but focused on node attributes rather than finding equivalent IDs

[2021-09-21 00:14] colleenXu commented on #269
copied from https://github.com/biothings/smartapi-kg.js/pull/39#issuecomment-920368542

Re-review of BTE's ability to query Automat APIs is described (the previous review was [here](https://github.com/biothings/BioThings_Explorer_TRAPI/pull/262)).

The APIs being called by these queries have changed:

    CHEBI:3558 -> Gene uses covidkop, ctd, pharos
    HP:0004382 -> Disease uses Biolink, Uberong

[2021-09-21 00:23] colleenXu commented on #269
Reviewing whether BTE correctly gets info from Automat DrugCentral, Gtopdb, and Panther (the APIs that I didn't get results from in the review above):

BTE is getting edges from the Automat APIs:
* DrugCentral: SmallMolecule PUBCHEM.COMPOUND:10206 -> Disease
* Gtopdb: SmallMolecule PUBCHEM.COMPOUND:70701426 -> Gene
* Panther: GeneFamily PANTHER.FAMILY:PTHR11732 -> Gene

[2021-09-21 01:00] colleenXu commented on #248
Related to #301

[2021-09-21 01:04] colleenXu commented on #241
Perhaps this could be assigned to someone else, since @tokebe seems fairly focused on caching / async related issues?

[2021-09-21 03:35] andrewsu commented on #241
I think @tokebe is probably the first one to consult when tackling this issue, but since it's not obviously holding up any of the December demo queries, I'm moving this to "non-critical" for now...

[2021-09-21 14:39] #233 closed, assigned to tokebe

[2021-09-21 14:46] tokebe commented on #278
@newgene  @marcodarko On the `call-apis` side of things, all that's really needed is a new class function or two which returns the created `axios` query configs, which can then either be returned as-is or transformed for clarity in the response. I could make a PR with that for @marcodarko to look at, and then we can go from there?

[2021-09-21 18:02] colleenXu commented on #300
Also involved:
* changing the x-bte annotation's specification of the sub-query to have a cut-off. then less records would match and be returned

Keep in mind:
* BTE currently does not ingest this API (text mining co-occurrence) for its normal sub-querying. This query was likely done directly to the Text Mining co-occurrence API, either by someone on that team or the ARS

[2021-09-21 18:41] colleenXu commented on #248
The other points seem to be optional. I suggest potentially closing this issue for now, or only keeping it open as documentation of what else we could do and still be TRAPI v1.2 compliant.

The other points that are still open right now:
*  /meta_knowledge_graph allows optional attributes[] property (encouraged but not required) https://github.com/NCATSTranslator/ReasonerAPI/pull/259/files
* Add o

[2021-09-21 18:42] colleenXu commented on #301
should be pushed to prod now

[2021-09-21 18:42] #301 closed, assigned to nobody

[2021-09-21 19:07] #287 closed, assigned to nobody

[2021-09-21 19:17] colleenXu commented on #242
BTE should be able to handle this now. I sent this query and it looks like most meddra IDs were mapped to other IDs (with prefixes in higher priority), have corresponding names, and have correct semantic types (PhenotypicFeature or Disease)

Note that the query MUST encompass SmallMolecule on the node where the chemical ID is, because the underlying IDISK operation uses SmallMolecule <-> Disease a

[2021-09-21 19:17] #242 closed, assigned to nobody

[2021-09-21 20:07] tokebe opened #304 "Support callback link to retrieve verbose logs for a given query"
We can save verbose logs to a file/cache using a query hash as the index, and provide a link as part of the query response to a new endpoint with that hash. If the user opens said link, the server returns the verbose log file. Log files may be routinely cleaned as part of a cron job based on their age (keeping a given log for no longer than, say, 5 minutes). To further save space, we could choose

[2021-09-21 20:09] colleenXu commented on #246
I've run the query above, and I do see that the MESH ID D009336 is now resolved to have the name Necrosis (and semantic type PhenotypicFeature).

Another MESH IDs with human-readable name is:
* MESH:D048629 (Micronuclei, Chromosome-Defective / CellularComponent)

[2021-09-21 20:09] #246 closed, assigned to nobody

[2021-09-21 20:12] colleenXu commented on #246
With the new SRI-based ID resolver, this query no longer returns nodes with "name": "MESH..." or "name": "UMLS..." based on my quick search of the response.

However, the SRI-based ID resolver will have issues with finding equivalent IDs or names for some IDs.

[2021-09-21 20:15] colleenXu commented on #242
However, the SRI-based ID resolver will have issues with finding equivalent IDs or names for some IDs.

For example, these 17 nodes continue to not have equivalent IDs or human-readable names:
* MEDDRA:10000220
* MEDDRA:10001488
* MEDDRA:10001854
* MEDDRA:10064385
* MEDDRA:10006924
* MEDDRA:10018875
* MEDDRA:10034660
* MEDDRA:10036556
* MEDDRA:10050729
* MEDDRA:10061105
* MEDDRA:10066338
* MEDDRA:

[2021-09-21 20:17] colleenXu commented on #247
Note: I no longer find the example UMLS ID (C0016658) in the TRAPI response.

However, with the new SRI-based ID resolver, this query no longer returns nodes with "name": "MESH..." or "name": "UMLS..." based on my quick search of the response.

However, the SRI-based ID resolver will have issues with finding equivalent IDs or names for some IDs.

[2021-09-21 20:17] #247 closed, assigned to nobody

[2021-09-21 20:25] colleenXu commented on #164
I consider this closed since all of my tested queries have had expected behavior (each result is a unique set of nodes that satisfies the query-graph, with the edges between the nodes).

[2021-09-21 20:25] #164 closed, assigned to colleenXu

[2021-09-21 20:28] colleenXu commented on #112
Note: Kevin's opening query, reformatted now has results that look as expected. The query:

[code]

[2021-09-21 20:31] colleenXu commented on #294
should be on prod now

[2021-09-21 20:31] #294 closed, assigned to marcodarko

[2021-09-21 20:31] #248 closed, assigned to nobody

[2021-09-21 20:38] colleenXu commented on #112
The new query-handler handles these cases, this was checked during my testing process for the code.

[2021-09-21 20:38] #112 closed, assigned to marcodarko

[2021-09-22 03:17] #271 closed, assigned to tokebe

[2021-09-22 05:01] colleenXu commented on #213
I suggest closing this issue and opening separate issues for demo queries or ingesting ICEES COVID, when needed.

As noted [above](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/213#issuecomment-916668942), there are some issues with the demo query that Kara asked us to run.

---

I've confirmed that a query like this returns edges from ICEES DILI that preserve the edge attributes.

[2021-09-22 05:01] #213 closed, assigned to ericz1803

[2021-09-22 05:10] colleenXu opened #305 "connecting to ICEES Asthma"
This is an issue to collect issues related to ingesting ICEES Asthma and COVID APIs. At the moment, issues are not expected for BTE's ingestion....instead there are issues regarding the other team's APIs.

At the moment:

* The [ICEES Asthma API](http://smart-api.info/registry?q=0864c0912390d0876c3c34a00acb5c3b) query endpoint seems to not be working. I get "500 Internal Server Error" when I try t

[2021-09-22 05:11] colleenXu commented on #305
@karafecho Here are some issues known for BTE connecting to the other ICEES APIs.

I've closed the other issue here, [noting](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/213#issuecomment-924585237) what was going on regarding the ICEES DILI instance

[2021-09-22 05:13] colleenXu commented on #305
on-hold because it depends on fixes from another team

[2021-09-22 05:14] colleenXu commented on #147
Related to https://github.com/biothings/call-apis.js/issues/26, and will likely be addressed by its PRs

[2021-09-22 05:17] colleenXu commented on #82
closing since it's probably not relevant now.

[2021-09-22 05:17] #82 closed, assigned to kevinxin90

[2021-09-22 05:18] colleenXu commented on #83
closing since probably not relevant, we have other tickets debugging the use of redis / caching

[2021-09-22 05:18] #83 closed, assigned to kevinxin90

[2021-09-22 05:19] colleenXu commented on #84
Not sure if this is still relevant or not

[2021-09-22 05:19] colleenXu commented on #96
Not sure if this is still relevant or not

[2021-09-22 05:20] colleenXu commented on #105
Not sure how relevant this is. Likely related to https://github.com/biothings/biothings_explorer/issues/184 and export...

[2021-09-22 05:20] colleenXu commented on #125
not sure if this is still relevant or not

[2021-09-22 05:21] colleenXu commented on #136
Closing because it's old. will open a newer issue if my review of open testing repo issues (standups) reveal anything we want to look into

[2021-09-22 05:21] #136 closed, assigned to nobody

[2021-09-22 05:22] colleenXu commented on #150
Closing. As noted above, the SRI-based node normalization will not fix this issue because it doesn't recognize the UMLS IDs pasted above

[2021-09-22 05:22] #150 closed, assigned to nobody

[2021-09-22 05:24] colleenXu commented on #153
not sure how relevant this is, since I don't think there's an option to do this in the TRAPI query (aka BTE's input).

[2021-09-22 05:27] colleenXu commented on #175
moving to on-hold / non-critical since it seems like this isn't being done in the december demo now...

[2021-09-22 05:28] colleenXu commented on #190
Handled by the refactor. closing

[2021-09-22 05:28] #190 closed, assigned to nobody

[2021-09-22 05:30] colleenXu commented on #223
note: I don't notice a entity-based expansion (ontology or otherwise) from COHD TRAPI v1.2's default behavior.

I therefore added a commit to add cohd back into the list of apis we query: https://github.com/biothings/BioThings_Explorer_TRAPI/commit/23308b8a50f8cbe127bdca779971557cd334b8dd

example: POST to https://cohd.io/api/query (diseases related to asthma)
[code]

[2021-09-22 05:58] colleenXu commented on #196
note: I don't notice a entity-based expansion (ontology or otherwise) from COHD TRAPI v1.2's default behavior. I also don't see any issues with BTE ingesting it.

I therefore added a commit to add cohd back into the list of apis we query: https://github.com/biothings/BioThings_Explorer_TRAPI/commit/23308b8a50f8cbe127bdca779971557cd334b8dd

example: POST to https://cohd.io/api/query (diseases relat

[2021-09-22 05:58] #223 closed, assigned to nobody

[2021-09-22 06:41] colleenXu opened #306 "[quick fix] update to biolink v2.2.5"
we are currently on biolink v2.2.3. We want to update to the latest version because one of the changes is important to the demo / standup: "has real world evidence of association with" is changed to be a symmetrical predicate.

(the clinical risk kp api yaml does not need to be updated)

this likely involves updating the local biolink jsons.

The other changes are minor and we don't need to worry